.itemsCol {
  background-color: var(--card-background);
  display: inline-block;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  vertical-align: top;
}

.cardLink:hover {
  text-decoration: none;
}

.cardIcons {
  position: absolute;
  width: 100%;
  padding: 5px;
}

.cardTitle {
  background-color: var(--card-title-background);
  display: table;
  width: 100%;
}

.cardMasteryEffects {
  background-color: var(--card-background);
}

.itemName {
  font-weight: bold;
  margin-left: 10px;
  display: table-cell;
  vertical-align: middle;
  color: var(--card-title-color);
}

.rarityImg {
  float: left;
}

.itemImgBlock {
  display: table-cell;
  vertical-align: middle;
}

.itemImg {
  max-height: 150px;
  max-width: 190px;
}
