/* Import external libraries */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~select2-bootstrap-theme/dist/select2-bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "~nouislider/distribute/nouislider.min.css";

body {
  padding-top: 5rem;
  font-family: Palatino, Helvetica, sans-serif !important;
}

a {
  color: #0275d8;
}

button, input, optgroup, select, textarea {
  font-family: Palatino, Helvetica, sans-serif !important;
}

.row {
  margin: 0;
}

.btn-secondary {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}

.btn-secondary:hover {
  color: #292b2c;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-secondary:active {
  color: #292b2c !important;
  background-color: #e6e6e6 !important;
  border-color: #adadad !important;
}

.dropdown-item {
  padding-left: 10px;
}

.dropdown-item > a {
  text-decoration: none;
  color: #464a4c;
}

.dropdown-item > a > span {
  margin-right: 5px;
}

.dropdown-item.active, .dropdown-item {
  color: #464a4c;
  background-color: #ffffff !important;
}

.dropdown-item:hover {
  color: #464a4c;
  background-color: #e5e5e8 !important;
}

.dropdown-item.active, .dropdown-item:active {
  color: #464a4c;
}

.tooltip {
  background-color: #848b8e !important;
  font-size: 0.9rem !important;
  font-family: Palatino, Helvetica, sans-serif !important;
}

.tooltip-arrow {
  border-top-color: #848b8e !important;
}

.noUi-value-sub {
  font-size: 15px;
}

.noUi-pips-horizontal {
  height: 40px;
}

.select2-container {
  width: 100% !important;
}

.select2-container .select2-selection--single {
  height: 38px !important;
  padding-left: 8px !important;
  padding-top: 8px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  text-align: left !important;
  font-size: 16px !important;
  padding: 0 !important;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
  border-color: #464a4c transparent transparent !important;
  border-width: 8px 4px 0 !important;
  left: 3px !important;
  margin-left: 0px !important;
}

.select2-container--bootstrap .select2-results>.select2-results__options {
  max-height: 300px;
}

.multi-abilities-select {
  margin-top: 10px;
  width: 227px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 839px) {
  .dropdown-inline {
    width: 100%;
    padding-right: 10px;
  }

  .dropdown-toggle {
    width: 100%;
    text-align: left;
  }
}

@media (max-width: 600px) {
  .dropdown-inline {
    padding-right: 0;
  }
}

@media (max-width: 580px) {
  .youtube {
    width: 250px;
    height: 140px;
  }
}

/* Chain Modal */
.options-modal {
  z-index: 1200;
}

.options-modal .modal-dialog {
  max-width: 780px;
}

@media (max-width: 839px) {
  .options-modal .modal-dialog {
    max-width: 530px;
  }
}

@media (max-width: 600px) {
  .options-modal .modal-dialog {
    max-width: 260px;
    margin: 30px auto;
  }
}
