/* Import external libraries */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~select2-bootstrap-theme/dist/select2-bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import "~nouislider/distribute/nouislider.min.css";

/* Bootstrap tuto */
body {
  padding-top: 5rem;
  font-family: Palatino, Helvetica, sans-serif !important;
}

.row {
  margin: 0;
}

button, input, optgroup, select, textarea {
  font-family: Palatino, Helvetica, sans-serif !important;
}

.dropdown-item {
  padding-left: 10px;
}

.dropdown-item > a {
  text-decoration: none;
  color: #464a4c;
}

.dropdown-item > a > span {
  margin-right: 5px;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: #e5e5e8;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #e5e5e8;
}

.tooltip {
  background-color: #848b8e !important;
  font-size: 0.9rem !important;
  font-family: Palatino, Helvetica, sans-serif !important;
}

.tooltip-arrow {
  border-top-color: #848b8e !important;
}

.noUi-value-sub {
  font-size: 15px;
}

.noUi-pips-horizontal {
  height: 40px;
}

.select2-container {
  width: 100% !important;
}

.select2-container .select2-selection--single {
  height: 38px !important;
  padding-left: 8px !important;
  padding-top: 8px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  text-align: left !important;
  font-size: 16px !important;
  padding: 0 !important;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__arrow b {
  border-color: #464a4c transparent transparent !important;
  border-width: 8px 4px 0 !important;
  left: 3px !important;
  margin-left: 0px !important;
}

.select2-container--bootstrap .select2-results>.select2-results__options {
  max-height: 300px;
}

@media (max-width: 839px) {
  .dropdown-inline {
    width: 100%;
    padding-right: 10px;
  }

  .dropdown-toggle {
    width: 100%;
    text-align: left;
  }
}

@media (max-width: 600px) {
  .dropdown-inline {
    padding-right: 0;
  }
}

@media (max-width: 580px) {
  .youtube {
    width: 250px;
    height: 140px;
  }
}

/* Lightbox */
body:after {
  content: url(./assets/lightbox/close.png) url(./assets/lightbox/loading.gif) url(./assets/lightbox/prev.png) url(./assets/lightbox/next.png);
  display: none;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  box-sizing: content-box;
}

.lightbox .lb-image {
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(./assets/lightbox/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(./assets/lightbox/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(./assets/lightbox/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(./assets/lightbox/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

@keyframes fadeIn{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fadeIn{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeOut{
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes fadeOut{
  0% {opacity: 1;}
  100% {opacity: 0;}
}


@keyframes fadeInOverlay{
  0% {opacity: 0;}
  100% {opacity: 0.8;}
}

@-webkit-keyframes fadeInOverlay{
  0% {opacity: 0;}
  100% {opacity: 0.8;}
}

@keyframes fadeOutOverlay{
  0% {opacity: 0.8;}
  100% {opacity: 0;}
}

@-webkit-keyframes fadeOutOverlay{
  0% {opacity: 0.8;}
  100% {opacity: 0;}
}

.fadeIn{
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeInOverlay{
  -webkit-animation-name: fadeInOverlay;
  animation-name: fadeInOverlay;
}

.fadeOut{
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.fadeOutOverlay{
  -webkit-animation-name: fadeOutOverlay;
  animation-name: fadeOutOverlay;
}

.animation{
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.transition{
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease;
  transition-property: all;
  transition-timing-function: ease;
}

/* Chain Modal */
.options-modal {
  z-index: 1200;
}

.options-modal .modal-dialog {
  max-width: 780px;
}

@media (max-width: 839px) {
  .options-modal .modal-dialog {
    max-width: 530px;
  }
}

@media (max-width: 600px) {
  .options-modal .modal-dialog {
    max-width: 260px;
    margin: 30px auto;
  }
}
