<div class="subCardRatio">
  <h1 class="title">Sub Cards Ratio</h1>

  <h3>Stats</h3>

  <div class="ratioBlock">
    <table>
      <tr>
        <th colspan="2">HP, TP, AP, DEF, SPR, DEX, AGI, LUCK</th>
      </tr>
      <tr>
        <th class="sub">Awake</th>
        <th class="sub">Value</th>
      </tr>
      <tr>
        <td>1</td>
        <td>10%</td>
      </tr>
      <tr>
        <td>2</td>
        <td>20%</td>
      </tr>
      <tr>
        <td>3</td>
        <td>30%</td>
      </tr>
      <tr>
        <td>4</td>
        <td>40%</td>
      </tr>
      <tr>
        <td>5</td>
        <td>50%</td>
      </tr>
    </table>
  </div>

  <div class="ratioBlock">
    <table>
      <tr>
        <th colspan="2">Remaining Stats</th>
      </tr>
      <tr>
        <th class="sub">Awake</th>
        <th class="sub">Value</th>
      </tr>
      <tr>
        <td>1</td>
        <td>10%</td>
      </tr>
      <tr>
        <td>2</td>
        <td>15%</td>
      </tr>
      <tr>
        <td>3</td>
        <td>20%</td>
      </tr>
      <tr>
        <td>4</td>
        <td>25%</td>
      </tr>
      <tr>
        <td>5</td>
        <td>30%</td>
      </tr>
    </table>
  </div>

  <h3>Passives</h3>

  <div class="ratioBlock" *ngFor="let buffType of buffTypes">
    <table>
      <tr>
        <th colspan="99">{{ buffType }}</th>
      <tr>
        <th class="sub">Awake</th>
        <th class="sub">Unit</th>
        <th class="sub">Party</th>
      </tr>
      <tr *ngFor="let partyRatio of subCardBuffRatio[version][buffType].partyRatio; let awake = index">
        <td>{{ awake + 1 }}</td>
        <td>{{ subCardBuffRatio[version][buffType].unitRatio[awake] * 100 }}%</td>
        <td>{{ subCardBuffRatio[version][buffType].partyRatio[awake] * 100 }}%</td>
      </tr>
    </table>
  </div>
</div>
