.leftBlock {
  width: 350px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}

.rightBlock {
  width: 830px;
  display: inline-block;
  vertical-align: top;
}

.elementImg, .damageImg, .statusAilmentImg, .skilImg, .damageSkillImg, .rarityImg {
  height: 32px;
}

.raidImg {
  margin-top: 5px;
  margin-bottom: 5px;
}

.bonusTable {
  width: 100%;
  margin-bottom: 20px;
}

.bonusBlock {
  display: inline-block;
  margin-right: 20px;
}

.unitImg {
  margin-right: 5px;
}

.cardImg {
  margin-right: 5px;
}

.raidTable {
  width: 100%;
  margin-right: 20px;
}

.statsTable {
  width: 100%;
}

.skillsTable {
  width: 100%;
}

.statsTable:not(:first-child) {
  margin-top: 10px;
}

.skillsTable:not(:first-child) {
  margin-top: 10px;
}

.rangeTd {
  width: 69px;
}

.skillJobTd {
  width: 70px;
}

.skillStarTd {
  width: 72px;
}

.skillTypeTd {
  width: 85px;
}

.skillCastTd {
  width: 61px;
}

.skillHitTd {
  width: 50px;
}

.skillCostTd {
  width: 60px;
}

.skillNameTd {
  width: 200px;
}

.skillEffectTd {
  text-align: left;
}

.heightResTd {
  height: 33px;
}

.reflectImg {
  height: 32px;
  margin-top: 2px;
}

.timeImg {
  height: 32px;
  cursor: pointer;
  margin-top: 2px;
}

.bossSeparator {
  margin-top: 20px;
}

.bossBlock {
  margin-bottom: 20px;
}

.bossSkillsBlock {
  width: 100%;
}

@media (max-width: 1229px) {
  .leftBlock {
    width: 830px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
  }

  .rightBlock {
    padding-left: 10px;
    padding-right: 10px;
  }

  .bonusBlockTable {
    padding-left: 20px;
    padding-right: 20px;
  }

  .rangeTd, .skillJobTd, .skillStarTd, .skillTypeTd, .skillCastTd, .skillHitTd, .skillCostTd, .skillNameTd {
    width: auto;
  }
}

@media (max-width: 829px) {
  .leftBlock, .rightBlock {
    width: 100%;
  }

  .bonusBlockTable {
    padding-left: 10px;
    padding-right: 10px;
  }

  .bossSkillsBlock {
    padding-left: 10px;
    padding-right: 10px;
  }
}