<tr
  app-template-skillRow
  [skill]="skill"
  [jobs]="jobs"
  [showJobIcon]="showJobIcon"
  [showJobLvl]="showJobLvl"
  [showStarLvl]="showStarLvl"
  [showType]="showType"
  [showName]="showName"
  [showEffects]="showEffects"
  [showRange]="showRange"
  [showCasts]="showCasts"
  [showHits]="showHits"
  [showCost]="showCost"
  [upgradeColSpan]="upgradeColSpan"
  [basicAttack]="basicAttack"
  [showRaidLevel]="showRaidLevel"
  [rawSkills]="rawSkills"
  [showTypeWithName]="showTypeWithName"
  [skillIndex]="skillIndex">
</tr>

<tr
  app-template-skillRow
  *ngFor="let upgradedSkill of skill.upgrades"
  [isUpgrade]="true"
  [skill]="upgradedSkill"
  [jobs]="jobs"
  [showType]="showType"
  [showName]="showName"
  [showEffects]="showEffects"
  [showRange]="showRange"
  [showCasts]="showCasts"
  [showHits]="showHits"
  [showCost]="showCost"
  [upgradeColSpan]="upgradeColSpan"
  [basicAttack]="basicAttack"
  [showRaidLevel]="showRaidLevel"
  [rawSkills]="rawSkills"
  [showTypeWithName]="showTypeWithName"
  [skillIndex]="skillIndex">
</tr>