<div
  class="itemBlock"
  [ngClass]="{
    'in-ng-input': customClass === 'in-ng-input',
    'in-quest-list': customClass === 'in-quest-list',
    'in-material-lookup': customClass === 'in-material-lookup'
  }">
  <img
    *ngIf="item.type !== 'recipe' && (item.type !== 'job_awake_orb' || (item.type === 'job_awake_orb' && !item.class))"
    src="assets/items/{{ item.image }}.webp"
    title="{{ item.name }}" />

  <img
    *ngIf="item.type === 'recipe'"
    src="{{'assets/equipments/' + item.image + '.webp'}}"
    onerror="this.src='assets/equipments/placeholder.webp';"
    class="recipe"
    title="{{ item.name }}" />

  <div *ngIf="item.type === 'job_awake_orb' && item.class"
    [ngClass]="{
      'imgOrbGreen': item.class === 'imgOrbGreen',
      'imgOrbBlue': item.class === 'imgOrbBlue',
      'imgOrbViolet': item.class === 'imgOrbViolet',
      'imgOrbYellow': item.class === 'imgOrbYellow',
      'imgOrbPink': item.class === 'imgOrbPink'}"
    title="{{ item.name }}"
  >
    <img src="{{ 'assets/jobs/' + item.image + '.webp'}}" />
    </div>
</div>
