<div class="relative main">
  <div class="mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-center space-x-4">
      <div class="flex justify-start">
        <a [routerLink]="[getRoute('/')]" class="home_link">
          <img class="logo_desktop" src="assets/nav/WOTVCALC_LOGO.webp" alt="">
        </a>
      </div>

      <div *ngIf="!displayMobileMenu" class="-mr-2 -my-2 lg:hidden">
        <button (click)="toggleMobileMenu()" type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
          <span class="sr-only">Open menu</span>
          <!-- Heroicon name: outline/menu -->
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>

      <nav *ngIf="!displayMobileMenu" class="hidden lg:flex space-x-4">
        <a [routerLink]="[getRoute('/units')]" class="text-base font-medium text-gray-400 hover:text-white">UNITS</a>
        <a [routerLink]="[getRoute('/cards')]" class="text-base font-medium text-gray-400 hover:text-white">CARDS</a>
        <a [routerLink]="[getRoute('/espers')]" class="text-base font-medium text-gray-400 hover:text-white">ESPERS</a>
        <a [routerLink]="[getRoute('/equipments')]" class="text-base font-medium text-gray-400 hover:text-white">EQUIPMENT</a>
        <a [routerLink]="[getRoute('/quests')]" class="text-base font-medium text-gray-400 hover:text-white">QUESTS</a>
        <a [routerLink]="[getRoute('/raids')]" class="text-base font-medium text-gray-400 hover:text-white">RAIDS</a>

        <div class="relative" (click)="toggleBuilderNav(!showBuilderNav)" (clickOutside)="toggleBuilderNav(false)"> <!-- BUILDER -->
          <span class="text-base font-medium text-gray-400 hover:text-white pointer">BUILDER</span>
          <div *ngIf="showBuilderNav" class="subNav origin-top-right absolute w-40 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5">
            <a [routerLink]="[getRoute('/builder/team')]" class="block px-4 py-2 text-sm text-gray-400 hover:text-white">Team</a>
            <a [routerLink]="[getRoute('/builder/unit')]" class="block px-4 py-2 text-sm text-gray-400 hover:text-white">Units</a>
            <a [routerLink]="[getRoute('/builder/card')]" class="block px-4 py-2 text-sm text-gray-400 hover:text-white">Cards</a>
            <a [routerLink]="[getRoute('/builder/esper')]" class="block px-4 py-2 text-sm text-gray-400 hover:text-white">Espers</a>
            <a [routerLink]="[getRoute('/builder/equipment')]" class="block px-4 py-2 text-sm text-gray-400 hover:text-white">Equipment</a>
            <a [routerLink]="[getRoute('/builder/materia')]" class="block px-4 py-2 text-sm text-gray-400 hover:text-white">Materia</a>
            <a [routerLink]="[getRoute('/builder/guild')]" class="block px-4 py-2 text-sm text-gray-400 hover:text-white">Guild</a>
            <a [routerLink]="[getRoute('/builder/master-ranks')]" class="block px-4 py-2 text-sm text-gray-400 hover:text-white">Master Ranks</a>
          </div>
        </div>

        <div class="relative" (click)="toggleOtherNav(!showOtherNav)" (clickOutside)="toggleOtherNav(false)"> <!-- OTHER -->
          <span class="text-base font-medium text-gray-400 hover:text-white pointer">OTHER</span>
          <div *ngIf="showOtherNav" class="subNav origin-top-right absolute w-40 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5">
            <a [routerLink]="[getRoute('/other/index')]" class="block px-4 py-2 text-sm text-gray-400 hover:text-white">Index</a>
            <a [routerLink]="[getRoute('/other/bestiary')]" class="block px-4 py-2 text-sm text-gray-400 hover:text-white">Bestiary</a>
            <a [routerLink]="[getRoute('/other/titles')]" class="block px-4 py-2 text-sm text-gray-400 hover:text-white">Titles</a>
            <a [routerLink]="[getRoute('/other/jobplanner')]" class="block px-4 py-2 text-sm text-gray-400 hover:text-white">Job Planner</a>
            <a [routerLink]="[getRoute('/other/farm-calculator')]" class="block px-4 py-2 text-sm text-gray-400 hover:text-white">Farm Calculator</a>
            <a [routerLink]="[getRoute('/other/material-lookup')]" class="block px-4 py-2 text-sm text-gray-400 hover:text-white">Material Lookup</a>
            <a [routerLink]="[getRoute('/other/materia')]" class="block px-4 py-2 text-sm text-gray-400 hover:text-white">Materia</a>
            <a [routerLink]="[getRoute('/other/subcard-ratio')]" class="block px-4 py-2 text-sm text-gray-400 hover:text-white">Sub Cards Ratio</a>
          </div>
        </div>
      </nav>

      <div *ngIf="!displayMobileMenu" class="hidden lg:flex items-center justify-end">
        <a *ngIf="!user" (click)="openLoginModal()" class="pointer ml-2 whitespace-nowrap inline-flex items-center justify-center px-2 py-1 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700">LOGIN</a>

        <div class="ml-3 relative" *ngIf="user" (click)="toggleUserNav(!showUserNav)" (clickOutside)="toggleUserNav(false)"> <!-- user menu -->
          <div>
            <i class="fas fa-user-circle" aria-hidden="true"></i>
          </div>

          <div *ngIf="showUserNav" class="subNav origin-top-right absolute w-40 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
            <a [routerLink]="[getRoute('/inventory')]" class="block px-4 py-2 text-sm text-gray-400 hover:text-white" role="menuitem" tabindex="-1" id="user-menu-item-0">Inventory</a>
            <a [routerLink]="[getRoute('/user')]" class="block px-4 py-2 text-sm text-gray-400 hover:text-white" role="menuitem" tabindex="-1" id="user-menu-item-1">Inventory Importer</a>
            <a (click)="logout()" class="pointer block px-4 py-2 text-sm text-gray-400 hover:text-white" role="menuitem" tabindex="-1" id="user-menu-item-2">Logout</a>
          </div>
        </div>

        <div class="ml-3 relative" (click)="toggleLangNav(!showLangNav)" (clickOutside)="toggleLangNav(false)"> <!-- Lang selector -->
          <a class="pointer whitespace-nowrap inline-flex items-center justify-center py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white langImg">
            <img *ngIf="lang === 'fr'" src="assets/nav/blank.gif" class="flag flag-fr" />
            <img *ngIf="lang === 'en'" src="assets/nav/blank.gif" class="flag flag-gb" />
            <img *ngIf="lang === 'de'" src="assets/nav/blank.gif" class="flag flag-de" />
            <img *ngIf="lang === 'es'" src="assets/nav/blank.gif" class="flag flag-es" />
            <img *ngIf="lang === 'ko'" src="assets/nav/blank.gif" class="flag flag-kr" />
            <img *ngIf="lang === 'zh'" src="assets/nav/blank.gif" class="flag flag-tw" />
          </a>

          <div *ngIf="showLangNav" class="subNav origin-top-right absolute w-10 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="lang-menu-button" tabindex="-1">
            <!-- Active: "bg-gray-100", Not Active: "" -->
            <a *ngIf="lang !== 'fr'" (click)="changeLang('fr')" class="pointer block px-2 py-1 text-sm text-gray-700" role="menuitem" tabindex="-1" id="lang-menu-item-0"><img src="assets/nav/blank.gif" class="flag flag-fr" /></a>
            <a *ngIf="lang !== 'en'" (click)="changeLang('en')" class="pointer block px-2 py-1 text-sm text-gray-700" role="menuitem" tabindex="-1" id="lang-menu-item-0"><img src="assets/nav/blank.gif" class="flag flag-gb" /></a>
            <a *ngIf="lang !== 'de'" (click)="changeLang('de')" class="pointer block px-2 py-1 text-sm text-gray-700" role="menuitem" tabindex="-1" id="lang-menu-item-0"><img src="assets/nav/blank.gif" class="flag flag-de" /></a>
            <a *ngIf="lang !== 'es'" (click)="changeLang('es')" class="pointer block px-2 py-1 text-sm text-gray-700" role="menuitem" tabindex="-1" id="lang-menu-item-0"><img src="assets/nav/blank.gif" class="flag flag-es" /></a>
            <a *ngIf="lang !== 'ko'" (click)="changeLang('ko')" class="pointer block px-2 py-1 text-sm text-gray-700" role="menuitem" tabindex="-1" id="lang-menu-item-0"><img src="assets/nav/blank.gif" class="flag flag-kr" /></a>
            <a *ngIf="lang !== 'zh'" (click)="changeLang('zh')" class="pointer block px-2 py-1 text-sm text-gray-700" role="menuitem" tabindex="-1" id="lang-menu-item-0"><img src="assets/nav/blank.gif" class="flag flag-tw" /></a>
          </div>
        </div>

        <img src="assets/nav/split.webp" class="split ml-3"/>

        <div class="ml-3 relative">
          <a (click)="changeVersion()" class="pointer whitespace-nowrap inline-flex items-center justify-center py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white">
            {{ version === 'GL' ? 'Global' : 'Japan' }}
          </a>
        </div>

        <div class="ml-3 relative">
          <ui-switch class="switchTheme" (click)="toggleTheme()" checkedLabel="on" uncheckedLabel="off" [checked]="theme === 'light'"></ui-switch>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="displayMobileMenu" class="mobileNav absolute top-0 inset-x-0 p-2 transition transform origin-top-right">
    <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 backgroundMobile divide-y-2 divide-gray-50">
      <div class="pt-5 pb-6 px-5">
        <div class="flex items-center justify-between">
          <div>
            <a [routerLink]="[getRoute('/')]" class="home_link">
              <img class="logo_desktop" src="assets/nav/WOTVCALC_LOGO_WHITE.webp" alt="">
            </a>
          </div>
          <div class="-mr-2">
            <button (click)="toggleMobileMenu()" type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">
              <span class="sr-only">Close menu</span>
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
        <div class="mt-6 space-y-6">
          <div class="pointer" (click)="toggleListingNav(!showListingNav)">
            Listing
            <svg *ngIf="showListingNav" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" /></svg>
            <svg *ngIf="!showListingNav" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block"><path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" /></svg>
          </div>
          <div class="grid grid-cols-2 gap-y-4 gap-x-8" *ngIf="showListingNav">
            <a [routerLink]="[getRoute('/units')]"  class="text-base font-medium text-gray-300 hover:text-white">Units</a>
            <a [routerLink]="[getRoute('/cards')]"  class="text-base font-medium text-gray-300 hover:text-white">Cards</a>
            <a [routerLink]="[getRoute('/espers')]"  class="text-base font-medium text-gray-300 hover:text-white">Espers</a>
            <a [routerLink]="[getRoute('/equipments')]"  class="text-base font-medium text-gray-300 hover:text-white">Equipment</a>
            <a [routerLink]="[getRoute('/quests')]"  class="text-base font-medium text-gray-300 hover:text-white">Quests</a>
            <a [routerLink]="[getRoute('/raids')]"  class="text-base font-medium text-gray-300 hover:text-white">Raids</a>
          </div>
        </div>
      </div>

      <div class="py-6 px-5 space-y-6">
        <div class="pointer" (click)="toggleBuilderNav(!showBuilderNav)">
          Builder
          <svg *ngIf="showBuilderNav" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" /></svg>
          <svg *ngIf="!showBuilderNav" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block"><path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" /></svg>
        </div>
        <div class="grid grid-cols-2 gap-y-4 gap-x-8" *ngIf="showBuilderNav">
          <a [routerLink]="[getRoute('/builder/team')]" class="text-base font-medium text-gray-300 hover:text-white">Team</a>
          <a [routerLink]="[getRoute('/builder/unit')]" class="text-base font-medium text-gray-300 hover:text-white">Unit</a>
          <a [routerLink]="[getRoute('/builder/card')]" class="text-base font-medium text-gray-300 hover:text-white">Card</a>
          <a [routerLink]="[getRoute('/builder/esper')]" class="text-base font-medium text-gray-300 hover:text-white">Esper</a>
          <a [routerLink]="[getRoute('/builder/equipment')]" class="text-base font-medium text-gray-300 hover:text-white">Equipment</a>
          <a [routerLink]="[getRoute('/builder/materia')]" class="text-base font-medium text-gray-300 hover:text-white">Materia</a>
          <a [routerLink]="[getRoute('/builder/guild')]" class="text-base font-medium text-gray-300 hover:text-white">Guild</a>
          <a [routerLink]="[getRoute('/builder/master-ranks')]" class="text-base font-medium text-gray-300 hover:text-white">Master Ranks</a>
        </div>
      </div>

      <div class="py-6 px-5 space-y-6">
        <div class="pointer" (click)="toggleOtherNav(!showOtherNav)">
          Other
          <svg *ngIf="showOtherNav" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" /></svg>
          <svg *ngIf="!showOtherNav" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block"><path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" /></svg>
        </div>
        <div class="grid grid-cols-2 gap-y-4 gap-x-8"*ngIf="showOtherNav">
          <a [routerLink]="[getRoute('/other/index')]" class="text-base font-medium text-gray-300 hover:text-white">Index</a>
          <a [routerLink]="[getRoute('/other/bestiary')]" class="text-base font-medium text-gray-300 hover:text-white">Bestiary</a>
          <a [routerLink]="[getRoute('/other/titles')]" class="text-base font-medium text-gray-300 hover:text-white">Titles</a>
          <a [routerLink]="[getRoute('/other/jobplanner')]" class="text-base font-medium text-gray-300 hover:text-white">Job Planner</a>
          <a [routerLink]="[getRoute('/other/farm-calculator')]" class="text-base font-medium text-gray-300 hover:text-white">Farm Calculator</a>
          <a [routerLink]="[getRoute('/other/material-lookup')]" class="text-base font-medium text-gray-300 hover:text-white">Material Lookup</a>
          <a [routerLink]="[getRoute('/other/materia')]" class="text-base font-medium text-gray-300 hover:text-white">Materia</a>
          <a [routerLink]="[getRoute('/other/subcard-ratio')]" class="text-base font-medium text-gray-300 hover:text-white">Sub Cards Ratio</a>
        </div>
      </div>

      <div class="py-6 px-5 space-y-6">
        <div class="mt-6 text-center text-base font-medium text-gray-500">
          <a *ngIf="!user" (click)="openLoginModal()" class="pointer ml-2 whitespace-nowrap inline-flex items-center justify-center px-2 py-1 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700">LOGIN</a>

          <div class="ml-3 inline-block" *ngIf="user" (click)="toggleUserNav(!showUserNav)" (clickOutside)="toggleUserNav(false)"> <!-- user menu -->
            <div>
              <i class="fas fa-user-circle" aria-hidden="true"></i>
            </div>

            <div *ngIf="showUserNav" class="subNav origin-top-right absolute w-40 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
              <a [routerLink]="[getRoute('/inventory')]" class="block px-4 py-2 text-sm text-gray-400 hover:text-white" role="menuitem" tabindex="-1" id="user-menu-item-0">Inventory</a>
              <a [routerLink]="[getRoute('/user')]" class="block px-4 py-2 text-sm text-gray-400 hover:text-white" role="menuitem" tabindex="-1" id="user-menu-item-1">Inventory Importer</a>
              <a (click)="logout()" class="pointer block px-4 py-2 text-sm text-gray-400 hover:text-white" role="menuitem" tabindex="-1" id="user-menu-item-2">Logout</a>
            </div>
          </div>

          <div class="ml-3 inline-block" (click)="toggleLangNav(!showLangNav)" (clickOutside)="toggleLangNav(false)"> <!-- Lang selector -->
            <a class="pointer whitespace-nowrap inline-flex items-center justify-center py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white langImg">
              <img *ngIf="lang === 'fr'" src="assets/nav/blank.gif" class="flag flag-fr" />
              <img *ngIf="lang === 'en'" src="assets/nav/blank.gif" class="flag flag-gb" />
              <img *ngIf="lang === 'de'" src="assets/nav/blank.gif" class="flag flag-de" />
              <img *ngIf="lang === 'es'" src="assets/nav/blank.gif" class="flag flag-es" />
              <img *ngIf="lang === 'ko'" src="assets/nav/blank.gif" class="flag flag-kr" />
              <img *ngIf="lang === 'zh'" src="assets/nav/blank.gif" class="flag flag-tw" />
            </a>

            <div *ngIf="showLangNav" class="subNav origin-top-right absolute w-10 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="lang-menu-button" tabindex="-1">
              <!-- Active: "bg-gray-100", Not Active: "" -->
              <a *ngIf="lang !== 'fr'" (click)="changeLang('fr')" class="pointer block px-2 py-1 text-sm text-gray-700" role="menuitem" tabindex="-1" id="lang-menu-item-0"><img src="assets/nav/blank.gif" class="flag flag-fr" /></a>
              <a *ngIf="lang !== 'en'" (click)="changeLang('en')" class="pointer block px-2 py-1 text-sm text-gray-700" role="menuitem" tabindex="-1" id="lang-menu-item-0"><img src="assets/nav/blank.gif" class="flag flag-gb" /></a>
              <a *ngIf="lang !== 'de'" (click)="changeLang('de')" class="pointer block px-2 py-1 text-sm text-gray-700" role="menuitem" tabindex="-1" id="lang-menu-item-0"><img src="assets/nav/blank.gif" class="flag flag-de" /></a>
              <a *ngIf="lang !== 'es'" (click)="changeLang('es')" class="pointer block px-2 py-1 text-sm text-gray-700" role="menuitem" tabindex="-1" id="lang-menu-item-0"><img src="assets/nav/blank.gif" class="flag flag-es" /></a>
              <a *ngIf="lang !== 'ko'" (click)="changeLang('ko')" class="pointer block px-2 py-1 text-sm text-gray-700" role="menuitem" tabindex="-1" id="lang-menu-item-0"><img src="assets/nav/blank.gif" class="flag flag-kr" /></a>
              <a *ngIf="lang !== 'zh'" (click)="changeLang('zh')" class="pointer block px-2 py-1 text-sm text-gray-700" role="menuitem" tabindex="-1" id="lang-menu-item-0"><img src="assets/nav/blank.gif" class="flag flag-tw" /></a>
            </div>
          </div>

          <div class="ml-3 inline-block">
            <a (click)="changeVersion()" class="pointer whitespace-nowrap inline-flex items-center justify-center py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white">
              {{ version === 'GL' ? 'Global' : 'Japan' }}
            </a>
          </div>

          <div class="ml-3 inline-block">
            <ui-switch class="switchTheme" (click)="toggleTheme()" checkedLabel="on" uncheckedLabel="off" [checked]="theme === 'light'"></ui-switch>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
