<nav class="navbar navbar-toggleable-md main fixed-top mainNav">
  <a class="navbar-brand" [routerLink]="[getRoute('/')]">
    <img src="assets/nav/WOTV-CALC.png" class="logo" />
  </a>

  <div class="centerNav">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[getRoute('/units')]" (mouseover)="showBuilderNav=false; showOtherNav=false" [ngClass]="{'active': inUnit}">
          {{ 'nav.units' | translate }}
        </a>
        <a class="nav-link" [routerLink]="[getRoute('/cards')]" (mouseover)="showBuilderNav=false; showOtherNav=false" [ngClass]="{'active': inCard}">
          {{ 'nav.cards' | translate }}
        </a>
        <a class="nav-link" [routerLink]="[getRoute('/espers')]" (mouseover)="showBuilderNav=false; showOtherNav=false" [ngClass]="{'active': inEsper}">
          {{ 'nav.espers' | translate }}
        </a>
        <a class="nav-link" [routerLink]="[getRoute('/equipments')]" (mouseover)="showBuilderNav=false; showOtherNav=false" [ngClass]="{'active': inEquipment}">
          {{ 'nav.equipments' | translate }}
        </a>
        <a class="nav-link" [routerLink]="[getRoute('/raids')]" (mouseover)="showBuilderNav=false; showOtherNav=false" [ngClass]="{'active': inRaid}">
          {{ 'nav.raids' | translate }}
        </a>
        <a class="nav-link" [routerLink]="[getRoute('/builder')]" (mouseover)="showBuilderNav=true; showOtherNav=false" [ngClass]="{'active': inBuilder}">
          {{ 'nav.builder' | translate }}
        </a>
        <div class="inlineBlock otherBlock" (mouseleave)="showOtherNav=false" (mouseover)="showBuilderNav=false; showOtherNav=true">
          <a class="nav-link" [ngClass]="{'active': inOther || showOtherNav}">
            OTHER
          </a>
          <div class="otherIndex" *ngIf="showOtherNav">
            <a [routerLink]="[getRoute('/other/index')]" (click)="showOtherNav=false">Index</a>
          </div>
          <div class="otherTitles" *ngIf="showOtherNav">
            <a [routerLink]="[getRoute('/other/titles')]" (click)="showOtherNav=false">Titles</a>
          </div>
          <div class="otherJobPlanner" *ngIf="showOtherNav">
            <a [routerLink]="[getRoute('/other/jobplanner')]" (click)="showOtherNav=false">Job Planner</a>
          </div>
          <div class="otherFarmCalculator" *ngIf="showOtherNav">
            <a [routerLink]="[getRoute('/other/farm-calculator')]" (click)="showOtherNav=false">Farm Calculator</a>
          </div>
        </div>
        <div class="inlineBlock" (mouseover)="showBuilderNav=false; showOtherNav=false">&nbsp;</div>
      </li>
    </ul>
  </div>

  <div class="lang" (mouseover)="showLangSelector=true" (mouseleave)="showLangSelector=false">
    <div class="actualLang">
      <div *ngIf="lang === 'fr'">
        <img src="assets/nav/blank.gif" class="flag flag-fr" /> FR
      </div>
      <div *ngIf="lang === 'en'">
        <img src="assets/nav/blank.gif" class="flag flag-gb" /> EN
      </div>
    </div>
    <div class="otherLang" *ngIf="lang !== 'fr' && showLangSelector" >
      <a class="pointer" (click)="changeLang('fr')">
        <img src="assets/nav/blank.gif" class="flag flag-fr" /> FR
      </a>
    </div>
    <div class="otherLang" *ngIf="lang !== 'en' && showLangSelector">
      <a class="pointer" (click)="changeLang('en')">
        <img src="assets/nav/blank.gif" class="flag flag-gb" /> EN
      </a>
    </div>
  </div>

  <img src="assets/nav/split.png" class="split"/>

  <div class="versions" (mouseover)="showVersionSelector=true" (mouseleave)="showVersionSelector=false">
    <div class="actualVersion">
      {{ version === 'GL' ? 'Global' : 'Japan' }}
    </div>
    <div class="otherVersion" *ngIf="version !== 'GL' && showVersionSelector" >
      <a (click)="changeVersion('GL')">Global</a>
    </div>
    <div class="otherVersion" *ngIf="version !== 'JP' && showVersionSelector">
      <a (click)="changeVersion('JP')">Japan</a>
    </div>
  </div>

  <div class="them">
    <ui-switch class="switchTheme" (click)="toggleTheme()" checkedLabel="on" uncheckedLabel="off" [checked]="theme === 'light'"></ui-switch>
  </div>

  <div class="userBlock">
    <button *ngIf="!user" class="btn btn-main btn-login" (click)="openLoginModal()">LOGIN</button>
    <button *ngIf="user" class="btn btn-sub btn-logout" (click)="logout()">LOGOUT</button>
  </div>
</nav>

<nav class="navbar sub navbar-toggleable-md navbar-dark bg-dark fixed-top navBuilder" (mouseleave)="showBuilderNav=false; showOtherNav=false" *ngIf="showBuilderNav || inBuilder">
  <div class="centerNav">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[getRoute('/builder/team')]" [routerLinkActive]="['active']">{{ 'nav.team' | translate }}</a>
        <a class="nav-link" [routerLink]="[getRoute('/builder/unit')]" [routerLinkActive]="['active']">{{ 'nav.units' | translate }}</a>
        <a class="nav-link" [routerLink]="[getRoute('/builder/card')]" [routerLinkActive]="['active']">{{ 'nav.cards' | translate }}</a>
        <a class="nav-link" [routerLink]="[getRoute('/builder/esper')]" [routerLinkActive]="['active']">{{ 'nav.espers' | translate }}</a>
        <a class="nav-link" [routerLink]="[getRoute('/builder/equipment')]" [routerLinkActive]="['active']">{{ 'nav.equipments' | translate }}</a>
        <a class="nav-link" [routerLink]="[getRoute('/builder/guild')]" [routerLinkActive]="['active']">{{ 'nav.guild' | translate }}</a>
        <a *ngIf="version === 'JP'" class="nav-link" [routerLink]="[getRoute('/builder/master-ranks')]" [routerLinkActive]="['active']">{{ 'nav.masterRanks' | translate }}</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-toggleable-md main fixed-top mobileNav">
  <a class="navbar-brand" [routerLink]="[getRoute('/')]">
    <img src="assets/nav/WOTV-CALC.png" class="logo" />
  </a>

  <div class="centerNav mobileLinks" [ngClass]="{'showMobileMenu': displayMobileMenu === true}">
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[getRoute('/units')]" [ngClass]="{'active': inUnit}" (click)="toggleMobileMenu(true)">
          {{ 'nav.units' | translate }}
        </a>
        <a class="nav-link" [routerLink]="[getRoute('/cards')]" [ngClass]="{'active': inCard}" (click)="toggleMobileMenu(true)">
          {{ 'nav.cards' | translate }}
        </a>
        <a class="nav-link" [routerLink]="[getRoute('/espers')]" [ngClass]="{'active': inEsper}" (click)="toggleMobileMenu(true)">
          {{ 'nav.espers' | translate }}
        </a>
        <a class="nav-link" [routerLink]="[getRoute('/equipments')]" [ngClass]="{'active': inEquipment}" (click)="toggleMobileMenu(true)">
          {{ 'nav.equipments' | translate }}
        </a>
        <a class="nav-link" [routerLink]="[getRoute('/raids')]" [ngClass]="{'active': inRaid}" (click)="toggleMobileMenu(true)">
          {{ 'nav.raids' | translate }}
        </a>

        <a class="nav-link" [ngClass]="{'active': inBuilder}" (click)="showMobileBuilderNav = !showMobileBuilderNav" [attr.aria-expanded]="!showMobileBuilderNav">
          {{ 'nav.builder' | translate }}
          <i class="fas fa-chevron-up" *ngIf="showMobileBuilderNav" aria-hidden="true"></i>
          <i class="fas fa-chevron-down" *ngIf="!showMobileBuilderNav" aria-hidden="true"></i>
        </a>
        <div class="subLinksMobile" [ngbCollapse]="!showMobileBuilderNav">
          <a class="nav-link" [routerLink]="[getRoute('/builder/team')]" [routerLinkActive]="['active']" (click)="toggleMobileMenu(true)">
            {{ 'nav.team' | translate }}
          </a>
          <a class="nav-link" [routerLink]="[getRoute('/builder/unit')]" [routerLinkActive]="['active']" (click)="toggleMobileMenu(true)">
            {{ 'nav.units' | translate }}
          </a>
          <a class="nav-link" [routerLink]="[getRoute('/builder/card')]" [routerLinkActive]="['active']" (click)="toggleMobileMenu(true)">
            {{ 'nav.cards' | translate }}
          </a>
          <a class="nav-link" [routerLink]="[getRoute('/builder/esper')]" [routerLinkActive]="['active']" (click)="toggleMobileMenu(true)">
            {{ 'nav.espers' | translate }}
          </a>
          <a class="nav-link" [routerLink]="[getRoute('/builder/equipment')]" [routerLinkActive]="['active']" (click)="toggleMobileMenu(true)">
            {{ 'nav.equipments' | translate }}
          </a>
          <a class="nav-link" [routerLink]="[getRoute('/builder/guild')]" [routerLinkActive]="['active']" (click)="toggleMobileMenu(true)">
            {{ 'nav.guild' | translate }}
          </a>
          <a *ngIf="version === 'JP'" class="nav-link" [routerLink]="[getRoute('/builder/master-ranks')]" [routerLinkActive]="['active']" (click)="toggleMobileMenu(true)">
            {{ 'nav.masterRanks' | translate }}
          </a>
        </div>

        <a class="nav-link" [ngClass]="{'active': inOther}"(click)="showMobileOtherNav = !showMobileOtherNav" [attr.aria-expanded]="!showMobileOtherNav">
          OTHER
          <i class="fas fa-chevron-up" *ngIf="showMobileOtherNav" aria-hidden="true"></i>
          <i class="fas fa-chevron-down" *ngIf="!showMobileOtherNav" aria-hidden="true"></i>
        </a>
        <div class="subLinksMobile" [ngbCollapse]="!showMobileOtherNav">
          <a class="nav-link" [routerLink]="[getRoute('/other/index')]" [routerLinkActive]="['active']" (click)="toggleMobileMenu(true)">Index</a>
          <a class="nav-link" [routerLink]="[getRoute('/other/titles')]" [routerLinkActive]="['active']" (click)="toggleMobileMenu(true)">Titles</a>
          <a class="nav-link" [routerLink]="[getRoute('/other/jobplanner')]" [routerLinkActive]="['active']" (click)="toggleMobileMenu(true)">Job Planner</a>
          <a class="nav-link" [routerLink]="[getRoute('/other/farm-calculator')]" [routerLinkActive]="['active']" (click)="toggleMobileMenu(true)">Farm Calculator</a>
        </div>

        <div class="nav-link">
          <a class="mobileVersionLink" (click)="changeVersion('GL'); toggleMobileMenu(true);">Global</a> <img src="assets/nav/split.png" class="split"/> <a class="mobileVersionLink" (click)="changeVersion('JP'); toggleMobileMenu(true);">Japan</a>
        </div>

        <div class="nav-link">
          <ui-switch class="switchTheme" (click)="toggleTheme(); toggleMobileMenu(true);" checkedLabel="on" uncheckedLabel="off" [checked]="theme === 'light'"></ui-switch>
        </div>

        <div class="nav-link">
          <button *ngIf="!user" class="btn btn-main btn-login" (click)="openLoginModal(); toggleMobileMenu(true);">LOGIN</button>
          <button *ngIf="user" class="btn btn-sub btn-logout" (click)="logout(); toggleMobileMenu(true);">LOGOUT</button>
        </div>
      </li>
    </ul>
  </div>

  <div class="btnMenuMobile">
    <button type="button" class="btn btn-secondary btnMenu" (click)="toggleMobileMenu()">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
  </div>
</nav>