.main {
  background-color: var(--nav-background-main);
}

.navbar {
  flex-direction: row;
  height: 60px;
  padding-top: 0;
  padding-bottom: 0;
}

.sub.fixed-top {
  top: 60px;
  background-color: var(--subnav-background) !important;
}

.inlineBlock {
  display: inline-block;
}

.centerNav {
  display: inline-flex;
  margin: 0 auto;
}

.navbar-nav {
  text-align: center;
}

.navbar-brand {
  color: var(--white);
}

.nav-link {
  display: inline-block;
  padding-right: .5rem;
  padding-left: .5rem;
  color: var(--white);
}

.nav-link.active {
  color: rgba(255,255,255,.7) !important;
}

.btnMenu {
  color: var(--nav-btn-menu);
  height: 35px;
  cursor: pointer;
}

.navButton {
  display: none;
}

.navLinkMobile {
  display: list-item !important;
}

.fixed-top-right {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1100;
}

.pointer {
  cursor: pointer;
}

.separator {
  margin-right: 5px;
}

.menuDisabled {
  background-color: var(--white);
  border-color: var(--nav-disable);
  opacity: .65;
}

.btn.activated {
  background-color: var(--background-tooltip);
  color: var(--white);
}

.btn-group {
  height: 25px;
}

.btn {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

.logo {
  height: 30px;
  margin-left: 20px;
}

/* Lang Selector */
.flag {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../../assets/nav/flags.png') no-repeat;
}

.flag.flag-tw {
  background-position: -48px -24px;
}

.flag.flag-es {
  background-position: -24px 0;
}

.flag.flag-gb {
  background-position: 0 -24px;
}

.flag.flag-fr {
  background-position: -48px 0;
}

.flag.flag-de {
  background-position: 0 0;
}

.flag.flag-kr {
  background-position: -24px -24px;
}

.lang {
  margin-left: 10px;
  width: 65px;
}

.actualLang {
  padding: 5px;
}

.otherLang {
  position: fixed;
  padding: 5px;
  width: 65px;
  background-color: var(--nav-background-main);
}

.actualLang:hover, .otherLang:hover {
  cursor: pointer;
  background-color: #4e4e4e;
}

/* Separator */
.split {
  height: 40px;
  width: 2px;
  margin-left: 5px;
}

/* Version Selector */
.versions {
  margin-left: 10px;
  width: 60px;
  color: var(--white);
}

.actualVersion {
  padding: 5px;
}

.otherVersion {
  position: fixed;
  padding: 5px;
  width: 60px;
  background-color: var(--nav-background-main);
}

.actualVersion:hover, .otherVersion:hover {
  cursor: pointer;
  background-color: #4e4e4e;
}

/* Theme toogle switch */
.them {
  height: 100%;
  margin-left: 5px;
}