.how-to {
  margin-top: 20px;
  margin: auto;
  max-width: 800px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.img-thumbnail {
  margin-bottom: 20px;
}

.youtube {
  display: block;
  margin: 0 auto;
}
