<div class="row">
  <div class="loadingBlock" *ngIf="loading">
    <h1>Your inventory is loading</h1>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-20 h-20 mx-auto animate-spin">
      <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
    </svg>
  </div>

  <div class="loadingBlock" *ngIf="!loading && user">
    You can manage your inventory here.<br>
    Click on the unit, card or esper you want to add, you will be able after to update the level.<br>
    For equipment, you have a button to add one in which you can select the upgrade, type and level.<br>
    To deselect something you can set the level to 0. For equipment click on it, go back to the list and click delete<br>
    Your inventory is saved automatically.
  </div>

  <div class="loadingBlock" *ngIf="!loading && !inventoryFromId && !user">
    <h1>You need to be logged in wotv-calc to manage your inventory</h1>
  </div>

  <div *ngIf="!loading">
    <div *ngIf="user">
      <button class="btn btn-sub" (click)="openLinkModal()">Get your inventory link</button>
    </div>
    <div *ngFor="let type of ['units', 'cards', 'espers']">
      <div class="searchBlock" *ngIf="inventoryFromId || user">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 inline-block text-black">
          <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
        </svg>
        <input class="searchInput" type="text" placeholder="Search by name" [(ngModel)]="searchText[type]">

        <button
          class="btn-filter btn-in-search"
          [ngClass]="{'btn-filter-selected': isFilterSelected(type, true)}"
          (click)="filterList(type, true)"
          *ngIf="user"
        >
          Only owned {{ type }}
        </button>

        <button
          class="btn-filter btn-in-search"
          [ngClass]="{'btn-filter-selected': isFilterSelected(type, false)}"
          (click)="filterList(type, false)"
          *ngIf="user"
        >
          Only not owned {{ type }}
        </button>
      </div>
      <div class="unitList">
        <div class="unitCol" *ngFor="let item of getFilteredItems(type)" [ngClass]="{'unitNotOwned': !inventory[type][item.dataId]}">
          <div class="item-plus" (click)="ownItem(item.dataId, type)">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-28 h-28">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          </div>
          <div class="cardIcons">
            <img class="rarityImg" src="{{'assets/rarity/' + item.rarity + '.webp'}}" />
            <img class="elementImg" src="{{'assets/elements/' + item.element + '.webp'}}" *ngIf="item.element" />
          </div>
          <div class="unitImgBlock" (click)="ownItem(item.dataId, type)">
            <img class="unitImg" src="assets/units/{{ item.image }}_card.webp" *ngIf="type == 'units'"/>
            <img class="unitImg" src="assets/cards/{{ item.image }}_card.webp" *ngIf="type == 'cards'"/>
            <img class="unitImg" src="assets/espers/{{ item.image }}_card.webp" *ngIf="type == 'espers'"/>
          </div>
          <div class="cardTitle">
            <div class="unitName">{{ item.name }}</div>
            <div class="selectLevelBlock" *ngIf="inventory[type][item.dataId]">
              Level : <ng-select
                placeholder="Select a level"
                class="select-level select-left-builder"
                [items]="tableLevels[type == 'units' && item.exJobs.length > 0 ? '120' : type !== 'espers' || item.SPs.length === 3 ? '99' : '80']"
                [(ngModel)]="inventory[type][item.dataId]"
                (ngModelChange)="save()"
                [clearable]="false"
                [searchable]="false"
                *ngIf="user">
              </ng-select> <span *ngIf="!user">{{ inventory[type][item.dataId] }} </span>/ {{ type == 'units' && item.exJobs.length > 0 ? '120' : type !== 'espers' || item.SPs.length === 3 ? '99' : '80' }}</div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="searchBlock" *ngIf="inventoryFromId || user">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 inline-block text-black">
          <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
        </svg>
        <input class="searchInput" type="text" placeholder="Search by name" [(ngModel)]="searchText['equipments']">

        <button class="btn btn-main btn-in-search" (click)="addEquipment()" *ngIf="user">
          Add an equipment
        </button>
      </div>
      <div class="unitList">
        <div class="unitCol" *ngFor="let equipment of getFilteredItems('equipments')">
          <div class="cardIcons">
            <img class="rarityImg" src="{{'assets/rarity/' + equipment.rarity + '.webp'}}" />
            <img class="elementImg" src="{{'assets/elements/' + equipment.element + '.webp'}}" *ngIf="equipment.element" />
          </div>
          <div class="unitImgBlock equipmentBlock" (click)="updateEquipment(equipment)">
            <img class="unitImg" src="assets/equipments/{{ equipment.image }}_card.webp"/>
          </div>
          <div class="cardTitle">
            <div class="unitName">{{ equipment.name }}</div>
            <div class="selectLevelBlock" *ngIf="equipment && equipment.skills.length > 1">
              Upgrade : +{{ equipment.upgrade}}
            </div>
            <div class="selectLevelBlock" *ngIf="equipment && equipment.growIds.length > 1">
              Type : {{ equipment.grows[equipment.grow].names.en }}
            </div>
            <div class="selectLevelBlock" *ngIf="!equipment.acquisition || equipment.acquisition.type !== 'tmr'">
              Level : {{ equipment.level }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>