<div class="row">
  <div class="loadingBlock" *ngIf="loading">
    <h1>Your inventory is loading</h1>
    <i class="fas fa-spinner fa-pulse fa-5x fa-fw" aria-hidden="true"></i>
  </div>

  <div class="loadingBlock" *ngIf="!loading && user">
    You can manage your inventory here.<br>
    Click on the unit, card or esper you want to add, you will be able after to update the level.<br>
    For equipment, you have a button to add one in which you can select the upgrade, type and level.<br>
    To deselect something you can set the level to 0. For equipment click on it, go back to the list and click delete<br>
    Your inventory is saved automatically.
  </div>

  <div class="loadingBlock" *ngIf="!loading && !inventoryFromId && !user">
    <h1>You need to be logged in wotv-calc to manage your inventory</h1>
  </div>

  <div *ngIf="!loading">
    <div *ngIf="user">
      <button class="btn btn-sub" (click)="openLinkModal()">Get your inventory link</button>
    </div>
    <div *ngFor="let type of ['units', 'cards', 'espers']">
      <div class="searchBlock" *ngIf="inventoryFromId || user">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="searchInput" type="text" placeholder="Search by name" [(ngModel)]="searchText[type]">

        <button
          class="btn-filter btn-in-search"
          [ngClass]="{'btn-filter-selected': isFilterSelected(type, true)}"
          (click)="filterList(type, true)"
          *ngIf="user"
        >
          Only owned {{ type }}
        </button>

        <button
          class="btn-filter btn-in-search"
          [ngClass]="{'btn-filter-selected': isFilterSelected(type, false)}"
          (click)="filterList(type, false)"
          *ngIf="user"
        >
          Only not owned {{ type }}
        </button>
      </div>
      <div class="unitList">
        <div class="unitCol" *ngFor="let item of getFilteredItems(type)" [ngClass]="{'unitNotOwned': !inventory[type][item.dataId]}">
          <div class="item-plus" (click)="ownItem(item.dataId, type)">
            <i class="fas fa-plus"></i>
          </div>
          <div class="cardIcons">
            <img class="rarityImg" src="{{'assets/rarity/' + item.rarity + '.webp'}}" />
            <img class="elementImg" src="{{'assets/elements/' + item.element + '.webp'}}" *ngIf="item.element" />
          </div>
          <div class="unitImgBlock" (click)="ownItem(item.dataId, type)">
            <img class="unitImg" src="assets/units/{{ item.image }}_m.webp" *ngIf="type == 'units'"/>
            <img class="unitImg" src="assets/cards/{{ item.image }}_m.webp" *ngIf="type == 'cards'"/>
            <img class="unitImg" src="assets/units/{{ item.image }}_m.webp" *ngIf="type == 'espers'"/>
          </div>
          <div class="cardTitle">
            <div class="unitName">{{ item.name }}</div>
            <div class="selectLevelBlock" *ngIf="inventory[type][item.dataId]">
              Level : <ng-select
                placeholder="Select a level"
                class="select-level select-left-builder"
                [items]="tableLevels[type == 'units' && item.exJobs.length > 0 ? '120' : type !== 'espers' || item.SPs.length === 3 ? '99' : '80']"
                [(ngModel)]="inventory[type][item.dataId]"
                (ngModelChange)="save()"
                [clearable]="false"
                [searchable]="false"
                *ngIf="user">
              </ng-select> <span *ngIf="!user">{{ inventory[type][item.dataId] }} </span>/ {{ type == 'units' && item.exJobs.length > 0 ? '120' : type !== 'espers' || item.SPs.length === 3 ? '99' : '80' }}</div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="searchBlock" *ngIf="inventoryFromId || user">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="searchInput" type="text" placeholder="Search by name" [(ngModel)]="searchText['equipments']">

        <button class="btn btn-main btn-in-search" (click)="addEquipment()" *ngIf="user">
          Add an equipment
        </button>
      </div>
      <div class="unitList">
        <div class="unitCol" *ngFor="let equipment of getFilteredItems('equipments')">
          <div class="cardIcons">
            <img class="rarityImg" src="{{'assets/rarity/' + equipment.rarity + '.webp'}}" />
            <img class="elementImg" src="{{'assets/elements/' + equipment.element + '.webp'}}" *ngIf="equipment.element" />
          </div>
          <div class="unitImgBlock equipmentBlock" (click)="updateEquipment(equipment)">
            <img class="unitImg" src="assets/equipments/{{ equipment.image }}.webp"/>
          </div>
          <div class="cardTitle">
            <div class="unitName">{{ equipment.name }}</div>
            <div class="selectLevelBlock" *ngIf="equipment && equipment.skills.length > 1">
              Upgrade : +{{ equipment.upgrade}}
            </div>
            <div class="selectLevelBlock" *ngIf="equipment && equipment.growIds.length > 1">
              Type : {{ equipment.grows[equipment.grow].names.en }}
            </div>
            <div class="selectLevelBlock" *ngIf="!equipment.acquisition || equipment.acquisition.type !== 'tmr'">
              Level : {{ equipment.level }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>