<div class="row" >
  <div class="pageNotFound">
    <div class="sleepingPlaceHolder"></div>
    <div class="sleeping">
      <span class="zSleep">z</span>
      <span class="zSleep zSleep2">z</span>
      <span class="zSleep zSleep3">z</span>
    </div>
    <div class="chocoboNotFound">
      <img class="littleChocobo" src="assets/page-not-found/chocobo.jpg" />
    </div>
    <div class="textNotFound">
      <h1>Page Not Found</h1>
      <p>
        Sorry, but the page you are looking for doesn't seem to exist in this app :(
      </p>
      <p>
        You could still return to the home page :)
      </p>
    </div>
  </div>
</div>
