.row {
  width: 1200px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.leftBlock {
  width: 350px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
  padding: 0;
}

.rightBlock {
  width: 830px;
  display: inline-block;
  vertical-align: top;
  padding: 0;
}

.statTable, .effectsTable, .cardTable {
  width: 100%;
}

.rarityImg {
  height: 32px;
}

.cardImg {
  height: 250px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.effectsTable {
  margin-top: 10px;
}

.mainJob {
  height: 40px;
  background: url("assets/jobs/base_main.png") 0px 0px no-repeat;
  background-size: 40px;
  padding: 5px;
  margin-right: 5px;
  width: 40px;
  display: inline-block;
}

.mainJob img {
  max-width: 30px;
  max-height: 30px;
  vertical-align: top;
}

.subJob {
  height: 40px;
  background: url("assets/jobs/base_sub.png") 0px 0px no-repeat;
  background-size: 40px;
  padding: 5px;
  margin-right: 5px;
  width: 40px;
  display: inline-block;
}

.subJob img {
  max-width: 30px;
  max-height: 30px;
  vertical-align: top;
}

.unit {
  max-height: 40px;
  max-width: 40px;
  margin-right: 5px;
}

.elementImg {
  height: 40px;
  margin-right: 5px;
}

.separatorLine {
  height: 10px;
}

.rangeTd {
  width: 69px;
}

.skillCastTd {
  width: 61px;
}

.skillHitTd {
  width: 50px;
}

.skillCostTd {
  width: 60px;
}

.skillNameTd {
  width: 150px;
}

.reflectImg {
  height: 32px;
  margin-top: 2px;
}

.timeImg {
  height: 32px;
  cursor: pointer;
  margin-top: 2px;
}

.hideStat {
  display: none;
}
