<div class="row">
  <table class="cardTable">
    <tbody>
      <tr>
        <th colspan="2">{{ card.name }}</th>
      </tr>
      <tr>
        <td colspan="2"><img class="cardImg" src="{{'assets/cards/' + card.image + '_full.png'}}" /></td>
      </tr>
      <tr>
        <td>Rarity</td>
        <td><img class="rarityImg" src="{{'assets/rarity/' + card.rarity + '.png'}}" /></td>
      </tr>
    </tbody>
  </table>

  <div>
    <table class="statTable">
      <tbody>
        <tr>
          <th colspan="4">Stats</th>
        </tr>
        <tr>
          <th></th>
          <th>HP</th>
          <th>ATK</th>
          <th>MAG</th>
        </tr>
        <tr>
          <td>Min</td>
          <td>{{ card.stats.HP.min }}</td>
          <td>{{ card.stats.ATK.min }}</td>
          <td>{{ card.stats.MAG.min }}</td>
        </tr>
        <tr>
          <td>Max</td>
          <td>{{ card.stats.HP.max }}</td>
          <td>{{ card.stats.ATK.max }}</td>
          <td>{{ card.stats.MAG.max }}</td>
        </tr>
        <tr>
          <th colspan="4">Unit Effects</th>
        </tr>
        <tr *ngIf="card.unitBuffsClassic">
          <td>Classic</td>
          <td colspan="3">
            <div *ngFor="let effect of card.unitBuffsClassic.effects">
              {{ effect.formatHtml }}
            </div>
          </td>
        </tr>
        <tr *ngIf="card.unitBuffsAwake">
          <td>Awake</td>
          <td colspan="3">
            <div *ngFor="let effect of card.unitBuffsAwake.effects">
              {{ effect.formatHtml }}
            </div>
          </td>
        </tr>
        <tr *ngIf="card.unitBuffsMax">
          <td>Max</td>
          <td colspan="3">
            <div *ngFor="let effect of card.unitBuffsMax.effects">
              {{ effect.formatHtml }}
            </div>
          </td>
        </tr>
        <tr>
          <th colspan="4">Party Effects</th>
        </tr>
        <tr *ngIf="card.partyBuffsClassic">
          <td>Classic</td>
          <td colspan="3">
            <div *ngFor="let effect of card.partyBuffsClassic.effects">
              {{ effect.formatHtml }}
            </div>
          </td>
        </tr>
        <tr *ngIf="card.partyBuffsAwake">
          <td>Awake</td>
          <td colspan="3">
            <div *ngFor="let effect of card.partyBuffsAwake.effects">
              {{ effect.formatHtml }}
            </div>
          </td>
        </tr>
        <tr *ngIf="card.partyBuffsMax">
          <td>Max</td>
          <td colspan="3">
            <div *ngFor="let effect of card.partyBuffsMax.effects">
              {{ effect.formatHtml }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
