.elementImg, .damageImg, .statusAilmentImg, .skilImg {
  height: 32px;
}

.rarityImg {
  height: 32px;
}

.row {
  width: 1200px;
  margin: auto;
  margin-bottom: 20px;
}

.cardTable {
  width: 350px;
  margin-right: 20px;
}

.statTable {
  width: 829px;
}

.cardImg {
  height: 250px;
  margin-top: 10px;
}
