<div class="row">
  <table class="visionCardTable">
    <tbody>
      <tr>
        <th colspan="2">{{ visionCard.names.en }}</th>
      </tr>
      <tr>
        <td colspan="2"><img class="visionCardImg" src="{{'assets/visionCards/' + visionCard.image + '_full.png'}}" /></td>
      </tr>
      <tr>
        <td>Rarity</td>
        <td><img class="rarityImg" src="{{'assets/rarity/' + visionCard.rarity + '.png'}}" /></td>
      </tr>
    </tbody>
  </table>

  <div>
    <table class="StatTable">
      <tbody>
        <tr>
          <th colspan="4">VisionCard Stats</th>
        </tr>
        <tr>
          <th></th>
          <th>HP</th>
          <th>ATK</th>
          <th>MAG</th>
        </tr>
        <tr>
          <td>Min</td>
          <td>{{ visionCard.stats.HP.min }}</td>
          <td>{{ visionCard.stats.ATK.min }}</td>
          <td>{{ visionCard.stats.MAG.min }}</td>
        </tr>
        <tr>
          <td>Max</td>
          <td>{{ visionCard.stats.HP.max }}</td>
          <td>{{ visionCard.stats.ATK.max }}</td>
          <td>{{ visionCard.stats.MAG.max }}</td>
        </tr>
        <tr>
          <th colspan="4">Unit Effects</th>
        </tr>
        <tr *ngIf="visionCard.unitBuffsClassic">
          <td>Classic</td>
          <td colspan="3">
            <div *ngFor="let skill of visionCard.unitBuffsClassic">
              <div *ngFor="let effect of skill.effects">
                {{ effect.formatHtml }}
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="visionCard.unitBuffsAwake.length > 0">
          <td>Awake</td>
          <td colspan="3">
            <div *ngFor="let skill of visionCard.unitBuffsAwake">
              <div *ngFor="let effect of skill.effects">
                {{ effect.formatHtml }}
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="visionCard.unitBuffsMax.length > 0">
          <td>Max</td>
          <td colspan="3">
            <div *ngFor="let skill of visionCard.unitBuffsMax">
              <div *ngFor="let effect of skill.effects">
                {{ effect.formatHtml }}
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th colspan="4">Party Effects</th>
        </tr>
        <tr *ngIf="visionCard.partyBuffsClassic">
          <td>Classic</td>
          <td colspan="3">
            <div *ngFor="let skill of visionCard.partyBuffsClassic">
              <div *ngFor="let effect of skill.effects">
                {{ effect.formatHtml }}
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="visionCard.partyBuffsAwake.length > 0">
          <td>Awake</td>
          <td colspan="3">
            <div *ngFor="let skill of visionCard.partyBuffsAwake">
              <div *ngFor="let effect of skill.effects">
                {{ effect.formatHtml }}
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="visionCard.partyBuffsMax.length > 0">
          <td>Max</td>
          <td colspan="3">
            <div *ngFor="let skill of visionCard.partyBuffsMax">
              <div *ngFor="let effect of skill.effects">
                {{ effect.formatHtml }}
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
