<div class="row">
  <table class="cardTable">
    <tbody>
      <tr>
        <th colspan="2">{{ card.names.en }}</th>
      </tr>
      <tr>
        <td colspan="2"><img class="cardImg" src="{{'assets/cards/' + card.image + '_full.png'}}" /></td>
      </tr>
      <tr>
        <td>Rarity</td>
        <td><img class="rarityImg" src="{{'assets/rarity/' + card.rarity + '.png'}}" /></td>
      </tr>
    </tbody>
  </table>

  <div>
    <table class="statTable">
      <tbody>
        <tr>
          <th colspan="4">Stats</th>
        </tr>
        <tr>
          <th></th>
          <th>HP</th>
          <th>ATK</th>
          <th>MAG</th>
        </tr>
        <tr>
          <td>Min</td>
          <td>{{ card.stats.HP.min }}</td>
          <td>{{ card.stats.ATK.min }}</td>
          <td>{{ card.stats.MAG.min }}</td>
        </tr>
        <tr>
          <td>Max</td>
          <td>{{ card.stats.HP.max }}</td>
          <td>{{ card.stats.ATK.max }}</td>
          <td>{{ card.stats.MAG.max }}</td>
        </tr>
        <tr>
          <th colspan="4">Unit Effects</th>
        </tr>
        <tr *ngIf="card.unitBuffsClassic">
          <td>Classic</td>
          <td colspan="3">
            <div *ngFor="let skill of card.unitBuffsClassic">
              <div *ngFor="let effect of skill.effects">
                {{ effect.formatHtml }}
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="card.unitBuffsAwake.length > 0">
          <td>Awake</td>
          <td colspan="3">
            <div *ngFor="let skill of card.unitBuffsAwake">
              <div *ngFor="let effect of skill.effects">
                {{ effect.formatHtml }}
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="card.unitBuffsMax.length > 0">
          <td>Max</td>
          <td colspan="3">
            <div *ngFor="let skill of card.unitBuffsMax">
              <div *ngFor="let effect of skill.effects">
                {{ effect.formatHtml }}
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th colspan="4">Party Effects</th>
        </tr>
        <tr *ngIf="card.partyBuffsClassic">
          <td>Classic</td>
          <td colspan="3">
            <div *ngFor="let skill of card.partyBuffsClassic">
              <div *ngFor="let effect of skill.effects">
                {{ effect.formatHtml }}
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="card.partyBuffsAwake.length > 0">
          <td>Awake</td>
          <td colspan="3">
            <div *ngFor="let skill of card.partyBuffsAwake">
              <div *ngFor="let effect of skill.effects">
                {{ effect.formatHtml }}
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="card.partyBuffsMax.length > 0">
          <td>Max</td>
          <td colspan="3">
            <div *ngFor="let skill of card.partyBuffsMax">
              <div *ngFor="let effect of skill.effects">
                {{ effect.formatHtml }}
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
