/.angular/cache
dist/*
.DS_Store
**/@eaDir
Thumbs.db
node_modules
.gitsecret/keys/random_seed
!*.secret
src/environments/environment.prod.ts
.github/files/.sentryclirc
.pm2/ecosystem.config.js
.keys/server.crt
.keys/server.key
proxy.conf.json
build.tar.gz