<div>
  <div class="modal-header">
    <h4 class="modal-title">{{ 'chain.label.unit' | translate }} : {{ unit.name | capitalize }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="selectRightZone inlineBlock verticalTop">
      <div class="selectRightZoneBox">
        <div class="selectRightZoneOneThird paddingRightTwoColumns">
          <label for="chainer_dual">{{ 'chain.label.dual' | translate }}</label>
          <select class="form-control" id="chainer_dual" [(ngModel)]="unit.dual" (ngModelChange)="onChangeDual()">
            <option [ngValue]="true">{{ 'chain.label.yes' | translate }}</option>
            <option [ngValue]="false">{{ 'chain.label.no' | translate }}</option>
          </select>
        </div>

        <div class="selectRightZoneOneThird">
          <label for="chainer_weapon1">{{ 'chain.label.elementWeapon' | translate }} 1</label>
          <select class="form-control" id="chainer_weapon1" [(ngModel)]="unit.weapons[0]">
            <option *ngFor="let element of elements" [ngValue]="element">{{ 'elements.' + element | translate }}</option>
          </select>
        </div>

        <div class="selectRightZoneOneThird tabletMarginTop paddingRightTwoColumns" *ngIf="unit.dual">
          <label for="chainer_weapon2">{{ 'chain.label.elementWeapon' | translate }} 2</label>
          <select class="form-control" id="chainer_weapon2" [(ngModel)]="unit.weapons[1]">
            <option *ngFor="let element of elements" [ngValue]="element">{{ 'elements.' + element | translate }}</option>
          </select>
        </div>
      </div>

      <div class="selectRightZoneBox littleMarginTop">
        <div class="selectRightZoneOneThird paddingRightTwoColumns">
          <div *ngFor="let multiCast of this.unit.multiCasts; let multiCastIndex = index">
            Multicast Abilities<input class="form-control" type="number" id="chainer_multi_cast_count" min="1" [(ngModel)]="multiCast.count" (ngModelChange)="updateMultiCast()">
            <ss-multiselect-dropdown
              [options]="multiAbilities[multiCast.count]"
              [settings]="multiAbilitiesSettings"
              [texts]="multiAbilitiesTexts"
              [(ngModel)]="multiCast.abilities"
              (ngModelChange)="updateMultiCast()">
            </ss-multiselect-dropdown>
          </div>
        </div>

        <div class="selectRightZoneOneThird">
          <label for="chainer_multi_black">Multicast Black Magic</label>
          <input class="form-control" type="number" id="chainer_multi_black" [(ngModel)]="unit.multipleBlack" (ngModelChange)="updateMagicMultiCast()">
        </div>

        <div class="selectRightZoneOneThird tabletMarginTop paddingRightTwoColumns">
          <label for="chainer_multi_white">Multicast White Magic</label>
          <input class="form-control" type="number" id="chainer_multi_white" [(ngModel)]="unit.multipleWhite" (ngModelChange)="updateMagicMultiCast()">
        </div>
      </div>

      <div *ngFor="let abilityIndex of unit.castNumber">
        <hr />
        <div class="selectRightZoneBox littleMarginTop">
          <div class="selectRightZoneOneThird selectAbility" *ngIf="!getActiveRename(abilityIndex)">
            <label for="chainer_ability">{{ 'chain.label.ability' | translate }} {{ abilityIndex + 1 }}</label>
            <select class="form-control" id="chainer_ability" [(ngModel)]="unit.selectedIds[abilityIndex]" (ngModelChange)="onChangeSkill(abilityIndex)">
              <option *ngFor="let unitAbility of getAvailableAbilities(abilityIndex)" [ngValue]="unitAbility.id">{{ unitAbility.name | capitalize }}</option>
            </select>
          </div>

          <div class="selectRightZoneOneThird selectAbility" *ngIf="getActiveRename(abilityIndex)">
            <label for="unit_ability">{{ 'chain.label.abilityName' | translate }}</label>
            <input class="form-control" type="text" id="unit_ability" [(ngModel)]="getAbility(abilityIndex).name">
          </div>

          <diV class="buttonsAbility">
            <div class="selectRightZoneTwoThirdDividedInThird" *ngIf="unit.selfCreated && !getActiveRename(abilityIndex)">
              <label class="emptyLabel">&nbsp;</label>
              <button class="btn btn-secondary fullWidth" type="button" (click)="renameAbility(abilityIndex)">{{ 'chain.button.renameAbility' | translate }}</button>
            </div>

            <div class="selectRightZoneTwoThirdDividedInThird" *ngIf="unit.selfCreated && getActiveRename(abilityIndex)">
              <label class="emptyLabel">&nbsp;</label>
              <button class="btn btn-secondary fullWidth" type="button">{{ 'chain.button.saveAbility' | translate }}</button>
            </div>

            <div class="selectRightZoneTwoThirdDividedInThird">
              <label class="emptyLabel">&nbsp;</label>
              <button class="btn btn-secondary fullWidth" type="button" (click)="addAbility(abilityIndex)">{{ 'chain.button.addAbility' | translate }}</button>
            </div>

            <div class="selectRightZoneTwoThirdDividedInThird" *ngIf="unit.abilities.length > 1">
              <label class="emptyLabel">&nbsp;</label>
              <button class="btn btn-secondary fullWidth" type="button" (click)="removeAbility(abilityIndex)">{{ 'chain.button.removeAbility' | translate }}</button>
            </div>
          </diV>
        </div>

        <div *ngIf="getAbility(abilityIndex); let ability">
          <div class="selectRightZoneBox littleMarginTop">
            <div class="selectRightZoneInFour">
              <span id="tooltip_base"></span>
              <label for="chainer_base"
                tooltip="{{ 'chain.label.tooltip' | translate }}"
                parentSelector="#tooltip_base">
                {{ 'chain.label.base' | translate }}<i class="fa fa-info-circle helperIcon" aria-hidden="true"></i>
              </label>
              <div class="input-group">
                <input class="form-control" type="number" id="chainer_base" [(ngModel)]="ability.base">
                <div class="input-group-append">
                  <span class="input-group-text" id="unit_base_percent">%</span>
                </div>
              </div>
            </div>

            <div class="selectRightZoneInFour">
              <label for="chainer_ignore">{{ 'chain.label.ignore' | translate }}</label>
              <div class="input-group">
                <input class="form-control" type="number" id="chainer_ignore" [(ngModel)]="ability.ignore">
                <div class="input-group-append">
                  <span class="input-group-text" id="unit_base_percent">%</span>
                </div>
              </div>
            </div>

            <div class="selectRightZoneInFour">
              <label for="chainer_ability_type">{{ 'chain.label.abilityType' | translate }}</label>
              <select class="form-control" id="chainer_damage_type" [(ngModel)]="ability.type">
                <option *ngFor="let abilityType of abilityTypes" [ngValue]="abilityType">{{ 'abilityType.' + abilityType | translate }}</option>
              </select>
            </div>

            <div class="selectRightZoneInFour tabletMarginTop">
              <label for="chainer_damage_type">{{ 'chain.label.damageType' | translate }}</label>
              <select class="form-control" id="chainer_damage_type" [(ngModel)]="ability.damage">
                <option *ngFor="let abilityDamage of abilityDamages" [ngValue]="abilityDamage">{{ 'abilityDamage.' + abilityDamage | translate }}</option>
              </select>
            </div>

            <div class="selectRightZoneInFour">
              <label for="chainer_ignore">{{ 'chain.label.dualable' | translate }}</label>
              <select class="form-control" id="chainer_dualable" [(ngModel)]="ability.dualable">
                <option [ngValue]="true">{{ 'chain.label.yes' | translate }}</option>
                <option [ngValue]="false">{{ 'chain.label.no' | translate }}</option>
              </select>
            </div>
          </div>

          <div class="selectRightZoneBox littleMarginTop">
            <div class="selectRightZoneFrames">
              <div>
                <span id="tooltip_frames"></span>
                <label
                  for="chainer_framesList"
                  tooltip="{{ errors[abilityIndex].frames ? ('chain.errors.frames.' + errors[abilityIndex].frames | translate) : null }}"
                  parentSelector="#tooltip_frames"
                  [ngStyle]="errors[abilityIndex].frames && {'color': 'red'}">
                  {{ 'chain.label.nonLinearFrames' | translate }}
                  <i *ngIf="errors[abilityIndex].frames" class="fa fa-exclamation-circle errorIcon" aria-hidden="true"></i>
                </label>
                <input class="form-control" type="text" id="chainer_framesList" [(ngModel)]="ability.flatFrames" (ngModelChange)="validateRegex(abilityIndex)" (blur)="validateRegex(abilityIndex)">
              </div>

              <div class="littleMarginTop">
                <span id="tooltip_hitDamage"></span>
                <label
                  for="chainer_hitDamage"
                  tooltip="{{ errors[abilityIndex].hits ? ('chain.errors.hits.' + errors[abilityIndex].hits | translate) : null }}"
                  parentSelector="#tooltip_hitDamage"
                  [ngStyle]="errors[abilityIndex].hits && {'color': 'red'}">
                  {{ 'chain.label.hitDamage' | translate }}
                  <i *ngIf="errors[abilityIndex].hits" class="fa fa-exclamation-circle errorIcon" aria-hidden="true"></i>
                </label>
                <input class="form-control" type="text" id="chainer_hitDamage" [(ngModel)]="ability.flatHitDamage" (ngModelChange)="validateRegex(abilityIndex)" (blur)="validateRegex(abilityIndex)">
              </div>
            </div>

            <div class="selectAdjustFramesAndCastTime">
              <div>
                <button class="btn btn-secondary" type="button" (click)="adjustHitDamageFromFrames(abilityIndex)">
                  {{ 'chain.label.adjustHitDamage' | translate }}
                </button>
              </div>

              <div class="littleMarginTop">
                <label for="chainer_castTime">{{ 'chain.label.castTime' | translate }}</label>
                <input class="form-control" type="number" id="chainer_castTime" [(ngModel)]="ability.castTime">
              </div>
            </div>

            <div class="selectRightZoneLittleBox">
              <label for="chainer_offset">{{ 'chain.label.offset' | translate }}</label>
              <input class="form-control" type="number" id="chainer_offset" [(ngModel)]="ability.offset">
            </div>
          </div>

          <div class="selectRightZoneBox littleMarginTop multiSelectDropdown" *ngIf="multiElements.length > 0">
            <ss-multiselect-dropdown
              [options]="multiElements"
              [settings]="multiElementsSettings"
              [texts]="multiElementsTexts"
              [(ngModel)]="ability.elements"
             >
            </ss-multiselect-dropdown>
          </div>

          <div class="selectRightZoneBox littleMarginTop">
            <hr class="mobileSeparatorSelectImperil"/>
            <div class="divAddImperil">
              <button class="btn btn-secondary btnAddImperil" type="button" (click)="addImperil(abilityIndex)">{{ 'chain.button.addImperil' | translate }}</button>
            </div>
            <div *ngFor="let imperil of ability.imperils; let j = index" class="selectRightZoneDividedTwo littleMarginTop">
              <hr class="mobileSeparatorSelectImperil tabletNoMarginTop"/>
              <div class="selectRightZoneTwoDividedThree">
                <label for="ability_{{abilityIndex}}_imperil{{j}}_type">{{ 'chain.label.element' | translate }} {{j + 1}}</label>
                <select class="form-control" id="ability_{{abilityIndex}}_imperil{{j}}_type" [(ngModel)]="ability.imperils[j].type">
                  <option *ngFor="let element of requiredElements" [ngValue]="element">{{ 'elements.' + element | translate }}</option>
                </select>
              </div>
              <div class="selectRightZoneTwoDividedThree">
                <label for="ability_{{abilityIndex}}_imperil{{j}}_value">{{ 'chain.label.value' | translate }} {{j + 1}}</label>
                <div class="input-group">
                  <input class="form-control" type="number" id="ability_{{abilityIndex}}_imperil{{j}}_value" [(ngModel)]="ability.imperils[j].value">
                  <div class="input-group-append">
                    <span class="input-group-text" id="unit_base_percent">%</span>
                  </div>
                </div>
              </div>
              <div class="selectRightZoneTwoDividedThree">
                <button class="btn btn-secondary fullWidth" type="button" (click)="removeImperil(abilityIndex, j)">{{ 'chain.button.remove' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
  </div>
</div>
