<div class="row unit form-group">
  <div class="chainParameters allSelectUnit" #chainDiv>
    <div class="inlineBlock verticalTop">
      <div
        class=" verticalTop selectUnitZone marginUnit">

        <div class="inlineBlock firstSelectLevel">
          <label>{{ 'chain.label.unit' | translate }}</label>
          <div>
            <select2
              [data]="observableUnits"
              [value]="idSelected"
              [options]="select2Options"
              (valueChanged)="selectUnit($event.value);"></select2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row littleMarginTop" *ngIf="idSelected !== 'unselect'">
  <table>
    <tbody>
      <tr>
        <th colspan="2">{{ unit.name }}</th>
      </tr>
      <tr>
        <td colspan="2"><img class="unitImg" src="{{'assets/units/' + unit.image + '.png'}}" /></td>
      </tr>
      <tr>
        <td>Rarity</td>
        <td><img class="rarityImg" src="{{'assets/rarity/' + unit.rarity + '.png'}}" /></td>
      </tr>
      <tr>
        <td>Element</td>
        <td>{{ unit.element }}</td>
      </tr>
      <tr>
        <td>Jobs</td>
        <td>{{ unit.jobs[0].en }}<br />{{ unit.jobs[1].en }}<br />{{ unit.jobs[2].en }}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="row littleMarginTop" *ngIf="idSelected !== 'unselect'">
  <table>
    <tbody>
      <tr>
        <th [attr.colspan]="unit.tmr.skills[0].type == 'active' ? '7' : '2'">TMR</th>
      </tr>
      <tr>
        <td [attr.colspan]="unit.tmr.skills[0].type == 'active' ? '2' : '1'">Name</td>
        <td [attr.colspan]="unit.tmr.skills[0].type == 'active' ? '5' : '1'">{{ unit.tmr.names.en }}</td>
      </tr>
      <tr>
        <td [attr.colspan]="unit.tmr.skills[0].type == 'active' ? '2' : '1'">Type</td>
        <td [attr.colspan]="unit.tmr.skills[0].type == 'active' ? '5' : '1'">{{ unit.tmr.type }}</td>
      </tr>
      <tr *ngFor="let statType of unit.tmr.statsTypes">
        <td [attr.colspan]="unit.tmr.skills[0].type == 'active' ? '2' : '1'">{{ statType }}</td>
        <td [attr.colspan]="unit.tmr.skills[0].type == 'active' ? '5' : '1'">{{ unit.tmr.stats[statType] }}</td>
      </tr>
      <tr>
        <th [attr.colspan]="unit.tmr.skills[0].type == 'active' ? '7' : '2'">Skill</th>
      </tr>
      <tr>
        <th>Type</th>
        <th *ngIf="unit.tmr.skills[0].type == 'active'">name</th>
        <th>Effects</th>
        <th *ngIf="unit.tmr.skills[0].type == 'active'">Range</th>
        <th *ngIf="unit.tmr.skills[0].type == 'active'">Casts</th>
        <th *ngIf="unit.tmr.skills[0].type == 'active'">Hits</th>
        <th *ngIf="unit.tmr.skills[0].type == 'active'">Cost</th>
      </tr>
      <tr>
        <td>
          <img class="skilImg" src="{{'assets/skill-type/' + unit.tmr.skills[0].type + '.png'}}" />
        </td>
        <td *ngIf="unit.tmr.skills[0].type == 'active'">
          {{ unit.tmr.skills[0].names.en }}
        </td>
        <td>
          <div>{{ unit.tmr.skills[0].counterHtml }}</div>
          <div>{{ unit.tmr.skills[0].damageHtml }}</div>
          <div *ngFor="let effect of unit.tmr.skills[0].effects">
            {{ effect.formatHtml }}
          </div>
        </td>
        <td *ngIf="unit.tmr.skills[0].type == 'active'">
          <table *ngIf="unit.tmr.skills[0].skillTable" class="table-skill">
            <tr *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]">
              <td *ngFor="let j of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]" class="table-skill-{{ unit.tmr.skills[0].skillTable[i][j] }}">
                
              </td>
            </tr>
          </table>
        </td>
        <td *ngIf="unit.tmr.skills[0].type == 'active'">
          {{ unit.tmr.skills[0].count }}
        </td>
        <td *ngIf="unit.tmr.skills[0].type == 'active'">
          <span *ngIf="unit.tmr.skills[0].combo">{{ unit.tmr.skills[0].combo.num }}</span>
        </td>
        <td *ngIf="unit.tmr.skills[0].type == 'active'">
          <span *ngIf="unit.tmr.skills[0].cost">{{ unit.tmr.skills[0].cost.value }} {{ unit.tmr.skills[0].cost.type }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="row littleMarginTop" *ngIf="idSelected !== 'unselect'">
  <table>
    <tbody>
      <tr>
        <th colspan="13">Unit Stats</th>
      </tr>
      <tr>
        <th></th>
        <th>HP</th>
        <th>TP</th>
        <th>AP</th>
        <th>ATK</th>
        <th>DEF</th>
        <th>MAG</th>
        <th>SPR</th>
        <th>DEX</th>
        <th>AGI</th>
        <th>LUCK</th>
        <th>MOVE</th>
        <th>JUMP</th>
      </tr>
      <tr>
        <td>Min</td>
        <td>{{ unit.stats.HP.min }}</td>
        <td>{{ unit.stats.TP.min }}</td>
        <td>{{ unit.stats.AP.min }}</td>
        <td>{{ unit.stats.ATK.min }}</td>
        <td>{{ unit.stats.DEF.min }}</td>
        <td>{{ unit.stats.MAG.min }}</td>
        <td>{{ unit.stats.SPR.min }}</td>
        <td>{{ unit.stats.DEX.min }}</td>
        <td>{{ unit.stats.AGI.min }}</td>
        <td>{{ unit.stats.LUCK.min }}</td>
        <td>{{ unit.stats.MOVE.min }}</td>
        <td>{{ unit.stats.JUMP.min }}</td>
      </tr>
      <tr>
        <td>Max</td>
        <td>{{ unit.stats.HP.max }}</td>
        <td>{{ unit.stats.TP.max }}</td>
        <td>{{ unit.stats.AP.max }}</td>
        <td>{{ unit.stats.ATK.max }}</td>
        <td>{{ unit.stats.DEF.max }}</td>
        <td>{{ unit.stats.MAG.max }}</td>
        <td>{{ unit.stats.SPR.max }}</td>
        <td>{{ unit.stats.DEX.max }}</td>
        <td>{{ unit.stats.AGI.max }}</td>
        <td>{{ unit.stats.LUCK.max }}</td>
        <td>{{ unit.stats.MOVE.max }}</td>
        <td>{{ unit.stats.JUMP.max }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row littleMarginTop" *ngIf="idSelected !== 'unselect'">
  <table>
    <tbody>
      <tr>
        <th colspan="11">Board Stats</th>
      </tr>
      <tr>
        <th>HP</th>
        <th>TP</th>
        <th>INITIAL AP</th>
        <th>ATK</th>
        <th>DEF</th>
        <th>MAG</th>
        <th>SPR</th>
        <th>DEX</th>
        <th>AGI</th>
        <th>LUCK</th>
        <th>CRITIC RATE</th>
      </tr>
      <tr>
        <td>{{ unit.totalBuffs.HP }}</td>
        <td>{{ unit.totalBuffs.TP }}</td>
        <td>{{ unit.totalBuffs.INITIAL_AP }}</td>
        <td>{{ unit.totalBuffs.ATK }}</td>
        <td>{{ unit.totalBuffs.DEF }}</td>
        <td>{{ unit.totalBuffs.MAG }}</td>
        <td>{{ unit.totalBuffs.SPR }}</td>
        <td>{{ unit.totalBuffs.DEX }}</td>
        <td>{{ unit.totalBuffs.AGI }}</td>
        <td>{{ unit.totalBuffs.LCK }}</td>
        <td>{{ unit.totalBuffs.CRITIC_RATE }}</td>
      </tr>
      <tr>
        <th colspan="11">OTHERS</th>
      </tr>
      <tr>
        <td colspan="11">
          <div *ngFor="let buff of unit.remainingBuffs">{{ buff }}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

  
<div class="row littleMarginTop" *ngIf="idSelected !== 'unselect'">
  <table>
    <tbody>
      <tr>
        <th colspan="8">Res Elem</th>
      </tr>
      <tr>
        <td><img class="elementImg" src="{{'assets/elements/fire.png'}}" /></td>
        <td><img class="elementImg" src="{{'assets/elements/ice.png'}}" /></td>
        <td><img class="elementImg" src="{{'assets/elements/earth.png'}}" /></td>
        <td><img class="elementImg" src="{{'assets/elements/wind.png'}}" /></td>
        <td><img class="elementImg" src="{{'assets/elements/lightning.png'}}" /></td>
        <td><img class="elementImg" src="{{'assets/elements/water.png'}}" /></td>
        <td><img class="elementImg" src="{{'assets/elements/light.png'}}" /></td>
        <td><img class="elementImg" src="{{'assets/elements/dark.png'}}" /></td>
      </tr>
      <tr>
        <td><span *ngIf="unit.stats.FIRE.min">{{ unit.stats.FIRE.min }} %</span></td>
        <td><span *ngIf="unit.stats.ICE.min">{{ unit.stats.ICE.min }} %</span></td>
        <td><span *ngIf="unit.stats.EARTH.min">{{ unit.stats.EARTH.min }} %</span></td>
        <td><span *ngIf="unit.stats.WIND.min">{{ unit.stats.WIND.min }} %</span></td>
        <td><span *ngIf="unit.stats.LIGHTNING.min">{{ unit.stats.LIGHTNING.min }} %</span></td>
        <td><span *ngIf="unit.stats.WATER.min">{{ unit.stats.WATER.min }} %</span></td>
        <td><span *ngIf="unit.stats.LIGHT.min">{{ unit.stats.LIGHT.min }} %</span></td>
        <td><span *ngIf="unit.stats.DARK.min">{{ unit.stats.DARK.min }} %</span></td>
      </tr>
    </tbody>
  </table>
</div>

  
<div class="row littleMarginTop" *ngIf="idSelected !== 'unselect'">
  <table>
    <tbody>
      <tr>
        <th colspan="5">Res Damage</th>
      </tr>
      <tr>
        <td><img class="damageImg" src="{{'assets/damage/none_slash.png'}}" /></td>
        <td><img class="damageImg" src="{{'assets/damage/none_pierce.png'}}" /></td>
        <td><img class="damageImg" src="{{'assets/damage/none_strike.png'}}" /></td>
        <td><img class="damageImg" src="{{'assets/damage/none_missile.png'}}" /></td>
        <td><img class="damageImg" src="{{'assets/damage/none_magic.png'}}" /></td>
      </tr>
      <tr>
        <td><span *ngIf="unit.stats.SLASH.min">{{ unit.stats.SLASH.min }} %</span></td>
        <td><span *ngIf="unit.stats.PIERCE.min">{{ unit.stats.PIERCE.min }} %</span></td>
        <td><span *ngIf="unit.stats.STRIKE.min">{{ unit.stats.STRIKE.min }} %</span></td>
        <td><span *ngIf="unit.stats.MISSILE.min">{{ unit.stats.MISSILE.min }} %</span></td>
        <td><span *ngIf="unit.stats.MAGIC.min">{{ unit.stats.MAGIC.min }} %</span></td>
      </tr>
    </tbody>
  </table>
</div>

  
<div class="row littleMarginTop" *ngIf="idSelected !== 'unselect'">
  <table>
    <tbody>
      <tr>
        <th colspan="15">Res Status Ailment</th>
      </tr>
      <tr>
        <td><img class="statusAilmentImg" src="{{'assets/status-ailments/POISON.png'}}" /></td>
        <td><img class="statusAilmentImg" src="{{'assets/status-ailments/BLIND.png'}}" /></td>
        <td><img class="statusAilmentImg" src="{{'assets/status-ailments/SLEEP.png'}}" /></td>
        <td><img class="statusAilmentImg" src="{{'assets/status-ailments/SILENCE.png'}}" /></td>
        <td><img class="statusAilmentImg" src="{{'assets/status-ailments/PARALYZE.png'}}" /></td>
        <td><img class="statusAilmentImg" src="{{'assets/status-ailments/CONFUSION.png'}}" /></td>
        <td><img class="statusAilmentImg" src="{{'assets/status-ailments/PETRIFY.png'}}" /></td>
        <td><img class="statusAilmentImg" src="{{'assets/status-ailments/TOAD.png'}}" /></td>
      </tr>
      <tr>
        <td><span *ngIf="unit.stats.POISON.min">{{ unit.stats.POISON.min }} %</span></td>
        <td><span *ngIf="unit.stats.BLIND.min">{{ unit.stats.BLIND.min }} %</span></td>
        <td><span *ngIf="unit.stats.SLEEP.min">{{ unit.stats.SLEEP.min }} %</span></td>
        <td><span *ngIf="unit.stats.SILENCE.min">{{ unit.stats.SILENCE.min }} %</span></td>
        <td><span *ngIf="unit.stats.PARALYZE.min">{{ unit.stats.PARALYZE.min }} %</span></td>
        <td><span *ngIf="unit.stats.CONFUSION.min">{{ unit.stats.CONFUSION.min }} %</span></td>
        <td><span *ngIf="unit.stats.PETRIFY.min">{{ unit.stats.PETRIFY.min }} %</span></td>
        <td><span *ngIf="unit.stats.TOAD.min">{{ unit.stats.TOAD.min }} %</span></td>
      </tr>
      <tr>
        <td><img class="statusAilmentImg" src="{{'assets/status-ailments/CHARM.png'}}" /></td>
        <td><img class="statusAilmentImg" src="{{'assets/status-ailments/SLOW.png'}}" /></td>
        <td><img class="statusAilmentImg" src="{{'assets/status-ailments/STOP.png'}}" /></td>
        <td><img class="statusAilmentImg" src="{{'assets/status-ailments/IMMOBILIZE.png'}}" /></td>
        <td><img class="statusAilmentImg" src="{{'assets/status-ailments/DISABLE.png'}}" /></td>
        <td><img class="statusAilmentImg" src="{{'assets/status-ailments/BERSERK.png'}}" /></td>
        <td><img class="statusAilmentImg" src="{{'assets/status-ailments/DOOM.png'}}" /></td>
        <td></td>
      </tr>
      <tr>
        <td><span *ngIf="unit.stats.CHARM.min">{{ unit.stats.CHARM.min }} %</span></td>
        <td><span *ngIf="unit.stats.SLOW.min">{{ unit.stats.SLOW.min }} %</span></td>
        <td><span *ngIf="unit.stats.STOP.min">{{ unit.stats.STOP.min }} %</span></td>
        <td><span *ngIf="unit.stats.IMMOBILIZE.min">{{ unit.stats.IMMOBILIZE.min }} %</span></td>
        <td><span *ngIf="unit.stats.DISABLE.min">{{ unit.stats.DISABLE.min }} %</span></td>
        <td><span *ngIf="unit.stats.BERSERK.min">{{ unit.stats.BERSERK.min }} %</span></td>
        <td><span *ngIf="unit.stats.DOOM.min">{{ unit.stats.DOOM.min }} %</span></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row littleMarginTop" *ngIf="idSelected !== 'unselect'">
  <table>
    <tbody>
      <tr>
        <th>Weapons</th>
      </tr>
      <tr>
        <td>
          <div *ngFor="let equip of unit.equipments">
            <span *ngIf="isWeapon(equip)">{{ equip }}</span>
          </div>
        </td>
      </tr>
      <tr>
        <th>Armors</th>
      </tr>
      <tr>
        <td>
          <div style="display: inline-block;" *ngFor="let equip of unit.equipments">
            <span *ngIf="!isWeapon(equip)">{{ equip }}&nbsp;</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="idSelected !== 'unselect'">
  <div class="row littleMarginTop" *ngFor="let i of [0, 1, 2, 3]">
    <table>
      <tbody>
        <tr>
          <th *ngIf="i == 0" colspan="9">Main Job</th>
          <th *ngIf="i != 0" colspan="9">{{ unit.jobs[i - 1].en }}</th>
        </tr>
        <tr>
          <th>Job lvl</th>
          <th>Star lvl</th>
          <th>Type</th>
          <th>name</th>
          <th>Effects</th>
          <th>Range</th>
          <th>Casts</th>
          <th>Hits</th>
          <th>Cost</th>
        </tr>
        <tr *ngFor="let skill of getSkillsPerJob(i)">
          <td>{{ skill.jobLevel }}</td>
          <td>{{ skill.unlockStar }}</td>
          <td><img class="skilImg" src="{{'assets/skill-type/' + skill.type + '.png'}}" /></td>
          <td>{{ skill.names.en }}</td>
          <td>
            <div>{{ skill.counterHtml }}</div>
            <div>{{ skill.damageHtml }}</div>
            <div *ngFor="let effect of skill.effects">
              {{ effect.formatHtml }}
            </div>
          </td>
          <td>
            <table *ngIf="skill.skillTable" class="table-skill">
              <tr *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]">
                <td *ngFor="let j of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]" class="table-skill-{{ skill.skillTable[i][j] }}">
                  
                </td>
              </tr>
            </table>
          </td>
          <td>{{ skill.count }}</td>
          <td><span *ngIf="skill.combo">{{ skill.combo.num }}</span></td>
          <td><span *ngIf="skill.cost">{{ skill.cost.value }} {{ skill.cost.type }}</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>




<div class="row littleMarginTop" *ngIf="idSelected !== 'unselect'">
  <table>
    <tbody>
      <tr>
        <th>Master Ability</th>
      </tr>
      <tr>
        <td>
          <div *ngFor="let effect of unit.masterSkill.effects">
            {{ effect.formatHtml }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="row littleMarginTop" *ngIf="idSelected !== 'unselect' && unit.limit">
  <table>
    <tbody>
      <tr>
        <th colspan="5">Limit Burst</th>
      </tr>
      <tr>
        <th>name</th>
        <th>Effects</th>
        <th>Range</th>
        <th>Hits</th>
        <th>Cost</th>
      </tr>
      <tr>
        <td>{{ unit.limit.names.en }}</td>
        <td>
          {{ unit.limit.damageHtml }}
          <div *ngFor="let effect of unit.limit.effects">
            {{ effect.formatHtml }}
          </div>
        </td>
        <td>
          <table *ngIf="unit.limit.skillTable" class="table-skill">
            <tr *ngFor="let i of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]">
              <td *ngFor="let j of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]" class="table-skill-{{ unit.limit.skillTable[i][j] }}">
                
              </td>
            </tr>
          </table>
        </td>
        <td><span *ngIf="unit.limit.combo">{{ unit.limit.combo.num }}</span></td>
        <td><span *ngIf="unit.limit.cost">{{ unit.limit.cost.value }} {{ unit.limit.cost.type }}</span></td>
      </tr>
    </tbody>
  </table>
</div>