.elementImg {
  height: 32px;
}

td {
  text-align: center;
  padding: 0.3em 0.5em;
}

.unitImg {
  height: 150px;
  margin-top: 10px;
}

.unitName {
  font-weight: bold;
  margin-left: 10px
}

.unitsTable {
  width: 800px;
}

.unitsCol {
  width: 200px;
}

.row {
  max-width: 800px;
  margin: auto;
  margin-bottom: 20px;
}
