.scrollChart {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.scrollChart::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 5px;
}

.scrollChart::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.chainChart {
  min-width: 1040px;
  height: 200px;
}

.chainChart .axis path,
.chainChart .axis line {
  stroke: #999;
}

.chainChart .axis text {
  fill: #999;
}

.bar {
  fill: #33b5e5;
}

.bar-dotted {
  fill: #a5a5a5;
}

.bar-unit1-chain1 {
  fill: #3868e8;
}

.bar-unit1-chain2 {
  fill: #42c1cc;
}

.bar-unit2-chain1 {
  fill: #17bd00;
}

.bar-unit2-chain2 {
  fill: #b4c132;
}

.bar-unit1-break1 {
  fill: #ff0600;
}

.bar-unit1-break2 {
  fill: #ff9492;
}

.bar-unit2-break1 {
  fill: #ff0600;
}

.bar-unit2-break2 {
  fill: #ff9492;
}
