.chain-chart {
  width: 100%;
  height: 200px;
}

.chain-chart .axis path,
.chain-chart .axis line {
  stroke: #999;
}

.chain-chart .axis text {
  fill: #999;
}

.bar {
  fill: #33b5e5;
}

.bar-unit1-chain1 {
  fill: #3868e8;
}

.bar-unit1-chain2 {
  fill: #6f93f3;
}

.bar-unit2-chain1 {
  fill: #17bd00;
}

.bar-unit2-chain2 {
  fill: #70dc60;
}

.bar-unit1-break1 {
  fill: #ff0600;
}

.bar-unit1-break2 {
  fill: #ff0600;
}

.bar-unit2-break1 {
  fill: #ff0600;
}

.bar-unit2-break2 {
  fill: #ff0600;
}
