.row {
  width: 1200px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.leftBlock {
  width: 350px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
  padding: 0;
}

.rightBlock {
  width: 830px;
  display: inline-block;
  vertical-align: top;
  padding: 0;
}

.elementImg, .skilImg, .damageSkillImg {
  height: 32px;
}

.unitImg {
  max-height: 250px;
  max-width: 250px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.raidTable {
  width: 100%;
  margin-right: 20px;
}

.statsTable {
  width: 100%;
}

.statsTable:not(:first-child) {
  margin-top: 10px;
}

.rangeTd {
  width: 69px;
}

.skillTypeTd {
  width: 85px;
}

.skillCastTd {
  width: 61px;
}

.skillHitTd {
  width: 50px;
}

.skillCostTd {
  width: 60px;
}

.skillNameTd {
  width: 200px;
}

.skillEffectTd {
  text-align: left;
}

.heightResTd {
  height: 33px;
}

.reflectImg {
  height: 32px;
  margin-top: 2px;
}

.timeImg {
  height: 32px;
  cursor: pointer;
  margin-top: 2px;
}

.questName {
  text-align: left;
}

.job {
  height: 40px;
  background: url("assets/jobs/base_sub.webp") 0px 0px no-repeat;
  background-size: 40px;
  padding: 5px;
  width: 40px;
  margin: auto;
}

.job img {
  max-width: 30px;
  max-height: 30px;
  vertical-align: top;
}

.elementImg {
  max-width: 40px;
  max-height: 40px;
}

.enemyDetailCol {
  padding: 0;
}

.enemyDetailCol table {
  width: 100%;
}

.heightResTd {
  height: 33px;
}

.skilImg, .atkBasedImg, .damageSkillImg, .timeImg {
  width: 32px;
  height: 32px;
}

.skillTypeTd {
  width: 85px;
}

.skillEffectTd {
  text-align: left;
}

.enemyLine {
  cursor: pointer;
}

.collapseBlock {
  margin-right: 5px;
  display: inline-block;
}
