<div class="row">
  <table class="unitTable">
    <tbody>
      <tr>
        <th colspan="3">{{ unit.name }}</th>
      </tr>
      <tr>
        <td colspan="3"><img class="unitImg" src="{{'assets/units/' + unit.image + '.png'}}" /></td>
      </tr>
      <tr>
        <td>Rarity</td>
        <td colspan="2"><img class="rarityImg" src="{{'assets/rarity/' + unit.rarity + '.png'}}" /></td>
      </tr>
      <tr>
        <td>Element</td>
        <td colspan="2"><img class="rarityImg" src="{{'assets/elements/' + unit.element + '.png'}}" /></td>
      </tr>
      <tr>
        <td colspan="3">Jobs</td>
      </tr>
      <tr *ngIf="jobs[0] && jobs[1] && jobs[2]">
        <td class="jobTd" *ngFor="let i of [0, 1, 2]">
          <img [className]="i == 0 ? 'mainJob' : 'subJob'" src="{{'assets/jobs/' + jobs[i].image + '.png'}}" /><br />
          {{ jobs[i].name }}
        </td>
      </tr>
      <tr *ngIf="jobs[0] && jobs[1] && jobs[2]">
        <td>Weapons</td>
        <td colspan="2">
          <div *ngFor="let equip of jobs[0].equipments.weapons; let j = index">
            <span>{{ getEquipementType(equip) }}<span *ngIf="j !== (jobs[0].equipments.weapons.length - 1)">&nbsp;-&nbsp;</span></span>
          </div>
        </td>
      </tr>
      <tr>
        <td>Armors</td>
        <td colspan="2">
          <div style="display: inline-block;" *ngFor="let equip of jobs[0].equipments.armors; let j = index">
            <span>{{ getEquipementType(equip) }}<span *ngIf="j !== (jobs[0].equipments.armors.length - 1)">&nbsp;-&nbsp;</span></span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="tmrTable">
    <tbody>
      <tr>
        <th [attr.colspan]="unit.tmr.skills[0] && unit.tmr.skills[0].type == 'skill' ? '7' : '2'">TMR</th>
      </tr>
      <tr>
        <td [attr.colspan]="unit.tmr.skills[0] && unit.tmr.skills[0].type == 'skill' ? '2' : '1'">Name</td>
        <td [attr.colspan]="unit.tmr.skills[0] && unit.tmr.skills[0].type == 'skill' ? '5' : '1'">{{ unit.tmr.name }}</td>
      </tr>
      <tr>
        <td [attr.colspan]="unit.tmr.skills[0] && unit.tmr.skills[0].type == 'skill' ? '2' : '1'">Type</td>
        <td [attr.colspan]="unit.tmr.skills[0] && unit.tmr.skills[0].type == 'skill' ? '5' : '1'">{{ getEquipementType(unit.tmr.type) }}</td>
      </tr>
      <tr *ngFor="let statType of unit.tmr.statsTypes">
        <td [attr.colspan]="unit.tmr.skills[0] && unit.tmr.skills[0].type == 'skill' ? '2' : '1'">{{ statType }}</td>
        <td [attr.colspan]="unit.tmr.skills[0] && unit.tmr.skills[0].type == 'skill' ? '5' : '1'">{{ unit.tmr.stats[statType] }}</td>
      </tr>
      <tr *ngIf="unit.tmr.skills[0]">
        <th [attr.colspan]="unit.tmr.skills[0] && unit.tmr.skills[0].type == 'skill' ? '7' : '2'">TMR Skill</th>
      </tr>
      <tr *ngIf="unit.tmr.skills[0]">
        <th>Type</th>
        <th *ngIf="unit.tmr.skills[0].type == 'skill'">name</th>
        <th>Effects</th>
        <th *ngIf="unit.tmr.skills[0].type == 'skill'">Range</th>
        <th *ngIf="unit.tmr.skills[0].type == 'skill'">Casts</th>
        <th *ngIf="unit.tmr.skills[0].type == 'skill'">Hits</th>
        <th *ngIf="unit.tmr.skills[0].type == 'skill'">Cost</th>
      </tr>
      <tr *ngIf="unit.tmr.skills[0]">
        <td class="tmrTypeTd">
          <img class="skilImg" src="{{'assets/skill-type/' + unit.tmr.skills[0].type + '.png'}}" />
        </td>
        <td class="tmrNameTd" *ngIf="unit.tmr.skills[0].type == 'skill'">
          <span>{{ unit.tmr.skills[0].name }}</span>
          <span *ngIf="unit.tmr.skills[0].based"><img class='atkBasedImg' src="{{'assets/atkBased/' + unit.tmr.skills[0].based + '.png'}}" /></span>
          <div *ngIf="unit.tmr.skills[0].time && unit.tmr.skills[0].time.minValue">
            <ng-template #tip_time>
              <div>
                Min time: {{ unit.tmr.skills[0].time.minValue }}<br />
                Max time: {{ unit.tmr.skills[0].time.maxValue }}
              </div>
            </ng-template>
            <img class='timeImg' src="{{'assets/icons/time.png'}}" [ngbTooltip]="tip_time"/>
          </div>
        </td>
        <td class="skillEffectTd">
          <div>{{ unit.tmr.skills[0].counterHtml }}</div>
          <div [innerHTML]="unit.tmr.skills[0].damageHtml"></div>
          <div *ngFor="let effect of unit.tmr.skills[0].effects">
            {{ effect.formatHtml }}
          </div>
        </td>
        <td class="rangeTd" *ngIf="unit.tmr.skills[0].type == 'skill'">
          <ng-template #tip_table><div [innerHTML]="unit.tmr.skills[0].skillTableHtml"></div></ng-template>
          <div [ngbTooltip]="tip_table">
            <div class="divSkillTableHtml" [innerHTML]="unit.tmr.skills[0].skillTableHtml"></div>
          </div>
        </td>
        <td class="skillCastTd" *ngIf="unit.tmr.skills[0].type == 'skill'">
          {{ unit.tmr.skills[0].count }}
        </td>
        <td class="skillHitTd" *ngIf="unit.tmr.skills[0].type == 'skill'">
          <span *ngIf="unit.tmr.skills[0].combo">{{ unit.tmr.skills[0].combo.num }}</span>
        </td>
        <td class="skillCostTd" *ngIf="unit.tmr.skills[0].type == 'skill'">
          <span *ngIf="unit.tmr.skills[0].cost">{{ unit.tmr.skills[0].cost.value }} {{ unit.tmr.skills[0].cost.type }}</span>
        </td>
      </tr>
      <tr class="emptyLine"></tr>
      <tr>
        <th [attr.colspan]="unit.tmr.skills[0] && unit.tmr.skills[0].type == 'skill' ? '7' : '2'">Master Ability</th>
      </tr>
      <tr>
        <td [attr.colspan]="unit.tmr.skills[0] && unit.tmr.skills[0].type == 'skill' ? '7' : '2'">
          <div *ngFor="let effect of unit.masterSkill.effects">
            {{ effect.formatHtml }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <table class="statsTable">
    <tbody>
      <tr>
        <th colspan="13">Unit Stats (with only job lvl 1)</th>
      </tr>
      <tr>
        <th></th>
        <th>HP</th>
        <th>TP</th>
        <th>AP</th>
        <th>ATK</th>
        <th>MAG</th>
        <th>DEX</th>
        <th>AGI</th>
        <th>LUCK</th>
        <th>MOVE</th>
        <th>JUMP</th>
      </tr>
      <tr>
        <td>Min</td>
        <td>{{ unit.stats.HP.min }}</td>
        <td>{{ unit.stats.TP.min }}</td>
        <td>{{ unit.stats.AP.min }}</td>
        <td>{{ unit.stats.ATK.min }}</td>
        <td>{{ unit.stats.MAG.min }}</td>
        <td>{{ unit.stats.DEX.min }}</td>
        <td>{{ unit.stats.AGI.min }}</td>
        <td>{{ unit.stats.LUCK.min }}</td>
        <td rowspan="2">{{ unit.stats.MOVE.min }}</td>
        <td rowspan="2">{{ unit.stats.JUMP.min }}</td>
      </tr>
      <tr>
        <td>Max</td>
        <td>{{ unit.stats.HP.max }}</td>
        <td>{{ unit.stats.TP.max }}</td>
        <td>{{ unit.stats.AP.max }}</td>
        <td>{{ unit.stats.ATK.max }}</td>
        <td>{{ unit.stats.MAG.max }}</td>
        <td>{{ unit.stats.DEX.max }}</td>
        <td>{{ unit.stats.AGI.max }}</td>
        <td>{{ unit.stats.LUCK.max }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <table class="statsTable">
    <tbody>
      <tr>
        <th colspan="11">Board Stats</th>
      </tr>
      <tr>
        <th>HP</th>
        <th>TP</th>
        <th>INITIAL AP</th>
        <th>ATK</th>
        <th>DEF</th>
        <th>MAG</th>
        <th>SPR</th>
        <th>DEX</th>
        <th>AGI</th>
        <th>LUCK</th>
        <th>CRITIC RATE</th>
      </tr>
      <tr>
        <td>{{ unit.totalBuffs.HP }}</td>
        <td>{{ unit.totalBuffs.TP }}</td>
        <td>{{ unit.totalBuffs.INITIAL_AP }}</td>
        <td>{{ unit.totalBuffs.ATK }}</td>
        <td>{{ unit.totalBuffs.DEF }}</td>
        <td>{{ unit.totalBuffs.MAG }}</td>
        <td>{{ unit.totalBuffs.SPR }}</td>
        <td>{{ unit.totalBuffs.DEX }}</td>
        <td>{{ unit.totalBuffs.AGI }}</td>
        <td>{{ unit.totalBuffs.LUCK }}</td>
        <td>{{ unit.totalBuffs.CRITIC_RATE }}</td>
      </tr>
      <tr>
        <th colspan="11" *ngIf="unit.remainingBuffs.length > 0">OTHERS</th>
      </tr>
      <tr>
        <td colspan="11" *ngIf="unit.remainingBuffs.length > 0">
          <div *ngFor="let buff of unit.remainingBuffs">{{ buff }}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row" *ngIf="jobs[0] && jobs[1] && jobs[2]">
  <table class="statsTable">
    <tbody>
      <tr>
        <th colspan="11">Jobs Stats (job lv 15 - unit lv 99)</th>
      </tr>
      <tr>
        <th>Job</th>
        <th>HP</th>
        <th>TP</th>
        <th>AP</th>
        <th>ATK</th>
        <th>MAG</th>
        <th>DEX</th>
        <th>AGI</th>
        <th>LUCK</th>
      </tr>
      <tr *ngFor="let i of [0, 1, 2]">
        <td>
          <img [className]="i == 0 ? 'mainJob' : 'subJob'" src="{{'assets/jobs/' + jobs[i].image + '.png'}}" />
        </td>
        <td>{{ unit.jobsStats[i].HP }}</td>
        <td>{{ unit.jobsStats[i].TP }}</td>
        <td>{{ unit.jobsStats[i].AP }}</td>
        <td>{{ unit.jobsStats[i].ATK }}</td>
        <td>{{ unit.jobsStats[i].MAG }}</td>
        <td>{{ unit.jobsStats[i].DEX }}</td>
        <td>{{ unit.jobsStats[i].AGI }}</td>
        <td>{{ unit.jobsStats[i].LUCK }}</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>{{ unit.totalJobsStats.HP }}</td>
        <td>{{ unit.totalJobsStats.TP }}</td>
        <td>{{ unit.totalJobsStats.AP }}</td>
        <td>{{ unit.totalJobsStats.ATK }}</td>
        <td>{{ unit.totalJobsStats.MAG }}</td>
        <td>{{ unit.totalJobsStats.DEX }}</td>
        <td>{{ unit.totalJobsStats.AGI }}</td>
        <td>{{ unit.totalJobsStats.LUCK }}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="row">
  <table class="statsTable">
    <tbody>
      <tr>
        <th colspan="8">Res Elem</th>
      </tr>
      <tr>
        <td><img class="elementImg" title="fire resistance" src="{{'assets/elements/fire.png'}}" /></td>
        <td><img class="elementImg" title="ice resistance" src="{{'assets/elements/ice.png'}}" /></td>
        <td><img class="elementImg" title="earht resistance" src="{{'assets/elements/earth.png'}}" /></td>
        <td><img class="elementImg" title="wind resistance" src="{{'assets/elements/wind.png'}}" /></td>
        <td><img class="elementImg" title="lightning resistance" src="{{'assets/elements/lightning.png'}}" /></td>
        <td><img class="elementImg" title="water resistance" src="{{'assets/elements/water.png'}}" /></td>
        <td><img class="elementImg" title="light resistance" src="{{'assets/elements/light.png'}}" /></td>
        <td><img class="elementImg" title="dark resistance" src="{{'assets/elements/dark.png'}}" /></td>
      </tr>
      <tr>
        <td class="heightResTd"><span *ngIf="unit.stats.FIRE.min">{{ unit.stats.FIRE.min }} %</span></td>
        <td><span *ngIf="unit.stats.ICE.min">{{ unit.stats.ICE.min }} %</span></td>
        <td><span *ngIf="unit.stats.EARTH.min">{{ unit.stats.EARTH.min }} %</span></td>
        <td><span *ngIf="unit.stats.WIND.min">{{ unit.stats.WIND.min }} %</span></td>
        <td><span *ngIf="unit.stats.LIGHTNING.min">{{ unit.stats.LIGHTNING.min }} %</span></td>
        <td><span *ngIf="unit.stats.WATER.min">{{ unit.stats.WATER.min }} %</span></td>
        <td><span *ngIf="unit.stats.LIGHT.min">{{ unit.stats.LIGHT.min }} %</span></td>
        <td><span *ngIf="unit.stats.DARK.min">{{ unit.stats.DARK.min }} %</span></td>
      </tr>
    </tbody>
  </table>

  <table class="statsTable">
    <tbody>
      <tr>
        <th colspan="5">Res Damage</th>
      </tr>
      <tr>
        <td><img class="damageImg" title="slash resistance" src="{{'assets/damage/neutral_slash.png'}}" /></td>
        <td><img class="damageImg" title="pierce resistance" src="{{'assets/damage/neutral_pierce.png'}}" /></td>
        <td><img class="damageImg" title="strike resistance" src="{{'assets/damage/neutral_strike.png'}}" /></td>
        <td><img class="damageImg" title="missile resistance" src="{{'assets/damage/neutral_missile.png'}}" /></td>
        <td><img class="damageImg" title="magic resistance" src="{{'assets/damage/neutral_magic.png'}}" /></td>
      </tr>
      <tr>
        <td class="heightResTd"><span *ngIf="unit.stats.SLASH.min">{{ unit.stats.SLASH.min }} %</span></td>
        <td><span *ngIf="unit.stats.PIERCE.min">{{ unit.stats.PIERCE.min }} %</span></td>
        <td><span *ngIf="unit.stats.STRIKE.min">{{ unit.stats.STRIKE.min }} %</span></td>
        <td><span *ngIf="unit.stats.MISSILE.min">{{ unit.stats.MISSILE.min }} %</span></td>
        <td><span *ngIf="unit.stats.MAGIC.min">{{ unit.stats.MAGIC.min }} %</span></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="row">
  <table class="statsTable">
    <tbody>
      <tr>
        <th colspan="15">Res Status Ailment</th>
      </tr>
      <tr>
        <td><img class="statusAilmentImg" title="poison resistance" src="{{'assets/status-ailments/POISON.png'}}" /></td>
        <td><img class="statusAilmentImg" title="blind resistance" src="{{'assets/status-ailments/BLIND.png'}}" /></td>
        <td><img class="statusAilmentImg" title="sleep resistance" src="{{'assets/status-ailments/SLEEP.png'}}" /></td>
        <td><img class="statusAilmentImg" title="silence resistance" src="{{'assets/status-ailments/SILENCE.png'}}" /></td>
        <td><img class="statusAilmentImg" title="paralyze resistance" src="{{'assets/status-ailments/PARALYZE.png'}}" /></td>
        <td><img class="statusAilmentImg" title="confusion resistance" src="{{'assets/status-ailments/CONFUSION.png'}}" /></td>
        <td><img class="statusAilmentImg" title="petrify resistance" src="{{'assets/status-ailments/PETRIFY.png'}}" /></td>
        <td><img class="statusAilmentImg" title="toad resistance" src="{{'assets/status-ailments/TOAD.png'}}" /></td>
      </tr>
      <tr>
        <td class="heightResTd"><span *ngIf="unit.stats.POISON.min">{{ unit.stats.POISON.min }} %</span></td>
        <td><span *ngIf="unit.stats.BLIND.min">{{ unit.stats.BLIND.min }} %</span></td>
        <td><span *ngIf="unit.stats.SLEEP.min">{{ unit.stats.SLEEP.min }} %</span></td>
        <td><span *ngIf="unit.stats.SILENCE.min">{{ unit.stats.SILENCE.min }} %</span></td>
        <td><span *ngIf="unit.stats.PARALYZE.min">{{ unit.stats.PARALYZE.min }} %</span></td>
        <td><span *ngIf="unit.stats.CONFUSION.min">{{ unit.stats.CONFUSION.min }} %</span></td>
        <td><span *ngIf="unit.stats.PETRIFY.min">{{ unit.stats.PETRIFY.min }} %</span></td>
        <td><span *ngIf="unit.stats.TOAD.min">{{ unit.stats.TOAD.min }} %</span></td>
      </tr>
      <tr>
        <td><img class="statusAilmentImg" title="charm resistance" src="{{'assets/status-ailments/CHARM.png'}}" /></td>
        <td><img class="statusAilmentImg" title="slow resistance" src="{{'assets/status-ailments/SLOW.png'}}" /></td>
        <td><img class="statusAilmentImg" title="stop resistance" src="{{'assets/status-ailments/STOP.png'}}" /></td>
        <td><img class="statusAilmentImg" title="immobilize resistance" src="{{'assets/status-ailments/IMMOBILIZE.png'}}" /></td>
        <td><img class="statusAilmentImg" title="disable resistance" src="{{'assets/status-ailments/DISABLE.png'}}" /></td>
        <td><img class="statusAilmentImg" title="berserk resistance" src="{{'assets/status-ailments/BERSERK.png'}}" /></td>
        <td><img class="statusAilmentImg" title="doom resistance" src="{{'assets/status-ailments/DOOM.png'}}" /></td>
        <td></td>
      </tr>
      <tr>
        <td class="heightResTd"><span *ngIf="unit.stats.CHARM.min">{{ unit.stats.CHARM.min }} %</span></td>
        <td><span *ngIf="unit.stats.SLOW.min">{{ unit.stats.SLOW.min }} %</span></td>
        <td><span *ngIf="unit.stats.STOP.min">{{ unit.stats.STOP.min }} %</span></td>
        <td><span *ngIf="unit.stats.IMMOBILIZE.min">{{ unit.stats.IMMOBILIZE.min }} %</span></td>
        <td><span *ngIf="unit.stats.DISABLE.min">{{ unit.stats.DISABLE.min }} %</span></td>
        <td><span *ngIf="unit.stats.BERSERK.min">{{ unit.stats.BERSERK.min }} %</span></td>
        <td><span *ngIf="unit.stats.DOOM.min">{{ unit.stats.DOOM.min }} %</span></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row" *ngFor="let i of [0, 1, 2, 3]">
  <table class="skillsTable">
    <tbody>
      <tr>
        <th *ngIf="i == 0 && jobs[0]" colspan="9">
          <img class="mainJob" src="{{'assets/jobs/' + jobs[0].image + '.png'}}" />&nbsp;Main Job
        </th>
        <th *ngIf="i != 0 && jobs[i - 1]" colspan="9">
          <img class="subJob" src="{{'assets/jobs/' + jobs[i - 1].image + '.png'}}" />&nbsp;{{ jobs[i - 1].name }}
        </th>
      </tr>
      <tr>
        <th class="skillJobTd">Job lvl</th>
        <th class="skillStarTd">Star lvl</th>
        <th class="skillTypeTd">Type</th>
        <th class="skillNameTd">name</th>
        <th>Effects</th>
        <th class="rangeTd">Range</th>
        <th class="skillCastTd">Casts</th>
        <th class="skillHitTd">Hits</th>
        <th class="skillCostTd">Cost</th>
      </tr>
      <tr *ngFor="let skill of getSkillsPerJob(i)">
        <td>{{ skill.jobLevel }}</td>
        <td>{{ skill.unlockStar }}</td>
        <td>
          <img class="skilImg" title="skill type" src="{{'assets/skill-type/' + skill.type + '.png'}}" />
          <span *ngIf="skill.based"><img title="{{ skill.based }}" class='atkBasedImg' src="{{'assets/atkBased/' + skill.based + '.png'}}" /></span>
          <div *ngIf="skill.time && skill.time.minValue">
            <ng-template #tip_time>
              <div>
                Min time: {{ skill.time.minValue }}<br />
                Max time: {{ skill.time.maxValue }}
              </div>
            </ng-template>
            <img class='timeImg' src="{{'assets/icons/time.png'}}" [ngbTooltip]="tip_time"/>
          </div>
        </td>
        <td>{{ skill.name }}</td>
        <td class="skillEffectTd">
          <div>{{ skill.counterHtml }}</div>
          <div [innerHTML]="skill.damageHtml"></div>
          <div *ngFor="let effect of skill.effects">
            {{ effect.formatHtml }}
          </div>
        </td>
        <td>
          <ng-template #tip_table><div [innerHTML]="skill.skillTableHtml"></div></ng-template>
          <div [ngbTooltip]="tip_table">
            <div class="divSkillTableHtml" [innerHTML]="skill.skillTableHtml"></div>
          </div>
        </td>
        <td>{{ skill.count }}</td>
        <td><span *ngIf="skill.combo">{{ skill.combo.num }}</span></td>
        <td><span *ngIf="skill.cost">{{ skill.cost.value }} {{ skill.cost.type }}</span></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row" *ngIf="unit.limit">
  <table class="skillsTable">
    <tbody>
      <tr>
        <th [attr.colspan]="unit.limit.based ? '6' : '5'">Limit Burst</th>
      </tr>
      <tr>
        <th class="limitNameTd">name</th>
        <th [attr.colspan]="unit.limit.based ? '2' : '1'">Effects</th>
        <th class="rangeTd">Range</th>
        <th class="skillHitTd">Hits</th>
        <th class="skillCostTd">Cost</th>
      </tr>
      <tr>
        <td>{{ unit.limit.name }}</td>
        <td class="limitBased" *ngIf="unit.limit.based">
          <img class='atkBasedImg' src="{{ 'assets/atkBased/' + unit.limit.based + '.png' }}" />
          <div *ngIf="unit.limit.time && unit.limit.time.minValue">
            <ng-template #tip_time>
              <div>
                Min time: {{ unit.limit.time.minValue }}<br />
                Max time: {{ unit.limit.time.maxValue }}
              </div>
            </ng-template>
            <img class='timeImg' src="{{'assets/icons/time.png'}}" [ngbTooltip]="tip_time"/>
          </div>
        </td>
        <td [className]="unit.limit.based ? 'skillEffectTdAndNoBorderLeft' : 'skillEffectTd'">
          <div class="limitDamageDiv" [innerHTML]="unit.limit.damageHtml"></div>
          <div *ngFor="let effect of unit.limit.effects">
            {{ effect.formatHtml }}
          </div>
        </td>
        <td>
          <ng-template #tip_table><div [innerHTML]="unit.limit.skillTableHtml"></div></ng-template>
          <div [ngbTooltip]="tip_table">
            <div class="divSkillTableHtml" [innerHTML]="unit.limit.skillTableHtml"></div>
          </div>
        </td>
        <td><span *ngIf="unit.limit.combo">{{ unit.limit.combo.num }}</span></td>
        <td><span *ngIf="unit.limit.cost">{{ unit.limit.cost.value }} {{ unit.limit.cost.type }}</span></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row" *ngIf="grid">
  <div class="hexGridContainer" style="text-align: center;">
    <ul class="hexGrid">
      <li *ngFor="let node of grid.gridNodes; let index;" (click)="clickNode(node)">
        <div class="hex hideNode" *ngIf="grid.nodesForGrid[node].type == 'hidden'">{{ node }}</div>

        <div class="hex activated" *ngIf="grid.nodesForGrid[node].type == 'center'">
          <span class="fullIcon"><img src="{{ '/assets/units/' + unit.image + '_m.png' }}"></span>
        </div>

        <div class="hex" [ngClass]="{'activated': unit.board.nodes[node].activated}" *ngIf="grid.nodesForGrid[node].type == 'text'">
          <span class="text">{{ grid.nodesForGrid[node].value }}</span>
        </div>
      </li>
    </ul>

    <div [innerHTML]="grid.lines"></div>
  </div>
</div>
