.tab-content {
  width: 1200px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.nav-tabs {
  border-bottom: 0;
  background-color: #F4F5F9;
  height: 55px;
}

.nav-tabs .nav-item {
  margin-bottom: 0;
}

.nav-tabs .nav-link {
  border: 0;
  height: 100%;
  padding-top: 15px;
  color: var(--th-background);
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
  font-weight: bold;
  border-bottom: 4px solid var(--th-background);
  background-color: #F4F5F9;
}

.leftBlock {
  width: 350px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}

.rightBlock {
  width: 830px;
  display: inline-block;
  vertical-align: top;
}

.unitTable, .tmrTable, .tmrSkillTable, .masterSkillTable, .statsTable {
  width: 100%;
}

.statsTable:not(:first-child) {
  margin-top: 10px;
}

.skillsTable:not(:first-child) {
  margin-top: 10px;
}

.elementImg, .damageImg, .statusAilmentImg, .skilImg, .damageSkillImg, .rarityImg {
  height: 32px;
}

.unitImg {
  height: 250px;
  margin-top: 10px;
}

.mainJob {
  height: 40px;
  background: url("assets/jobs/base_main.png") 0px 0px no-repeat;
  background-size: 40px;
  padding: 5px;
}

.subJob {
  height: 40px;
  background: url("assets/jobs/base_sub.png") 0px 0px no-repeat;
  background-size: 40px;
  padding: 5px;
}

.limitBased{
  border-right: none;
  padding-right: 0px;
  width: 50px;
}


.tmrSkillTable, .masterSkillTable {
  margin-top: 10px;
}

.jobTd {
  width: 33%;
}

.skillsTable {
  width: 1200px;
}

.rangeTd {
  width: 69px;
}

.skillJobTd {
  width: 70px;
}

.skillStarTd {
  width: 72px;
}

.skillTypeTd {
  width: 85px;
}

.skillCastTd {
  width: 61px;
}

.skillHitTd {
  width: 50px;
}

.skillCostTd {
  width: 60px;
}

.skillNameTd {
  width: 200px;
}

.tmrNameTd {
  width: 150px;
}

.tmrTypeTd {
  width: 60px;
}

.skillEffectTdAndNoBorderLeft {
  text-align: left;
  border-left: none;
}

.skillEffectTd {
  text-align: left;
}

.limitNameTd {
  width: 300px;
}

.heightResTd {
  height: 33px;
}

.timeImg {
  height: 32px;
  cursor: pointer;
  margin-top: 2px;
}
