<ul ngbNav #nav="ngbNav" class="nav-tabs nav-fill" [(activeId)]="activeTab">
  <li [ngbNavItem]="1">
    <a ngbNavLink>CHARACTER</a>
    <ng-template ngbNavContent #character>
      <div class="leftBlock">
        <table class="unitTable">
          <tbody>
            <tr>
              <th colspan="6">{{ unit.name }}</th>
            </tr>
            <tr>
              <td colspan="6"><img class="unitImg" src="{{'assets/units/' + unit.image + '.png'}}" /></td>
            </tr>
            <tr>
              <th class="sub" colspan="3">Rarity</th>
              <th class="sub" colspan="3">Element</th>
            </tr>
            <tr>
              <td colspan="3"><img class="rarityImg" src="{{'assets/rarity/' + unit.rarity + '.png'}}" /></td>
              <td colspan="3"><img class="rarityImg" src="{{'assets/elements/' + unit.element + '.png'}}" (click)="clickSpecialBismark()"/></td>
            </tr>
            <tr>
              <th class="sub" colspan="3">Move</th>
              <th class="sub" colspan="3">Jump</th>
            </tr>
            <tr>
              <td colspan="3">{{ unit.stats.MOVE.min }}</td>
              <td colspan="3">{{ unit.stats.JUMP.min }}</td>
            </tr>
            <tr>
              <th class="sub" colspan="6">Jobs</th>
            </tr>
            <tr *ngIf="jobs[0] && jobs[1] && jobs[2]">
              <td class="jobTd" *ngFor="let i of [0, 1, 2]" colspan="2">
                <img [className]="i == 0 ? 'mainJob' : 'subJob'" src="{{'assets/jobs/' + jobs[i].image + '.png'}}" /><br />
                {{ jobs[i].name }}
              </td>
            </tr>
            <tr *ngIf="jobs[0] && jobs[1] && jobs[2]">
              <th class="sub" colspan="6">Weapons</th>
            </tr>
            <tr>
              <td colspan="6">
                <div *ngFor="let equip of jobs[0].equipments.weapons; let j = index">
                  <span>{{ getEquipementType(equip) }}<span *ngIf="j !== (jobs[0].equipments.weapons.length - 1)">&nbsp;-&nbsp;</span></span>
                </div>
              </td>
            </tr>
            <tr>
              <th class="sub" colspan="6">Armors</th>
            </tr>
            <tr>
              <td colspan="6">
                <div style="display: inline-block;" *ngFor="let equip of jobs[0].equipments.armors; let j = index">
                  <span>{{ getEquipementType(equip) }}<span *ngIf="j !== (jobs[0].equipments.armors.length - 1)">&nbsp;-&nbsp;</span></span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="rightBlock">
        <table class="tmrTable">
          <tbody>
            <tr>
              <th colspan="20">TMR</th>
            </tr>
            <tr>
              <th class="sub">Name</th>
              <th class="sub">Type</th>
              <th class="sub" *ngFor="let statType of unit.tmr.statsTypes">{{ statType }}</th>
            </tr>
            <tr>
              <td>{{ unit.tmr.name }}</td>
              <td>{{ getEquipementType(unit.tmr.type) }}</td>
              <td *ngFor="let statType of unit.tmr.statsTypes">{{ unit.tmr.stats[statType] }}</td>
            </tr>
          </tbody>
        </table>

        <table class="tmrSkillTable">
          <tbody>
            <tr *ngIf="unit.tmr.skills[0]">
              <th [attr.colspan]="unit.tmr.skills[0] && unit.tmr.skills[0].type == 'skill' ? '7' : '2'">TMR Skill</th>
            </tr>
            <tr *ngIf="unit.tmr.skills[0]">
              <th class="sub">Type</th>
              <th class="sub" *ngIf="unit.tmr.skills[0].type == 'skill'">name</th>
              <th class="sub">Effects</th>
              <th class="sub" *ngIf="unit.tmr.skills[0].type == 'skill'">Range</th>
              <th class="sub" *ngIf="unit.tmr.skills[0].type == 'skill'">Casts</th>
              <th class="sub" *ngIf="unit.tmr.skills[0].type == 'skill'">Hits</th>
              <th class="sub" *ngIf="unit.tmr.skills[0].type == 'skill'">Cost</th>
            </tr>
            <tr *ngIf="unit.tmr.skills[0]">
              <td class="tmrTypeTd">
                <img class="skilImg" src="{{'assets/skill-type/' + unit.tmr.skills[0].type + '.png'}}" />
              </td>
              <td class="tmrNameTd" *ngIf="unit.tmr.skills[0].type == 'skill'">
                <span>{{ unit.tmr.skills[0].name }}</span>
                <span *ngIf="unit.tmr.skills[0].based"><img class='atkBasedImg' src="{{'assets/atkBased/' + unit.tmr.skills[0].based + '.png'}}" /></span>
                <div *ngIf="unit.tmr.skills[0].time && unit.tmr.skills[0].time.minValue">
                  <ng-template #tip_time>
                    <div>
                      Min time: {{ unit.tmr.skills[0].time.minValue }}<br />
                      Max time: {{ unit.tmr.skills[0].time.maxValue }}
                    </div>
                  </ng-template>
                  <img class='timeImg' src="{{'assets/icons/time.png'}}" [ngbTooltip]="tip_time"/>
                </div>
              </td>
              <td class="skillEffectTd">
                <div>{{ unit.tmr.skills[0].counterHtml }}</div>
                <div [innerHTML]="unit.tmr.skills[0].damageHtml"></div>
                <div *ngFor="let effect of unit.tmr.skills[0].effects">
                  {{ effect.formatHtml }}
                </div>
              </td>
              <td class="rangeTd" *ngIf="unit.tmr.skills[0].type == 'skill'">
                <ng-template #tip_table><div [innerHTML]="unit.tmr.skills[0].skillTableHtml"></div></ng-template>
                <div [ngbTooltip]="tip_table" triggers="click" [autoClose]="true">
                  <div class="divSkillTableHtml" [innerHTML]="unit.tmr.skills[0].skillTableHtml"></div>
                </div>
              </td>
              <td class="skillCastTd" *ngIf="unit.tmr.skills[0].type == 'skill'">
                {{ unit.tmr.skills[0].count }}
              </td>
              <td class="skillHitTd" *ngIf="unit.tmr.skills[0].type == 'skill'">
                <span *ngIf="unit.tmr.skills[0].combo">{{ unit.tmr.skills[0].combo.num }}</span>
              </td>
              <td class="skillCostTd" *ngIf="unit.tmr.skills[0].type == 'skill'">
                <span *ngIf="unit.tmr.skills[0].cost">{{ unit.tmr.skills[0].cost.value }} {{ unit.tmr.skills[0].cost.type }}</span>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="masterSkillTable">
          <tbody>
            <tr>
              <th>Master Ability</th>
            </tr>
            <tr *ngFor="let masterSkill of unit.masterSkill">
              <td>
                <div *ngFor="let effect of masterSkill.effects">
                  {{ effect.formatHtml }}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>STATS</a>
    <ng-template ngbNavContent #stats>
      <div class="leftBlock" *ngIf="!specialBismark">
        <table class="unitTable">
          <tbody>
            <tr>
              <th colspan="6">{{ unit.name }}</th>
            </tr>
            <tr>
              <td colspan="6"><img class="unitImg" src="{{'assets/units/' + unit.image + '.png'}}" /></td>
            </tr>
            <tr>
              <th class="sub" colspan="3">Rarity</th>
              <th class="sub" colspan="3">Element</th>
            </tr>
            <tr>
              <td colspan="3"><img class="rarityImg" src="{{'assets/elements/' + unit.element + '.png'}}" /></td>
              <td colspan="3"><img class="rarityImg" src="{{'assets/rarity/' + unit.rarity + '.png'}}" /></td>
            </tr>
            <tr>
              <th class="sub" colspan="3">Move</th>
              <th class="sub" colspan="3">Jump</th>
            </tr>
            <tr>
              <td colspan="3">{{ unit.stats.MOVE.min }}</td>
              <td colspan="3">{{ unit.stats.JUMP.min }}</td>
            </tr>
            <tr>
              <th class="sub" colspan="6">Jobs</th>
            </tr>
            <tr *ngIf="jobs[0] && jobs[1] && jobs[2]">
              <td class="jobTd" *ngFor="let i of [0, 1, 2]" colspan="2">
                <img [className]="i == 0 ? 'mainJob' : 'subJob'" src="{{'assets/jobs/' + jobs[i].image + '.png'}}" /><br />
                {{ jobs[i].name }}
              </td>
            </tr>
            <tr *ngIf="jobs[0] && jobs[1] && jobs[2]">
              <th class="sub" colspan="6">Weapons</th>
            </tr>
            <tr>
              <td colspan="6">
                <div *ngFor="let equip of jobs[0].equipments.weapons; let j = index">
                  <span>{{ getEquipementType(equip) }}<span *ngIf="j !== (jobs[0].equipments.weapons.length - 1)">&nbsp;-&nbsp;</span></span>
                </div>
              </td>
            </tr>
            <tr>
              <th class="sub" colspan="6">Armors</th>
            </tr>
            <tr>
              <td colspan="6">
                <div style="display: inline-block;" *ngFor="let equip of jobs[0].equipments.armors; let j = index">
                  <span>{{ getEquipementType(equip) }}<span *ngIf="j !== (jobs[0].equipments.armors.length - 1)">&nbsp;-&nbsp;</span></span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="rightBlock">
        <table class="statsTable">
          <tbody>
            <tr>
              <th colspan="13">Unit Stats (with only job lvl 1)</th>
            </tr>
            <tr>
              <th class="sub"></th>
              <th class="sub">HP</th>
              <th class="sub">TP</th>
              <th class="sub">AP</th>
              <th class="sub">ATK</th>
              <th class="sub">MAG</th>
              <th class="sub">DEX</th>
              <th class="sub">AGI</th>
              <th class="sub">LUCK</th>
              <th class="sub">MOVE</th>
              <th class="sub">JUMP</th>
            </tr>
            <tr>
              <td>Min</td>
              <td>{{ unit.stats.HP.min }}</td>
              <td>{{ unit.stats.TP.min }}</td>
              <td>{{ unit.stats.AP.min }}</td>
              <td>{{ unit.stats.ATK.min }}</td>
              <td>{{ unit.stats.MAG.min }}</td>
              <td>{{ unit.stats.DEX.min }}</td>
              <td>{{ unit.stats.AGI.min }}</td>
              <td>{{ unit.stats.LUCK.min }}</td>
              <td rowspan="2">{{ unit.stats.MOVE.min }}</td>
              <td rowspan="2">{{ unit.stats.JUMP.min }}</td>
            </tr>
            <tr>
              <td>Max</td>
              <td>{{ unit.stats.HP.max }}</td>
              <td>{{ unit.stats.TP.max }}</td>
              <td>{{ unit.stats.AP.max }}</td>
              <td>{{ unit.stats.ATK.max }}</td>
              <td>{{ unit.stats.MAG.max }}</td>
              <td>{{ unit.stats.DEX.max }}</td>
              <td>{{ unit.stats.AGI.max }}</td>
              <td>{{ unit.stats.LUCK.max }}</td>
            </tr>
          </tbody>
        </table>

        <table class="statsTable">
          <tbody>
            <tr>
              <th colspan="11">Board Stats</th>
            </tr>
            <tr>
              <th class="sub">HP</th>
              <th class="sub">TP</th>
              <th class="sub">INITIAL AP</th>
              <th class="sub">ATK</th>
              <th class="sub">DEF</th>
              <th class="sub">MAG</th>
              <th class="sub">SPR</th>
              <th class="sub">DEX</th>
              <th class="sub">AGI</th>
              <th class="sub">LUCK</th>
              <th class="sub">CRITIC RATE</th>
            </tr>
            <tr>
              <td>{{ unit.totalBuffs.HP }}</td>
              <td>{{ unit.totalBuffs.TP }}</td>
              <td>{{ unit.totalBuffs.INITIAL_AP }}</td>
              <td>{{ unit.totalBuffs.ATK }}</td>
              <td>{{ unit.totalBuffs.DEF }}</td>
              <td>{{ unit.totalBuffs.MAG }}</td>
              <td>{{ unit.totalBuffs.SPR }}</td>
              <td>{{ unit.totalBuffs.DEX }}</td>
              <td>{{ unit.totalBuffs.AGI }}</td>
              <td>{{ unit.totalBuffs.LUCK }}</td>
              <td>{{ unit.totalBuffs.CRITIC_RATE }}</td>
            </tr>
            <tr>
              <th class="sub" colspan="11" *ngIf="unit.remainingBuffs.length > 0">OTHERS</th>
            </tr>
            <tr>
              <td colspan="11" *ngIf="unit.remainingBuffs.length > 0">
                <div *ngFor="let buff of unit.remainingBuffs">{{ buff }}</div>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="statsTable">
          <tbody>
            <tr>
              <th colspan="11">Jobs Stats (job lv 15 - unit lv 99)</th>
            </tr>
            <tr>
              <th class="sub">Job</th>
              <th class="sub">HP</th>
              <th class="sub">TP</th>
              <th class="sub">AP</th>
              <th class="sub">ATK</th>
              <th class="sub">MAG</th>
              <th class="sub">DEX</th>
              <th class="sub">AGI</th>
              <th class="sub">LUCK</th>
            </tr>
            <tr *ngFor="let i of [0, 1, 2]">
              <td>
                <img [className]="i == 0 ? 'mainJob' : 'subJob'" src="{{'assets/jobs/' + jobs[i].image + '.png'}}" />
              </td>
              <td>{{ unit.jobsStats[i].HP }}</td>
              <td>{{ unit.jobsStats[i].TP }}</td>
              <td>{{ unit.jobsStats[i].AP }}</td>
              <td>{{ unit.jobsStats[i].ATK }}</td>
              <td>{{ unit.jobsStats[i].MAG }}</td>
              <td>{{ unit.jobsStats[i].DEX }}</td>
              <td>{{ unit.jobsStats[i].AGI }}</td>
              <td>{{ unit.jobsStats[i].LUCK }}</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>{{ unit.totalJobsStats.HP }}</td>
              <td>{{ unit.totalJobsStats.TP }}</td>
              <td>{{ unit.totalJobsStats.AP }}</td>
              <td>{{ unit.totalJobsStats.ATK }}</td>
              <td>{{ unit.totalJobsStats.MAG }}</td>
              <td>{{ unit.totalJobsStats.DEX }}</td>
              <td>{{ unit.totalJobsStats.AGI }}</td>
              <td>{{ unit.totalJobsStats.LUCK }}</td>
            </tr>
          </tbody>
        </table>

        <table class="statsTable">
          <tbody>
            <tr>
              <th colspan="8">Res Elem</th>
            </tr>
            <tr>
              <th class="sub"><img class="elementImg" title="fire resistance" src="{{'assets/elements/fire.png'}}" /></th>
              <th class="sub"><img class="elementImg" title="ice resistance" src="{{'assets/elements/ice.png'}}" /></th>
              <th class="sub"><img class="elementImg" title="earht resistance" src="{{'assets/elements/earth.png'}}" /></th>
              <th class="sub"><img class="elementImg" title="wind resistance" src="{{'assets/elements/wind.png'}}" /></th>
              <th class="sub"><img class="elementImg" title="lightning resistance" src="{{'assets/elements/lightning.png'}}" /></th>
              <th class="sub"><img class="elementImg" title="water resistance" src="{{'assets/elements/water.png'}}" /></th>
              <th class="sub"><img class="elementImg" title="light resistance" src="{{'assets/elements/light.png'}}" /></th>
              <th class="sub"><img class="elementImg" title="dark resistance" src="{{'assets/elements/dark.png'}}" /></th>
            </tr>
            <tr>
              <td class="heightResTd"><span *ngIf="unit.stats.FIRE_RES.min">{{ unit.stats.FIRE_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.ICE_RES.min">{{ unit.stats.ICE_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.EARTH_RES.min">{{ unit.stats.EARTH_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.WIND_RES.min">{{ unit.stats.WIND_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.LIGHTNING_RES.min">{{ unit.stats.LIGHTNING_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.WATER_RES.min">{{ unit.stats.WATER_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.LIGHT_RES.min">{{ unit.stats.LIGHT_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.DARK_RES.min">{{ unit.stats.DARK_RES.min }} %</span></td>
            </tr>
          </tbody>
        </table>

        <table class="statsTable">
          <tbody>
            <tr>
              <th colspan="5">Res Damage</th>
            </tr>
            <tr>
              <th class="sub"><img class="damageImg" title="slash resistance" src="{{'assets/damage/neutral_slash.png'}}" /></th>
              <th class="sub"><img class="damageImg" title="pierce resistance" src="{{'assets/damage/neutral_pierce.png'}}" /></th>
              <th class="sub"><img class="damageImg" title="strike resistance" src="{{'assets/damage/neutral_strike.png'}}" /></th>
              <th class="sub"><img class="damageImg" title="missile resistance" src="{{'assets/damage/neutral_missile.png'}}" /></th>
              <th class="sub"><img class="damageImg" title="magic resistance" src="{{'assets/damage/neutral_magic.png'}}" /></th>
            </tr>
            <tr>
              <td class="heightResTd"><span *ngIf="unit.stats.SLASH_RES.min">{{ unit.stats.SLASH_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.PIERCE_RES.min">{{ unit.stats.PIERCE_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.STRIKE_RES.min">{{ unit.stats.STRIKE_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.MISSILE_RES.min">{{ unit.stats.MISSILE_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.MAGIC_RES.min">{{ unit.stats.MAGIC_RES.min }} %</span></td>
            </tr>
          </tbody>
        </table>

        <table class="statsTable">
          <tbody>
            <tr>
              <th colspan="15">Res Status Ailment</th>
            </tr>
            <tr>
              <th class="sub"><img class="statusAilmentImg" title="poison resistance" src="{{'assets/status-ailments/POISON.png'}}" /></th>
              <th class="sub"><img class="statusAilmentImg" title="blind resistance" src="{{'assets/status-ailments/BLIND.png'}}" /></th>
              <th class="sub"><img class="statusAilmentImg" title="sleep resistance" src="{{'assets/status-ailments/SLEEP.png'}}" /></th>
              <th class="sub"><img class="statusAilmentImg" title="silence resistance" src="{{'assets/status-ailments/SILENCE.png'}}" /></th>
              <th class="sub"><img class="statusAilmentImg" title="paralyze resistance" src="{{'assets/status-ailments/PARALYZE.png'}}" /></th>
              <th class="sub"><img class="statusAilmentImg" title="confusion resistance" src="{{'assets/status-ailments/CONFUSION.png'}}" /></th>
              <th class="sub"><img class="statusAilmentImg" title="petrify resistance" src="{{'assets/status-ailments/PETRIFY.png'}}" /></th>
              <th class="sub"><img class="statusAilmentImg" title="toad resistance" src="{{'assets/status-ailments/TOAD.png'}}" /></th>
            </tr>
            <tr>
              <td class="heightResTd"><span *ngIf="unit.stats.POISON_RES.min">{{ unit.stats.POISON_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.BLIND_RES.min">{{ unit.stats.BLIND_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.SLEEP_RES.min">{{ unit.stats.SLEEP_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.SILENCE_RES.min">{{ unit.stats.SILENCE_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.PARALYZE_RES.min">{{ unit.stats.PARALYZE_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.CONFUSION_RES.min">{{ unit.stats.CONFUSION_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.PETRIFY_RES.min">{{ unit.stats.PETRIFY_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.TOAD_RES.min">{{ unit.stats.TOAD_RES.min }} %</span></td>
            </tr>
            <tr>
              <th class="sub"><img class="statusAilmentImg" title="charm resistance" src="{{'assets/status-ailments/CHARM.png'}}" /></th>
              <th class="sub"><img class="statusAilmentImg" title="slow resistance" src="{{'assets/status-ailments/SLOW.png'}}" /></th>
              <th class="sub"><img class="statusAilmentImg" title="stop resistance" src="{{'assets/status-ailments/STOP.png'}}" /></th>
              <th class="sub"><img class="statusAilmentImg" title="immobilize resistance" src="{{'assets/status-ailments/IMMOBILIZE.png'}}" /></th>
              <th class="sub"><img class="statusAilmentImg" title="disable resistance" src="{{'assets/status-ailments/DISABLE.png'}}" /></th>
              <th class="sub"><img class="statusAilmentImg" title="berserk resistance" src="{{'assets/status-ailments/BERSERK.png'}}" /></th>
              <th class="sub"><img class="statusAilmentImg" title="doom resistance" src="{{'assets/status-ailments/DOOM.png'}}" /></th>
              <th class="sub"></th>
            </tr>
            <tr>
              <td class="heightResTd"><span *ngIf="unit.stats.CHARM_RES.min">{{ unit.stats.CHARM_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.SLOW_RES.min">{{ unit.stats.SLOW_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.STOP_RES.min">{{ unit.stats.STOP_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.IMMOBILIZE_RES.min">{{ unit.stats.IMMOBILIZE_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.DISABLE_RES.min">{{ unit.stats.DISABLE_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.BERSERK_RES.min">{{ unit.stats.BERSERK_RES.min }} %</span></td>
              <td><span *ngIf="unit.stats.DOOM_RES.min">{{ unit.stats.DOOM_RES.min }} %</span></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>SKILLS</a>
    <ng-template ngbNavContent #skills>
      <table class="skillsTable" *ngFor="let i of ['support', 'counter']">
        <tbody>
          <tr>
            <th colspan="20">
              <img class="skilImg" title="skill type" src="{{'assets/skill-type/' + i + '.png'}}" /> {{ i | titlecase }}
            </th>
          </tr>
          <tr>
            <th class="sub skillJobTd">Job</th>
            <th class="sub skillJobTd">Job lvl</th>
            <th class="sub skillStarTd">Star lvl</th>
            <th class="sub skillNameTd">Name</th>
            <th class="sub">Effects</th>
            <th *ngIf="i == 'counter'" class="sub rangeTd">Range</th>
            <th *ngIf="i == 'counter'" class="sub skillHitTd">Hits</th>
          </tr>
          <tr *ngFor="let skill of getSkillsPerType(i)">
            <td><img class="subJob" src="{{'assets/jobs/' + jobs[(skill.unlockJob - 1)].image + '.png'}}" /></td>
            <td>{{ skill.jobLevel }}</td>
            <td>{{ skill.unlockStar }}</td>
            <td>{{ skill.name }}</td>
            <td class="skillEffectTd">
              <div>{{ skill.counterHtml }}</div>
              <div [innerHTML]="skill.damageHtml"></div>
              <div *ngFor="let effect of skill.effects">
                {{ effect.formatHtml }}
              </div>
            </td>
            <td *ngIf="i == 'counter'">
              <ng-template #tip_table><div [innerHTML]="skill.skillTableHtml"></div></ng-template>
              <div [ngbTooltip]="tip_table" triggers="click" [autoClose]="true">
                <div class="divSkillTableHtml" [innerHTML]="skill.skillTableHtml"></div>
              </div>
            </td>
            <td *ngIf="i == 'counter'"><span *ngIf="skill.combo">{{ skill.combo.num }}</span></td>
          </tr>
        </tbody>
      </table>

      <table class="skillsTable">
        <tbody>
          <tr>
            <th class="sub"></th>
            <th class="sub"></th>
            <th class="sub">Effects</th>
            <th class="rangeTd sub">Range</th>
            <th class="skillHitTd sub">Hits</th>
          </tr>
          <tr>
            <td class="skillNameTd">Basic Attack</td>
            <td>
              <span *ngIf="unit.attack.based"><img title="{{ unit.attack.based }}" class='atkBasedImg' src="{{'assets/atkBased/' + unit.attack.based + '.png'}}" /></span>
            </td>
            <td class="skillEffectTd">
              <div [innerHTML]="unit.attack.damageHtml"></div>
              <div *ngFor="let effect of unit.attack.effects">
                {{ effect.formatHtml }}
              </div>
            </td>
            <td>
              <ng-template #tip_table><div [innerHTML]="unit.attack.skillTableHtml"></div></ng-template>
              <div [ngbTooltip]="tip_table" triggers="click" [autoClose]="true">
                <div class="divSkillTableHtml" [innerHTML]="unit.attack.skillTableHtml"></div>
              </div>
            </td>
            <td><span *ngIf="unit.attack.combo">{{ unit.attack.combo.num }}</span></td>
          </tr>
        </tbody>
      </table>

      <table class="skillsTable" *ngFor="let i of [0, 1, 2, 3]">
        <tbody>
          <tr>
            <th *ngIf="i == 0 && jobs[0]" colspan="9">
              <img class="mainJob" src="{{'assets/jobs/' + jobs[0].image + '.png'}}" />&nbsp;Main Job
            </th>
            <th *ngIf="i != 0 && jobs[i - 1]" colspan="9">
              <img class="subJob" src="{{'assets/jobs/' + jobs[i - 1].image + '.png'}}" />&nbsp;{{ jobs[i - 1].name }}
            </th>
          </tr>
          <tr>
            <th class="sub skillJobTd">Job lvl</th>
            <th class="sub skillStarTd">Star lvl</th>
            <th class="sub skillTypeTd">Type</th>
            <th class="sub skillNameTd">Name</th>
            <th class="sub">Effects</th>
            <th class="sub rangeTd">Range</th>
            <th class="sub skillCastTd">Casts</th>
            <th class="sub skillHitTd">Hits</th>
            <th class="sub skillCostTd">Cost</th>
          </tr>
          <tr *ngFor="let skill of getSkillsPerJob(i)">
            <td>{{ skill.jobLevel }}</td>
            <td>{{ skill.unlockStar }}</td>
            <td>
              <img class="skilImg" title="skill type" src="{{'assets/skill-type/' + skill.type + '.png'}}" />
              <span *ngIf="skill.based"><img title="{{ skill.based }}" class='atkBasedImg' src="{{'assets/atkBased/' + skill.based + '.png'}}" /></span>
              <div *ngIf="skill.time && skill.time.minValue">
                <ng-template #tip_time>
                  <div>
                    Min time: {{ skill.time.minValue }}<br />
                    Max time: {{ skill.time.maxValue }}
                  </div>
                </ng-template>
                <img class='timeImg' src="{{'assets/icons/time.png'}}" [ngbTooltip]="tip_time"/>
              </div>
            </td>
            <td>{{ skill.name }}</td>
            <td class="skillEffectTd">
              <div>{{ skill.counterHtml }}</div>
              <div [innerHTML]="skill.damageHtml"></div>
              <div *ngFor="let effect of skill.effects">
                {{ effect.formatHtml }}
              </div>
            </td>
            <td>
              <ng-template #tip_table><div [innerHTML]="skill.skillTableHtml"></div></ng-template>
              <div [ngbTooltip]="tip_table" triggers="click" [autoClose]="true">
                <div class="divSkillTableHtml" [innerHTML]="skill.skillTableHtml"></div>
              </div>
            </td>
            <td>{{ skill.count }}</td>
            <td><span *ngIf="skill.combo">{{ skill.combo.num }}</span></td>
            <td><span *ngIf="skill.cost">{{ skill.cost.value }} {{ skill.cost.type }}</span></td>
          </tr>
        </tbody>
      </table>

      <table class="skillsTable" *ngIf="unit.limit">
        <tbody>
          <tr>
            <th [attr.colspan]="unit.limit.based ? '6' : '5'">Limit Burst</th>
          </tr>
          <tr>
            <th class="sub limitNameTd">Name</th>
            <th class="sub" [attr.colspan]="unit.limit.based ? '2' : '1'">Effects</th>
            <th class="sub rangeTd">Range</th>
            <th class="sub skillHitTd">Hits</th>
            <th class="sub skillCostTd">Cost</th>
          </tr>
          <tr>
            <td>{{ unit.limit.name }}</td>
            <td class="limitBased" *ngIf="unit.limit.based">
              <img class='atkBasedImg' src="{{ 'assets/atkBased/' + unit.limit.based + '.png' }}" />
              <div *ngIf="unit.limit.time && unit.limit.time.minValue">
                <ng-template #tip_time>
                  <div>
                    Min time: {{ unit.limit.time.minValue }}<br />
                    Max time: {{ unit.limit.time.maxValue }}
                  </div>
                </ng-template>
                <img class='timeImg' src="{{'assets/icons/time.png'}}" [ngbTooltip]="tip_time"/>
              </div>
            </td>
            <td [className]="unit.limit.based ? 'skillEffectTdAndNoBorderLeft' : 'skillEffectTd'">
              <div class="limitDamageDiv" [innerHTML]="unit.limit.damageHtml"></div>
              <div *ngFor="let effect of unit.limit.effects">
                {{ effect.formatHtml }}
              </div>
            </td>
            <td>
              <ng-template #tip_table><div [innerHTML]="unit.limit.skillTableHtml"></div></ng-template>
              <div [ngbTooltip]="tip_table" triggers="click" [autoClose]="true">
                <div class="divSkillTableHtml" [innerHTML]="unit.limit.skillTableHtml"></div>
              </div>
            </td>
            <td><span *ngIf="unit.limit.combo">{{ unit.limit.combo.num }}</span></td>
            <td><span *ngIf="unit.limit.cost">{{ unit.limit.cost.value }} {{ unit.limit.cost.type }}</span></td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <a ngbNavLink>SKILL TREE</a>
    <ng-template ngbNavContent #tree>
      <div *ngIf="grid">
        <div class="unitGridContainer" style="text-align: center;">
          <ul class="hexGrid">
            <li *ngFor="let node of grid.gridNodes; let index;" (click)="clickNode(node)">
              <div class="hex hideNode" *ngIf="grid.nodesForGrid[node].type == 'hidden'">{{ node }}</div>

              <div class="hex activated" *ngIf="grid.nodesForGrid[node].type == 'center'">
                <span class="fullIcon"><img src="{{ '/assets/units/' + unit.image + '_m.png' }}"></span>
              </div>

              <div class="hex" [ngClass]="{'activated': unit.board.nodes[node].activated}" *ngIf="grid.nodesForGrid[node].type == 'text'">
                <span class="text">{{ grid.nodesForGrid[node].value }}</span>
              </div>
            </li>
          </ul>

          <div [innerHTML]="grid.lines"></div>
        </div>
      </div>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav"></div>

<div *ngIf="specialBismark && activeTab == 1" class="tab-content">
  <div *ngIf="activeTab == 2 else stats"></div>
  <div *ngIf="activeTab == 3 else skills"></div>
  <div *ngIf="activeTab == 4 else tree"></div>
</div>
