.leftBlock {
  width: 350px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}

.rightBlock {
  width: 830px;
  display: inline-block;
  vertical-align: top;
}

.unitTable, .tmrTable, .tmrSkillTable, .masterSkillTable, .statsTable, .descriptionSkillTable {
  width: 100%;
}

.statsTable:not(:first-child) {
  margin-top: 10px;
}

.skillsTable:not(:first-child) {
  margin-top: 10px;
}

.elementImg, .rarityImg {
  height: 48px;
}

.damageImg, .statusAilmentImg, .skilImg, .damageSkillImg {
  height: 32px;
}

.unitImg {
  max-height: 250px;
  margin-top: 10px;
  max-width: 330px;
}

.mainJob {
  height: 40px;
  background: url("assets/jobs/base_main.webp") 0px 0px no-repeat;
  background-size: 40px;
  padding: 5px;
  width: 40px;
  margin: auto;
}

.subJob {
  height: 40px;
  background: url("assets/jobs/base_sub.webp") 0px 0px no-repeat;
  background-size: 40px;
  padding: 5px;
  width: 40px;
  margin: auto;
}

.mainJob img, .subJob img {
  max-width: 30px;
  max-height: 30px;
  vertical-align: top;
}

.bigText {
  font-weight: 500;
  font-size: 28px;
}

.equipmentText {
  display: inline-block;
  font-weight: 500;
  font-size: 22px
}

.limitBased{
  border-right: none;
  padding-right: 0px;
  width: 50px;
}

.tmrSkillTable, .masterSkillTable, .descriptionSkillTable {
  margin-top: 10px;
}

.jobTd {
  width: 33%;
}

.jobTd:first-child {
  border-right: 0;
}

.jobTd:last-child {
  border-left: 0;
}

.jobTd:not(:first-child):not(:last-child) {
  border-left: 0;
  border-right: 0;
}

.skillsTable {
  width: 1200px;
}

.rangeTd {
  width: 69px;
}

.skillJobTd {
  width: 70px;
}

.skillStarTd {
  width: 72px;
}

.skillTypeTd {
  width: 85px;
}

.skillCastTd {
  width: 61px;
}

.skillHitTd {
  width: 50px;
}

.skillCostTd {
  width: 60px;
}

.skillNameTd {
  width: 200px;
}

.tmrNameTd {
  width: 150px;
}

.tmrTypeTd {
  width: 60px;
}

.skillEffectTdAndNoBorderLeft {
  text-align: left;
  border-left: none;
}

.skillEffectTd {
  text-align: left;
}

.limitNameTd {
  width: 300px;
}

.heightResTd {
  height: 33px;
}

.reflectImg {
  height: 32px;
  margin-top: 2px;
}

.timeImg {
  height: 32px;
  cursor: pointer;
  margin-top: 2px;
}

.jobsStatsLine {
  height: 50px;
}

.jobsStatsTotal {
  font-weight: 500;
  font-size: 18px;
}

.jobInSkill {
  display: inline-block;
}

.tmrTd {
  padding: 5px;
  width: 100px;
}

.tmrSubTd {
  height: 33px;
}

.tmrImg {
  max-width: 90px;
  max-height: 90px;
}
