.title {
  font-size: 22px;
  margin-top: 10px;
  display: inline-block;
}

.closeButton {
  float: right;
}

.closeButton button {
  padding: 10px;
  background: none;
  border: 0;
}

.closeButton button span {
  font-size: 20px;
  font-weight: bold;
}

.btn-sub {
  width: 130px;
}

.btn-google, .btn-facebook {
  margin-bottom: 10px;
}

.syncTable {
  width: 250px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-dontsync {
  margin-right: 10px;
}

.btn-sync {
  width: 130px;
}
