<div *ngIf="modalStep === 'select'">
  <div class="titleBlock">
    <div class="title">
      EQUIPEMENT
    </div>
    <div class="closeButton">
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <div class="equipments">
    <div class="upperBlock">
      <div class="searchBlock">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="searchInput" type="text" placeholder="Search for an equipment by name" [(ngModel)]="searchText">
      </div>
      <div class="filtersBlock">
        Filter by :
        <button *ngFor="let rarity of ['UR', 'MR', 'SR', 'R', 'N']" class="btn-filter" [ngClass]="{'btn-filter-selected': isFilterSelected('rarity', rarity)}" (click)="filterList('rarity', rarity)">
          <img class="filterRarity" src="assets/rarity/{{rarity}}.png" />
        </button>
        <button *ngFor="let category of ['weapon', 'armor', 'acc']" class="btn-filter" [ngClass]="{'btn-filter-selected': isFilterSelected('category', category)}" (click)="filterList('category', category)">
          {{ category | titlecase }}
        </button>
      </div>
    </div>

    <hr class="separator" />

    <div class="equipmentsList">
      <div class="equipmentsCol" *ngFor="let equipment of getFilteredEquipments()">
        <a (click)="selectEquipment(equipment.dataId)">
          <div class="equipmentIcons">
            <img class="rarityImg" src="{{'assets/rarity/' + equipment.rarity + '.png'}}" />
          </div>
          <div class="equipmentImgBlock">
            <img class="equipmentImg" src="assets/equipments/{{ equipment.image }}.png" onerror="this.src='assets/equipments/placeholder.png';" />
          </div>
          <div class="equipmentTitle">
            <span class="equipmentName">{{ equipment.name }}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="modalStep === 'load'">
  <div class="titleBlock">
    <div class="title">
      Load equipement ?
    </div>
    <div class="closeButton">
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <div class="listModal">
    <div class="newBuildDiv">
      <button class="btn btn-sub btn-back" (click)="back()"><i class="fas fa-long-arrow-alt-left" aria-hidden="true"></i>Back to Equipment</button>
      <button class="btn btn-sub" (click)="selectEquipment(loadEquipmentId, null, true)">Create new build</button>
    </div>

    <table class="tableList">
      <tr>
        <th>Name</th>
        <th>Load</th>
      </tr>
      <tr *ngFor="let equipment of savedEquipments[loadEquipmentId]">
        <td *ngIf="type !== 'team'">{{ equipment ? equipment.customName : '' }}</td>
        <td><a (click)="selectEquipment(loadEquipmentId, equipment)"><i class="fas fa-download"></i></a></td>
      </tr>
    </table>
  </div>
</div>

<div *ngIf="modalStep === 'custom'">
  <div class="titleBlock">
    <div class="title">
      {{ equipment.name }} - Custom
    </div>
    <div class="closeButton">
      <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <div class="backButtonDiv">
    <button class="btn btn-sub" (click)="back()"><i class="fas fa-long-arrow-alt-left" aria-hidden="true"></i>Back to Equipment</button>
  </div>

  <div class="customDiv">
    <div class="leftBlock">
      <div class="equipmentsCol">
        <div class="equipmentButtons">
          <button class="btn btn-sub btn-left" id="reset_card" (click)="resetEquipment()">Reset</button>
          <button class="btn btn-main btn-right" id="max_card" (click)="maxEquipment()">Max equipment</button>
        </div>
        <div class="equipmentIcons">
          <img class="rarityImg" src="{{'assets/rarity/' + equipment.rarity + '.png'}}" />
        </div>
        <div>
          <img class="equipmentImg" src="assets/equipments/{{ equipment.image }}.png" onerror="this.src='assets/equipments/placeholder.png';" />
        </div>
        <div class="equipmentTitle">
          <span class="equipmentName">{{ equipment.customName ? equipment.name + ' - ' + equipment.customName : equipment.name }}</span>
        </div>
      </div>

      <div class="upgradeTypeDiv">
        <div *ngIf="equipment && equipment.skills.length > 1">
          <div class="titleSelect">
            Upgrade
          </div>
          <ng-select placeholder="Select an upgrade" class="select-upgrade select-left-builder" [items]="[0, 1, 2, 3, 4, 5]" [(ngModel)]="equipment.upgrade" (ngModelChange)="updateUpgrade()" [clearable]="false" [searchable]="false">
            <ng-template ng-label-tmp let-item="item">
              {{ item === 0 ? 0 : '+' + item }}
            </ng-template>

            <ng-template ng-option-tmp let-item="item">
              {{ item === 0 ? 0 : '+' + item }}
            </ng-template>
          </ng-select>
        </div>

        <div *ngIf="equipment && equipment.growIds.length > 1">
          <div class="titleSelect">
            Type
          </div>
          <ng-select placeholder="Select a grow" class="select-grow select-left-builder" [items]="equipment.growIds" [(ngModel)]="equipment.grow" (ngModelChange)="updateGrow()" [clearable]="false" [searchable]="false">
            <ng-template ng-label-tmp let-item="item">
              {{ equipment.grows[item].name }}
            </ng-template>

            <ng-template ng-option-tmp let-item="item">
              {{ equipment.grows[item].name }}
            </ng-template>
          </ng-select>
        </div>
      </div>

      <button class="btn btn-main btn-save" (click)="save()">SAVE</button>
    </div>

    <div class="rightBlock">
      <table class="statsTable">
        <tbody>
          <tr>
            <th colspan="13">Stats</th>
          </tr>
          <tr>
            <th class="sub"  *ngIf="!equipment.acquisition || equipment.acquisition.type !== 'tmr'">Level</th>
            <th class="sub" *ngFor="let statType of equipment.statsTypes">{{ statType }}</th>
          </tr>
          <tr  *ngIf="!equipment.acquisition || equipment.acquisition.type !== 'tmr'">
            <td>
              <select [(ngModel)]="equipment.level" (ngModelChange)="changeLevel()">
                <option *ngFor="let level of equipment.tableLevel">{{ level }}</option>
              </select> / {{ equipment.maxLevel }}
            </td>
            <td *ngFor="let statType of equipment.statsTypes">
              <span *ngIf="equipment.growIds.length > 1 || equipment.grows[equipment.growIds[0]].dataId !== 'ARTIFACT_50'">
                <select [(ngModel)]="equipment.stats[statType].selected">
                  <option *ngFor="let stat of equipment.tableStats[statType]">{{ stat }}</option>
                </select>
              </span>
              <span *ngIf="equipment.growIds.length === 1 && equipment.grows[equipment.growIds[0]].dataId === 'ARTIFACT_50'">
                {{ equipment.stats[statType].selected }}
              </span> / {{ equipment.tableStats[statType][equipment.tableStats[statType].length - 1] }}
            </td>
          </tr>
          <tr *ngIf="equipment.acquisition && equipment.acquisition.type === 'tmr'">
            <td *ngFor="let statType of equipment.statsTypes">
              {{ equipment.stats[statType].min }}
            </td>
          </tr>
        </tbody>
      </table>


      <table class="statsTable" *ngIf="equipment.skill[0]">
        <tbody *ngIf="equipment.activeSkill">
          <tr>
            <th colspan="7">Skill</th>
          </tr>
          <tr>
            <th class="sub">Level</th>
            <th class="sub">Name</th>
            <th class="sub">Effects</th>
            <th class="sub">Range</th>
            <th class="sub">Casts</th>
            <th class="sub">Hits</th>
            <th class="sub">Cost</th>
          </tr>
          <tr>
            <td>
              <select [(ngModel)]="equipment.activeSkill.level" (ngModelChange)="changeSkillLevel()">
                <option *ngFor="let level of equipment.activeSkill.tableLevel">{{ level }}</option>
              </select>
            </td>
            <td class="skillNameTd">
              {{ equipment.activeSkill.name }}
              <span *ngIf="equipment.activeSkill.based">
                <img class='atkBasedImg' src="{{'assets/atkBased/' + equipment.activeSkill.based + '.png'}}" />
              </span>
              <div *ngIf="equipment.activeSkill.time && equipment.activeSkill.time.minValue">
                <ng-template #tip_time>
                  <div>
                    {{ equipment.activeSkill.time.realValue }}
                  </div>
                </ng-template>
                <img class='timeImg' src="{{'assets/icons/time.png'}}" [ngbTooltip]="tip_time"/>
              </div>
            </td>
            <td class="skillEffectTd">
              <div>{{ equipment.activeSkill.counterHtml }}</div>

              <div *ngFor="let effect of equipment.activeSkill.effectsHtml.before">
                {{ effect }}
              </div>

              <div *ngIf="equipment.activeSkill.damageHtml && equipment.activeSkill.damageHtml.value">
                <ng-template #tip_damage>
                  <div *ngIf="equipment.activeSkill.based === 'physic'">
                    {{ (100 + (equipment.activeSkill.damage.formula.type === 1 && equipment.activeSkill.damage.formula[1] > 0 ? equipment.activeSkill.damage.formula[1] : 0)) + '% ATK' }}
                  </div>
                  <div *ngIf="equipment.activeSkill.based === 'magic'">
                    {{ (100 + (equipment.activeSkill.damage.formula.type === 1 && equipment.activeSkill.damage.formula[1] > 0 ? equipment.activeSkill.damage.formula[1] : 0)) + '% MAG' }}
                  </div>
                  <div *ngIf="equipment.activeSkill.based === 'hybrid'">
                    {{ (100 + (equipment.activeSkill.damage.formula.type === 1 && equipment.activeSkill.damage.formula[1] > 0 ? equipment.activeSkill.damage.formula[1] : 0)) + '% ATK' }}
                  </div>

                  <div *ngIf="equipment.activeSkill.damage.formula.type === 0 && equipment.activeSkill.damage.formula[1] > 0">
                    {{ equipment.activeSkill.damage.formula[1] }}% DEX
                  </div>
                  <div *ngIf="equipment.activeSkill.damage.formula.type === 0 && equipment.activeSkill.damage.formula[2] > 0">
                    {{ equipment.activeSkill.damage.formula[2] }}% AGI
                  </div>
                  <div *ngIf="equipment.activeSkill.damage.formula.type === 0 && equipment.activeSkill.damage.formula[3] > 0">
                    {{ equipment.activeSkill.damage.formula[3] }}% LUCK
                  </div>
                </ng-template>
                <img [ngbTooltip]="tip_damage" title="{{ equipment.activeSkill.damageHtml.type.title }}" class="damageSkillImg" src="assets/damage/{{ equipment.activeSkill.damageHtml.type.image }}.png" />&nbsp; {{ equipment.activeSkill.damageHtml.effType }} {{ equipment.activeSkill.damageHtml.pool }} {{ equipment.activeSkill.damageHtml.value }}
                <div [innerHTML]="equipment.activeSkill.damageHtml.others | safeHtml"></div>
              </div>

              <div *ngFor="let effect of equipment.activeSkill.effectsHtml.after">
                {{ effect }}
              </div>
            </td>
            <td class="rangeTd">
              <ng-template #tip_table><div [innerHTML]="equipment.activeSkill.skillTableHtml"></div></ng-template>
              <div [ngbTooltip]="tip_table" triggers="click" [autoClose]="true">
                <div class="divSkillTableHtml" [innerHTML]="equipment.activeSkill.skillTableHtml"></div>
              </div>
            </td>
            <td class="skillCastTd">
              {{ equipment.activeSkill.count }}
            </td>
            <td class="skillHitTd">
              <span *ngIf="equipment.activeSkill.combo">{{ equipment.activeSkill.combo.num }}</span>
            </td>
            <td class="skillCostTd">
              <span *ngIf="equipment.activeSkill.cost">{{ equipment.activeSkill.cost.value }} {{ equipment.activeSkill.cost.type }}</span>
            </td>
          </tr>
        </tbody>
        <tbody  *ngIf="equipment.passiveSkills.length > 0">
          <tr>
            <th colspan="7">Effects</th>
          </tr>
          <tr>
            <td colspan="7">
              <div *ngFor="let skill of equipment.passiveSkills">
                <div *ngFor="let effect of skill.effectsHtml.before">
                  {{ effect }}
                </div>
                <div *ngFor="let effect of skill.effectsHtml.after">
                  {{ effect }}
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
