.titleBlock {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: solid 1px #fff;
}

.title {
  font-size: 22px;
  margin-top: 10px;
  display: inline-block;
}

.closeButton {
  float: right;
}

.closeButton button {
  padding: 10px;
  background: none;
  border: 0;
}

.closeButton button span {
  font-size: 20px;
  font-weight: bold;
}

.saveBlock, .confirmBlock, .loadingBlock {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nameInput, .saveButton {
  width: 100%;
  display: block;
}

.replaceButton {
  width: 48%;
  margin-right: 10px;
}

.cancelButton {
  width: 48%;
}

.saveButton, .confirmButtons {
  margin-top: 10px;
}

.loadingBlock {
  text-align: center;
}

.loadingText {
  display: block;
  margin-bottom: 10px;
}