.titleBlock {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: solid 1px #fff;
}

.title {
  font-size: 22px;
  margin-top: 10px;
  display: inline-block;
}

.closeButton {
  float: right;
}

.closeButton button {
  padding: 10px;
  background: none;
  border: 0;
}

.closeButton button span {
  font-size: 20px;
  font-weight: bold;
}

.equipments {
  width: 100%;
  text-align: center;
  padding: 5px;
}

.filters {
  margin-top: 20px;
}

.collapsedFilters {
  margin-top: 5px;
}

.collapsedFilters input {
  margin-right: 5px;
}

.filtersBlock {
  text-align: left;
  margin-left: 20px;
}

.acquisitionExpander {
  display: inline-block;
  cursor: pointer;
}

.acquisitionExpander i {
  margin-left: 10px;
}

.acquisitionType {
  display: inline-block;
  margin-right: 10px;
}

.acquisitionType input {
  margin-right: 5px;
}

.unselectAllTypeLink {
  text-decoration: underline;
  cursor: pointer;
}

.separator {
  margin-left: 20px;
  margin-right: 30px;
}

.fa-chevron-up, .fa-chevron-down {
  float: right;
  margin-right: 10px;
}

.upperBlock {
  padding-right: 10px;
}

.searchBlock {
  background: #F5F6F8;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  width: 1040px;
  margin-left: 18px;
}

.searchInput {
  background: none;
  border: 0;
  width: 1000px;
}

.fa-search {
  padding-right: 8px;
  color: #000;
}

.underSearchBlock {
  height: 30px;
}

.totalEquipments {
  float: left;
  display: inline-block;
}

.sortOrderBlock {
  float: right;
  display: inline-block;
}

.sortBy, .orderBy {
  display: inline-block;
}

.sortBy > span, .orderBy > span {
  color: var(--sortby-color);
  margin-right: 8px;
}

.orderBy {
  margin-left: 10px;
}

.countEquipments {
  font-weight: bold;
}

.equipmentsList {
  margin-top: 10px;
}

.equipmentImgBlockRemove {
  width: 200px;
  height: 210px;
}

.equipmentImgBlockRemove img {
  padding-top: 40px;
}

.equipmentImgBlock {
  width: 200px;
  height: 160px;
}

.equipmentImg {
  height: 150px;
  max-width: 190px;
  margin: auto;
  margin-top: 5px;
}

.rarityImg {
  height: 32px;
  float: left;
}

.equipmentsCol {
  background-color: var(--card-background);
  width: 200px;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
}

.equipmentsCol:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--card-background-hover)
}

.equipmentsCol > a:hover {
  text-decoration: none;
}

.equipmentButtons {
  text-align: center;
  border-top: 10px;
}

.btn-left {
  width: 60px;
  margin-right: 10px;
}

.btn-right {
  width: 125px;
}

.equipmentIcons {
  position: absolute;
  width: 100%;
  padding: 5px;
}

.equipmentTitle {
  background-color: var(--card-title-background);
  display: table;
  height: 50px;
  width: 100%;
}

.equipmentName {
  font-weight: bold;
  margin-left: 10px;
  display: table-cell;
  vertical-align: middle;
  color: var(--card-title-color);
}

/********/
/* Load */
/********/

.listModal {
  margin: 10px;
}

.newBuildDiv {
  text-align: center;
}

.btn-back {
  margin-right: 25px;
}

.tableList {
  margin: auto;
  margin-top: 10px
}

.fa-download {
  cursor: pointer;
}

/**********/
/* Custom */
/**********/
.backButtonDiv, .customDiv {
  margin-left: 25px;
  margin-top: 15px;
}

.customDiv {
  margin-bottom: 10px;
}

.leftBlock {
  display: inline-block;
  width: 200px;
}

.leftBlock .equipmentsCol:hover {
  box-shadow: 0;
  background-color: var(--card-background)
}

.upgradeTypeDiv {
  padding-left: 5px;
}

.upgradeTypeDiv div {
  margin-bottom: 5px;
}

.btn-select-grow {
  width: 100px;
}

.titleSelect {
  width: 70px;
  display: inline-block;
}

.dropdownDiv {
  display: inline-block;
}

.btn-save {
  width: 100%;
}

.rightBlock {
  width: 850px;
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
  margin: auto;
}

.statsTable {
  width: 100%;
  margin-bottom: 10px;
}

.materiaTd {
  height: 150px;
  width: 97px;
}

.materiaDiv {
  width: 80px;
  height: 80px;
  display: block;
  vertical-align: top;
}

.materiaDivEmpty {
  width: 80px;
  height: 80px;
  display: block;
  vertical-align: top;
  background: url("assets/builder/materia_background.webp") 0px 0px no-repeat;
  background-size: 80px;
}

.materiaImg {
  padding: 5px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  display: block;
}

.btn-materia {
  width: 100%;
  margin-top: 5px;
}

.materiaEffectTd {
  width: 417px;
}

.conditionImg {
  max-width: 50px;
  max-height: 50px;
  margin-right: 5px;
}

.passiveHR {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mainjob {
  height: 50px;
  background: url("assets/jobs/base_main.webp") 0px 0px no-repeat;
  background-size: 50px;
  padding: 5px;
  width: 50px;
  display: inline-block;
  margin-right: 5px;
}

.mainjob img {
  max-width: 40px;
  max-height: 40px;
  vertical-align: top;
}