<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center items-center p-0">
      <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full lg:max-w-6xl" >
        <div class="modal-title-background px-4 py-3 sm:px-6">
          <div class="title justify-start">
            <span *ngIf="modalStep === 'select'">ESPERS</span>
            <span *ngIf="modalStep === 'load'">Load esper ?</span>
            <span *ngIf="modalStep === 'custom'">{{ esper.name }} - Custom</span>
          </div>
          <div class="closeButton justify-end">
            <button type="button" class="close" aria-label="Close" (click)="closeButton()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>

        <div class="modal-body-background px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div *ngIf="modalStep === 'select'">
            <div class="espers">
              <div class="upperBlock">
                <div class="searchBlock">
                  <i class="fas fa-search" aria-hidden="true"></i>
                  <input class="searchInput" type="text" placeholder="Search for an esper by name" [(ngModel)]="searchText">
                </div>
                <div class="filtersBlock">
                  Filter by :
                  <button *ngFor="let rarity of ['UR', 'MR', 'SR']" class="btn-filter" [ngClass]="{'btn-filter-selected': isFilterSelected('rarity', rarity)}" (click)="filterList('rarity', rarity)">
                    <img class="filterRarity" src="assets/rarity/{{rarity}}.webp" />
                  </button>
                  <button *ngFor="let element of ['fire', 'ice', 'wind', 'earth', 'lightning', 'water', 'light', 'dark', 'neutral']" class="btn-filter" [ngClass]="{'btn-filter-selected': isFilterSelected('element', element)}" (click)="filterList('element', element)">
                    <img src="assets/elements/{{element}}.webp" />
                  </button>
                </div>
              </div>

              <hr class="separator" />

              <div class="espersList">
                <div class="espersCol">
                  <a (click)="removeEsper()" id="removeEsper">
                    <div class="esperImgBlockRemove">
                      <img class="esperImg" src="assets/builder/remove.webp" />
                    </div>
                  </a>
                </div>

                <div class="espersCol" *ngFor="let esper of getFilteredEspers()">
                  <a (click)="selectEsper(esper.dataId)">
                    <div class="cardIcons">
                      <img class="rarityImg" src="{{'assets/rarity/' + esper.rarity + '.webp'}}" />
                      <img class="elementImg" src="{{'assets/elements/' + esper.element + '.webp'}}" *ngIf="esper.element" />
                    </div>
                    <div>
                      <img class="esperImg" src="assets/units/{{ esper.image }}_s.webp" />
                    </div>
                    <div class="cardTitle">
                      <span class="esperName">{{ esper.name }}</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="modalStep === 'load'">
            <div class="listModal">
              <div class="newBuildDiv">
                <button class="btn btn-sub btn-back" (click)="back()"><i class="fas fa-long-arrow-alt-left" aria-hidden="true"></i>Back to Espers</button>
                <button class="btn btn-sub" (click)="selectEsper(loadEsperId, null, true)">Create new build</button>
              </div>

              <table class="tableList">
                <tr>
                  <th>Name</th>
                  <th>Load</th>
                </tr>
                <tr *ngFor="let esper of savedEspers[loadEsperId]">
                  <td *ngIf="type !== 'team'">{{ esper ? esper.customName : '' }}</td>
                  <td><a (click)="selectEsper(loadEsperId, esper)"><i class="fas fa-download"></i></a></td>
                </tr>
              </table>
            </div>
          </div>

          <div *ngIf="modalStep === 'custom' && esper">
            <div class="backButtonDiv">
              <button class="btn btn-sub" (click)="back()"><i class="fas fa-long-arrow-alt-left" aria-hidden="true"></i>Back to Espers</button>
            </div>

            <div class="customDiv">
              <div class="leftBlock">
                <div class="espersCol">
                  <div class="cardIcons">
                    <img class="rarityImg" src="{{'assets/rarity/' + esper.rarity + '.webp'}}" />
                    <img class="elementImg" src="{{'assets/elements/' + esper.element + '.webp'}}" *ngIf="esper.element" />
                  </div>
                  <div>
                    <img class="esperImg" src="assets/units/{{ esper.image }}_s.webp" />
                  </div>
                  <div class="cardTitle">
                    <span class="esperName">{{ esper.customName ? esper.name + ' - ' + esper.customName : esper.name }}</span>
                  </div>
                </div>

                <div class="starLevelDiv">
                  <div *ngIf="maxStar">
                    <ngb-rating [(rate)]="esper.star" [max]="maxStar">
                      <ng-template let-fill="fill" let-index="index">
                        <div class="star" [class.filled]="fill === 100" id="change_star_{{index + 1}}" (click)="changeStar(index + 1)">&nbsp;</div>
                      </ng-template>
                    </ngb-rating>
                  </div>

                  <div>
                    <div class="titleSelect">
                      Level
                    </div>
                    <div class="zone-select-level">
                      <ng-select placeholder="Select a level" class="select-level select-left-builder" [items]="esper.tableLevels" [(ngModel)]="esper.level" (ngModelChange)="updateLevel()" [clearable]="false" [searchable]="false">
                        <ng-template ng-label-tmp let-item="item">
                          {{ item }}
                        </ng-template>

                        <ng-template ng-option-tmp let-item="item">
                          {{ item }}
                        </ng-template>
                      </ng-select> / {{ esper.maxLevel }}
                    </div>
                  </div>
                </div>

                <button class="btn btn-sub btn-esper" (click)="maxEsper()">Max Esper</button>
                <button class="btn btn-main btn-esper" (click)="save()">SAVE</button>
              </div>

              <div class="rightBlock">
                <table class="statsTable">
                  <tbody>
                    <tr>
                      <th colspan="13">Stats</th>
                    </tr>
                    <tr>
                      <th *ngFor="let type of ['HP','TP','AP','ATK','MAG','AGI','DEX','LUCK']" class="statTd sub">{{ type }}</th>
                    </tr>
                    <tr>
                      <td *ngFor="let type of ['HP','TP','AP','ATK','MAG','AGI','DEX','LUCK']">
                        <span *ngIf="esper.stats[type] && esper.stats[type][maxStar - 1]">
                          {{ esper.stats[type].base }} / {{ esper.stats[type][maxStar - 1].max }}
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <table class="statsTable">
                  <tbody>
                    <tr>
                      <th colspan="9">buffs</th>
                    </tr>
                  </tbody>
                  <tbody *ngFor="let line of esper.possibleBuffs">
                    <tr>
                      <th class="sub" *ngFor="let buffType of line">
                        <img *ngIf="buffsImage.indexOf(buffType.toLowerCase()) !== -1" class="buffImg" title="{{ buffType }}" src="{{ '/assets/buffs/' + buffType.toLowerCase() + '.webp' }}">
                        <span *ngIf="buffsImage.indexOf(buffType.toLowerCase()) === -1">{{ buffType.replace("_", " ") }}</span>
                      </th>
                    </tr>
                    <tr>
                      <td *ngFor="let buffType of line">
                        {{ esper.buffs[buffType] && esper.buffs[buffType].percent ? esper.buffs[buffType].percent + '%' : esper.buffs[buffType] && esper.buffs[buffType].total ? esper.buffs[buffType].total : '' }}
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div *ngIf="esper && esper.grid">
                  <div class="countSPs">
                    SPs: {{ esper.usedSPs }} / {{ esper.maxSPs }}
                  </div>
                </div>

                <div *ngIf="esper && esper.grid">
                  <div class="builderEsperGridContainer" style="text-align: center;">
                    <ul class="hexGrid" oncontextmenu="return false;">
                      <li *ngFor="let node of esper.grid.gridNodes; let index;" (click)="clickNode(node)" (contextmenu)="rightClickNode(node)">
                        <div class="hex hideNode" *ngIf="esper.grid.nodesForGrid[node].type === 'hidden'">{{ node }}</div>

                        <div class="hex activated" *ngIf="esper.grid.nodesForGrid[node].type === 'center'">
                          <span class="fullIcon"><img src="{{ '/assets/units/' + esper.image + '_s.webp' }}"></span>
                        </div>

                        <div class="hex" *ngIf="esper.grid.nodesForGrid[node].type === 'text'"
                             [ngClass]="{
                               'activated': esper.board.nodes[node].activated,
                               'buff': esper.board.nodes[node].skill.type === 'buff',
                               'notActivable': !canActivateNode(node)
                        }" >
                          <span class="text">{{ esper.grid.nodesForGrid[node].value }}</span>
                          <span class="cost">{{ esper.board.nodes[node].skill.sp }} SP</span>
                        </div>
                      </li>
                    </ul>

                    <div [innerHTML]="esper.grid.lines | safeHtml"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
