.titleBlock {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: solid 1px #fff;
}

.title {
  font-size: 22px;
  margin-top: 10px;
  display: inline-block;
}

.closeButton {
  float: right;
}

.closeButton button {
  padding: 10px;
}

.guildTable {
  width: 820px;
}

.guildTable, tbody, tr, th, td {
  border: 0;
}

.statueImg {
  height: 250px;
  margin-top: 10px;
}

.statsTd {
  vertical-align: top;
}
