.navbar {
  flex-direction: row;
}

.centerNav {
  display: inline-flex;
  margin: 0 auto;
}

.nav-link {
  display: inline-block;
  padding-right: .5rem;
  padding-left: .5rem;
}

.nav-link.active {
  color: rgba(255,255,255,.7) !important;
}
