<div class="row" *ngIf="card">
  <div class="leftBlock" *ngIf="windowSize >= 1230">
    <table class="cardTable">
      <tbody>
        <tr>
          <th colspan="3">{{ card.name }}</th>
        </tr>
        <tr>
          <td colspan="3">
            <a href="{{'assets/cards/' + card.image + '.webp'}}" target="_blank">
              <img class="cardImg" src="{{'assets/cards/' + card.image + '_full.webp'}}" />
            </a>
          </td>
        </tr>
        <tr>
          <th class="sub">Rarity</th>
          <th class="sub">Cost</th>
          <th class="sub">Limited</th>
        </tr>
        <tr>
          <td><img class="rarityImg" src="{{'assets/rarity/' + card.rarity + '.webp'}}" /></td>
          <td>{{ card.cost }}</td>
          <td>{{ card.limited ? "Yes" : "No" }}</td>
        </tr>
        <tr>
          <th class="sub" colspan="3">Release Date</th>
        </tr>
        <tr>
          <td colspan="3">
            <div>
              {{ card.releaseDate }}
            </div>
          </td>
        </tr>
        <tr>
        <tr>
          <th class="sub" colspan="3">Updated Date</th>
        </tr>
        <tr>
          <td colspan="3">
            <div>
              {{ card.updatedDate }}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <button class="btn btn-sub" [routerLink]="[getRoute('/builder/card/' + card.slug)]">Go To Builder</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="leftBlockMediumSize" *ngIf="windowSize < 1230">
    <table class="cardTable">
      <tbody>
        <tr>
          <th colspan="4">{{ card.name }}</th>
        </tr>
        <tr>
          <td rowspan="6">
            <a href="{{'assets/cards/' + card.image + '.webp'}}" target="_blank">
              <img class="cardImg" src="{{'assets/cards/' + card.image + '_full.webp'}}" />
            </a>
          </td>
          <th class="sub">Rarity</th>
          <th class="sub">Cost</th>
          <th class="sub">Limited</th>
        </tr>
        <tr>
          <td><img class="rarityImg" src="{{'assets/rarity/' + card.rarity + '.webp'}}" /></td>
          <td>{{ card.cost }}</td>
          <td>{{ card.limited ? "Yes" : "No" }}</td>
        </tr>
        <tr>
          <th class="sub" colspan="3">Release Date</th>
        </tr>
        <tr>
          <td colspan="3">
            <div>
              {{ card.releaseDate }}
            </div>
          </td>
        </tr>
        <tr>
          <th class="sub" colspan="3">Updated Date</th>
        </tr>
        <tr>
          <td colspan="3">
            <div>
              {{ card.updatedDate }}
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <button class="btn btn-sub" [routerLink]="[getRoute('/builder/card/' + card.slug)]">Go To Builder</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="rightBlock">
    <table class="statTable">
      <tbody>
        <tr>
          <th colspan="10">Stats</th>
        </tr>
        <tr>
          <th class="sub"></th>
          <th class="sub" *ngFor="let stat of card.statsType" [ngClass]="{'hideStat': card.stats[stat].min == 0 && card.stats[stat].max == 0}">{{ stat }}</th>
        </tr>
        <tr>
          <td>Min</td>
          <td *ngFor="let stat of card.statsType" [ngClass]="{'hideStat': card.stats[stat].min == 0 && card.stats[stat].max == 0}">{{ card.stats[stat].min }}</td>
        </tr>
        <tr>
          <td>Max</td>
          <td *ngFor="let stat of card.statsType" [ngClass]="{'hideStat': card.stats[stat].min == 0 && card.stats[stat].max == 0}">{{ card.stats[stat].max }}</td>
        </tr>
        <tr>
          <td>Elder</td>
          <td *ngFor="let stat of card.statsType" [ngClass]="{'hideStat': card.stats[stat].min == 0 && card.stats[stat].max == 0 && (!card.stats[stat].ex || card.stats[stat].ex == 0)}">{{ card.stats[stat].ex }}</td>
        </tr>
      </tbody>
    </table>

    <div>
      <table class="effectsTable">
        <tr>
          <th>Buffs at max level</th>
        </tr>
        <tr>
          <th>Unit Effects</th>
        </tr>
        <tbody *ngFor="let effectKey of card.buffs.formattedSelfKeys">
          <tr>
            <td>
              <div *ngFor="let effect of card.buffs.formattedSelf[effectKey]; let effectIndex = index">
                <div *ngIf="effectIndex == 0">
                  <div *ngFor="let cond of effect.cond">
                    <div *ngIf="cond.type === 'birth'">
                      <span *ngFor="let birth of cond.items">{{ birth }}</span>
                    </div>

                    <div *ngIf="cond.type === 'elem'">
                      <img class="elementImg" src="{{'assets/elements/' + elem + '.webp'}}" *ngFor="let elem of cond.items"/>
                    </div>

                    <div *ngIf="cond.type === 'job'">
                      <span *ngFor="let job of cond.formattedItems">
                        <div class="subJob">
                          <img *ngIf="job.image" title="{{ job.names.en }}" src="{{'assets/jobs/' + job.image + '_30.webp'}}" />
                        </div>
                      </span>
                      <a (click)="goToUnitList(cond)" class="cursor-pointer inline-block">Go to unit list</a>
                    </div>

                    <div *ngIf="cond.type === 'mainJob'">
                      <span *ngFor="let job of cond.formattedItems">
                        <div class="mainJob">
                          <img *ngIf="job.image" title="{{ job.names.en }}" src="{{'assets/jobs/' + job.image + '_30.webp'}}" />
                        </div>
                      </span>
                      <a (click)="goToUnitList(cond)" class="cursor-pointer inline-block">Go to unit list</a>
                    </div>

                    <div *ngIf="cond.type === 'unit'">
                      <span *ngFor="let unit of cond.formattedItems">
                        <img *ngIf="unit.image" class="unit" title="{{ unit.names.en }}" src="{{'assets/units/' + unit.image + '_small.webp'}}" />
                      </span>
                    </div>

                    <div *ngIf="cond.type === 'mapType'">
                      <span *ngFor="let mapType of cond.formattedItems">
                        Activated only on {{ mapType }} map
                      </span>
                    </div>
                  </div>
                </div>

                {{ effect.effect }}

                <table *ngIf="effect.skill" class="w-full m-0">
                  <tr *ngIf="windowSize >= 950">
                    <th class="sub skillNameTd">Name</th>
                    <th class="sub">Effects</th>
                    <th class="sub rangeTd">Range</th>
                    <th class="sub skillCastTd">Casts</th>
                    <th class="sub skillHitTd">Hits</th>
                    <th class="sub skillCostTd">Cost</th>
                  </tr>

                  <tr *ngIf="effect.skill" app-shared-skillRow [skill]="effect.skill" [showTypeWithName]="true" [showName]="true" [showEffects]="true" [showRange]="true" [showCasts]="true" [showHits]="true" [showCost]="true" [showMobileTitles]="true" [mobileView]="windowSize < 950"></tr>
                </table>

              </div>
            </td>
          </tr>
        </tbody>
        <tr>
          <th>Party Effects</th>
        </tr>
        <tbody *ngFor="let effectKey of card.buffs.formattedPartyKeys">
          <tr>
            <td>
              <div *ngFor="let effect of card.buffs.formattedParty[effectKey]; let effectIndex = index">
                <div *ngIf="effectIndex == 0">
                  <div *ngFor="let cond of effect.cond">
                    <div *ngIf="cond.type === 'birth'">
                      <span *ngFor="let birth of cond.items">{{ birth }}</span>
                    </div>

                    <div *ngIf="cond.type === 'elem'">
                      <img class="elementImg" src="{{'assets/elements/' + elem + '.webp'}}" *ngFor="let elem of cond.items"/>
                    </div>

                    <div *ngIf="cond.type === 'job'">
                      <span *ngFor="let job of cond.formattedItems">
                        <div class="subJob">
                          <img *ngIf="job.image" title="{{ job.names.en }}" src="{{'assets/jobs/' + job.image + '_30.webp'}}" />
                        </div>
                      </span>
                      <a (click)="goToUnitList(cond)" class="cursor-pointer inline-block">Go to unit list</a>
                    </div>

                    <div *ngIf="cond.type === 'mainJob'">
                      <span *ngFor="let job of cond.formattedItems">
                        <div class="mainJob">
                          <img *ngIf="job.image" title="{{ job.names.en }}" src="{{'assets/jobs/' + job.image + '_30.webp'}}" />
                        </div>
                      </span>
                      <a (click)="goToUnitList(cond)" class="cursor-pointer inline-block">Go to unit list</a>
                    </div>

                    <div *ngIf="cond.type === 'unit'">
                      <span *ngFor="let unit of cond.formattedItems">
                        <img *ngIf="unit.image" class="unit" title="{{ unit.names.en }}" src="{{'assets/units/' + unit.image + '_small.webp'}}" />
                      </span>
                    </div>

                    <div *ngIf="cond.type === 'mapType'">
                      <span *ngFor="let mapType of cond.formattedItems">
                        Activated only on {{ mapType }} map
                      </span>
                    </div>
                  </div>
                </div>
                {{ effect.effect }}
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="effectsTable" *ngIf="card.formattedUnlockedSkills.length > 0">
        <tbody>
          <tr>
            <th colspan="6">Unlocked Skills</th>
          </tr>
          <tr *ngIf="windowSize >= 830">
            <th class="sub skillTypeTd" *ngIf="windowSize >= 1230">Type</th>
            <th class="sub limitNameTd">Name</th>
            <th class="sub">Effects</th>
            <th class="sub rangeTd">Range</th>
            <th class="sub skillHitTd">Hits</th>
            <th class="sub skillCostTd">Cost</th>
          </tr>
        </tbody>

        <tbody *ngFor="let skill of card.formattedUnlockedSkills; let skillIndex = index"
          app-shared-skillWithUpgrade
          [skill]="skill"
          [showType]="windowSize >= 1230"
          [showTypeWithName]="windowSize < 1230"
          [showName]="true"
          [showEffects]="true"
          [showRange]="true"
          [showHits]="true"
          [showCost]="true"
          [upgradeColSpan]="1"

          [showMobileSeparator]="skillIndex < card.formattedUnlockedSkills.length - 1"
          [mobileView]="windowSize < 830"
          [mobileCollapseDetail]="true"
        ></tbody>
      </table>
    </div>

    <div class="text-center">
      <button class="btn btn-sub mt-2" (click)="toogleShowBuffDetail()">Show buff Detail</button>
    </div>

    <div *ngIf="showBuffDetail">
      <table class="effectsTable">
        <tr>
          <th colspan="10">Unit Effects</th>
        </tr>
        <tbody *ngFor="let buff of card.formattedUnitBuffs">
          <tr *ngFor="let cond of buff.cond">
            <td>Condition</td>
            <td colspan="10">
              <div *ngIf="cond.type === 'birth'">
                <span *ngFor="let birth of cond.items">{{ birth }}</span>
              </div>

              <div *ngIf="cond.type === 'elem'">
                <img class="elementImg" src="{{'assets/elements/' + elem + '.webp'}}" *ngFor="let elem of cond.items"/>
              </div>

              <div *ngIf="cond.type === 'job'">
                <span *ngFor="let job of cond.formattedItems">
                  <div class="subJob">
                    <img *ngIf="job.image" title="{{ job.names.en }}" src="{{'assets/jobs/' + job.image + '_30.webp'}}" />
                  </div>
                </span>
              </div>

              <div *ngIf="cond.type === 'mainJob'">
                <span *ngFor="let job of cond.formattedItems">
                  <div class="mainJob">
                    <img *ngIf="job.image" title="{{ job.names.en }}" src="{{'assets/jobs/' + job.image + '_30.webp'}}" />
                  </div>
                </span>
              </div>

              <div *ngIf="cond.type === 'unit'">
                <span *ngFor="let unit of cond.formattedItems">
                  <img *ngIf="unit.image" class="unit" title="{{ unit.names.en }}" src="{{'assets/units/' + unit.image + '_small.webp'}}" />
                </span>
              </div>

              <div *ngIf="cond.type === 'mapType'">
                <span *ngFor="let mapType of cond.formattedItems">
                  Activated only on {{ mapType }} map
                </span>
              </div>
            </td>
          </tr>

          <tr *ngIf="buff.classic && buff.classic.type === 'support'">
            <td>Classic</td>
            <td colspan="10">
              <div *ngFor="let effect of buff.classic.effects">
                {{ effect.formatHtml }}
              </div>
            </td>
          </tr>

          <tr *ngIf="buff.awake && buff.classic.type === 'support'">
            <td>Awake</td>
            <td colspan="10">
              <div *ngFor="let effect of buff.awake.effects">
                {{ effect.formatHtml }}
              </div>
            </td>
          </tr>

          <tr *ngIf="buff.lvmax && buff.classic.type === 'support'">
            <td>Max</td>
            <td colspan="10">
              <div *ngFor="let effect of buff.lvmax.effects">
                {{ effect.formatHtml }}
              </div>
            </td>
          </tr>

          <tr *ngIf="buff.classic && buff.classic.type !== 'support' && windowSize >= 950">
            <th class="sub skillNameTd">Name</th>
            <th class="sub">Effects</th>
            <th class="sub rangeTd">Range</th>
            <th class="sub skillCastTd">Casts</th>
            <th class="sub skillHitTd">Hits</th>
            <th class="sub skillCostTd">Cost</th>
          </tr>

          <tr *ngIf="buff.classic && buff.classic.type !== 'support'" app-shared-skillRow [skill]="buff.classic" [showTypeWithName]="true" [showName]="true" [showEffects]="true" [showRange]="true" [showCasts]="true" [showHits]="true" [showCost]="true" [showMobileTitles]="true" [mobileView]="windowSize < 950"></tr>

          <tr class="separatorLine"></tr>
        </tbody>
      </table>

      <table class="effectsTable" *ngIf="card.formattedPartyBuffs">
        <tbody>
          <tr>
            <th colspan="10">Party Effects</th>
          </tr>
          <tr *ngIf="card.formattedPartyBuffs.classic">
            <td>Classic</td>
            <td colspan="10">
              <div *ngFor="let effect of card.formattedPartyBuffs.classic.effects">
                {{ effect.formatHtml }}
              </div>
            </td>
          </tr>
          <tr *ngIf="card.formattedPartyBuffs.awake">
            <td>Awake</td>
            <td colspan="10">
              <div *ngFor="let effect of card.formattedPartyBuffs.awake.effects">
                {{ effect.formatHtml }}
              </div>
            </td>
          </tr>
          <tr *ngIf="card.formattedPartyBuffs.lvmax">
            <td>Max</td>
            <td colspan="20">
              <div *ngFor="let effect of card.formattedPartyBuffs.lvmax.effects">
                {{ effect.formatHtml }}
              </div>
            </td>
          </tr>
        </tbody>

        <tbody *ngFor="let buff of card.formattedPartyBuffs">
          <tr *ngFor="let cond of buff.cond">
            <td>Condition</td>
            <td colspan="10">
              <div *ngIf="cond.type === 'birth'">
                <span *ngFor="let birth of cond.items">{{ birth }}</span>
              </div>

              <div *ngIf="cond.type === 'elem'">
                <img class="elementImg" src="{{'assets/elements/' + elem + '.webp'}}" *ngFor="let elem of cond.items"/>
              </div>

              <div *ngIf="cond.type === 'job'">
                <span *ngFor="let job of cond.formattedItems">
                  <div class="subJob">
                    <img *ngIf="job.image" title="{{ job.names.en }}" src="{{'assets/jobs/' + job.image + '_30.webp'}}" />
                  </div>
                </span>
              </div>

              <div *ngIf="cond.type === 'mainJob'">
                <span *ngFor="let job of cond.formattedItems">
                  <div class="mainJob">
                    <img *ngIf="job.image" title="{{ job.names.en }}" src="{{'assets/jobs/' + job.image + '_30.webp'}}" />
                  </div>
                </span>
              </div>

              <div *ngIf="cond.type === 'unit'">
                <span *ngFor="let unit of cond.formattedItems">
                  <img *ngIf="unit.image" class="unit" title="{{ unit.names.en }}" src="{{'assets/units/' + unit.image + '_small.webp'}}" />
                </span>
              </div>

              <div *ngIf="cond.type === 'mapType'">
                <span *ngFor="let mapType of cond.formattedItems">
                  Activated only on {{ mapType }} map
                </span>
              </div>
            </td>
          </tr>
          <tr *ngIf="buff.classic">
            <td>Classic</td>
            <td colspan="10">
              <div *ngFor="let effect of buff.classic.effects">
                {{ effect.formatHtml }}
              </div>
            </td>
          </tr>
          <tr *ngIf="buff.awake">
            <td>Awake</td>
            <td colspan="10">
              <div *ngFor="let effect of buff.awake.effects">
                {{ effect.formatHtml }}
              </div>
            </td>
          </tr>
          <tr *ngIf="buff.lvmax">
            <td>Max</td>
            <td colspan="10">
              <div *ngFor="let effect of buff.lvmax.effects">
                {{ effect.formatHtml }}
              </div>
            </td>
          </tr>
          <tr class="separatorLine"></tr>
        </tbody>
      </table>
    </div>

    <table class="loreTable">
      <tr>
        <th>Lore</th>
      </tr>
      <tr>
        <td>{{ card.description }}</td>
      </tr>
    </table>
  </div>
</div>
