.elementImg, .damageImg, .statusAilmentImg, .skilImg, .damageSkillImg, .rarityImg {
  height: 32px;
}

.raidImg {
  height: 250px;
  margin-top: 10px;
}

.mainJob {
  height: 40px;
  background: url("assets/jobs/base_main.png") 0px 0px no-repeat;
  background-size: 40px;
  padding: 5px;
}

.subJob {
  height: 40px;
  background: url("assets/jobs/base_sub.png") 0px 0px no-repeat;
  background-size: 40px;
  padding: 5px;
}

.limitBased{
  border-right: none;
  padding-right: 0px;
  width: 50px;
}

.row {
  width: 1200px;
  margin: auto;
  margin-bottom: 20px;
}

.raidTable {
  width: 350px;
  margin-right: 20px;
}

.jobTd {
  width: 33%;
}

.tmrTable {
  width: 829px;
}

.emptyLine {
  height: 50px;
}

.statsTable {
  width: 800px;
}

.skillsTable {
  width: 1200px;
}

.rangeTd {
  width: 69px;
}

.skillJobTd {
  width: 70px;
}

.skillStarTd {
  width: 72px;
}

.skillTypeTd {
  width: 85px;
}

.skillCastTd {
  width: 61px;
}

.skillHitTd {
  width: 50px;
}

.skillCostTd {
  width: 60px;
}

.skillNameTd {
  width: 200px;
}

.tmrNameTd {
  width: 150px;
}

.tmrTypeTd {
  width: 60px;
}

.skillEffectTdAndNoBorderLeft {
  text-align: left;
  border-left: none;
}

.skillEffectTd {
  text-align: left;
}

.limitNameTd {
  width: 300px;
}

.heightResTd {
  height: 33px;
}

.timeImg {
  height: 32px;
  cursor: pointer;
  margin-top: 2px;
}
