<div class="relative z-[100]" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center items-center p-0">
      <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full lg:max-w-4xl" (clickOutside)="closeClickOuside()">
        <div class="modal-title-background px-4 py-3 sm:px-6">
          <div class="title justify-start">
            Search Options
          </div>
          <div class="closeButton justify-end">
            <button type="button" class="close" aria-label="Close" (click)="close()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>

        <div class="modal-body-background px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="mainBlock">
            You can activate some extra filter via the search bar<br>
            Here is the formatting of the filter !option=filter, an exemple : !stat_res=poison <br>
            You need to validate your filter by pressing "Enter"<br>
            <br>

            <h3 class="font-bold text-lg">stat_res</h3><br>
            For the stat resistance you can filter on either status, element and type, it will only show when the stat resistance is at least at 1 (for the max level/awake/...)<br><br>
            - fire, ice, wind, earth, lightning, water, light, dark<br>
            - slash, magic, strike, missile, pierce<br>
            - poison, blind, sleep, silence, paralyze, confusion, petrify, toad, charm, slow, stop, immobilize, disable, berserk, doom, frostbite, stun, curse<br>
            <br>

            <h3 class="font-bold text-lg">buff or break</h3><br>
            For every buff or break possible with skill (active, passive, ...), like the stat, the value of the skill need to be at least at 1 for !buff and negative value will be shown with !break<br>
            There is more option here you can filter on skill which give killer, inflict status ailment, add resistance to status ailment, buff type attack resistance or buff type attack damage<br><br>
            <div *ngFor="let formattedBuffType of formattedBuffTypes">
              - {{ formattedBuffType.type | lowercase }} : {{ formattedBuffType.formattedEffect }}
            </div>

            <br>

            <h3 class="font-bold text-lg">skill_name</h3><br>
            Pretty easy you just have to type the skill you want to search (only work with english skill name on global or japanese for jp version)<br>
            <button class="btn btn-sub mt-3" (click)="close()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
