<div class="row" >
  <div class="contact">
    <h1>Contact</h1>

    <div>
      If you find bugs, have question or just want to leave me a message you can contact me via:
      <ul>
        <li>E-Mail : bismark@ffbe-chain.com</li>
        <li>Reddit : <a href="https://www.reddit.com/user/bahamut1221">/u/bahamut1221</a></li>
        <li>Twitter : <a href="https://twitter.com/bismarktv">@bismarktv</a></li>
        <li>Discord : <a href="https://discord.gg/42PHBD85kN">WOTV-CALC discord server</a></li>
      </ul>
    </div>
  </div>
</div>
