<div class="cards">
  <div class="leftBlock">
    <h1 class="boldText">FILTERS</h1>
    <div class="filters">
      <div class="boldText" (click)="isCollapsedRarity = !isCollapsedRarity" [attr.aria-expanded]="!isCollapsedRarity">
        Rarity
        <i class="fas fa-chevron-up" *ngIf="!isCollapsedRarity" aria-hidden="true"></i>
        <i class="fas fa-chevron-down" *ngIf="isCollapsedRarity" aria-hidden="true"></i>
      </div>
      <div class="collapsedFilters" [ngbCollapse]="isCollapsedRarity">
        <div><input type="checkbox" (change)="filterList('rarity', 'UR', $event.target.checked)"/>UR</div>
        <div><input type="checkbox" (change)="filterList('rarity', 'MR', $event.target.checked)"/>MR</div>
        <div><input type="checkbox" (change)="filterList('rarity', 'SR', $event.target.checked)"/>SR</div>
        <div><input type="checkbox" (change)="filterList('rarity', 'R', $event.target.checked)"/>R</div>
        <div><input type="checkbox" (change)="filterList('rarity', 'N', $event.target.checked)"/>N</div>
      </div>
    </div>
  </div>

  <div class="rightBlock">
    <div class="upperBlock">
      <div class="searchBlock">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="searchInput" type="text" placeholder="Search for a card by name" [(ngModel)]="searchText">
      </div>
      <div class="underSearchBlock">
        <div class="totalCards">
          A total of <span class="countCards">{{ getFilteredCards().length }}</span> cards found
        </div>
        <div class="sortOrderBlock">
          <!-- <div>
            View by :
          </div> -->
          <div class="sortBy">
            <span>Sort by :</span>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary selectButton" ngbDropdownToggle>{{ sort | titlecase }}</button>
              <div ngbDropdownMenu class="selectList">
                <button class="selectElement" [ngClass]="{'disable': 'rarity' == sort}" ngbDropdownItem (click)="changeSort('rarity')">Rarity</button>
                <button class="selectElement" [ngClass]="{'disable': 'name' == sort}" ngbDropdownItem (click)="changeSort('name')">Name</button>
              </div>
            </div>
          </div>
          <div class="orderBy">
            <span>Order by :</span>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary selectButton" ngbDropdownToggle>{{ order == 'asc' ? 'Ascending' : 'Descending' }}</button>
              <div ngbDropdownMenu class="selectList">
                <button class="selectElement" [ngClass]="{'disable': 'asc' == order}" ngbDropdownItem (click)="changeOrder('asc')">Ascending</button>
                <button class="selectElement" [ngClass]="{'disable': 'desc' == order}" ngbDropdownItem (click)="changeOrder('desc')">Descending</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cardsList">
      <div class="cardsCol" *ngFor="let card of getFilteredCards()">
        <a [routerLink]="[getRoute('/card/' + card.slug)]" [routerLinkActive]="['active']">
          <div class="cardIcons">
            <img class="rarityImg" src="{{'assets/rarity/' + card.rarity + '.png'}}" />
          </div>
          <div>
            <img class="cardImg" src="assets/cards/{{ card.image }}_m.png" />
          </div>
          <div class="cardTitle">
            <span class="cardName">{{ card.name }}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
