.cards {
  width: 100%;
  text-align: center;
  display: flex;
}

.leftBlock {
  vertical-align: top;
  display: inline-block;
  width: 250px;
  float: left;
  text-align: left;
  background: var(--filters-background);
  color: var(--filters-color);
  padding-top: 15px;
  padding-left: 10px;
}

.leftBlock h1 {
  font-size: 20px;
}

.filters {
  margin-top: 20px;
}

.collapsedFilters {
  margin-top: 5px;
}

.collapsedFilters input {
  margin-right: 5px;
}

.chevron {
  float: right;
  margin-right: 10px;
}

.rightBlock {
  vertical-align: top;
  display: inline-block;
  width: 900px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

.upperBlock {
  padding-right: 10px;
}

.searchBlock {
  background: #F5F6F8;
  margin-top: 10px;
  margin-bottom: 10px;
}

.searchInput {
  background: none;
  border: 0;
  width: 750px;
}

.search-form {
  width: 750px;
  display: inline-block;
}

.underSearchBlock {
  height: 30px;
}

.totalCards {
  float: left;
  display: inline-block;
}

.sortOrderBlock {
  float: right;
  display: inline-block;
}

.sortBy, .orderBy {
  display: inline-block;
}

.sortBy > span, .orderBy > span {
  color: var(--sortby-color);
  margin-right: 8px;
}

.orderBy {
  margin-left: 10px;
}

.countCards {
  font-weight: bold;
}

.cardsList {
  margin-top: 10px;
}

.select-sort, .select-order {
  display: inline-block;
}

.select-sort {
  width: 140px;
}
