<div class="row" *ngFor="let rarity of ['UR', 'MR', 'SR', 'R', 'N']">
  <table class="cardsTable">
    <tr>
      <td colspan="4">
        <img class="rarityImg" src="{{'assets/rarity/' + rarity + '.png'}}" />
      </td>
    </tr>
    <tr *ngFor="let line of formattedCards[rarity]; let j = index">
      <td *ngFor="let card of formattedCards[rarity][j]" class="cardsCol">
        <div>
          <a [routerLink]="['/card/' + card.dataId ]" [routerLinkActive]="['active']">
            <img class="cardImg" src="{{'assets/cards/' + card.image + '_m.png'}}" />
          </a>
        </div>
        <span class="cardName"><a [routerLink]="['/card/' + card.dataId ]" [routerLinkActive]="['active']">{{ card.names.en }}</a></span>
      </td>
    </tr>
  </table>
</div>
