td {
  text-align: center;
  padding: 0.3em 0.5em;
}

.visionCardImg {
  height: 150px;
  margin-top: 10px;
}

.visionCardName {
  font-weight: bold;
  margin-left: 10px
}

.visionCardsTable {
  width: 800px;
}

.visionCardsCol {
  width: 200px;
}

.row {
  max-width: 800px;
  margin: auto;
  margin-bottom: 20px;
}
