<div class="row" *ngFor="let rarity of ['UR', 'MR', 'SR', 'R', 'N']">
  <table class="visionCardsTable">
    <tr>
      <td colspan="4">
        <img class="rarityImg" src="{{'assets/rarity/' + rarity + '.png'}}" />
      </td>
    </tr>
    <tr *ngFor="let line of formattedVisionCards[rarity]; let j = index">
      <td *ngFor="let visionCard of formattedVisionCards[rarity][j]" class="visionCardsCol">
        <div>
          <a [routerLink]="['/card/' + visionCard.dataId ]" [routerLinkActive]="['active']">
            <img class="visionCardImg" src="{{'assets/visionCards/' + visionCard.image + '_m.png'}}" />
          </a>
        </div>
        <span class="visionCardName"><a [routerLink]="['/visionCard/' + visionCard.dataId ]" [routerLinkActive]="['active']">{{ visionCard.names.en }}</a></span>
      </td>
    </tr>
  </table>
</div>
