.cardImg {
  height: 150px;
  margin-top: 10px;
}

.cardName {
  font-weight: bold;
  margin-left: 10px
}

.cardsTable {
  width: 800px;
}

.cardsCol {
  width: 200px;
}

.row {
  max-width: 800px;
  margin: auto;
  margin-bottom: 20px;
}
