.row {
  width: 1300px;
  margin: auto;
  margin-bottom: 20px;
}

.searchBlock {
  background: #F5F6F8;
  margin-top: 10px;
  padding: 5px;
  width: 100%;
}

.searchInput {
  background: none;
  border: 0;
  width: 1220px;
}

.fa-search {
  padding-left: 5px;
  padding-right: 8px;
  color: #000;
}

.fa-times {
  margin-right: 10px;
}

.fa-times, .fa-chevron-up, .fa-chevron-down {
  color: #000;
  cursor: pointer;
}

.loadingBlock {
  margin: auto;
  padding: 20px;
  text-align: center;
}

/**********/
/* Search */
/**********/

.rarityBlock {
  width: 100%;
}

.rarityLine {
  padding: 5px;
  background: #E8E6DF;
  color: #000;
  height: 40px;
}

.rarityLine img {
  height: 30px;
}

.rarityLine span {
  font-weight: 600;
  margin-left: 5px;
  top: 3px;
  position: relative;
}

.cardBlock {
  border-left: 2px solid #E8E6DF;
  border-right: 2px solid #E8E6DF;
  border-bottom: 2px solid #E8E6DF;
  padding-left: 10px;
}

.cardLine {
  padding-top: 10px;
  cursor: pointer;
}

.cardLine hr {
  margin: 0;
  width: 1276px;
}

.cardLogo {
  padding: 5px;
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: #E8E6DF;
  margin-bottom: 10px;
  margin-right: 10px;
  text-align: center;
}

.cardLogo img {
  max-height: 70px;
  max-width: 70px;
}

.cardName {
  display: inline-block;
  font-size: 22px;
  vertical-align: middle;
}

/***********/
/* Builder */
/***********/

.saveBlock {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.btn-buildLink {
  margin-right: 10px;
}

.leftBlock {
  width: 250px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}

.leftBlock table {
  width: 100%
}

.rightBlock {
  width: 1030px;
  display: inline-block;
  vertical-align: top;
}

.cardImg {
  height: 150px;
  margin-top: 10px;
}

.cardIcons {
  position: absolute;
  width: 230px;
  padding: 5px;
}

.rarityImg {
  height: 32px;
  float: left;
}

.awakeningDiv {
  width: 100%;
  height: 25px;
  margin-bottom: 10px;
}

.levelDiv {
  width: 100%;
  height: 35px;
}

.awakeningDiv div:first-child, .levelDiv div:first-child {
  float: left;
}

.levelDiv div:first-child {
  padding-top: 5px;
}

.awakeningDiv div:last-child, .levelDiv div:last-child {
  float: right;
}

.levelDiv div:last-child {
  width: 95px;
}

.star {
  height: 20px;
  background: url("assets/icons/star_off.png") 0px 0px no-repeat;
  background-size: 20px;
  width: 20px;
}

.star.filled {
  height: 20px;
  background: url("assets/icons/star_on.png") 0px 0px no-repeat;
  background-size: 20px;
  width: 20px;
}

.btn-left {
  width: 110px;
  margin-right: 10px;
}

.btn-right {
  width: 110px;
}

.dropdownDiv {
  display: inline-block;
}

.statsTable {
  width: 100%;
  margin-bottom: 10px;
}

.skillNameTd {
  width: 200px;
}

.rangeTd {
  width: 69px;
}

.skillCastTd {
  width: 61px;
}

.skillHitTd {
  width: 50px;
}

.skillCostTd {
  width: 60px;
}

.cardSelector {
  display: block;
}

.cardSelectorWithSave {
  display: inline-block;
  width: 1200px;
}

.loadDiv {
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  text-align: center;
  height: 72px;
  padding-top: 20px;
}

.loadDiv .fa-download {
  font-size: 40px;
}

.cardButtons {
  text-align: center;
  border-top: 10px;
}

.damageImg, .skilImg, .damageSkillImg {
  height: 32px;
}

.mainJob {
  height: 40px;
  width: 40px;
  background: url("assets/jobs/base_main.png") 0px 0px no-repeat;
  background-size: 40px;
  padding: 5px;
  margin-right: 5px;
  display: inline-block;
}

.mainJob img {
  max-height: 30px;
  max-width: 30px;
  vertical-align: top;
}

.subJob {
  height: 40px;
  width: 40px;
  background: url("assets/jobs/base_sub.png") 0px 0px no-repeat;
  background-size: 40px;
  padding: 5px;
  margin-right: 5px;
  display: inline-block;
}

.subJob img {
  max-height: 30px;
  max-width: 30px;
  vertical-align: top;
}

.unit {
  max-height: 40px;
  max-width: 40px;
  margin-right: 5px;
}

.elementImg {
  height: 40px;
  margin-right: 5px;
}

.zone-select-level {
  display: inline-block;
  float: right;
}

.select-level {
  display: inline-block;
  width: 60px;
}

.hideStat {
  display: none;
}
