<div class="row">
  <div class="searchBlock">
    <i class="fas fa-search" aria-hidden="true"></i>
    <input class="searchInput" type="text" placeholder="Search for a card by name" [(ngModel)]="searchText" (ngModelChange)="updateFilteredCards()" (blur)="blurSearch()" (focus)="focusSearch()">
    <i class="fas fa-times" aria-hidden="true" (click)="selectCard('')"></i>
    <i class="fas fa-chevron-up" aria-hidden="true" (click)="toogleList()" *ngIf="showList"></i>
    <i class="fas fa-chevron-down" aria-hidden="true" (click)="toogleList()" *ngIf="!showList"></i>
  </div>

  <div class="loadingBlock" *ngIf="loadingBuild">
    <h1>Your build is loading</h1>
    <i class="fas fa-spinner fa-pulse fa-5x fa-fw" aria-hidden="true"></i>
  </div>

  <div class="rarityBlock" *ngFor="let rarity of ['UR', 'MR', 'SR', 'R', 'N']">
    <div class="rarityLine" *ngIf="showList && !loadingBuild && filteredCards[rarity].length > 0">
      <img src="assets/rarity/{{rarity}}.png" /><span>{{ rarityTranslate[rarity] }}</span>
    </div>
    <div class="cardBlock" *ngIf="showList && !loadingBuild && filteredCards[rarity].length > 0">
      <div class="cardLine" *ngFor="let filteredCard of filteredCards[rarity]; let j = index">
        <div class="cardSelector" [ngClass]="{'cardSelectorWithSave': savedCards[filteredCard.dataId]}" (click)="selectCard(filteredCard.dataId)">
          <div class="cardLogo">
            <img src="assets/cards/{{ filteredCard.image }}_m.png" />
          </div>
          <div class="cardName" innerHTML="{{ filteredCard.name | highlight: searchText }}"></div>
        </div>
        <div class="loadDiv" *ngIf="savedCards[filteredCard.dataId] && savedCards[filteredCard.dataId].length > 0">
          <a (click)="openLoadModal(filteredCard.dataId)"><i class="fas fa-download"></i></a>
        </div>
        <hr *ngIf="j != filteredCards[rarity].length - 1"/>
      </div>
    </div>
  </div>

  <div class="saveBlock" *ngIf="!showList && card">
    <button class="btn btn-sub btn-buildLink" (click)="openLinkModal(builderLink)">Get Build Link</button>
    <button class="btn btn-sub" (click)="openSaveModal(saveModal)" *ngIf="showSave">Save</button>
  </div>

  <div class="leftBlock" *ngIf="!showList && card">
    <table>
      <tbody>
        <tr>
          <th>{{ card.name }}<span *ngIf="card.customName"> - {{ card.customName }}</span></th>
        </tr>
        <tr>
          <td>
            <div class="cardButtons">
              <button class="btn btn-sub btn-left" (click)="resetCard()">Reset</button>
              <button class="btn btn-main btn-right" (click)="maxCard()">Max card</button>
            </div>
            <div class="cardIcons">
              <img class="rarityImg" src="{{'assets/rarity/' + card.rarity + '.png'}}" />
            </div>
            <div>
              <img class="cardImg" src="assets/cards/{{ card.image }}_m.png" />
            </div>
          </td>
        </tr>
        <tr>
          <th class="sub">Level</th>
        </tr>
        <tr>
          <td>
            <div class="awakeningDiv">
              <div>
                Awakening
              </div>
              <div class="stars">
                <ngb-rating [(rate)]="card.star" [max]="4" class="ratingStars">
                  <ng-template let-fill="fill" let-index="index">
                    <div class="star" [class.filled]="fill === 100" (click)="changeStar(index + 1)">&nbsp;</div>
                  </ng-template>
                </ngb-rating>
              </div>
            </div>

            <div class="levelDiv">
              <div>
                Level
              </div>
              <div ngbDropdown class="dropdownDiv">
                <button class="btn btn-select" ngbDropdownToggle>{{ card.level }}</button>
                <div ngbDropdownMenu class="selectList">
                  <button *ngFor="let level of card.tableLevels" class="selectLevel" ngbDropdownItem (focus)="selectLevel(level)">{{ level }}</button>
                </div> / {{ card.maxLevel }}
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="rightBlock" *ngIf="!showList && card">
    <table class="statsTable">
      <tbody>
        <tr>
          <th colspan="10">Stats</th>
        </tr>
        <tr>
          <th class="sub" *ngFor="let type of card.statsType">{{ type }}</th>
        </tr>
        <tr>
          <td *ngFor="let type of card.statsType">
            {{ card.stats[type].total }}
          </td>
        </tr>
      </tbody>
    </table>

    <table class="statsTable">
      <tbody>
        <tr>
          <th colspan="10">Unit Buff</th>
        </tr>
        <tr>
          <td colspan="10">
            <div *ngFor="let buff of card.buff.self">{{ buff }}</div>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="statsTable" *ngIf="card.skills.length > 0">
      <tbody>
        <tr>
          <th colspan="10">Unit Skill</th>
        </tr>
        <tr>
          <th class="sub">name</th>
          <th class="sub">Effects</th>
          <th class="sub">Range</th>
          <th class="sub">Casts</th>
          <th class="sub">Hits</th>
          <th class="sub">Cost</th>
        </tr>
        <tr>
          <td colspan="10">
            <div *ngFor="let buff of card.buff.self">{{ buff }}</div>
          </td>
        </tr>
        <tr *ngFor="let skill of card.skills">
          <td class="skillNameTd">
            <span>{{ skill.name }}</span>
            <span *ngIf="skill.based"><img class='atkBasedImg' src="{{'assets/atkBased/' + skill.based + '.png'}}" /></span>
            <div *ngIf="skill.time && skill.time.minValue">
              <ng-template #tip_time>
                <div>
                  Min time: {{ skill.time.minValue }}<br />
                  Max time: {{ skill.time.maxValue }}
                </div>
              </ng-template>
              <img class='timeImg' src="{{'assets/icons/time.png'}}" [ngbTooltip]="tip_time"/>
            </div>
          </td>
          <td class="skillEffectTd">
            <div>{{ skill.counterHtml }}</div>
            <div [innerHTML]="skill.damageHtml"></div>
            <div *ngFor="let effect of skill.effects">
              {{ effect.formatHtml }}
            </div>
          </td>
          <td class="rangeTd">
            <ng-template #tip_table><div [innerHTML]="skill.skillTableHtml"></div></ng-template>
            <div [ngbTooltip]="tip_table" triggers="click" [autoClose]="true">
              <div class="divSkillTableHtml" [innerHTML]="skill.skillTableHtml"></div>
            </div>
          </td>
          <td class="skillCastTd">
            {{ skill.count }}
          </td>
          <td class="skillHitTd">
            <span *ngIf="skill.combo">{{ skill.combo.num }}</span>
          </td>
          <td class="skillCostTd">
            <span *ngIf="skill.cost">{{ skill.cost.value }} {{ skill.cost.type }}</span>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="statsTable">
      <tbody>
        <tr>
          <th colspan="10">Party Buff</th>
        </tr>
        <tr>
          <td colspan="10">
            <div *ngFor="let buff of card.buff.party">{{ buff }}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
