.equipmentImg {
  height: 200px;
}

.statsTable {
  width: 1000px;
}

.leftBlock {
  display: inline-block;
  width: 250px;
}

.leftBlock .equipmentTable {
  margin: auto;
}

.rightBlock {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
  margin: auto;
}

.closeButton button {
  padding: 10px;
}

.upperBlock {
  display: block;
}

.upperBlock .equipmentDiv {
  margin-top: 10px;
  text-align: center;
}

.upperBlock .equipmentTable {
  margin-left: 10px;
  display: inline-block;
}

.upperBlock .upgradeTypeDiv {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-left: 20px;
}

.lowerBlock {}

.lowerBlock .statsTable {
  margin: auto
}