<ng-template #builderLink let-modal>
  <div>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <textarea rows="10" class="textLink">{{ exportableLink }}</textarea>
  <button (click)="copyLink()">Copy</button>
</ng-template>

<div class="row">
  <div class="searchBlock">
    <i class="fa fa-search" aria-hidden="true"></i>
    <input class="searchInput" type="text" placeholder="Search for an unit by name" [(ngModel)]="searchText" (ngModelChange)="updateFilteredUnits()">
  </div>

  <div class="rarityBlock" *ngFor="let rarity of ['UR', 'MR', 'SR', 'R', 'N']">
    <div class="rarityLine" *ngIf="!unit && filteredUnits[rarity].length > 0">
      {{ rarity }}
    </div>
    <div class="unitBlock" *ngIf="!unit && filteredUnits[rarity].length > 0">
      <div class="unitLine" *ngFor="let filteredUnit of filteredUnits[rarity]; let j = index" (click)="selectUnit(filteredUnit.dataId)">
        {{ filteredUnit.name }}

        <hr *ngIf="j != filteredUnits[rarity].length"/>
      </div>
    </div>
  </div>

  <div *ngIf="unit" style="width: 100%;">
    <button (click)="save()">SAVE</button>
    <button (click)="openLinkModal(builderLink)">Get Build Link</button>
  </div>

  <div class="leftBlock" *ngIf="unit">
    <table>
      <tbody>
        <tr>
          <th>{{ unit.name }}</th>
        </tr>
        <tr>
          <td>
            <div class="unitButtons">
              <button class="btn btn-available btn-left" (click)="resetUnit()">Reset</button>
              <button class="btn btn-available btn-right" (click)="maxUnit()">Max unit</button>
            </div>
            <div class="cardIcons">
              <img class="rarityImg" src="{{'assets/rarity/' + unit.rarity + '.png'}}" />
              <img class="elementImg" src="{{'assets/elements/' + unit.element + '.png'}}"  />
            </div>
            <div>
              <img class="unitImg" src="assets/units/{{ unit.image }}_m.png" />
            </div>
          </td>
        </tr>
        <tr>
          <th class="sub">Level</th>
        </tr>
        <tr>
          <td>
            <div class="awakeningDiv">
              <div>
                Awakening
              </div>
              <div class="stars">
                <ngb-rating [(rate)]="unit.star" [max]="6" class="ratingStars">
                  <ng-template let-fill="fill" let-index="index">
                    <div class="star" [class.filled]="fill === 100"  (click)="changeStar(index + 1)">&nbsp;</div>
                  </ng-template>
                </ngb-rating>
              </div>
            </div>

            <div class="lbDiv">
              <div>
                Limit Break
              </div>
              <div class="lbs">
                <ngb-rating [(rate)]="unit.lb" [max]="5">
                  <ng-template let-fill="fill" let-index="index">
                    <div class="lb" [class.filled]="fill === 100" (click)="changeLB(index + 1)">&nbsp;</div>
                  </ng-template>
                </ngb-rating>
              </div>
            </div>

            <div class="levelDiv">
              <div>
                Level
              </div>
              <div ngbDropdown class="dropdownDiv">
                <button class="btn btn-select" ngbDropdownToggle>{{ unit.level }}</button>
                <div ngbDropdownMenu class="selectList">
                  <button *ngFor="let level of unit.tableLevels" class="selectLevel" ngbDropdownItem (click)="selectLevel(level)">{{ level }}</button>
                </div> / {{ unit.maxLevel }}
              </div>
            </div>

            <div class="masterSkillDiv">
              <div>
                Master Skill Level
              </div>
              <div ngbDropdown class="dropdownDiv">
                <button class="btn btn-select" ngbDropdownToggle>{{ unit.masterSkillActivated + 1 }}</button>
                <div ngbDropdownMenu class="selectList">
                  <button *ngFor="let level of unit.masterSkillLevel" class="selectLevel" ngbDropdownItem (click)="selectMasterSkillLevel(level)">{{ level + 1 }}</button>
                </div>
              </div>
            </div>

            <div class="limitDiv" *ngIf="unit.limit">
              <div>
                Limit Level
              </div>
              <div ngbDropdown class="dropdownDiv">
                <button class="btn btn-select" ngbDropdownToggle>{{ unit.limit.level + 1 }}</button>
                <div ngbDropdownMenu class="selectList">
                  <button *ngFor="let level of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]" class="selectLevel" ngbDropdownItem (click)="selectLimitLevel(level)">{{ level + 1 }}</button>
                </div>
              </div>
            </div>

            <div>
              <button class="btn btn-available btn-left" (click)="resetLevel()">Reset level</button>
              <button class="btn btn-available btn-right" (click)="maxLevelAndJobs()">Max level</button>
            </div>
          </td>
        </tr>
        <tr>
          <th class="sub">Jobs</th>
        </tr>
        <tr>
          <td>
            <div *ngFor="let i of [0, 1, 2]" class="jobDiv" [ngClass]="{'lastJobDiv': i == 2, 'subjobDisable': !unit.jobsData[i].unlocked}">
              <img [className]="i == 0 ? 'mainJob' : 'subJob'" src="{{'assets/jobs/' + unit.jobsData[i].image + '.png'}}" />

              <div ngbDropdown class="dropdownDiv">
                <button class="btn btn-select" ngbDropdownToggle [disabled]="!unit.jobsData[i].unlocked">{{ unit.jobsData[i].level }}</button>
                <div ngbDropdownMenu class="selectList">
                  <button *ngFor="let level of unit.tableJobLevels" class="selectLevel" ngbDropdownItem (click)="selectJobLevel(i, level)">{{ level }}</button>
                </div>
              </div>
            </div>
            <div class="jobsButton">
              <button class="btn btn-available btn-left" (click)="resetJob()">Reset Jobs</button>
              <button class="btn btn-available btn-right" (click)="maxLevelAndJobs()">Max Jobs</button>
            </div>
          </td>
        </tr>
        <tr>
          <th class="sub">Sub Job</th>
        </tr>
        <tr>
          <td class="subJobColumn">
            <div *ngFor="let i of [0, 1, 2]" class="subjobDiv jobDiv" [ngClass]="{'lastJobDiv': i == 2, 'selectedSubJob': i == unit.subjob, 'subjobDisable': !unit.jobsData[i].unlocked}" (click)="changeSubJob(i)">
              <img class="subJob" src="{{'assets/jobs/' + unit.jobsData[i].image + '.png'}}" />
              {{ unit.jobsData[i].name }}
            </div>
          </td>
        </tr>
        <tr>
          <th class="sub">Equipments</th>
        </tr>
        <tr>
          <td>
            <div class="equipmentDiv">
              Slot 1
              <div *ngIf="unit && unit.equipments && unit.equipments[0]" (click)="openEquipmentsModal(0)" class="equipmentPointer">
                <img src="{{'assets/equipments/' + unit.equipments[0].image + '.png'}}" class="equipmentImg background_{{ unit.equipments[0].category }}"/>
              </div>
              <div *ngIf="!unit.equipments || !unit.equipments[0]" (click)="openEquipmentsModal(0)" class="equipmentPointer">
                <img src="{{'assets/builder/no_artifact.png'}}" class="equipmentImg"/>
              </div>
              <button class="btn btn-equipment" [ngClass]="{'btn-available': unit && unit.equipments && unit.equipments[0], 'btn-disable': !unit.equipments || !unit.equipments[0]}" (click)="openEquipmentsModal(0)">Custom</button>
            </div>

            <div class="equipmentDiv" *ngIf="unit && unit.lb >= 2">
              Slot 2
              <div *ngIf="unit && unit.equipments && unit.equipments[1]" (click)="openEquipmentsModal(1)" class="equipmentPointer">
                <img src="{{'assets/equipments/' + unit.equipments[1].image + '.png'}}" class="equipmentImg background_{{ unit.equipments[1].category }}"/>
              </div>
              <div *ngIf="!unit.equipments || !unit.equipments[1]" (click)="openEquipmentsModal(1)" class="equipmentPointer">
                <img src="{{'assets/builder/no_artifact.png'}}" class="equipmentImg"/>
              </div>
              <button class="btn btn-equipment" [ngClass]="{'btn-available': unit && unit.equipments && unit.equipments[1], 'btn-disable': !unit.equipments || !unit.equipments[1]}" (click)="openEquipmentsModal(1)">Custom</button>
            </div>

            <div class="equipmentDiv" *ngIf="unit && (unit.lb < 2 || !unit.lb)">
              Slot 2
              <img src="{{'assets/builder/lock_artifact.png'}}" class="equipmentImg"/>
              <button class="btn btn-disable btn-equipment">Custom</button>
            </div>

            <div class="equipmentDiv" *ngIf="unit && unit.lb >= 4">
              TMR
              <div *ngIf="unit && unit.equipments && unit.equipments[2]" (click)="openEquipmentsModal(2)" class="equipmentPointer">
                <img src="{{'assets/equipments/' + unit.equipments[2].image + '.png'}}" class="equipmentImg background_{{ unit.equipments[2].category }}"/>
              </div>
              <div *ngIf="!unit.equipments || !unit.equipments[2]" (click)="openEquipmentsModal(2)" class="equipmentPointer">
                <img src="{{'assets/builder/no_artifact.png'}}" class="equipmentImg"/>
              </div>
              <button class="btn btn-equipment" [ngClass]="{'btn-available': unit && unit.equipments && unit.equipments[2], 'btn-disable': !unit.equipments || !unit.equipments[2]}" (click)="openEquipmentsModal(2)">Custom</button>
            </div>

            <div class="equipmentDiv" *ngIf="unit && (unit.lb < 4 || !unit.lb)">
              TMR
              <img src="{{'assets/builder/lock_artifact.png'}}" class="equipmentImg"/>
              <button class="btn btn-disable btn-equipment">Custom</button>
            </div>
          </td>
        </tr>
        <tr>
          <th class="sub">Esper & Card</th>
        </tr>
        <tr>
          <td>
            <div class="esparCardDiv">
              Esper
              <div *ngIf="unit.esper">
                <img src="{{'assets/units/' + unit.esper.image + '_m.png'}}" class="esperImg" (click)="openEspersModal()"/>
                Reso
                <select [(ngModel)]="unit.esper.resonance" (ngModelChange)="changeLevel()">
                  <option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">{{ i }}</option>
                </select><br />
                <button class="btn btn-available btn-esper" (click)="openEspersModal()">Custom</button>
              </div>

              <div *ngIf="!unit.esper">
                <img src="{{'assets/builder/no_esper.png'}}" class="esperImg" (click)="openEspersModal()"/>
                <button class="btn btn-disable btn-esper" (click)="openEspersModal()">Custom</button>
              </div>
            </div>

            <div class="esparCardDiv">
              Vision Card
              <div *ngIf="unit.card">
                <img src="{{'assets/cards/' + unit.card.image + '_m.png'}}" class="cardImg" (click)="openCardsModal()"/>
                <button class="btn btn-available btn-card" (click)="openCardsModal()">Custom</button>
              </div>

              <div *ngIf="!unit.card">
                <img src="{{'assets/builder/no_card.png'}}" class="cardImg" (click)="openCardsModal()"/>
                <button class="btn btn-disable btn-card" (click)="openCardsModal()">Custom</button>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th class="sub">Support Skills</th>
        </tr>
        <tr *ngFor="let i of [0, 1]">
          <td>
            <div ngbDropdown class="dropdownFull">
              <button class="btn btn-select" ngbDropdownToggle>
                {{ unit.activatedSupport[i] && unit.activatedSupport[i] > 0 ? unit.board.nodes[unit.activatedSupport[i]].skill.name : "Select a skill" }}
              </button>
              <div ngbDropdownMenu class="selectList selectListFull">
                <button *ngFor="let node of getAvailableSupportNodes(i)" class="selectLevel" ngbDropdownItem (click)="selectSupportSkill(i, node.nodeId)">{{ node.name }}</button>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th class="sub">Counter Skill</th>
        </tr>
        <tr>
          <td>
            <div ngbDropdown class="dropdownFull">
              <button class="btn btn-select" ngbDropdownToggle>
                {{ unit.activatedCounter && unit.activatedCounter > 0 ? unit.board.nodes[unit.activatedCounter].skill.name : "Select a skill" }}
              </button>
              <div ngbDropdownMenu class="selectList selectListFull">
                <button *ngFor="let node of getAvailableCounterNodes()" class="selectLevel" ngbDropdownItem (click)="selectCounterSkill(node.nodeId)">{{ node.name }}</button>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th class="sub">Guild</th>
        </tr>
        <tr>
          <td>
            <div *ngFor="let statue of statueNames" class="guildDiv">
              <img class="statueImg" src="{{ 'assets/statues/' + statue + '.png' }}"/>
              {{ unit.guild.data[statue] }}
            </div>
            <div>
              <button class="btn btn-available btn-guild" (click)="showGuildDetail()">Custom</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>





  <div class="rightBlock" *ngIf="unit">
    <table class="statsTable">
      <tbody>
        <tr>
          <th colspan="13">Stats</th>
        </tr>
        <tr>
          <th class="sub"></th>
          <th class="sub" *ngFor="let type of statsType">{{ type }}</th>
        </tr>
      </tbody>
      <tbody *ngIf="showStatsDetail">
        <tr *ngFor="let statFrom of statsFrom">
          <td>{{ statFrom.translate }}</td>
          <td *ngFor="let type of statsType">
            <span *ngIf="type == 'AP' && unit.stats['INITIAL_AP'][statFrom.type]">{{ unit.stats["INITIAL_AP"][statFrom.type] }} / </span>
            <span>{{ unit.stats[type][statFrom.type] }}</span>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>Total</td>
          <td *ngFor="let type of statsType">
            <span *ngIf="type == 'AP'">{{ unit.stats["INITIAL_AP"].total }} / </span>
            <span>{{ unit.stats[type].total }}</span>
          </td>
        </tr>
      </tbody>
    </table>
    <button (click)="showHideDetail('Stats')">Stats Detail</button>

    <table class="statsTable">
      <tbody>
        <tr>
          <th colspan="9">Buffs</th>
        </tr>
      </tbody>
      <tbody *ngFor="let line of unit.availableStats">
        <tr>
          <th class="sub"></th>
          <th class="sub" *ngFor="let statType of line">
            <img *ngIf="buffsImage.indexOf(statType.toLowerCase()) !== -1" class="buffImg" title="{{ statType }}" src="{{ '/assets/buffs/' + statType.toLowerCase() + '.png' }}">
            <span *ngIf="buffsImage.indexOf(statType.toLowerCase()) === -1">{{ statType }}</span>
          </th>
        </tr>
        <tr [ngClass]="{'disable': !showBuffsDetail}" *ngFor="let comeFrom of ['board', 'support', 'masterSkill', 'esper', 'card', 'cardParty', 'equipment0_stat', 'equipment0_buff', 'equipment1_stat', 'equipment1_buff', 'equipment2_stat', 'equipment2_buff', 'totalEquipment']">
          <td>{{ comeFrom }}</td>
          <td *ngFor="let statType of line">{{ unit.stats[statType] ? unit.stats[statType][comeFrom] : '' }}</td>
        </tr>
        <tr>
          <td>Total</td>
          <td *ngFor="let statType of line">{{ unit.stats[statType].total }}</td>
        </tr>
      </tbody>
    </table>
    <button (click)="showHideDetail('Buffs')">Buffs Detail</button>


    <table class="statsTable" *ngIf="unit.imbue">
      <tbody>
        <tr>
          <th colspan="9">Imbue</th>
        </tr>
        <tr>
          <td>
            {{ unit.imbue.formatHtml }}
          </td>
        </tr>
      </tbody>
    </table>

    <table class="statsTable">
      <tbody>
        <tr>
          <th colspan="9">Active skills</th>
        </tr>
      </tbody>
      <tbody *ngIf="showActiveDetail">
        <tr>
          <th class="sub skillTypeTd">Type</th>
          <th class="sub skillNameTd">Name</th>
          <th class="sub ">Effects</th>
          <th class="sub rangeTd">Range</th>
          <th class="sub skillCastTd">Casts</th>
          <th class="sub skillHitTd">Hits</th>
          <th class="sub skillCostTd">Cost</th>
        </tr>
        <tr *ngFor="let skill of unit.activeSkills">
          <td>
            <img class="skilImg" title="skill type" src="{{'assets/skill-type/' + skill.type + '.png'}}" />
            <span *ngIf="skill.based"><img title="{{ skill.based }}" class='atkBasedImg' src="{{'assets/atkBased/' + skill.based + '.png'}}" /></span>
            <div *ngIf="skill.time && skill.time.minValue">
              <ng-template #tip_time>
                <div>
                  Min time: {{ skill.time.minValue }}<br />
                  Max time: {{ skill.time.maxValue }}
                </div>
              </ng-template>
              <img class='timeImg' src="{{'assets/icons/time.png'}}" [ngbTooltip]="tip_time"/>
            </div>
          </td>
          <td>{{ skill.name }}</td>
          <td class="skillEffectTd">
            <div>{{ skill.counterHtml }}</div>
            <div [innerHTML]="skill.damageHtml"></div>
            <div *ngFor="let effect of skill.effects">
              {{ effect.formatHtml }}
            </div>
          </td>
          <td>
            <ng-template #tip_table><div [innerHTML]="skill.skillTableHtml"></div></ng-template>
            <div [ngbTooltip]="tip_table" triggers="click" [autoClose]="true">
              <div class="divSkillTableHtml" [innerHTML]="skill.skillTableHtml"></div>
            </div>
          </td>
          <td>{{ skill.count }}</td>
          <td><span *ngIf="skill.combo">{{ skill.combo.num }}</span></td>
          <td><span *ngIf="skill.cost">{{ skill.cost.value }} {{ skill.cost.type }}</span></td>
        </tr>
      </tbody>
      <tbody *ngFor="let i of [0, 1, 2]">
        <tr [ngStyle]="{'display': showActiveDetail ? 'table-row' : 'none' }" *ngIf="unit.equipments[i] && unit.equipments[i].activeSkill; let skill">
          <td>
            <img class="skilImg" title="skill type" src="{{'assets/skill-type/weapon.png'}}" />
            <span *ngIf="skill.based"><img title="{{ skill.based }}" class='atkBasedImg' src="{{'assets/atkBased/' + skill.based + '.png'}}" /></span>
            <div *ngIf="skill.time && skill.time.minValue">
              <ng-template #tip_time>
                <div>
                  Min time: {{ skill.time.minValue }}<br />
                  Max time: {{ skill.time.maxValue }}
                </div>
              </ng-template>
              <img class='timeImg' src="{{'assets/icons/time.png'}}" [ngbTooltip]="tip_time"/>
            </div>
          </td>
          <td>{{ skill.name }}</td>
          <td class="skillEffectTd">
            <div>{{ skill.counterHtml }}</div>
            <div [innerHTML]="skill.damageHtml"></div>
            <div *ngFor="let effect of skill.effects">
              {{ effect.formatHtml }}
            </div>
          </td>
          <td>
            <ng-template #tip_table><div [innerHTML]="skill.skillTableHtml"></div></ng-template>
            <div [ngbTooltip]="tip_table" triggers="click" [autoClose]="true">
              <div class="divSkillTableHtml" [innerHTML]="skill.skillTableHtml"></div>
            </div>
          </td>
          <td>{{ skill.count }}</td>
          <td><span *ngIf="skill.combo">{{ skill.combo.num }}</span></td>
          <td><span *ngIf="skill.cost">{{ skill.cost.value }} {{ skill.cost.type }}</span></td>
        </tr>
      </tbody>
      <tbody *ngIf="showActiveDetail && unit.activatedSupport[0] !== '0'">
        <tr *ngFor="let skill of [unit.board.nodes[unit.activatedSupport[0]].skill]">
          <td>
            <img class="skilImg" title="skill type" src="{{'assets/skill-type/support.png'}}" />
            <span *ngIf="skill.based"><img title="{{ skill.based }}" class='atkBasedImg' src="{{'assets/atkBased/' + skill.based + '.png'}}" /></span>
            <div *ngIf="skill.time && skill.time.minValue">
              <ng-template #tip_time>
                <div>
                  Min time: {{ skill.time.minValue }}<br />
                  Max time: {{ skill.time.maxValue }}
                </div>
              </ng-template>
              <img class='timeImg' src="{{'assets/icons/time.png'}}" [ngbTooltip]="tip_time"/>
            </div>
          </td>
          <td>{{ skill.name }}</td>
          <td class="skillEffectTd">
            <div>{{ skill.counterHtml }}</div>
            <div [innerHTML]="skill.damageHtml"></div>
            <div *ngFor="let effect of skill.effects">
              {{ effect.formatHtml }}
            </div>
          </td>
          <td>
            <ng-template #tip_table><div [innerHTML]="skill.skillTableHtml"></div></ng-template>
            <div [ngbTooltip]="tip_table" triggers="click" [autoClose]="true">
              <div class="divSkillTableHtml" [innerHTML]="skill.skillTableHtml"></div>
            </div>
          </td>
          <td>{{ skill.count }}</td>
          <td><span *ngIf="skill.combo">{{ skill.combo.num }}</span></td>
          <td><span *ngIf="skill.cost">{{ skill.cost.value }} {{ skill.cost.type }}</span></td>
        </tr>
      </tbody>
      <tbody *ngIf="showActiveDetail && unit.activatedSupport[1] !== '0'">
        <tr *ngFor="let skill of [unit.board.nodes[unit.activatedSupport[1]].skill]">
          <td>
            <img class="skilImg" title="skill type" src="{{'assets/skill-type/support.png'}}" />
            <span *ngIf="skill.based"><img title="{{ skill.based }}" class='atkBasedImg' src="{{'assets/atkBased/' + skill.based + '.png'}}" /></span>
            <div *ngIf="skill.time && skill.time.minValue">
              <ng-template #tip_time>
                <div>
                  Min time: {{ skill.time.minValue }}<br />
                  Max time: {{ skill.time.maxValue }}
                </div>
              </ng-template>
              <img class='timeImg' src="{{'assets/icons/time.png'}}" [ngbTooltip]="tip_time"/>
            </div>
          </td>
          <td>{{ skill.name }}</td>
          <td class="skillEffectTd">
            <div>{{ skill.counterHtml }}</div>
            <div [innerHTML]="skill.damageHtml"></div>
            <div *ngFor="let effect of skill.effects">
              {{ effect.formatHtml }}
            </div>
          </td>
          <td>
            <ng-template #tip_table><div [innerHTML]="skill.skillTableHtml"></div></ng-template>
            <div [ngbTooltip]="tip_table" triggers="click" [autoClose]="true">
              <div class="divSkillTableHtml" [innerHTML]="skill.skillTableHtml"></div>
            </div>
          </td>
          <td>{{ skill.count }}</td>
          <td><span *ngIf="skill.combo">{{ skill.combo.num }}</span></td>
          <td><span *ngIf="skill.cost">{{ skill.cost.value }} {{ skill.cost.type }}</span></td>
        </tr>
      </tbody>
      <tbody *ngIf="showActiveDetail && unit.activatedCounter !== '0'">
        <tr *ngFor="let skill of [unit.board.nodes[unit.activatedCounter].skill]">
          <td>
            <img class="skilImg" title="skill type" src="{{'assets/skill-type/counter.png'}}" />
            <span *ngIf="skill.based"><img title="{{ skill.based }}" class='atkBasedImg' src="{{'assets/atkBased/' + skill.based + '.png'}}" /></span>
            <div *ngIf="skill.time && skill.time.minValue">
              <ng-template #tip_time>
                <div>
                  Min time: {{ skill.time.minValue }}<br />
                  Max time: {{ skill.time.maxValue }}
                </div>
              </ng-template>
              <img class='timeImg' src="{{'assets/icons/time.png'}}" [ngbTooltip]="tip_time"/>
            </div>
          </td>
          <td>{{ skill.name }}</td>
          <td class="skillEffectTd">
            <div>{{ skill.counterHtml }}</div>
            <div [innerHTML]="skill.damageHtml"></div>
            <div *ngFor="let effect of skill.effects">
              {{ effect.formatHtml }}
            </div>
          </td>
          <td>
            <ng-template #tip_table><div [innerHTML]="skill.skillTableHtml"></div></ng-template>
            <div [ngbTooltip]="tip_table" triggers="click" [autoClose]="true">
              <div class="divSkillTableHtml" [innerHTML]="skill.skillTableHtml"></div>
            </div>
          </td>
          <td>{{ skill.count }}</td>
          <td><span *ngIf="skill.combo">{{ skill.combo.num }}</span></td>
          <td><span *ngIf="skill.cost">{{ skill.cost.value }} {{ skill.cost.type }}</span></td>
        </tr>
      </tbody>
      <tbody *ngIf="showActiveDetail && unit.limit">
        <tr>
          <td>
            <img class="skilImg" title="skill type" src="{{'assets/skill-type/limit.png'}}" />
            <span *ngIf="unit.limit.based"><img title="{{ unit.limit.based }}" class='atkBasedImg' src="{{'assets/atkBased/' + unit.limit.based + '.png'}}" /></span>
            <div *ngIf="unit.limit.time && unit.limit.time.minValue">
              <ng-template #tip_time>
                <div>
                  Min time: {{ unit.limit.time.minValue }}<br />
                  Max time: {{ unit.limit.time.maxValue }}
                </div>
              </ng-template>
              <img class='timeImg' src="{{'assets/icons/time.png'}}" [ngbTooltip]="tip_time"/>
            </div>
          </td>
          <td>{{ unit.limit.name }}</td>
          <td class="skillEffectTd">
            <div>{{ unit.limit.counterHtml }}</div>
            <div [innerHTML]="unit.limit.damageHtml"></div>
            <div *ngFor="let effect of unit.limit.effects">
              {{ effect.formatHtml }}
            </div>
          </td>
          <td>
            <ng-template #tip_table><div [innerHTML]="unit.limit.skillTableHtml"></div></ng-template>
            <div [ngbTooltip]="tip_table" triggers="click" [autoClose]="true">
              <div class="divSkillTableHtml" [innerHTML]="unit.limit.skillTableHtml"></div>
            </div>
          </td>
          <td>{{ unit.limit.count }}</td>
          <td><span *ngIf="unit.limit.combo">{{ unit.limit.combo.num }}</span></td>
          <td><span *ngIf="unit.limit.cost">{{ unit.limit.cost.value }} {{ unit.limit.cost.type }}</span></td>
        </tr>
      </tbody>
    </table>
    <button (click)="showHideDetail('Active')">Show active skills</button>

    <div class="builderUnitGridContainer" style="text-align: center;">
      <ul class="hexGrid" oncontextmenu="return false;">
        <li *ngFor="let node of unit.grid.gridNodes; let index;" (click)="clickNode(node)" (contextmenu)="rightClickNode(node)">
          <div class="hex hideNode" *ngIf="unit.grid.nodesForGrid[node].type == 'hidden'">{{ node }}</div>

          <div class="hex activated" *ngIf="unit.grid.nodesForGrid[node].type == 'center'">
            <span class="fullIcon"><img src="{{ '/assets/units/' + unit.image + '_m.png' }}"></span>
          </div>

          <div class="hex" *ngIf="unit.grid.nodesForGrid[node].type == 'text'"
               [ngClass]="{
                 'activated': unit.board.nodes[node].activated,
                 'buff': unit.board.nodes[node].type == 'buff',
                 'skill': unit.board.nodes[node].type == 'skill' && unit.board.nodes[node].skill.type == 'skill',
                 'support': unit.board.nodes[node].type == 'skill' && unit.board.nodes[node].skill.type == 'support',
                 'counter': unit.board.nodes[node].type == 'skill' && unit.board.nodes[node].skill.type == 'counter',
                 'notActivable': !canActivateNode(node)
          }" >
            <i class="fa fa-plus" *ngIf="unit.grid.nodesForGrid[node].subType == 'skill' && unit.board.nodes[node].activated"></i>
            <span class="text">{{ unit.grid.nodesForGrid[node].value }}</span>
            <span class="skillLevel" *ngIf="unit.grid.nodesForGrid[node].subType == 'skill' && unit.board.nodes[node].activated">lv. {{ unit.board.nodes[node].level == unit.board.nodes[node].skill.maxLevel ? 'MAX' : unit.board.nodes[node].level }}</span>
            <i class="fa fa-minus" *ngIf="unit.grid.nodesForGrid[node].subType == 'skill' && unit.board.nodes[node].activated" (click)="rightClickNode(node); $event.stopPropagation()"></i>
          </div>
        </li>
      </ul>

      <div [innerHTML]="unit.grid.lines | safeHtml"></div>
    </div>
  </div>
</div>
