.elementImg {
  height: 32px;
}

.unitImg {
  height: 150px;
  margin-top: 10px;
}

.unitName {
  font-weight: bold;
  margin-left: 10px
}

.statsTable {
  width: 800px;
}

.unitsCol {
  width: 200px;
}

.row {
  width: 1200px;
  margin: auto;
  margin-bottom: 20px;
}

tr.disable {
  display: none;
}

.star {
  height: 40px;
  background: url("assets/icons/star_off.png") 0px 0px no-repeat;
  background-size: 40px;
  width: 40px;
}

.star.filled {
  height: 40px;
  background: url("assets/icons/star_on.png") 0px 0px no-repeat;
  background-size: 40px;
  width: 40px;
}

.lb {
  height: 40px;
  background: url("assets/icons/lb_off.png") 0px 0px no-repeat;
  background-size: 20px;
  width: 20px;
}

.lb.filled {
  height: 40px;
  background: url("assets/icons/lb_on.png") 0px 0px no-repeat;
  background-size: 20px;
  width: 20px;
}

.mainJob {
  height: 40px;
  background: url("assets/jobs/base_main.png") 0px 0px no-repeat;
  background-size: 40px;
  padding: 5px;
}

.subJob {
  height: 40px;
  background: url("assets/jobs/base_sub.png") 0px 0px no-repeat;
  background-size: 40px;
  padding: 5px;
}
