<div style="width: 30%; display: inline-block;">
  <ng-select [items]="espers"
             bindLabel="name"
             groupBy="rarity"
             [(ngModel)]="esper"
             (ngModelChange)="selectEsper()">
  </ng-select>

  <div *ngIf="esper">
    <table class="esperTable">
      <tbody>
        <tr>
          <th colspan="3">{{ esper.name }}</th>
        </tr>
        <tr>
          <td colspan="3"><img class="esperImg" src="{{'assets/units/' + esper.image + '_m.png'}}" /></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="esper">
    Star
    <select [(ngModel)]="esper.star" (ngModelChange)="changeStar()">
      <option>1</option>
      <option>2</option>
    </select>

    Level
    <select [(ngModel)]="esper.level" (ngModelChange)="changeLevels()">
      <option *ngFor="let level of tableLevels">{{ level }}</option>
    </select>
  </div>

  <button (click)="consoleLog()">SAVE</button>
</div>

<div style="width: 70%; display: inline-block; vertical-align: top; padding-left: 15px;" *ngIf="stats">
  <table class="statsTable">
    <tbody>
      <tr>
        <th colspan="13">Stats</th>
      </tr>
      <tr>
        <th *ngFor="let type of ['HP','TP','AP','ATK','MAG','AGI','DEX','LUCK']">{{ type }}</th>
      </tr>
      <tr>
        <td *ngFor="let type of ['HP','TP','AP','ATK','MAG','AGI','DEX','LUCK']">
          {{ stats[type].base }} / {{ esper.stats[type][1].max }}
        </td>
      </tr>
    </tbody>
  </table>

  <table class="statsTable">
    <tbody>
      <tr>
        <th colspan="9">buffs</th>
      </tr>
    </tbody>
    <tbody *ngFor="let line of possibleBuffs">
      <tr>
        <th *ngFor="let buffType of line">{{ buffType }}</th>
      </tr>
      <tr>
        <td *ngFor="let buffType of line">{{ buffs[buffType].percent >= 0 ? buffs[buffType].percent + '%' : buffs[buffType].total }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row" *ngIf="grid">
  <div class="countSPs">
    SPs: {{ esper.usedSPs }} / {{ esper.maxSPs }}
  </div>
  <div class="hexGridContainer" style="text-align: center;">
    <ul class="hexGrid" oncontextmenu="return false;">
      <li *ngFor="let node of grid.gridNodes; let index;" (click)="clickNode(node)" (contextmenu)="rightClickNode(node)">
        <div class="hex hideNode" *ngIf="grid.nodesForGrid[node].type == 'hidden'">{{ node }}</div>

        <div class="hex activated" *ngIf="grid.nodesForGrid[node].type == 'center'">
          <span class="fullIcon"><img src="{{ '/assets/units/' + esper.image + '_s.png' }}"></span>
        </div>

        <div class="hex" *ngIf="grid.nodesForGrid[node].type == 'text'"
             [ngClass]="{
               'activated': esper.board.nodes[node].activated,
               'buff': esper.board.nodes[node].type == 'buff',
               'notActivable': !canActivateNode(node)
        }" >
          <span class="text">{{ grid.nodesForGrid[node].value }}</span>
          <span class="cost">{{ esper.board.nodes[node].skill.sp }} SP</span>
        </div>
      </li>
    </ul>

    <div [innerHTML]="grid.lines"></div>
  </div>
</div>
