<div style="width: 30%; display: inline-block;">
  <ng-select [items]="equipments"
             bindLabel="name"
             groupBy="rarity"
             [(ngModel)]="equipment"
             (ngModelChange)="selectEquipment()">
  </ng-select>

  <div *ngIf="equipment">
    <table class="equipmentTable">
      <tbody>
        <tr>
          <th colspan="3">{{ equipment.name }}</th>
        </tr>
        <tr>
          <td colspan="3"><img class="equipmentImg" src="{{'assets/equipments/' + equipment.image + '.png'}}" /></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="equipment && equipment.skills.length > 1">
    Star
    <select [(ngModel)]="equipment.update" (ngModelChange)="changeLevels()">
      <option>0</option>
      <option>+1</option>
      <option>+2</option>
      <option>+3</option>
      <option>+4</option>
      <option>+5</option>
    </select>
  </div>

  <div *ngIf="equipment && equipment.growIds.length > 1">
    Type
    <select [(ngModel)]="equipment.grow" (ngModelChange)="changeLevels()">
      <option *ngFor="let growId of equipment.growIds" [ngValue]="growId">{{ equipment.grows[growId].name }}</option>
    </select>
  </div>

  <button (click)="consoleLog()">SAVE</button>
</div>

<div style="width: 70%; display: inline-block; vertical-align: top; padding-left: 15px;" *ngIf="stats">
  <table class="statsTable">
    <tbody>
      <tr>
        <th colspan="13">Stats</th>
      </tr>
      <tr>
        <th *ngFor="let statType of equipment.statsTypes">{{ statType }}</th>
      </tr>
      <tr *ngIf="!equipment.acquisition || equipment.acquisition.type !== 'tmr'">
        <td *ngFor="let statType of equipment.statsTypes">{{ equipment.stats[statType].min }}</td>
      </tr>
    </tbody>
  </table>
</div>
