.elementImg {
  height: 32px;
}

.unitImg {
  height: 150px;
  margin-top: 10px;
}

.unitName {
  font-weight: bold;
  margin-left: 10px
}

.statsTable {
  width: 800px;
}

.unitsCol {
  width: 200px;
}

.row {
  width: 1200px;
  margin: auto;
  margin-bottom: 20px;
}
