.row {
  width: 1300px;
  margin: auto;
  margin-bottom: 20px;
}

/***************/
/* Search Unit */
/***************/
.rarityLine {
  padding: 5px;
  background: #E8E6DF;
  color: #000;
  height: 40px;
}

.rarityLine img {
  height: 30px;
}

.rarityLine span {
  font-weight: 600;
  margin-left: 5px;
  top: 3px;
  position: relative;
}

.unitLine {
  padding-top: 5px;
  cursor: pointer;
}

.unitLine hr {
  margin: 0;
  width: 240px;
}

.unitSelector {
  padding: 0;
  display: block;
  height: 50px;
}

.unitLogo {
  padding: 5px;
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: #E8E6DF;
  margin-bottom: 10px;
  margin-right: 10px;
  text-align: center;
}

.unitLogo img {
  max-height: 35px;
  max-width: 35px;
}

.unitNameSelector {
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
}

/****************/
/* Unit Builder */
/****************/
.leftBlock {
  display: inline-block;
  width: 250px;
  vertical-align: top;
}

.leftBlock:not(:last-child) {
  margin-right: 10px;
}

.builderTable {
  width: 100%;
  margin-top: 10px;
}

.unitImg {
  height: 150px;
  margin-top: 10px;
}

.cardIcons {
  position: absolute;
  width: 230px;
  padding: 5px;
}

.rarityImg {
  height: 32px;
  float: left;
}

.elementImg {
  height: 32px;
  float: right;
}

.awakeningDiv, .masterSkillDiv, .limitDiv {
  width: 100%;
  height: 25px;
  margin-bottom: 10px;
}

.lbDiv {
  width: 100%;
  height: 35px;
  margin-bottom: 5px;
}

.levelDiv {
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
}

.awakeningDiv div:first-child, .lbDiv div:first-child, .levelDiv div:first-child, .masterSkillDiv div:first-child, .limitDiv div:first-child {
  float: left;
}

.lbDiv div:first-child {
  padding-top: 6px;
}

.levelDiv div:first-child {
  padding-top: 5px;
}

.awakeningDiv div:last-child, .lbDiv div:last-child, .levelDiv div:last-child, .masterSkillDiv div:last-child, .limitDiv div:last-child {
  float: right;
}

.levelDiv div:last-child {
  width: 95px;
}

.masterSkillDiv div:last-child, .limitDiv div:last-child {
  padding-right: 38px;
}

.star {
  height: 20px;
  background: url("assets/icons/star_off.png") 0px 0px no-repeat;
  background-size: 20px;
  width: 20px;
}

.star.filled {
  height: 20px;
  background: url("assets/icons/star_on.png") 0px 0px no-repeat;
  background-size: 20px;
  width: 20px;
}

.lb {
  height: 40px;
  background: url("assets/icons/lb_off.png") 0px 0px no-repeat;
  background-size: 20px;
  width: 20px;
}

.lb.filled {
  height: 40px;
  background: url("assets/icons/lb_on.png") 0px 0px no-repeat;
  background-size: 20px;
  width: 20px;
}

.jobDiv {
  width: 72px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

.lastJobDiv {
  margin: 0px;
}

.subJobColumn .jobDiv {
  padding: 5px;
}

.subjobDiv {
  border: 2px solid transparent;
}

.selectedSubJob, .subjobDiv:hover {
  cursor: pointer;
  border: 2px solid #72767A;
  box-sizing: border-box;
  border-radius: 4px;
}

.subJobColumn .subjobDisable {
  border: 2px solid transparent !important;
}

.subjobDisable {
  opacity: 0.2;
  cursor: default !important;
}

.jobsButton {
  margin-top: 5px;
}

.mainJob {
  height: 55px;
  background: url("assets/jobs/base_main.png") 0px 0px no-repeat;
  background-size: 55px;
  padding: 5px;
}

.subJob {
  height: 55px;
  background: url("assets/jobs/base_sub.png") 0px 0px no-repeat;
  background-size: 55px;
  padding: 5px;
}

.equipmentDiv {
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.equipmentImg {
  width: 70px;
}

.esparCardDiv {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.esperImg, .cardImg {
  width: 110px;
  cursor: pointer;
}

.btn-left {
  width: 110px;
  margin-right: 10px;
}

.btn-right {
  width: 110px;
}

.btn-esper, .btn-card {
  margin-top: 5px;
  width: 110px;
}

.btn-equipment {
  width: 70px;
  margin-top: 5px;
}

.dropdownDiv {
  display: inline-block;
}

.dropdownFull {
  display: inline-block;
  width: 100%;
}

.dropdownFull .btn-select {
  width: 100%;
}

.selectListFull {
  width: 232px;
}

.equipmentPointer {
  cursor: pointer;
  width: 70px;
  margin: auto;
}

































.h1TeamName {
  display: inline-block;
}

.teamCost {
  display: inline-block;
  float: right;
}

.teamName {
  width: 100%;
  margin-top: 10px;
}

.modal-dialog {
  width: 270px
}

.textLink {
  margin: auto;
  width: 250px;
}

.statueImg {
  width: 40px;
}

.teamsListModal, .teamSaveModal, .teamConfirmModal {
  margin-left: 10px;
  margin-right: 10px;
}

.teamList {
  max-height: 300px;
  overflow: auto;
}

.saveButton, .replaceButton, .cancelButton {
  margin-top: 10px;
  margin-bottom: 10px;
}

.saveNameInput {
  display: block;
  width: 100%;
}

.replaceButton {
  float: left;
}

.cancelButton {
  float: right;
}

.masterButtons {
  width: 100%;
}

.masterButtons > button {
  margin-right: 10px;
}

.teamGuild {
  width: 100%;
  margin-top: 10px;
}

.teamGuild > table {
  width: 100%;
}

.statsTable {
  margin-top: 5px;
  width: 100%;
}

.teamList .fa {
  cursor: pointer;
}
