<div class="row">
  <div class="searchBlock">
    <i class="fas fa-search" aria-hidden="true"></i>
    <input class="searchInput" type="text" placeholder="Search for an equipment by name" [(ngModel)]="searchText" (ngModelChange)="updateFilteredEquipments()" id="click_search" (blur)="blurSearch()" (focus)="focusSearch()">
    <i class="fas fa-times" id="reset_search" aria-hidden="true" (click)="selectEquipment('')"></i>
    <i class="fas fa-chevron-up" id="open_search" aria-hidden="true" (click)="toogleList()" *ngIf="showList"></i>
    <i class="fas fa-chevron-down" id="hide_search" aria-hidden="true" (click)="toogleList()" *ngIf="!showList"></i>
  </div>

  <div class="loadingBlock" *ngIf="loadingBuild">
    <h1>Your build is loading</h1>
    <i class="fas fa-spinner fa-pulse fa-5x fa-fw" aria-hidden="true"></i>
  </div>

  <div class="rarityBlock" *ngFor="let rarity of ['UR', 'MR', 'SR', 'R', 'N']">
    <div class="rarityLine" *ngIf="showList && !loadingBuild && filteredEquipments[rarity].length > 0">
      <img src="assets/rarity/{{rarity}}.png" /><span>{{ rarityTranslate[rarity] }}</span>
    </div>
    <div class="equipmentBlock" *ngIf="showList && !loadingBuild && filteredEquipments[rarity].length > 0">
      <div class="equipmentLine" *ngFor="let filteredEquipment of filteredEquipments[rarity]; let j = index">
        <div class="equipmentSelector" id="selector_{{filteredEquipment.slug}}" [ngClass]="{'equipmentSelectorWithSave': savedEquipments[filteredEquipment.dataId]}" (click)="selectEquipment(filteredEquipment.dataId)">
          <div class="equipmentLogo">
            <img src="assets/equipments/{{ filteredEquipment.image }}.png" onerror="this.src='assets/equipments/placeholder.png';"/>
          </div>
          <div class="equipmentName" innerHTML="{{ filteredEquipment.name | highlight: searchText }}"></div>
        </div>
        <div class="loadDiv" *ngIf="savedEquipments[filteredEquipment.dataId] && savedEquipments[filteredEquipment.dataId].length > 0">
          <a id="load_{{filteredEquipment.slug}}" (click)="openLoadModal(filteredEquipment.dataId)"><i class="fas fa-download"></i></a>
        </div>
        <hr *ngIf="j !== filteredEquipments[rarity].length - 1"/>
      </div>
    </div>
  </div>

  <div class="saveBlock" *ngIf="!showList && equipment">
    <button class="btn btn-sub btn-buildLink" id="open_generatelink" (click)="openLinkModal(builderLink)">Get Build Link</button>
    <button class="btn btn-sub" id="open_savebuild" (click)="openSaveModal(saveModal)" *ngIf="showSave">Save</button>
  </div>

  <div class="leftBlock" *ngIf="!showList && equipment">
    <table>
      <tbody>
        <tr>
          <th>{{ equipment.name }}<span *ngIf="equipment.customName"> - {{ equipment.customName }}</span></th>
        </tr>
        <tr>
          <td>
            <div class="equipmentButtons">
              <button class="btn btn-sub btn-left" id="reset_card" (click)="resetEquipment()">Reset</button>
              <button class="btn btn-main btn-right" id="max_card" (click)="maxEquipment()">Max equipment</button>
            </div>
            <div class="equipmentIcons">
              <img class="rarityImg" src="{{'assets/rarity/' + equipment.rarity + '.png'}}" />
            </div>
            <div>
              <img class="equipmentImg" src="assets/equipments/{{ equipment.image }}.png" onerror="this.src='assets/equipments/placeholder.png';"/>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="equipment.skills.length > 1 || equipment.growIds.length > 1">
        <tr>
          <th class="sub">Level</th>
        </tr>
        <tr>
          <td>
            <div class="awakeningDiv" *ngIf="equipment.skills.length > 1">
              <div>
                Upgrade
              </div>
              <ng-select placeholder="Select an upgrade" class="select-upgrade select-left-builder" [items]="[0, 1, 2, 3, 4, 5]" [(ngModel)]="equipment.upgrade" (ngModelChange)="updateUpgrade()" [clearable]="false" [searchable]="false">
                <ng-template ng-label-tmp let-item="item">
                  {{ item === 0 ? 0 : '+' + item }}
                </ng-template>

                <ng-template ng-option-tmp let-item="item">
                  {{ item === 0 ? 0 : '+' + item }}
                </ng-template>
              </ng-select>
            </div>

            <div class="levelDiv" *ngIf="equipment.growIds.length > 1">
              <div>
                Type
              </div>
              <ng-select placeholder="Select a grow" class="select-grow select-left-builder" [items]="equipment.growIds" [(ngModel)]="equipment.grow" (ngModelChange)="updateGrow()" [clearable]="false" [searchable]="false">
                <ng-template ng-label-tmp let-item="item">
                  {{ equipment.grows[item].name }}
                </ng-template>

                <ng-template ng-option-tmp let-item="item">
                  {{ equipment.grows[item].name }}
                </ng-template>
              </ng-select>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="rightBlock" *ngIf="!showList && equipment">
    <table class="statsTable">
      <tbody>
        <tr>
          <th colspan="13">Stats</th>
        </tr>
        <tr>
          <th class="sub" *ngIf="!equipment.acquisition || equipment.acquisition.type !== 'tmr'">Level</th>
          <th class="sub" *ngFor="let statType of equipment.statsTypes">{{ statType }}</th>
        </tr>
        <tr *ngIf="!equipment.acquisition || equipment.acquisition.type !== 'tmr'">
          <td>
            <select [(ngModel)]="equipment.level" (ngModelChange)="changeLevel()">
              <option *ngFor="let level of equipment.tableLevel">{{ level }}</option>
            </select> / {{ equipment.maxLevel }}
          </td>
          <td *ngFor="let statType of equipment.statsTypes">
            <span *ngIf="equipment.growIds.length > 1 || equipment.grows[equipment.growIds[0]].dataId !== 'ARTIFACT_50'">
              <select [(ngModel)]="equipment.stats[statType].selected">
                <option *ngFor="let stat of equipment.tableStats[statType]">{{ stat }}</option>
              </select>
            </span>
            <span *ngIf="equipment.growIds.length === 1 && equipment.grows[equipment.growIds[0]].dataId === 'ARTIFACT_50'">
              {{ equipment.stats[statType].selected }}
            </span> / {{ equipment.tableStats[statType][equipment.tableStats[statType].length - 1] }}
          </td>
        </tr>
        <tr *ngIf="equipment.acquisition && equipment.acquisition.type === 'tmr'">
          <td *ngFor="let statType of equipment.statsTypes">
            {{ equipment.stats[statType].min }}
          </td>
        </tr>
      </tbody>
    </table>

    <table class="statsTable" *ngIf="equipment.skill[0]">
      <tbody *ngIf="equipment.activeSkill">
        <tr>
          <th colspan="7">Skill</th>
        </tr>
        <tr>
          <th class="sub">Level</th>
          <th class="sub">Name</th>
          <th class="sub">Effects</th>
          <th class="sub">Range</th>
          <th class="sub">Casts</th>
          <th class="sub">Hits</th>
          <th class="sub">Cost</th>
        </tr>
        <tr>
          <td>
            <select [(ngModel)]="equipment.activeSkill.level" (ngModelChange)="changeSkillLevel()">
              <option *ngFor="let level of equipment.activeSkill.tableLevel">{{ level }}</option>
            </select>
          </td>
          <td class="skillNameTd">
            {{ equipment.activeSkill.name }}
            <span *ngIf="equipment.activeSkill.based">
              <img class='atkBasedImg' src="{{'assets/atkBased/' + equipment.activeSkill.based + '.png'}}" />
            </span>
            <div *ngIf="equipment.activeSkill.time && equipment.activeSkill.time.minValue">
              <ng-template #tip_time>
                <div>
                  Min time: {{ equipment.activeSkill.time.minValue }}<br />
                  Max time: {{ equipment.activeSkill.time.maxValue }}
                </div>
              </ng-template>
              <img class='timeImg' src="{{'assets/icons/time.png'}}" [ngbTooltip]="tip_time"/>
            </div>
          </td>
          <td class="skillEffectTd">
            <div>{{ equipment.activeSkill.counterHtml }}</div>

            <div *ngIf="equipment.activeSkill.damageHtml && equipment.activeSkill.damageHtml.value">
              <ng-template #tip_damage>
                <div *ngIf="equipment.activeSkill.based === 'physic'">
                  {{ (100 + (equipment.activeSkill.damage.formula.type === 1 && equipment.activeSkill.damage.formula[1] > 0 ? equipment.activeSkill.damage.formula[1] : 0)) + '% ATK' }}
                </div>
                <div *ngIf="equipment.activeSkill.based === 'magic'">
                  {{ (100 + (equipment.activeSkill.damage.formula.type === 1 && equipment.activeSkill.damage.formula[1] > 0 ? equipment.activeSkill.damage.formula[1] : 0)) + '% MAG' }}
                </div>
                <div *ngIf="equipment.activeSkill.based === 'hybrid'">
                  {{ (100 + (equipment.activeSkill.damage.formula.type === 1 && equipment.activeSkill.damage.formula[1] > 0 ? equipment.activeSkill.damage.formula[1] : 0)) + '% ATK' }}
                </div>

                <div *ngIf="equipment.activeSkill.damage.formula.type === 0 && equipment.activeSkill.damage.formula[1] > 0">
                  {{ equipment.activeSkill.damage.formula[1] }}% DEX
                </div>
                <div *ngIf="equipment.activeSkill.damage.formula.type === 0 && equipment.activeSkill.damage.formula[2] > 0">
                  {{ equipment.activeSkill.damage.formula[2] }}% AGI
                </div>
                <div *ngIf="equipment.activeSkill.damage.formula.type === 0 && equipment.activeSkill.damage.formula[3] > 0">
                  {{ equipment.activeSkill.damage.formula[3] }}% LUCK
                </div>
              </ng-template>
              <img [ngbTooltip]="tip_damage" title="{{ equipment.activeSkill.damageHtml.type.title }}" class="damageSkillImg" src="assets/damage/{{ equipment.activeSkill.damageHtml.type.image }}.png" />&nbsp; {{ equipment.activeSkill.damageHtml.effType }} {{ equipment.activeSkill.damageHtml.pool }} {{ equipment.activeSkill.damageHtml.value }}
              <div [innerHTML]="equipment.activeSkill.damageHtml.others | safeHtml"></div>
            </div>

            <div *ngFor="let effect of equipment.activeSkill.effects">
              {{ effect.formatHtml }}
            </div>
          </td>
          <td class="rangeTd">
            <ng-template #tip_table><div [innerHTML]="equipment.activeSkill.skillTableHtml"></div></ng-template>
            <div [ngbTooltip]="tip_table" triggers="click" [autoClose]="true">
              <div class="divSkillTableHtml" [innerHTML]="equipment.activeSkill.skillTableHtml"></div>
            </div>
          </td>
          <td class="skillCastTd">
            {{ equipment.activeSkill.count }}
          </td>
          <td class="skillHitTd">
            <span *ngIf="equipment.activeSkill.combo">{{ equipment.activeSkill.combo.num }}</span>
          </td>
          <td class="skillCostTd">
            <span *ngIf="equipment.activeSkill.cost">{{ equipment.activeSkill.cost.value }} {{ equipment.activeSkill.cost.type }}</span>
          </td>
        </tr>
      </tbody>
      <tbody  *ngIf="equipment.passiveSkills.length > 0">
        <tr>
          <th colspan="7">Effects</th>
        </tr>
        <tr>
          <td colspan="7">
            <div *ngFor="let skill of equipment.passiveSkills">
              <div *ngFor="let effect of skill.effects">
                {{ effect.formatHtml }}
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
