<div class="row">
  <div class="searchBlock">
    <i class="fas fa-search" aria-hidden="true"></i>
    <input class="searchInput" type="text" placeholder="Search for an esper by name" [(ngModel)]="searchText" (ngModelChange)="updateFilteredEspers()" id="click_search" (blur)="blurSearch()" (focus)="focusSearch()">
    <i class="fas fa-times" id="reset_search" aria-hidden="true" (click)="selectEsper('')"></i>
    <i class="fas fa-chevron-up" id="open_search" aria-hidden="true" (click)="toogleList()" *ngIf="showList"></i>
    <i class="fas fa-chevron-down" id="hide_search" aria-hidden="true" (click)="toogleList()" *ngIf="!showList"></i>
  </div>

  <div class="loadingBlock" *ngIf="loadingBuild">
    <h1>Your build is loading</h1>
    <i class="fas fa-spinner fa-pulse fa-5x fa-fw" aria-hidden="true"></i>
  </div>

  <div class="rarityBlock" *ngFor="let rarity of ['UR', 'MR', 'SR', 'R', 'N']">
    <div class="rarityLine" *ngIf="showList && !loadingBuild && filteredEspers[rarity] && filteredEspers[rarity].length > 0">
      <img src="assets/rarity/{{rarity}}.png" /><span>{{ rarityTranslate[rarity] }}</span>
    </div>
    <div class="esperBlock" *ngIf="showList && !loadingBuild && filteredEspers[rarity] && filteredEspers[rarity].length > 0">
      <div class="esperLine" *ngFor="let filteredEsper of filteredEspers[rarity]; let j = index">
        <div class="esperSelector" id="selector_{{filteredEsper.slug}}" [ngClass]="{'esperSelectorWithSave': savedEspers[filteredEsper.dataId]}" (click)="selectEsper(filteredEsper.dataId)">
          <div class="esperLogo">
            <img src="assets/units/{{ filteredEsper.image }}_m.png" />
          </div>
          <div class="esperName" innerHTML="{{ filteredEsper.name | highlight: searchText }}"></div>
        </div>
        <div class="loadDiv" *ngIf="savedEspers[filteredEsper.dataId] && savedEspers[filteredEsper.dataId].length > 0">
          <a id="load_{{filteredEsper.slug}}" (click)="openLoadModal(filteredEsper.dataId)"><i class="fas fa-download"></i></a>
        </div>
        <hr *ngIf="j !== filteredEspers[rarity].length - 1"/>
      </div>
    </div>
  </div>

  <div class="saveBlock" *ngIf="!showList && esper">
    <button class="btn btn-sub btn-buildLink" id="opene_generatelink" (click)="openLinkModal(builderLink)">Get Build Link</button>
    <button class="btn btn-sub" id="opene_savebuild" (click)="openSaveModal(saveModal)" *ngIf="showSave">Save</button>
  </div>

  <div class="leftBlock" *ngIf="!showList && esper">
    <table>
      <tbody>
        <tr>
          <th>{{ esper.name }}<span *ngIf="esper.customName"> - {{ esper.customName }}</span></th>
        </tr>
        <tr>
          <td>
            <div class="esperButtons">
              <button class="btn btn-sub btn-left" id="reset_esper" (click)="resetEsper()">Reset</button>
              <button class="btn btn-main btn-right" id="max_esper" (click)="maxEsper()">Max esper</button>
            </div>
            <div class="esperIcons">
              <img class="rarityImg" src="{{'assets/rarity/' + esper.rarity + '.png'}}" />
              <img class="elementImg" src="{{'assets/elements/' + esper.element + '.png'}}" />
            </div>
            <div>
              <img class="esperImg" src="assets/units/{{ esper.image }}_m.png" />
            </div>
          </td>
        </tr>
        <tr>
          <th class="sub">Level</th>
        </tr>
        <tr>
          <td>
            <div class="awakeningDiv">
              <div>
                Awakening
              </div>
              <div class="stars">
                <ngb-rating [(rate)]="esper.star" [max]="maxStar" class="ratingStars">
                  <ng-template let-fill="fill" let-index="index">
                    <div class="star" [class.filled]="fill === 100" id="change_star_{{index + 1}}" (click)="changeStar(index + 1)">&nbsp;</div>
                  </ng-template>
                </ngb-rating>
              </div>
            </div>

            <div class="levelDiv">
              <div>
                Level
              </div>
              <div class="zone-select-level">
                <ng-select placeholder="Select a level" class="select-level select-left-builder" [items]="esper.tableLevels" [(ngModel)]="esper.level" (ngModelChange)="updateLevel()" [clearable]="false" [searchable]="false">
                  <ng-template ng-label-tmp let-item="item">
                    {{ item }}
                  </ng-template>

                  <ng-template ng-option-tmp let-item="item">
                    {{ item }}
                  </ng-template>
                </ng-select> / {{ esper.maxLevel }}
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="rightBlock" *ngIf="!showList && esper">
    <table class="statsTable">
      <tbody>
        <tr>
          <th colspan="13">Stats</th>
        </tr>
        <tr>
          <th *ngFor="let type of ['HP','TP','AP','ATK','MAG','AGI','DEX','LUCK']" class="statTd sub">{{ type }}</th>
        </tr>
        <tr>
          <td *ngFor="let type of ['HP','TP','AP','ATK','MAG','AGI','DEX','LUCK']">
            {{ esper.stats[type].base }} / {{ esper.stats[type][maxStar - 1].max }}
          </td>
        </tr>
        <tr>
          <th colspan="9">Buffs</th>
        </tr>
      </tbody>
      <tbody *ngFor="let line of esper.possibleBuffs">
        <tr>
          <th *ngFor="let buffType of line" class="sub">
            <img *ngIf="buffsImage.indexOf(buffType.toLowerCase()) !== -1" class="buffImg" title="{{ buffType }}" src="{{ '/assets/buffs/' + buffType.toLowerCase() + '.png' }}">
            <span *ngIf="buffsImage.indexOf(buffType.toLowerCase()) === -1">{{ buffType.replace("_", " ") }}</span>
          </th>
        </tr>
        <tr>
          <td *ngFor="let buffType of line">
            {{ esper.buffs[buffType] && esper.buffs[buffType].percent ? esper.buffs[buffType].percent + '%' : esper.buffs[buffType] && esper.buffs[buffType].total ? esper.buffs[buffType].total : '' }}
          </td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="esper.grid">
      <div class="countSPs">
        SPs: {{ esper.usedSPs }} / {{ esper.maxSPs }}
      </div>
    </div>

    <div *ngIf="esper.grid">
      <div class="builderEsperGridContainer" style="text-align: center;">
        <ul class="hexGrid" oncontextmenu="return false;">
          <li *ngFor="let node of esper.grid.gridNodes; let index;" id="click_node_{{node}}" (click)="clickNode(node)" (contextmenu)="rightClickNode(node)">
            <div class="hex hideNode" *ngIf="esper.grid.nodesForGrid[node].type === 'hidden'">{{ node }}</div>

            <div class="hex activated" *ngIf="esper.grid.nodesForGrid[node].type === 'center'">
              <span class="fullIcon"><img src="{{ '/assets/units/' + esper.image + '_s.png' }}"></span>
            </div>

            <div class="hex" *ngIf="esper.grid.nodesForGrid[node].type === 'text'"
                 [ngClass]="{
                   'activated': esper.board.nodes[node].activated,
                   'buff': esper.board.nodes[node].type === 'buff',
                   'notActivable': !canActivateNode(node)
            }" >
              <span class="text">{{ esper.grid.nodesForGrid[node].value }}</span>
              <span class="cost">{{ esper.board.nodes[node].skill.sp }} SP</span>
            </div>
          </li>
        </ul>

        <div [innerHTML]="esper.grid.lines | safeHtml"></div>
      </div>
    </div>
  </div>
</div>
