<div class="leftBlock" *ngFor="let i of [0, 1, 2, 3, 4]">
  <div>
    <ng-select [items]="list.units[i]"
               bindLabel="name"
               bindValue="id"
               groupBy="rarity"
               placeholder="Units"
               [(ngModel)]="selected.units[i]"
               (ngModelChange)="selectUnit(i)">
    </ng-select>
  </div>

  <div *ngIf="team.units[i]" class="unitDiv">
    <table class="unitTable">
      <tbody>
        <tr>
          <th colspan="3">{{ team.units[i].name }}</th>
        </tr>
        <tr>
          <td colspan="3"><img class="unitImg" src="{{'assets/units/' + team.units[i].image + '_m.png'}}" /></td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="team.units[i]" class="starsLbsLevels">
      <div class="stars">
        <ngb-rating [(rate)]="team.units[i].star" [max]="6" class="ratingStars">
          <ng-template let-fill="fill" let-index="index">
            <div class="star" [class.filled]="fill === 100"  (click)="changeStar(i, index + 1)">&nbsp;</div>
          </ng-template>
        </ngb-rating>
      </div>

      <div class="lbs">
        <ngb-rating [(rate)]="team.units[i].lb" [max]="5">
          <ng-template let-fill="fill" let-index="index">
            <div class="lb" [class.filled]="fill === 100" (click)="changeLB(i, index + 1)">&nbsp;</div>
          </ng-template>
        </ngb-rating>
      </div>

      <div>
        Lv
        <select [(ngModel)]="team.units[i].level" (ngModelChange)="changeLevel(i)">
          <option *ngFor="let level of team.units[i].tableLevels">{{ level }}</option>
        </select> / {{ team.units[i].maxLevel }}
      </div>
    </div>
  </div>

  <div *ngIf="team.units[i]">
    <table class="jobsTable">
      <tr>
        <td *ngFor="let j of [0, 1, 2]">
          <img [className]="j == 0 ? 'mainJob' : 'subJob'" src="{{'assets/jobs/' + team.units[i].jobsData[j].image + '.png'}}" />
          <select *ngIf="team.units[i].jobsData[j].unlocked" [(ngModel)]="team.units[i].jobsData[j].level" (ngModelChange)="changeJobLevel(i)">
            <option *ngFor="let level of team.units[i].tableJobLevels">{{ level }}</option>
          </select>
          <select *ngIf="!team.units[i].jobsData[j].unlocked"></select>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="team.units[i]" class="unitButtons">
    <button (click)="maxUnit(i)">Max unit</button>
    <button (click)="maxLevelAndJobs(i)" class="maxLevelButton">Max level & jobs</button>
  </div>

  <div *ngIf="team.units[i]">
    <table class="equipmentsTable">
      <tr>
        <td *ngFor="let j of [0, 1, 2]">
          <div *ngIf="j == 0 || (j == 1 && team.units[i].lb >= 2) || (j == 2 && team.units[i].lb >= 4)">
            <ng-select [items]="list.equipments[i][j]"
                       bindLabel="name"
                       bindValue="dataId"
                       groupBy="rarity"
                       placeholder="Equipment {{ j + 1}}"
                       [(ngModel)]="selected.equipments[i][j]"
                       (ngModelChange)="selectEquipment(i, j)"
                       class="selectEquipment">
            </ng-select>
            <div *ngIf="team.units[i].equipments && selected.equipments[i][j]">
              <img src="{{'assets/equipments/' + team.units[i].equipments[j].image + '.png'}}" class="equipmentImg background_{{ team.units[i].equipments[j].category }}"/>
              <button (click)="showEquipmentDetail(i, j)">Custom</button>
            </div>
            <div *ngIf="!selected.equipments[i][j]">
              <img src="{{'assets/builder/no_artifact.png'}}" class="equipmentImg"/>
            </div>
          </div>
          <div *ngIf="(j == 1 && team.units[i].lb < 2) || (j == 2 && team.units[i].lb < 4)">
            <img src="{{'assets/builder/lock_artifact.png'}}" class="equipmentImg"/>
          </div>
        </td>
        <td>
        </td>
      </tr>
    </table>

    <table class="esperCardTable">
      <tr>
        <td>
          <ng-select [items]="list.espers[i]"
                     bindLabel="name"
                     bindValue="id"
                     groupBy="rarity"
                     placeholder="Espers"
                     [(ngModel)]="selected.espers[i]"
                     (ngModelChange)="selectEsper(i)"
                     class="selectEsper">
          </ng-select>

          <div *ngIf="team.units[i].esper">
            <img src="{{'assets/units/' + team.units[i].esper.image + '_m.png'}}" class="esperImg"/>
            Reso
            <select [(ngModel)]="team.units[i].esper.resonance" (ngModelChange)="changeLevel(i)">
              <option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">{{ i }}</option>
            </select><br />
            <button (click)="showEsperDetail(i)">Custom</button>
          </div>

          <div *ngIf="!team.units[i].esper">
            <img src="{{'assets/builder/no_esper.png'}}" class="esperImg"/>
          </div>
        </td>
        <td>
          <ng-select [items]="list.cards[i]"
                     bindLabel="name"
                     bindValue="id"
                     groupBy="rarity"
                     placeholder="Cards"
                     [(ngModel)]="selected.cards[i]"
                     (ngModelChange)="selectCard(i)"
                     class="selectCard">
          </ng-select>

          <div *ngIf="team.units[i].card">
            <img src="{{'assets/cards/' + team.units[i].card.image + '_m.png'}}" class="cardImg"/>
            <button (click)="showCardDetail(i)">Custom</button>
          </div>

          <div *ngIf="!team.units[i].card">
            <img src="{{'assets/builder/no_card.png'}}" class="cardImg"/>
          </div>
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <td colspan="2">Support Skills</td>
      </tr>
      <tr *ngFor="let j of [0, 1]">
        <td>
          <select [(ngModel)]="team.units[i].activatedSupport[j]" (ngModelChange)="changeLevel(i)">
            <option value="0"></option>
            <option *ngFor="let node of getAvailableSupportNodes(i, j)" [ngValue]="node.nodeId">
              {{ node.name }}
            </option>
          </select>
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <td>Counter Skill</td>
      </tr>
      <tr>
        <td>
          <select [(ngModel)]="team.units[i].activatedCounter" (ngModelChange)="changeCounter(i)">
            <option value="0"></option>
            <option *ngFor="let node of getAvailableCounterNodes(i)" [ngValue]="node.nodeId">
              {{ node.name }}
            </option>
          </select>
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <td>Sub-job</td>
      </tr>
      <tr>
        <td>
          <select [(ngModel)]="team.units[i].subjob" (ngModelChange)="changeSubJob(i)">
            <option *ngFor="let j of [0, 1, 2]" [ngValue]="j">
              {{ team.units[i].jobsData[j].name }}
            </option>
          </select>
        </td>
      </tr>
    </table>

    <table>
      <tr>
        <td>HP</td>
        <td>{{ team.units[i].stats.HP.total }}</td>
        <td>ATK</td>
        <td>{{ team.units[i].stats.ATK.total }}</td>
      </tr>
      <tr>
        <td>TP</td>
        <td>{{ team.units[i].stats.TP.total }}</td>
        <td>MAG</td>
        <td>{{ team.units[i].stats.MAG.total }}</td>
      </tr>
      <tr>
        <td>AP</td>
        <td>{{ team.units[i].stats.INITIAL_AP.total }} / {{ team.units[i].stats.AP.total }}</td>
        <td>AGI</td>
        <td>{{ team.units[i].stats.AGI.total }}</td>
      </tr>
      <tr>
        <td>Move</td>
        <td>{{ team.units[i].stats.MOVE.total }}</td>
        <td>DEX</td>
        <td>{{ team.units[i].stats.DEX.total }}</td>
      </tr>
      <tr>
        <td>Jump</td>
        <td>{{ team.units[i].stats.JUMP.total }}</td>
        <td>Luck</td>
        <td>{{ team.units[i].stats.LUCK.total }}</td>
      </tr>
      <tr>
        <td>DEF</td>
        <td>{{ team.units[i].stats.DEF.total }}</td>
        <td>SPR</td>
        <td>{{ team.units[i].stats.SPR.total }}</td>
      </tr>
    </table>
  </div>
</div>

<div>
  <button (click)="console()">CONSOLE</button>
</div>
