<div style="width: 30%; display: inline-block;">
  <ng-select [items]="units"
             bindLabel="name"
             groupBy="rarity"
             [(ngModel)]="unit"
             (ngModelChange)="selectUnit()">
  </ng-select>

  <div *ngIf="unit">
    <table class="unitTable">
      <tbody>
        <tr>
          <th colspan="3">{{ unit.name }}</th>
        </tr>
        <tr>
          <td colspan="3"><img class="unitImg" src="{{'assets/units/' + unit.image + '_m.png'}}" /></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="unit">
    Star
    <select [(ngModel)]="unit.star" (ngModelChange)="changeStar()">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
    </select>

    LB
    <select [(ngModel)]="unit.lb" (ngModelChange)="changeLB()">
      <option>0</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>

    Level
    <select [(ngModel)]="unit.level" (ngModelChange)="changeLevels()">
      <option *ngFor="let level of tableLevels">{{ level }}</option>
    </select>
  </div>

  <div *ngIf="unit">
    <table>
      <tr>
        <td *ngFor="let i of [0, 1, 2]">{{ unit.jobsData[i].name }}</td>
      </tr>
      <tr>
        <td *ngFor="let i of [0, 1, 2]">
          <select *ngIf="unit.jobsData[i].unlocked" [(ngModel)]="unit.jobsData[i].level" (ngModelChange)="changeLevels()">
            <option *ngFor="let level of tableJobLevels">{{ level }}</option>
          </select>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="unit">
    <table>
      <tr>
        <td colspan="2">Support Skills</td>
      </tr>
      <tr>
        <td *ngFor="let i of [0, 1]">
          <select [(ngModel)]="unit.activatedSupport[i]" (ngModelChange)="changeLevels()">
            <option value="0"></option>
            <option *ngFor="let node of getAvailableSupportNodes(i)" [ngValue]="node.nodeId">
              {{ node.name }}
            </option>
          </select>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="unit">
    <table>
      <tr>
        <td>Master Skill</td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" [(ngModel)]="unit.masterSkill.activated" (ngModelChange)="changeLevels()" />
          {{ unit.masterSkill.name }}
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="guild">
    <table>
      <tr>
        <td>Guild</td>
      </tr>
      <tr>
        <td *ngFor="let statue of guildService.getStatues()">
          <select [(ngModel)]="guild[statue]" (ngModelChange)="calculateTotalStats()">
            <option *ngFor="let level of [0, 1, 2, 3, 4, 5]">{{ level }}</option>
          </select>
        </td>
      </tr>
    </table>
  </div>

  <button (click)="consoleLog()">SAVE</button>
</div>

<div style="width: 70%; display: inline-block;" *ngIf="stats">
  <table class="statsTable">
    <tbody>
      <tr>
        <th colspan="13">Stats</th>
      </tr>
      <tr>
        <th></th>
        <th>HP</th>
        <th>TP</th>
        <th>AP</th>
        <th>ATK</th>
        <th>MAG</th>
        <th>AGI</th>
        <th>DEX</th>
        <th>LUCK</th>
        <th>MOVE</th>
        <th>JUMP</th>
      </tr>
      <tr>
        <td>Base</td>
        <td>{{ stats.HP.baseTotal }}</td>
        <td>{{ stats.TP.baseTotal }}</td>
        <td>{{ stats.AP.baseTotal }}</td>
        <td>{{ stats.ATK.baseTotal }}</td>
        <td>{{ stats.MAG.baseTotal }}</td>
        <td>{{ stats.AGI.baseTotal }}</td>
        <td>{{ stats.DEX.baseTotal }}</td>
        <td>{{ stats.LUCK.baseTotal }}</td>
        <td>{{ stats.MOVE.baseTotal }}</td>
        <td>{{ stats.JUMP.baseTotal }}</td>
      </tr>
      <tr>
        <td>Guild</td>
        <td>{{ stats.HP.guild }}</td>
        <td>{{ stats.TP.guild }}</td>
        <td></td>
        <td>{{ stats.ATK.guild }}</td>
        <td>{{ stats.MAG.guild }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Board</td>
        <td>{{ stats.HP.board }}</td>
        <td>{{ stats.TP.board }}</td>
        <td>{{ stats.AP.board }}</td>
        <td>{{ stats.ATK.board }}</td>
        <td>{{ stats.MAG.board }}</td>
        <td>{{ stats.AGI.board }}</td>
        <td>{{ stats.DEX.board }}</td>
        <td>{{ stats.LUCK.board }}</td>
        <td>{{ stats.MOVE.board }}</td>
        <td>{{ stats.JUMP.board }}</td>
      </tr>
      <tr>
        <td>Support</td>
        <td>{{ stats.HP.support }}</td>
        <td>{{ stats.TP.support }}</td>
        <td>{{ stats.AP.support }}</td>
        <td>{{ stats.ATK.support }}</td>
        <td>{{ stats.MAG.support }}</td>
        <td>{{ stats.AGI.support }}</td>
        <td>{{ stats.DEX.support }}</td>
        <td>{{ stats.LUCK.support }}</td>
        <td>{{ stats.MOVE.support }}</td>
        <td>{{ stats.JUMP.support }}</td>
      </tr>
      <tr>
        <td>Master Skill</td>
        <td>{{ stats.HP.masterSkill }}</td>
        <td>{{ stats.TP.masterSkill }}</td>
        <td>{{ stats.AP.masterSkill }}</td>
        <td>{{ stats.ATK.masterSkill }}</td>
        <td>{{ stats.MAG.masterSkill }}</td>
        <td>{{ stats.AGI.masterSkill }}</td>
        <td>{{ stats.DEX.masterSkill }}</td>
        <td>{{ stats.LUCK.masterSkill }}</td>
        <td>{{ stats.MOVE.masterSkill }}</td>
        <td>{{ stats.JUMP.masterSkill }}</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>{{ stats.HP.total }}</td>
        <td>{{ stats.TP.total }}</td>
        <td>{{ stats.AP.total }}</td>
        <td>{{ stats.ATK.total }}</td>
        <td>{{ stats.MAG.total }}</td>
        <td>{{ stats.AGI.total }}</td>
        <td>{{ stats.DEX.total }}</td>
        <td>{{ stats.LUCK.total }}</td>
        <td>{{ stats.MOVE.total }}</td>
        <td>{{ stats.JUMP.total }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row" *ngIf="grid">
  <div class="hexGridContainer" style="text-align: center;">
    <ul class="hexGrid" oncontextmenu="return false;">
      <li *ngFor="let node of grid.gridNodes; let index;" (click)="clickNode(node)" (contextmenu)="rightClickNode(node)">
        <div class="hex hideNode" *ngIf="grid.nodesForGrid[node].type == 'hidden'">{{ node }}</div>

        <div class="hex activated" *ngIf="grid.nodesForGrid[node].type == 'center'">
          <span class="fullIcon"><img src="{{ '/assets/units/' + unit.image + '_m.png' }}"></span>
        </div>

        <div class="hex" *ngIf="grid.nodesForGrid[node].type == 'text'"
             [ngClass]="{
               'activated': unit.board.nodes[node].activated,
               'buff': unit.board.nodes[node].type == 'buff',
               'skill': unit.board.nodes[node].type == 'skill' && unit.board.nodes[node].skill.type == 'skill',
               'support': unit.board.nodes[node].type == 'skill' && unit.board.nodes[node].skill.type == 'support',
               'counter': unit.board.nodes[node].type == 'skill' && unit.board.nodes[node].skill.type == 'counter',
               'notActivable': !canActivateNode(node)
        }" >
          <i class="fa fa-plus" *ngIf="grid.nodesForGrid[node].subType == 'skill' && unit.board.nodes[node].activated"></i>
          <span class="text">{{ grid.nodesForGrid[node].value }}</span>
          <span class="skillLevel" *ngIf="grid.nodesForGrid[node].subType == 'skill' && unit.board.nodes[node].activated">lv. {{ unit.board.nodes[node].level }}</span>
          <i class="fa fa-minus" *ngIf="grid.nodesForGrid[node].subType == 'skill' && unit.board.nodes[node].activated" (click)="rightClickNode(node); $event.stopPropagation()"></i>
        </div>
      </li>
    </ul>

    <div [innerHTML]="grid.lines"></div>
  </div>
</div>
