.row {
  max-width: 820px;
  margin: auto;
  margin-bottom: 20px;
}

.guildTable {
  width: 820px;
}

.guildTable, tbody, tr, th, td {
  border: 0;
}

.statueImg {
  height: 250px;
  margin-top: 10px;
}
