<div class="row">
  <div class="teamName">
    <h1 *ngIf="team.name">{{ team.name }}</h1>
    <h1 *ngIf="!team.name">New Team</h1>
  </div>

  <div class="masterButtons">
    <button class="btn btn-sub" (click)="newTeam()">New Team</button>
    <button class="btn btn-sub" (click)="openLinkModal()">Get Link</button>
    <button class="btn btn-sub" (click)="openLoadModal()" *ngIf="showSave">Load Team</button>
    <button class="btn btn-sub" (click)="openSaveModal()" *ngIf="showSave">Save Team</button>
    <span class="teamCost">Cost : {{ team.cost }}</span>
  </div>

  <div class="unitCol" *ngFor="let unitPos of [0, 1, 2, 3, 4]">
    <ng-select placeholder="Select an unit" [items]="availableUnits[unitPos]" groupBy="rarity" [(ngModel)]="selectedUnits[unitPos]" (ngModelChange)="selectUnit(unitPos)" bindLabel="name" bindValue="dataId" [editableSearchTerm]="true">
      <ng-template ng-label-tmp let-item="item">
        {{item.name}}
      </ng-template>

      <ng-template ng-optgroup-tmp let-item="item" let-index="index">
        <div class="rarityLine">
          <img src="assets/rarity/{{item.rarity}}.png" /><span>{{ rarityTranslate[item.rarity] }}</span>
        </div>
      </ng-template>

      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <div class="unitLine">
          <div class="unitSelector">
            <div class="unitLogo">
              <img src="assets/units/{{ item.image }}_m.png" />
            </div>
            <div class="unitNameSelector" innerHTML="{{ item.name | highlight: search }}"></div>
          </div>
          <hr />
        </div>
      </ng-template>
    </ng-select>

    <table class="builderTable" *ngIf="team.units[unitPos]; let unit">
      <tr>
        <th>{{ unit.name }}<span *ngIf="unit.customName"> - {{ unit.customName }}</span></th>
      </tr>
      <tr>
        <td>
          <div class="unitButtons">
            <button class="btn btn-sub btn-left" (click)="resetUnit(unitPos)">Reset</button>
            <button class="btn btn-main btn-right" (click)="maxUnit(unitPos)">Max unit</button>
          </div>
          <div class="cardIcons">
            <img class="rarityImg" src="{{'assets/rarity/' + unit.rarity + '.png'}}" />
            <img class="elementImg" src="{{'assets/elements/' + unit.element + '.png'}}"  />
          </div>
          <div>
            <img class="unitImg" src="assets/units/{{ unit.image }}_m.png" />
          </div>
        </td>
      </tr>
      <tr>
        <th class="sub">Level</th>
      </tr>
      <tr>
        <td>
          <div class="awakeningDiv">
            <div>
              Awakening
            </div>
            <div class="stars">
              <ngb-rating [(rate)]="unit.star" [max]="6" class="ratingStars">
                <ng-template let-fill="fill" let-index="index">
                  <div class="star" [class.filled]="fill === 100"  (click)="changeStar(unitPos, index + 1)">&nbsp;</div>
                </ng-template>
              </ngb-rating>
            </div>
          </div>

          <div class="lbDiv">
            <div>
              Limit Break
            </div>
            <div class="lbs">
              <ngb-rating [(rate)]="unit.lb" [max]="5">
                <ng-template let-fill="fill" let-index="index">
                  <div class="lb" [class.filled]="fill === 100" (click)="changeLB(unitPos, index + 1)">&nbsp;</div>
                </ng-template>
              </ngb-rating>
            </div>
          </div>

          <div class="levelDiv">
            <div>
              Level
            </div>
            <div ngbDropdown class="dropdownDiv">
              <button class="btn btn-select" ngbDropdownToggle>{{ unit.level }}</button>
              <div ngbDropdownMenu class="selectList">
                <button *ngFor="let level of unit.tableLevels" class="selectLevel" ngbDropdownItem (focus)="selectLevel(unitPos, level)">{{ level }}</button>
              </div> / {{ unit.maxLevel }}
            </div>
          </div>

          <!-- <div class="masterSkillDiv">
            <div>
              Master Skill Level
            </div>
            <div ngbDropdown class="dropdownDiv">
              <button class="btn btn-select" ngbDropdownToggle>{{ unit.masterSkillActivated + 1 }}</button>
              <div ngbDropdownMenu class="selectList">
                <button *ngFor="let level of unit.masterSkillLevel" class="selectLevel" ngbDropdownItem (focus)="selectMasterSkillLevel(unitPos, level)">{{ level + 1 }}</button>
              </div>
            </div>
          </div> -->

          <div class="limitDiv" *ngIf="unit.limit">
            <div>
              Limit Level
            </div>
            <div ngbDropdown class="dropdownDiv">
              <button class="btn btn-select" ngbDropdownToggle>{{ unit.limit.level }}</button>
              <div ngbDropdownMenu class="selectList">
                <button *ngFor="let level of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]" class="selectLevel" ngbDropdownItem (focus)="selectLimitLevel(unitPos, level)">{{ level }}</button>
              </div>
            </div>
          </div>

          <div>
            <button class="btn btn-sub btn-left" (click)="resetLevel(unitPos)">Reset level</button>
            <button class="btn btn-main btn-right" (click)="maxLevelAndJobs(unitPos)">Max level</button>
          </div>
        </td>
      </tr>
      <tr>
        <th class="sub">Jobs</th>
      </tr>
      <tr>
        <td>
          <div *ngFor="let i of [0, 1, 2]" class="jobDiv" [ngClass]="{'lastJobDiv': i == 2, 'subjobDisable': !unit.jobsData[i].unlocked}">
            <img [className]="i == 0 ? 'mainJob' : 'subJob'" src="{{'assets/jobs/' + unit.jobsData[i].image + '.png'}}" />

            <div ngbDropdown class="dropdownDiv">
              <button class="btn btn-select" ngbDropdownToggle [disabled]="!unit.jobsData[i].unlocked">{{ unit.jobsData[i].level }}</button>
              <div ngbDropdownMenu class="selectList">
                <button *ngFor="let level of unit.tableJobLevels[i]" class="selectLevel" ngbDropdownItem (focus)="selectJobLevel(unitPos, i, level)">{{ level }}</button>
              </div>
            </div>
          </div>
          <div class="jobsButton">
            <button class="btn btn-sub btn-left" (click)="resetJob(unitPos)">Reset Jobs</button>
            <button class="btn btn-main btn-right" (click)="maxLevelAndJobs(unitPos)">Max Jobs</button>
          </div>
        </td>
      </tr>
      <tr>
        <th class="sub">Sub Job</th>
      </tr>
      <tr>
        <td class="subJobColumn">
          <div *ngFor="let i of [0, 1, 2]" class="subjobDiv jobDiv" [ngClass]="{'lastJobDiv': i == 2, 'selectedSubJob': i == unit.subjob, 'subjobDisable': !unit.jobsData[i].unlocked}" (click)="selectSubJob(unitPos, i)">
            <img class="subJob" src="{{'assets/jobs/' + unit.jobsData[i].image + '.png'}}" />
            {{ unit.jobsData[i].name }}
          </div>
        </td>
      </tr>
      <tr>
        <th class="sub">Equipment</th>
      </tr>
      <tr>
        <td>
          <div class="equipmentDiv">
            Slot 1
            <div *ngIf="unit && unit.equipments && unit.equipments[0]" (click)="openEquipmentsModal(unitPos, 0)" class="equipmentPointer">
              <img src="{{'assets/equipments/' + unit.equipments[0].image + '.png'}}" class="equipmentImg background_{{ unit.equipments[0].category }}"/>
            </div>
            <div *ngIf="!unit.equipments || !unit.equipments[0]" (click)="openEquipmentsModal(unitPos, 0)" class="equipmentPointer">
              <img src="{{'assets/builder/no_artifact.png'}}" class="equipmentImg"/>
            </div>
            <button class="btn btn-sub btn-equipment" [ngClass]="{'btn-disable': !unit.equipments || !unit.equipments[0]}" (click)="openEquipmentsModal(unitPos, 0)">Custom</button>
          </div>

          <div class="equipmentDiv" *ngIf="unit && unit.lb >= 2">
            Slot 2
            <div *ngIf="unit && unit.equipments && unit.equipments[1]" (click)="openEquipmentsModal(unitPos, 1)" class="equipmentPointer">
              <img src="{{'assets/equipments/' + unit.equipments[1].image + '.png'}}" class="equipmentImg background_{{ unit.equipments[1].category }}"/>
            </div>
            <div *ngIf="!unit.equipments || !unit.equipments[1]" (click)="openEquipmentsModal(unitPos, 1)" class="equipmentPointer">
              <img src="{{'assets/builder/no_artifact.png'}}" class="equipmentImg"/>
            </div>
            <button class="btn btn-sub btn-equipment" [ngClass]="{'btn-disable': !unit.equipments || !unit.equipments[1]}" (click)="openEquipmentsModal(unitPos, 1)">Custom</button>
          </div>

          <div class="equipmentDiv" *ngIf="unit && (unit.lb < 2 || !unit.lb)">
            Slot 2
            <img src="{{'assets/builder/lock_artifact.png'}}" class="equipmentImg"/>
            <button class="btn btn-sub btn-disable btn-equipment">Custom</button>
          </div>

          <div class="equipmentDiv" *ngIf="unit && unit.lb >= 4">
            TMR
            <div *ngIf="unit && unit.equipments && unit.equipments[2]" (click)="openEquipmentsModal(unitPos, 2)" class="equipmentPointer">
              <img src="{{'assets/equipments/' + unit.equipments[2].image + '.png'}}" class="equipmentImg background_{{ unit.equipments[2].category }}"/>
            </div>
            <div *ngIf="!unit.equipments || !unit.equipments[2]" (click)="openEquipmentsModal(unitPos, 2)" class="equipmentPointer">
              <img src="{{'assets/builder/no_artifact.png'}}" class="equipmentImg"/>
            </div>
            <button class="btn btn-sub btn-equipment" [ngClass]="{'btn-disable': !unit.equipments || !unit.equipments[2]}" (click)="openEquipmentsModal(unitPos, 2)">Custom</button>
          </div>

          <div class="equipmentDiv" *ngIf="unit && (unit.lb < 4 || !unit.lb)">
            TMR
            <img src="{{'assets/builder/lock_artifact.png'}}" class="equipmentImg"/>
            <button class="btn btn-sub btn-disable btn-equipment">Custom</button>
          </div>
        </td>
      </tr>
      <tr>
        <th class="sub">Esper & Card</th>
      </tr>
      <tr>
        <td>
          <div class="esparCardDiv">
            Esper
            <div *ngIf="unit.esper">
              <img src="{{'assets/units/' + unit.esper.image + '_m.png'}}" class="esperImg" (click)="openEspersModal(unitPos)"/>
              Reso
              <div ngbDropdown class="dropdownDiv">
                <button class="btn btn-select" ngbDropdownToggle>{{ unit.esper.resonance }}</button>
                <div ngbDropdownMenu class="selectList">
                  <button *ngFor="let level of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" class="selectLevel" ngbDropdownItem (focus)="selectEsperResonance(unitPos, level)">{{ level }}</button>
                </div>
              </div>
              <button class="btn btn-sub btn-esper" (click)="openEspersModal(unitPos)">Custom</button>
            </div>

            <div *ngIf="!unit.esper">
              <img src="{{'assets/builder/no_esper.png'}}" class="esperImg" (click)="openEspersModal(unitPos)"/>
              <button class="btn btn-sub btn-disable btn-esper" (click)="openEspersModal(unitPos)">Custom</button>
            </div>
          </div>

          <div class="esparCardDiv">
            Vision Card
            <div *ngIf="unit.card">
              <img src="{{'assets/cards/' + unit.card.image + '_m.png'}}" class="cardImg" (click)="openCardsModal(unitPos)"/>
              <button class="btn btn-sub btn-card" (click)="openCardsModal(unitPos)">Custom</button>
            </div>

            <div *ngIf="!unit.card">
              <img src="{{'assets/builder/no_card.png'}}" class="cardImg" (click)="openCardsModal(unitPos)"/>
              <button class="btn btn-sub btn-disable btn-card" (click)="openCardsModal(unitPos)">Custom</button>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th class="sub">Support Skills</th>
      </tr>
      <tr *ngFor="let i of [0, 1]">
        <td>
          <div ngbDropdown class="dropdownFull">
            <button class="btn btn-select" ngbDropdownToggle>
              {{ unit.activatedSupport[i] && unit.activatedSupport[i] > 0 ? unit.board.nodes[unit.activatedSupport[i]].skill.name : "Select a skill" }}
            </button>
            <div ngbDropdownMenu class="selectList selectListFull">
              <button *ngFor="let node of getAvailableSupportNodes(unitPos, i)" class="selectLevel" ngbDropdownItem (focus)="selectSupportSkill(unitPos, i, node.nodeId)">{{ node.name }}</button>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th class="sub">Counter Skill</th>
      </tr>
      <tr>
        <td>
          <div ngbDropdown class="dropdownFull">
            <button class="btn btn-select" ngbDropdownToggle>
              {{ unit.activatedCounter && unit.activatedCounter > 0 ? unit.board.nodes[unit.activatedCounter].skill.name : "Select a skill" }}
            </button>
            <div ngbDropdownMenu class="selectList selectListFull">
              <button *ngFor="let node of getAvailableCounterNodes(unitPos)" class="selectLevel" ngbDropdownItem (focus)="selectCounterSkill(unitPos, node.nodeId)">{{ node.name }}</button>
            </div>
          </div>
        </td>
      </tr>
    </table>

    <table class="statsTable" *ngIf="team.units[unitPos]; let unit">
      <tr>
        <th colspan="4">STATS</th>
      </tr>
      <tr>
        <td>HP</td>
        <td>{{ unit.stats.HP.total }}</td>
        <td>ATK</td>
        <td>{{ unit.stats.ATK.total }}</td>
      </tr>
      <tr>
        <td>TP</td>
        <td>{{ unit.stats.TP.total }}</td>
        <td>MAG</td>
        <td>{{ unit.stats.MAG.total }}</td>
      </tr>
      <tr>
        <td>AP</td>
        <td>{{ unit.stats.INITIAL_AP.total }} / {{ unit.stats.AP.total }}</td>
        <td>AGI</td>
        <td>{{ unit.stats.AGI.total }}</td>
      </tr>
      <tr>
        <td>Move</td>
        <td>{{ unit.stats.MOVE.total }}</td>
        <td>DEX</td>
        <td>{{ unit.stats.DEX.total }}</td>
      </tr>
      <tr>
        <td>Jump</td>
        <td>{{ unit.stats.JUMP.total }}</td>
        <td>Luck</td>
        <td>{{ unit.stats.LUCK.total }}</td>
      </tr>
      <tr>
        <td>DEF</td>
        <td>{{ unit.stats.DEF.total }}</td>
        <td>SPR</td>
        <td>{{ unit.stats.SPR.total }}</td>
      </tr>
      <tr *ngFor="let statType of getAvailableStatType(unitPos).images">
        <td *ngIf="statType[0]">
          <img class="buffImg" title="{{ statType[0] }}" src="{{ '/assets/buffs/' + statType[0].toLowerCase() + '.png' }}">
        </td>
        <td *ngIf="statType[0]">{{ unit.stats[statType[0]].total }}</td>

        <td *ngIf="statType[1]">
          <img class="buffImg" title="{{ statType[1] }}" src="{{ '/assets/buffs/' + statType[1].toLowerCase() + '.png' }}">
        </td>
        <td *ngIf="statType[1]">{{ unit.stats[statType[1]].total }}</td>
      </tr>
      <tbody *ngFor="let statType of getAvailableStatType(unitPos).text">
        <tr>
          <td colspan="4">{{ statType }}</td>
        </tr>
        <tr>
          <td colspan="4">{{ unit.stats[statType].total }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="team" class="teamGuild">
    <table>
      <tr>
        <th colspan="4">Guild</th>
      </tr>
      <tr>
        <td *ngFor="let statue of statueNames">
          <img class="statueImg" src="{{ 'assets/statues/' + statue + '.png' }}"/>
        </td>
      </tr>
      <td *ngFor="let statue of statueNames">
        <div>
          {{ team.guild.data[statue] }}
        </div>
      </td>
      <tr>
        <td colspan="4"><button class="btn btn-sub btn-guild" (click)="showGuildDetail()">Custom</button></td>
      </tr>
    </table>
  </div>
