<div class="leftBlock">
  <div>
    <ng-select [items]="units"
               bindLabel="name"
               bindValue="id"
               groupBy="rarity"
               placeholder="Units"
               [(ngModel)]="selectedUnitId"
               (ngModelChange)="selectUnit()">
    </ng-select>
  </div>

  <div *ngIf="unit" class="unitDiv">
    <table class="unitTable">
      <tbody>
        <tr>
          <th colspan="3">{{ unit.name }}</th>
        </tr>
        <tr>
          <td colspan="3"><img class="unitImg" src="{{'assets/units/' + unit.image + '_m.png'}}" /></td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="unit" class="starsLbsLevels">
      <div class="stars">
        <ngb-rating [(rate)]="unit.star" [max]="6" class="ratingStars">
          <ng-template let-fill="fill" let-index="index">
            <div class="star" [class.filled]="fill === 100"  (click)="changeStar(index + 1)">&nbsp;</div>
          </ng-template>
        </ngb-rating>
      </div>

      <div class="lbs">
        <ngb-rating [(rate)]="unit.lb" [max]="5">
          <ng-template let-fill="fill" let-index="index">
            <div class="lb" [class.filled]="fill === 100" (click)="changeLB(index + 1)">&nbsp;</div>
          </ng-template>
        </ngb-rating>
      </div>

      <div>
        Lv
        <select [(ngModel)]="unit.level" (ngModelChange)="changeLevel()">
          <option *ngFor="let level of unit.tableLevels">{{ level }}</option>
        </select> / {{ unit.maxLevel }}
      </div>
    </div>
  </div>

  <div *ngIf="unit">
    <table class="jobsTable">
      <tr>
        <td *ngFor="let i of [0, 1, 2]">
          <img [className]="i == 0 ? 'mainJob' : 'subJob'" src="{{'assets/jobs/' + unit.jobsData[i].image + '.png'}}" />
          <select *ngIf="unit.jobsData[i].unlocked" [(ngModel)]="unit.jobsData[i].level" (ngModelChange)="changeLevel()">
            <option *ngFor="let level of unit.tableJobLevels">{{ level }}</option>
          </select>
          <select *ngIf="!unit.jobsData[i].unlocked"></select>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="unit" class="unitButtons">
    <button (click)="maxUnit()">Max unit</button>
    <button (click)="maxLevelAndJobs()" class="maxLevelButton">Max level & jobs</button>
  </div>


  <div *ngIf="unit">
    <table class="equipmentsTable">
      <tr>
        <td>
          <ng-select [items]="equipments[0]"
                     bindLabel="name"
                     bindValue="dataId"
                     groupBy="rarity"
                     placeholder="Equipment 1"
                     [(ngModel)]="selectedEquipmentsIds[0]"
                     (ngModelChange)="selectEquipment(0)"
                     class="selectEquipment">
          </ng-select>
          <div *ngIf="unit && unit.equipments && selectedEquipments[0]">
            <img src="{{'assets/equipments/' + unit.equipments[0].image + '.png'}}" class="equipmentImg background_{{ unit.equipments[0].category }}"/>
            <button (click)="showEquipmentDetail(0)">Custom</button>
          </div>
          <div *ngIf="!selectedEquipments[0]">
            <img src="{{'assets/builder/no_artifact.png'}}" class="equipmentImg"/>
          </div>
        </td>
        <td>
          <div *ngIf="unit && unit.lb >= 2">
            <ng-select [items]="equipments[1]"
                       bindLabel="name"
                       bindValue="dataId"
                       groupBy="rarity"
                       placeholder="Equipment 2"
                       [(ngModel)]="selectedEquipmentsIds[1]"
                       (ngModelChange)="selectEquipment(1)"
                       class="selectEquipment">
            </ng-select>
          </div>

          <div *ngIf="unit && unit.lb >= 2">
            <div *ngIf="selectedEquipmentsIds[1]">
              <img src="{{'assets/equipments/' + unit.equipments[1].image + '.png'}}" class="equipmentImg background_{{ unit.equipments[1].category }}"/>
              <button (click)="showEquipmentDetail(1)">Custom</button>
            </div>
            <div *ngIf="!selectedEquipmentsIds[1]">
              <img src="{{'assets/builder/no_artifact.png'}}" class="equipmentImg"/>
            </div>
          </div>

          <div *ngIf="unit && unit.lb < 2">
            <img src="{{'assets/builder/lock_artifact.png'}}" class="equipmentImg"/>
          </div>
        </td>
        <td>
          <div *ngIf="unit && unit.lb >= 4">
            <ng-select [items]="equipments[2]"
                       bindLabel="name"
                       bindValue="dataId"
                       groupBy="rarity"
                       placeholder="Equipment 3"
                       [(ngModel)]="selectedEquipmentsIds[2]"
                       (ngModelChange)="selectEquipment(2)"
                       class="selectEquipment">
            </ng-select>
          </div>

          <div *ngIf="unit && unit.lb >= 4">
            <div *ngIf="selectedEquipmentsIds[2]">
              <img src="{{'assets/equipments/' + unit.equipments[2].image + '.png'}}" class="equipmentImg background_{{ unit.equipments[2].category }}"/>
              <button (click)="showEquipmentDetail(2)">Custom</button>
            </div>
            <div *ngIf="!selectedEquipmentsIds[2]">
              <img src="{{'assets/builder/no_artifact.png'}}" class="equipmentImg"/>
            </div>
          </div>

          <div *ngIf="unit && unit.lb < 4">
            <img src="{{'assets/builder/lock_artifact.png'}}" class="equipmentImg"/>
          </div>
        </td>
      </tr>
    </table>

    <table class="esperCardTable">
      <tr>
        <td>
          <ng-select [items]="espers"
                     bindLabel="name"
                     bindValue="id"
                     groupBy="rarity"
                     placeholder="Espers"
                     [(ngModel)]="selectedEsperId"
                     (ngModelChange)="selectEsper()"
                     class="selectEsper">
          </ng-select>

          <div *ngIf="esper">
            <img src="{{'assets/units/' + esper.image + '_m.png'}}" class="esperImg"/>
            Reso
            <select [(ngModel)]="esper.resonance" (ngModelChange)="changeLevel()">
              <option *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">{{ i }}</option>
            </select><br />
            <button (click)="showEsperDetail()">Custom</button>
          </div>

          <div *ngIf="!esper">
            <img src="{{'assets/builder/no_esper.png'}}" class="esperImg"/>
          </div>
        </td>
        <td>
          <ng-select [items]="cards"
                     bindLabel="name"
                     bindValue="id"
                     groupBy="rarity"
                     placeholder="Cards"
                     [(ngModel)]="selectedCardId"
                     (ngModelChange)="selectCard()"
                     class="selectCard">
          </ng-select>

          <div *ngIf="card">
            <img src="{{'assets/cards/' + card.image + '_m.png'}}" class="cardImg"/>
            <button (click)="showCardDetail()">Custom</button>
          </div>

          <div *ngIf="!card">
            <img src="{{'assets/builder/no_card.png'}}" class="cardImg"/>
          </div>
        </td>
      </tr>
    </table>
  </div>





  <div *ngIf="unit">
    <table>
      <tr>
        <td colspan="2">Support Skills</td>
      </tr>
      <tr>
        <td>
          <select [(ngModel)]="unit.activatedSupport[0]" (ngModelChange)="changeLevel()">
            <option value="0"></option>
            <option *ngFor="let node of getAvailableSupportNodes(0)" [ngValue]="node.nodeId">
              {{ node.name }}
            </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <select [(ngModel)]="unit.activatedSupport[1]" (ngModelChange)="changeLevel()">
            <option value="0"></option>
            <option *ngFor="let node of getAvailableSupportNodes(1)" [ngValue]="node.nodeId">
              {{ node.name }}
            </option>
          </select>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="unit">
    <table>
      <tr>
        <td>Master Skill Level</td>
      </tr>
      <tr>
        <td>
          <select [(ngModel)]="unit.masterSkillActivated" (ngModelChange)="changeLevel()">
            <option *ngFor="let i of unit.masterSkillLevel" [ngValue]="i">
              {{ i + 1 }}
            </option>
          </select>
        </td>
      </tr>
    </table>
  </div>

  <div *ngIf="unit">
    <table>
      <tr>
        <td>Sub-job</td>
      </tr>
      <tr>
        <td>
          <select [(ngModel)]="unit.subjob">
            <option *ngFor="let i of [0, 1, 2]" [ngValue]="i">
              {{ unit.jobsData[i].name }}
            </option>
          </select>
        </td>
      </tr>
    </table>
  </div>

  <ng-template #builderLink let-modal>
    <div>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <textarea rows="10" class="textLink">{{ getExportableLink() }}</textarea>
    <button (click)="copyLink()">Copy</button>
  </ng-template>

  <div *ngIf="unit">
    <button (click)="save()">SAVE</button>
    <button (click)="openModal(builderLink)">Get Build Link</button>
  </div>
</div>

<div style="width: 70%; display: inline-block; vertical-align: top; padding-left: 15px;" *ngIf="unit">
  <table class="statsTable">
    <tbody>
      <tr>
        <th colspan="13">Stats</th>
      </tr>
      <tr>
        <th></th>
        <th *ngFor="let type of statsType">{{ type }}</th>
      </tr>
    </tbody>
    <tbody *ngIf="showStatsDetail">
      <tr *ngFor="let statFrom of statsFrom">
        <td>{{ statFrom.translate }}</td>
        <td *ngFor="let type of statsType">
          <span *ngIf="type == 'AP' && unit.stats['INITIAL_AP'][statFrom.type]">{{ unit.stats["INITIAL_AP"][statFrom.type] }} / </span>
          <span>{{ unit.stats[type][statFrom.type] }}</span>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr>
        <td>Total</td>
        <td *ngFor="let type of statsType">
          <span *ngIf="type == 'AP'">{{ unit.stats["INITIAL_AP"].total }} / </span>
          <span>{{ unit.stats[type].total }}</span>
        </td>
      </tr>
    </tbody>
  </table>
  <button (click)="showHideDetail('Stats')">Stats Detail</button>

  <table class="statsTable">
    <tbody>
      <tr>
        <th colspan="9">Buffs</th>
      </tr>
    </tbody>
    <tbody *ngFor="let line of unit.availableStats">
      <tr>
        <th></th>
        <th *ngFor="let statType of line">
          <img *ngIf="buffsImage.indexOf(statType.toLowerCase()) !== -1" class="buffImg" title="{{ statType }}" src="{{ '/assets/buffs/' + statType.toLowerCase() + '.png' }}">
          <span *ngIf="buffsImage.indexOf(statType.toLowerCase()) === -1">{{ statType }}</span>
        </th>
      </tr>
      <tr [ngClass]="{'disable': !showBuffsDetail}" *ngFor="let comeFrom of ['board', 'support', 'masterSkill', 'esper', 'card', 'cardParty', 'equipment0', 'equipment1', 'equipment2', 'totalEquipment']">
        <td>{{ comeFrom }}</td>
        <td *ngFor="let statType of line">{{ unit.stats[statType] ? unit.stats[statType][comeFrom] : '' }}</td>
      </tr>
      <tr>
        <td>Total</td>
        <td *ngFor="let statType of line">{{ unit.stats[statType].total }}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="showHideDetail('Buffs')">Buffs Detail</button>
</div>

<div class="row" *ngIf="unit">
  <div class="unitGridContainer" style="text-align: center;">
    <ul class="hexGrid" oncontextmenu="return false;">
      <li *ngFor="let node of unit.grid.gridNodes; let index;" (click)="clickNode(node)" (contextmenu)="rightClickNode(node)">
        <div class="hex hideNode" *ngIf="unit.grid.nodesForGrid[node].type == 'hidden'">{{ node }}</div>

        <div class="hex activated" *ngIf="unit.grid.nodesForGrid[node].type == 'center'">
          <span class="fullIcon"><img src="{{ '/assets/units/' + unit.image + '_m.png' }}"></span>
        </div>

        <div class="hex" *ngIf="unit.grid.nodesForGrid[node].type == 'text'"
             [ngClass]="{
               'activated': unit.board.nodes[node].activated,
               'buff': unit.board.nodes[node].type == 'buff',
               'skill': unit.board.nodes[node].type == 'skill' && unit.board.nodes[node].skill.type == 'skill',
               'support': unit.board.nodes[node].type == 'skill' && unit.board.nodes[node].skill.type == 'support',
               'counter': unit.board.nodes[node].type == 'skill' && unit.board.nodes[node].skill.type == 'counter',
               'notActivable': !canActivateNode(node)
        }" >
          <i class="fa fa-plus" *ngIf="unit.grid.nodesForGrid[node].subType == 'skill' && unit.board.nodes[node].activated"></i>
          <span class="text">{{ unit.grid.nodesForGrid[node].value }}</span>
          <span class="skillLevel" *ngIf="unit.grid.nodesForGrid[node].subType == 'skill' && unit.board.nodes[node].activated">lv. {{ unit.board.nodes[node].level == unit.board.nodes[node].skill.maxLevel ? 'MAX' : unit.board.nodes[node].level }}</span>
          <i class="fa fa-minus" *ngIf="unit.grid.nodesForGrid[node].subType == 'skill' && unit.board.nodes[node].activated" (click)="rightClickNode(node); $event.stopPropagation()"></i>
        </div>
      </li>
    </ul>

    <div [innerHTML]="unit.grid.lines"></div>
  </div>
</div>
