<div class="row chainParameters" *ngFor="let i of [0,1]">
  <div class="row form-group unit" *ngIf="i === 0 || chainService.chainers[i - 1]">
    <div class="selectLeftZone">
      <label for="chain{{i}}">Unit {{ i + 1 }}</label>
      <select class="form-control" id="chain{{i}}" [(ngModel)]="chainService.chainers[i]" (ngModelChange)="onChangeChain()">
        <option selected>Unit {{ i + 1 }}</option>
        <option *ngFor="let unit of units" [ngValue]="unit">{{unit.name}}</option>
      </select>
      <img src='assets/units/{{ chainService.chainers[i].id }}.png' *ngIf="chainService.chainers[i]" />
    </div>

    <div class="selectRightZone" *ngIf="chainService.chainers[i]">
      <div class="selectRightZoneTop">
        <label for="ability{{i}}">Ability</label>
        <select class="form-control" id="ability{{i}}" [(ngModel)]="chainService.chainers[i].abilities[0]" (ngModelChange)="onChangeChain()">
          <option *ngFor="let ability of chainService.chainers[i].abilities" [ngValue]="ability">{{ability.name}}</option>
        </select>
      </div>

      <div class="selectRightZoneTop">
        <label for="base{{i}}">Base %</label>
        <input class="form-control" type="number" name="base{{i}}" id="base{{i}}" value="{{chainService.chainers[i].abilities[0].base}}">
      </div>

      <div class="selectRightZoneTop">
        <label for="ignore{{i}}">Ignore (Def/Spr)</label>
        <input class="form-control" type="number" name="ignore{{i}}" id="ignore{{i}}" value="{{chainService.chainers[i].abilities[0].ignore}}">
      </div>

      <div *ngFor="let element of chainService.chainers[i].abilities[0].elements" class="selectRightZoneBottom">
        <div class="selectRightZoneBottomElement">
          <label for="unit1_element1">Element 1</label>
          <select class="form-control" id="unit1_element1" [(ngModel)]="chainService.chainers[i].abilities[0].elements[0]">
            <option *ngFor="let element of chainService.chainers[i].abilities[0].elements" [ngValue]="element">{{element.type}}</option>
          </select>
        </div>
        <div class="selectRightZoneBottomElement">
          <label for="unit1_element1_debuff">Debuff</label>
          <input class="form-control" type="number" name="unit1_element1_debuff" id="unit1_element1_debuff" value="{{chainService.chainers[i].abilities[0].elements[0].debuff}}">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <label for="framesGap">Spark ?</label>
  <select class="form-control" id="framesGap" [(ngModel)]="framesGap" (ngModelChange)="onChangeChain()">
    <option value="0">Oui</option>
    <option value="1">Non</option>
  </select>
</div>

<h2>{{chainService.getResult()}}</h2>


<app-chain-chart></app-chain-chart>
