.chainParameters {
  margin-top: 20px;
}

.unit {
  min-width: 1000px;
  max-width: 1000px;
  margin-bottom: 15px;
}

.selectLeftZone {
  width: 250px;
  text-align: center;
}

.selectRightZone {
  padding-left: 20px;
  width: 750px;
}

.selectRightZoneTop {
  width: 730px;
}

.selectRightZoneTopElement {
  width: 237px;
  padding-right: 10px;
  display: inline-block;
}

.selectRightZoneMiddle {
  width: 730px;
  margin-top: 10px;
}

.selectRightZoneMiddleElement {
  width: 237px;
  padding-right: 10px;
  display: inline-block;
}

.selectRightZoneBottom {
  width: 730px;
  margin-top: 10px;
}

.selectRightZoneBottomElement {
  width: 360px;
  padding-right: 10px;
  display: inline-block;}
