<div>
  <label for="chain1">Chain 1</label>
  <select class="units" id="chain1" [(ngModel)]="chainService.chainers[0]" (ngModelChange)="onChangeChainers()">
    <option></option>
    <option *ngFor="let unit of units" [ngValue]="unit">{{unit.name}}</option>
  </select>

  <label for="chain2">Chain 2</label>
  <select class="units" id="chain2" [(ngModel)]="chainService.chainers[1]" (ngModelChange)="onChangeChainers()">
    <option></option>
    <option *ngFor="let unit of units" [ngValue]="unit">{{unit.name}}</option>
  </select>

  <h2>{{chainService.getResult()}}</h2>
</div>

<app-chain-chart></app-chain-chart>
