.fullWidth {
  width: 100%;
}

.btn {
  cursor: pointer;
}

.littleMarginTop {
  margin-top: 10px;
}

.chainParameters {
  margin-top: 20px;
}

.unit {
  min-width: 1030px;
  max-width: 1030px;
  margin-bottom: 15px;
}

.selectLeftZone {
  width: 250px;
  text-align: center;
}

.selectRightZone {
  padding-left: 20px;
  width: 750px;
}

.selectDeleteZone {
  width: 30px;
}

.selectRightZoneBox {
  width: 730px;
}

.selectRightZoneOneThird {
  width: 237px;
  padding-right: 10px;
  display: inline-block;
}

.selectRightZoneTwoThird {
  width: 484px;
  display: inline-block;
}

.btnAddDebuff {
  width: 710px;
}

.btnDelete {
  height: 200px;
  padding: 0;
  margin-top: 30px;
}
