<table style="display: inline-block; vertical-align: top;">
  <tr>
    <td>
      ### GL Index ###
      <div>
        <!-- <textarea id="rawJson">{{ GLIndex | json }}</textarea> -->
        <button class="btn btn-main copyButton" (click)="copyData('GLIndex')">Copy GLIndex</button>
      </div>
      <span *ngIf="loadingIndexGL > 0">Loading : {{ loadingIndexGL }}</span>
    </td>
    <td>
      ### JP Index ###
      <div>
        <!-- <textarea id="rawJson">{{ JPIndex | json }}</textarea> -->
        <button class="btn btn-main copyButton" (click)="copyData('JPIndex')">Copy JPIndex</button>
      </div>
      <span *ngIf="loadingIndexJP > 0">Loading : {{ loadingIndexJP }}</span>
    </td>
  </tr>
  <tr>
    <td>
      <button (click)="generateIndex('GL')">GL Index</button>
    </td>
    <td>
      <button (click)="generateIndex('JP')">JP Index</button>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      NEW ESPER SET RARITY<br />
      NEW EQUIPMENT SET ACQUISITION<br />
    </td>
  </tr>
</table>
