### Units ###
<div *ngFor="let unit of ffbeChainUnits; let j = index">
  {{j}} -- {{unit.names.en}}
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsed[j] = !isCollapsed[j]" [attr.aria-expanded]="!isCollapsed[j]">
    Toggle
  </button>
  <div id="dataJson_{{j}}" [ngbCollapse]="isCollapsed[j]">
    <pre [innerHtml]="unit | prettyjson"></pre>
  </div>
</div>

<!-- <div>
  Raw Json
  <button type="button" class="btn btn-outline-primary" (click)="isCollapsedRaw = !isCollapsedRaw" [attr.aria-expanded]="!isCollapsedRaw">
    Toggle
  </button>
  <div id="dataRawJson" [ngbCollapse]="isCollapsedRaw">
    <pre [innerHtml]="ffbeChainUnits | prettyjson"></pre>
  </div>
</div> -->
