.leftBlock {
  width: 350px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}

.rightBlock {
  width: 830px;
  display: inline-block;
  vertical-align: top;
}

.rarityImg {
  height: 32px;
}

.equipmentImg {
  max-height: 250px;
  max-width: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.equipmentTable {
  width: 100%;
  margin-right: 20px;
}

.StatTable, .skillsTable, .equippableJobsTable, .loreTable, .craftTable {
  width: 100%;
}

.skillsTable, .equippableJobsTable, .loreTable {
  margin-top: 10px;
}

.skillCastTd {
  width: 61px;
}

.skillHitTd {
  width: 50px;
}

.skillCostTd {
  width: 60px;
}

.skillNameTd {
  width: 150px;
}

.skillEffectTd {
  text-align: left;
}

.rangeTd {
  width: 69px;
}

.job {
  height: 50px;
  background: url("assets/jobs/base_sub.webp") 0px 0px no-repeat;
  background-size: 50px;
  padding: 5px;
  width: 50px;
  display: inline-block;
  margin-right: 5px;
}

.job img {
  max-width: 40px;
  max-height: 40px;
  vertical-align: top;
}

.mainjob {
  height: 30px;
  background: url("assets/jobs/base_main.webp") 0px 0px no-repeat;
  background-size: 30px;
  padding: 5px;
  width: 30px;
  display: inline-block;
  margin-right: 5px;
}

.mainjob img {
  max-width: 20px;
  max-height: 20px;
  vertical-align: top;
}

.unit {
  margin-right: 5px;
}

.recipe {
  height: 50px;
  width: 50px;
  background: url("assets/items/recipe.webp") 0px 0px no-repeat;
  background-size: 50px;
  padding: 5px;
  margin: auto;
}

.recipeImg {
  max-width: 40px;
  max-height: 40px;
  vertical-align: top;
}

.materialCount {
  font-weight: 600;
}

.conditionImg {
  max-width: 50px;
  max-height: 50px;
  margin-right: 5px;
}

@media (max-width: 1229px) {
  .leftBlockMediumSize {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .rightBlock {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 829px) {
  .mobileBlock {
    margin-top: 20px;
  }

  .craftTable {
    margin-top: 10px;
  }
}