th {
  padding-right: 0;
}

.row {
  width: 1300px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.indexWrapper {
  display:block;
  width: 100%;
  position: relative;
  clear: both;
  height: 800px;
}

.leftWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 500px;
  height: 800px;
}

.leftWrapperHeader {
  position:relative;
  overflow:hidden;
}

.leftWrapperContent {
  position: relative;
  overflow: auto;
  height: 750px;
}

.rightWrapper {
  position: absolute;
  top: 0px;
  left: 500px;
  width: 750px;
  height: 800px;
}

.rightWrapperHeader {
  position: relative;
  overflow: auto;
  width: 730px;
}

.rightWrapperContent {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 750px;
}

.leftTable {
  width: 100%;
}

.statsTable {
  width: 4400px;
}

.leftTable td, .leftTable th, .statsTable td, .statsTable th {
  height: 49px;
  padding: 0;
}

.colNum {

}

.colName {
  width: 455px;
}

.unitImg {
  max-width: 40px;
  max-height: 40px;
}

.spanArrow {
  width: 18px;
  display: inline-block;
}

.divTH {
  cursor: pointer;
  white-space: nowrap;
}

.buffImg {
  width: 40px;
}
