<div class="row">
  <span class="explainationText">
    The stats shown are for units max lvl, all job at maxed and the board completed<br/>
    You can scroll to the right to show more stats :)
  </span>

  <div class="indexWrapper">
    <div class="leftWrapper">
      <div class="leftWrapperHeader">
        <table class="leftTable">
          <tr>
            <th>
              #
            </th>
            <th class="colName">
              <div (click)="changeSort('name')" class="divTH">
                Unit
                <span class="spanArrow">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 inline-block" *ngIf="sort === 'name' && order === 'desc'">
                    <path fill-rule="evenodd" d="M12 2.25a.75.75 0 01.75.75v16.19l6.22-6.22a.75.75 0 111.06 1.06l-7.5 7.5a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 111.06-1.06l6.22 6.22V3a.75.75 0 01.75-.75z" clip-rule="evenodd" />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 inline-block" *ngIf="sort === 'name' && order === 'asc'">
                    <path fill-rule="evenodd" d="M11.47 2.47a.75.75 0 011.06 0l7.5 7.5a.75.75 0 11-1.06 1.06l-6.22-6.22V21a.75.75 0 01-1.5 0V4.81l-6.22 6.22a.75.75 0 11-1.06-1.06l7.5-7.5z" clip-rule="evenodd" />
                  </svg>
                </span>
              </div>
            </th>
          </tr>
        </table>
      </div>

      <div #leftWrapperContent class="leftWrapperContent" (scroll)="onScrollUnit($event)">
        <table class="leftTable">
          <tr *ngFor="let unit of units; let i = index">
            <td>
              {{ i + 1 }}
            </td>
            <td class="colName">
              <img class="unitImg" src="assets/units/{{unit.image}}_small.webp"/>
              {{ unit.name }}
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="rightWrapper">
      <div #rightWrapperHeader class="rightWrapperHeader" (scroll)="onScrollStat($event)">
        <table class="statsTable">
          <tr>
            <th *ngFor="let type of statsType" style="width: {{ type.width }}px;">
              <div (click)="changeSort(type.type)" class="divTH">
                {{ type.type }}
                <span class="spanArrow">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 inline-block" *ngIf="sort === type.type && order === 'desc'">
                    <path fill-rule="evenodd" d="M12 2.25a.75.75 0 01.75.75v16.19l6.22-6.22a.75.75 0 111.06 1.06l-7.5 7.5a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 111.06-1.06l6.22 6.22V3a.75.75 0 01.75-.75z" clip-rule="evenodd" />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 inline-block" *ngIf="sort === type.type && order === 'asc'">
                    <path fill-rule="evenodd" d="M11.47 2.47a.75.75 0 011.06 0l7.5 7.5a.75.75 0 11-1.06 1.06l-6.22-6.22V21a.75.75 0 01-1.5 0V4.81l-6.22 6.22a.75.75 0 11-1.06-1.06l7.5-7.5z" clip-rule="evenodd" />
                  </svg>
                </span>
              </div>
            </th>
            <th *ngFor="let type of imageStatsType" style="width: {{ type.width }}px;">
              <div (click)="changeSort(type.type)" class="divTH">
                <img class="buffImg" title="{{ type.type }}" src="{{ '/assets/buffs/' + type.type.toLowerCase() + '.webp' }}">
                <span class="spanArrow">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 inline-block" *ngIf="sort === type.type && order === 'desc'">
                    <path fill-rule="evenodd" d="M12 2.25a.75.75 0 01.75.75v16.19l6.22-6.22a.75.75 0 111.06 1.06l-7.5 7.5a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 111.06-1.06l6.22 6.22V3a.75.75 0 01.75-.75z" clip-rule="evenodd" />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 inline-block" *ngIf="sort === type.type && order === 'asc'">
                    <path fill-rule="evenodd" d="M11.47 2.47a.75.75 0 011.06 0l7.5 7.5a.75.75 0 11-1.06 1.06l-6.22-6.22V21a.75.75 0 01-1.5 0V4.81l-6.22 6.22a.75.75 0 11-1.06-1.06l7.5-7.5z" clip-rule="evenodd" />
                  </svg>
                </span>
              </div>
            </th>
          </tr>
        </table>
      </div>

      <div #rightWrapperContent class="rightWrapperContent" (scroll)="onScroll($event)">
        <table class="statsTable">
          <tr *ngFor="let unit of units">
            <td *ngFor="let type of statsType" style="width: {{ type.width }}px;">
              <span *ngIf="unit.stats[type.type]">{{ unit.stats[type.type] }}</span>
            </td>
            <td *ngFor="let type of imageStatsType" style="width: {{ type.width }}px;">
              <span *ngIf="unit.stats[type.type]">{{ unit.stats[type.type] }}</span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
