.scrollChart {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.scrollChart::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 5px;
}

.scrollChart::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.chainChart {
  min-width: 1040px;
  height: 200px;
}

.chainChart .axis path,
.chainChart .axis line {
  stroke: #999;
}

.chainChart .axis text {
  fill: #999;
}

.bar {
  fill: #000000;
}

.bar-dotted {
  fill: #a5a5a5;
}

.bar-chain0 {
  fill: #3868e8;
}

.bar-chain1 {
  fill: #42c1cc;
}

.bar-chain2 {
  fill: #269e23;
}

.bar-chain3 {
  fill: #80d87e;
}

.bar-finish0 {
  fill: #3868e8;
}

.bar-finish1 {
  fill: #42c1cc;
}

.bar-finish2 {
  fill: #269e23;
}

.bar-finish3 {
  fill: #80d87e;
}

.bar-break0 {
  fill: #ff0600;
}

.bar-break1 {
  fill: #e44238;
}

.bar-break2 {
  fill: #d85d5a
}

.bar-break3 {
  fill: #ff9492
}

.tooltip-chart {
  position: absolute;
  text-align: center;
  width: 80px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
