<div class="row">
  <table class="esperTable">
    <tbody>
      <tr>
        <th colspan="2">{{ esper.names.en }}</th>
      </tr>
      <tr>
        <td colspan="2"><img class="esperImg" src="{{'assets/units/' + esper.image + '_m.png'}}" /></td>
      </tr>
      <tr>
        <td>Rarity</td>
        <td><img class="rarityImg" src="{{'assets/rarity/' + esper.rarity + '.png'}}" /></td>
      </tr>
      <tr>
        <td>Element</td>
        <td><img class="rarityImg" src="{{'assets/elements/' + esper.element + '.png'}}" /></td>
      </tr>
    </tbody>
  </table>


  <table class="statsTable">
    <tbody>
      <tr>
        <th colspan="10">Stats</th>
      </tr>
      <tr>
        <th></th>
        <th>HP</th>
        <th>TP</th>
        <th>AP</th>
        <th>ATK</th>
        <th>MAG</th>
        <th>DEX</th>
        <th>AGI</th>
        <th>LUCK</th>
        <th>SP</th>
      </tr>
      <tr>
        <td>Min</td>
        <td>{{ esper.stats.HP.min }}</td>
        <td>{{ esper.stats.TP.min }}</td>
        <td>{{ esper.stats.AP.min }}</td>
        <td>{{ esper.stats.ATK.min }}</td>
        <td>{{ esper.stats.MAG.min }}</td>
        <td>{{ esper.stats.DEX.min }}</td>
        <td>{{ esper.stats.AGI.min }}</td>
        <td>{{ esper.stats.LUCK.min }}</td>
        <td rowspan="2">{{ esper.maxSP }}</td>
      </tr>
      <tr>
        <td>Max</td>
        <td>{{ esper.stats.HP.max }}</td>
        <td>{{ esper.stats.TP.max }}</td>
        <td>{{ esper.stats.AP.max }}</td>
        <td>{{ esper.stats.ATK.max }}</td>
        <td>{{ esper.stats.MAG.max }}</td>
        <td>{{ esper.stats.DEX.max }}</td>
        <td>{{ esper.stats.AGI.max }}</td>
        <td>{{ esper.stats.LUCK.max }}</td>
      </tr>
      <tr class="emptyLine"></tr>
      <tr>
        <th colspan="10">Res Elem</th>
      </tr>
      <tr>
        <td rowspan="2"></td>
        <td><img class="elementImg" src="{{'assets/elements/fire.png'}}" /></td>
        <td><img class="elementImg" src="{{'assets/elements/ice.png'}}" /></td>
        <td><img class="elementImg" src="{{'assets/elements/earth.png'}}" /></td>
        <td><img class="elementImg" src="{{'assets/elements/wind.png'}}" /></td>
        <td><img class="elementImg" src="{{'assets/elements/lightning.png'}}" /></td>
        <td><img class="elementImg" src="{{'assets/elements/water.png'}}" /></td>
        <td><img class="elementImg" src="{{'assets/elements/light.png'}}" /></td>
        <td><img class="elementImg" src="{{'assets/elements/dark.png'}}" /></td>
        <td rowspan="2"></td>
      </tr>
      <tr>
        <td><span *ngIf="esper.stats.FIRE.min">{{ esper.stats.FIRE.min }} %</span></td>
        <td><span *ngIf="esper.stats.ICE.min">{{ esper.stats.ICE.min }} %</span></td>
        <td><span *ngIf="esper.stats.EARTH.min">{{ esper.stats.EARTH.min }} %</span></td>
        <td><span *ngIf="esper.stats.WIND.min">{{ esper.stats.WIND.min }} %</span></td>
        <td><span *ngIf="esper.stats.LIGHTNING.min">{{ esper.stats.LIGHTNING.min }} %</span></td>
        <td><span *ngIf="esper.stats.WATER.min">{{ esper.stats.WATER.min }} %</span></td>
        <td><span *ngIf="esper.stats.LIGHT.min">{{ esper.stats.LIGHT.min }} %</span></td>
        <td><span *ngIf="esper.stats.DARK.min">{{ esper.stats.DARK.min }} %</span></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="row">
  <table class="skillsTable">
    <tbody>
      <tr>
        <th colspan="5">Cast Skill</th>
      </tr>
      <tr>
        <th class="skillTypeTd">Type</th>
        <th class="skillNameTd">name</th>
        <th>Effects</th>
        <th class="rangeTd">Range</th>
        <th class="skillHitTd">Hits</th>
      </tr>
      <tr>
        <td>
          <img class="skilImg" src="{{'assets/skill-type/' + esper.skills[0].type + '.png'}}" />
        </td>
        <td *ngIf="esper.skills[0].type == 'active'">
          {{ esper.skills[0].names.en }}
        </td>
        <td class="skillEffectTd">
          <div>{{ esper.skills[0].counterHtml }}</div>
          <div [innerHTML]="esper.skills[0].damageHtml"></div>
          <div *ngFor="let effect of esper.skills[0].effects">
            {{ effect.formatHtml }}
          </div>
        </td>
        <td>
          <ng-template #tip_table><div [innerHTML]="esper.skills[0].skillTableHtml"></div></ng-template>
          <div [ngbTooltip]="tip_table">
            <div class="divSkillTableHtml" [innerHTML]="esper.skills[0].skillTableHtml"></div>
          </div>
        </td>
        <td>
          <span *ngIf="esper.skills[0].combo">{{ esper.skills[0].combo.num }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="row">
  <table class="skillsTable">
    <tbody>
      <tr>
        <th colspan="2">Board Effects</th>
      </tr>
      <tr>
        <th>Effects</th>
        <th>Cost</th>
      </tr>
      <tr *ngFor="let buff of esper.effectBuffs">
        <td>{{ buff.html }}</td>
        <td>{{ buff.sp }}</td>
      </tr>
    </tbody>
  </table>
</div>