.elementImg, .skilImg, .damageSkillImg, .rarityImg {
  height: 32px;
}

.row {
  width: 1200px;
  margin: auto;
  margin-bottom: 20px;
}

.esperTable {
  width: 350px;
  margin-right: 20px;
}

.statsTable {
  width: 829px;
}

.skillsTable {
  width: 1200px;
}

.rangeTd {
  width: 69px;
}

.skillTypeTd {
  width: 85px;
}

.skillHitTd {
  width: 50px;
}

.skillNameTd {
  width: 200px;
}

.skillEffectTd {
  text-align: left;
}

.esperImg {
  height: 250px;
  margin-top: 10px;
}
