<ng-template #allyEnemyRow let-rowtype="type" let-items="items">
  <table class="enemyTable">
    <tr>
      <th class="idCol">ID</th>
      <th class="nameCol" [attr.colspan]="windowSize >= 800 ? 1 : 3">Name</th>
      <th *ngIf="windowSize >= 800">Element</th>
      <th *ngIf="windowSize >= 800">Job</th>
      <th *ngIf="windowSize >= 800">Level</th>
      <th *ngIf="windowSize >= 800 && rowtype == 'enemy'">Type</th>
      <th *ngIf="windowSize >= 800 && rowtype == 'enemy'">Entry</th>
    </tr>
    <tbody *ngFor="let item of items; let j = index">
      <tr (click)="isCollapsed[rowtype][j] = !isCollapsed[rowtype][j]" class="enemyLine">
        <td>
          <div class="collapseBlock">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 inline-block chevron" *ngIf="!isCollapsed[rowtype][j]">
              <path fill-rule="evenodd" d="M14.77 12.79a.75.75 0 01-1.06-.02L10 8.832 6.29 12.77a.75.75 0 11-1.08-1.04l4.25-4.5a.75.75 0 011.08 0l4.25 4.5a.75.75 0 01-.02 1.06z" clip-rule="evenodd" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 inline-block chevron" *ngIf="isCollapsed[rowtype][j]">
              <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
          </div>
          E{{ j + 1 }}
        </td>
        <td [attr.colspan]="windowSize >= 800 ? 1 : 3">
          <img src="assets/otherUnits/{{item.image}}_small.webp" class="enemyImg" />
          <a *ngIf="rowtype == 'enemy'"[routerLink]="[getRoute('/other/unit/' + item.slug)]" [routerLinkActive]="['active']">{{ item.name }}</a>
          <span *ngIf="rowtype != 'enemy'">{{ item.name }}</span>
        </td>
        <td *ngIf="windowSize >= 800">
          <img *ngIf="item.element" src="assets/elements/{{ item.element }}.webp" class="elementImg" />
        </td>
        <td *ngIf="windowSize >= 800">
          <div class="job" *ngIf="item.job" title="{{ item.job.name }}">
            <img src="{{'assets/jobs/' + item.job.image + '_30.webp'}}" />
          </div>
        </td>
        <td *ngIf="windowSize >= 800">{{ item.level }}</td>
        <td *ngIf="windowSize >= 800 && rowtype == 'enemy'">{{ item.species }}</td>
        <td *ngIf="windowSize >= 800 && rowtype == 'enemy'">
          <popper-content #tip_time>
            <div *ngFor="let entryCond of item.formattedEntryCond; let entryIndex = index">
              <span *ngIf="entryIndex > 0">Or </span>{{ entryCond }}
            </div>
          </popper-content>
          <img class='timeImg' src="{{'assets/icons/time.webp'}}" [popper]="tip_time" [popperTrigger]="'hover'" [popperHideOnScroll]="true" *ngIf="item.formattedEntryCond && item.formattedEntryCond.length > 0"/>
        </td>
      </tr>
      <ng-container *ngIf="!isCollapsed[rowtype][j]">
        <ng-container *ngIf="windowSize < 800">
          <tr>
          <th>Element</th>
          <th colspan="2">Job</th>
            <th>Level</th>
          </tr>
          <tr>
            <td>
              <img *ngIf="item.element" src="assets/elements/{{ item.element }}.webp" class="elementImg" />
            </td>
            <td colspan="2">
              <div class="job" *ngIf="item.job" title="{{ item.job.name }}">
                <img src="{{'assets/jobs/' + item.job.image + '_30.webp'}}" />
              </div>
            </td>
            <td>{{ item.level }}</td>
          </tr>
          <ng-container *ngIf="rowtype == 'enemy'">
            <tr>
              <th colspan="2">Type</th>
              <th colspan="2">Entry</th>
            </tr>
            <tr>
              <td colspan="2">{{ item.species }}</td>
              <td colspan="2">
                <popper-content #tip_time>
                  <div *ngFor="let entryCond of item.formattedEntryCond; let entryIndex = index">
                    <span *ngIf="entryIndex > 0">Or </span>{{ entryCond }}
                  </div>
                </popper-content>
                <img class='timeImg' src="{{'assets/icons/time.webp'}}" [popper]="tip_time" [popperTrigger]="'hover'" [popperHideOnScroll]="true" *ngIf="item.formattedEntryCond && item.formattedEntryCond.length > 0"/>
              </td>
            </tr>
          </ng-container>
        </ng-container>
        <tr>
          <td colspan="99" class="enemyDetailCol">
            <ng-container *ngIf="windowSize >= 800">
              <table>
                <tr>
                  <th class="sub" *ngIf="item.hasMaxLevel"></th>
                  <th class="sub">HP</th>
                  <th class="sub">TP</th>
                  <th class="sub">AP</th>
                  <th class="sub">ATK</th>
                  <th class="sub">DEF</th>
                  <th class="sub">MAG</th>
                  <th class="sub">SPR</th>
                  <th class="sub">DEX</th>
                  <th class="sub">AGI</th>
                  <th class="sub">LUCK</th>
                  <th class="sub">MOVE</th>
                  <th class="sub">JUMP</th>
                </tr>
                <tr *ngIf="!item.hasMaxLevel">
                  <td>{{ item.stats.HP ? item.stats.HP.total : '' }}</td>
                  <td>{{ item.stats.TP ? item.stats.TP.total : '' }}</td>
                  <td>{{ item.stats.AP ? item.stats.AP.total : '' }}</td>
                  <td>{{ item.stats.ATK ? item.stats.ATK.total : '' }}</td>
                  <td>{{ item.stats.DEF ? item.stats.DEF.total : '' }}</td>
                  <td>{{ item.stats.MAG ? item.stats.MAG.total : '' }}</td>
                  <td>{{ item.stats.SPR ? item.stats.SPR.total : '' }}</td>
                  <td>{{ item.stats.DEX ? item.stats.DEX.total : '' }}</td>
                  <td>{{ item.stats.AGI ? item.stats.AGI.total : '' }}</td>
                  <td>{{ item.stats.LUCK ? item.stats.LUCK.total : '' }}</td>
                  <td>{{ item.stats.MOVE ? item.stats.MOVE.total : '' }}</td>
                  <td>{{ item.stats.JUMP ? item.stats.JUMP.total : '' }}</td>
                </tr>
                <tr *ngIf="item.hasMaxLevel">
                  <td>MIN</td>
                  <td *ngIf="item.stats.HP && item.stats.HP.minTotal">{{ item.stats.HP.minTotal }}</td>
                  <td *ngIf="item.stats.HP && !item.stats.HP.minTotal" rowspan="2">{{ item.stats.HP.total }}</td>

                  <td *ngIf="item.stats.TP && item.stats.TP.minTotal">{{ item.stats.TP.minTotal }}</td>
                  <td *ngIf="item.stats.TP && !item.stats.TP.minTotal" rowspan="2">{{ item.stats.TP.total }}</td>

                  <td *ngIf="item.stats.AP && item.stats.AP.minTotal">{{ item.stats.AP.minTotal }}</td>
                  <td *ngIf="item.stats.AP && !item.stats.AP.minTotal" rowspan="2">{{ item.stats.AP.total }}</td>

                  <td *ngIf="item.stats.ATK && item.stats.ATK.minTotal">{{ item.stats.ATK.minTotal }}</td>
                  <td *ngIf="item.stats.ATK && !item.stats.ATK.minTotal" rowspan="2">{{ item.stats.ATK.total }}</td>

                  <td *ngIf="item.stats.DEF && item.stats.DEF.minTotal">{{ item.stats.DEF.minTotal }}</td>
                  <td *ngIf="item.stats.DEF && !item.stats.DEF.minTotal" rowspan="2">{{ item.stats.DEF.total }}</td>

                  <td *ngIf="item.stats.MAG && item.stats.MAG.minTotal">{{ item.stats.MAG.minTotal }}</td>
                  <td *ngIf="item.stats.MAG && !item.stats.MAG.minTotal" rowspan="2">{{ item.stats.MAG.total }}</td>

                  <td *ngIf="item.stats.SPR && item.stats.SPR.minTotal">{{ item.stats.SPR.minTotal }}</td>
                  <td *ngIf="item.stats.SPR && !item.stats.SPR.minTotal" rowspan="2">{{ item.stats.SPR.total }}</td>

                  <td *ngIf="item.stats.DEX && item.stats.DEX.minTotal">{{ item.stats.DEX.minTotal }}</td>
                  <td *ngIf="item.stats.DEX && !item.stats.DEX.minTotal" rowspan="2">{{ item.stats.DEX.total }}</td>

                  <td *ngIf="item.stats.AGI && item.stats.AGI.minTotal">{{ item.stats.AGI.minTotal }}</td>
                  <td *ngIf="item.stats.AGI && !item.stats.AGI.minTotal" rowspan="2">{{ item.stats.AGI.total }}</td>

                  <td *ngIf="item.stats.LUCK && item.stats.LUCK.minTotal">{{ item.stats.LUCK.minTotal }}</td>
                  <td *ngIf="item.stats.LUCK && !item.stats.LUCK.minTotal" rowspan="2">{{ item.stats.LUCK.total }}</td>

                  <td rowspan="2">{{ item.stats.MOVE ? item.stats.MOVE.total : '' }}</td>
                  <td rowspan="2">{{ item.stats.JUMP ? item.stats.JUMP.total : '' }}</td>
                </tr>
                <tr *ngIf="item.hasMaxLevel">
                  <td>MAX</td>
                  <td *ngIf="item.stats.HP && item.stats.HP.maxTotal">{{ item.stats.HP.maxTotal }}</td>
                  <td *ngIf="item.stats.TP && item.stats.TP.maxTotal">{{ item.stats.TP.maxTotal }}</td>
                  <td *ngIf="item.stats.AP && item.stats.AP.maxTotal">{{ item.stats.AP.maxTotal }}</td>
                  <td *ngIf="item.stats.ATK && item.stats.ATK.maxTotal">{{ item.stats.ATK.maxTotal }}</td>
                  <td *ngIf="item.stats.DEF && item.stats.DEF.maxTotal">{{ item.stats.DEF.maxTotal }}</td>
                  <td *ngIf="item.stats.MAG && item.stats.MAG.maxTotal">{{ item.stats.MAG.maxTotal }}</td>
                  <td *ngIf="item.stats.SPR && item.stats.SPR.maxTotal">{{ item.stats.SPR.maxTotal }}</td>
                  <td *ngIf="item.stats.DEX && item.stats.DEX.maxTotal">{{ item.stats.DEX.maxTotal }}</td>
                  <td *ngIf="item.stats.DEX && item.stats.AGI.maxTotal">{{ item.stats.AGI.maxTotal }}</td>
                  <td *ngIf="item.stats.LUCK && item.stats.LUCK.maxTotal">{{ item.stats.LUCK.maxTotal }}</td>
                </tr>
              </table>
              <table>
                <tbody *ngFor="let line of item.hasStats">
                  <tr>
                    <th class="sub" *ngFor="let stat of line">
                      <img class="elementImg" src="{{ statImage[stat] }}" *ngIf="statImage[stat] != ''"/>
                      <span *ngIf="statImage[stat] == ''">{{ stat }}</span>
                    </th>
                  </tr>
                  <tr>
                    <td class="heightResTd" *ngFor="let stat of line">
                      <span>{{ item.stats[stat].total }} {{ statImage[stat] != '' ? '%' : ''}}</span>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="item.otherStats.length > 0">
                  <tr>
                    <th class="sub" colspan="99">OTHERS</th>
                  </tr>
                  <tr *ngFor="let otherStat of item.otherStats">
                    <td class="heightResTd" colspan="99">{{ otherStat }}</td>
                  </tr>
                </tbody>
              </table>
              <table>
                <tbody>
                  <tr>
                    <th colspan="9">
                      Skills
                    </th>
                  </tr>
                  <tr>
                    <th class="sub skillTypeTd">Type</th>
                    <th class="sub skillNameTd">Name</th>
                    <th class="sub">Effects</th>
                    <th class="sub rangeTd">Range</th>
                    <th class="sub skillCastTd">Casts</th>
                    <th class="sub skillHitTd">Hits</th>
                    <th class="sub skillCostTd">Cost</th>
                  </tr>
                </tbody>
                <tbody *ngFor="let skill of item.skills" app-shared-skillWithUpgrade [skill]="skill" [showType]="true" [showName]="true" [showEffects]="true" [showRange]="true" [showCasts]="true" [showHits]="true" [showCost]="true"></tbody>
              </table>
              <table *ngIf="rowtype == 'enemy'">
                <tr>
                  <td class="sub">DROPS</td>
                </tr>
                <tr *ngIf="quest.enemies[j] && quest.enemies[j].drop && quest.dropLists && quest.dropLists[quest.enemies[j].drop]">
                  <td>
                    <div *ngFor="let item of quest.dropLists[quest.enemies[j].drop]" class="dropRateItemBlock">
                      <app-shared-item [item]="item" [customClass]="itemClassListQuest"></app-shared-item>
                      <div>
                        ({{ item.drop.num }})<br />
                        {{ item.drop.value | number : '1.2-2'}}%
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </ng-container>

            <ng-container *ngIf="windowSize < 800">
              <table>
                <tr *ngIf="item.hasMaxLevel">
                  <th class="sub">Stat</th>
                  <th class="sub">Min</th>
                  <th class="sub">Max</th>
                </tr>
                <tr *ngFor="let statType of ['HP','TP','AP','ATK','DEF','MAG','SPR','DEX','AGI','LUCK','MOVE','JUMP']">
                  <td>
                    {{ statType }}
                  </td>
                  <td *ngIf="!item.hasMaxLevel">
                    {{ item.stats[statType] ? item.stats[statType].total : '' }}
                  </td>
                  <td *ngIf="item.hasMaxLevel" [attr.colspan]="!item.stats[statType].minTotal ? 2 : 1">
                    <span *ngIf="item.stats[statType] && item.stats[statType].minTotal">{{ item.stats[statType].minTotal }}</span>
                    <span *ngIf="item.stats[statType] && !item.stats[statType].minTotal" >{{ item.stats[statType].total }}</span>
                  </td>
                  <td *ngIf="item.hasMaxLevel && item.stats[statType].minTotal">
                    <span *ngIf="item.stats[statType] && item.stats[statType].maxTotal">{{ item.stats[statType].maxTotal }}</span>
                  </td>
                </tr>

                <tbody *ngFor="let line of item.hasStats">
                  <tr *ngFor="let stat of line">
                    <td>
                      <img class="elementImg" src="{{ statImage[stat] }}" *ngIf="statImage[stat] != ''"/>
                      <span *ngIf="statImage[stat] == ''">{{ stat }}</span>
                    </td>
                    <td colspan="2">
                      <span>{{ item.stats[stat].total }} {{ statImage[stat] != '' ? '%' : ''}}</span>
                    </td>
                  </tr>
                </tbody>

                <tbody *ngIf="item.otherStats.length > 0">
                  <tr>
                    <th class="sub" colspan="99">OTHERS</th>
                  </tr>
                  <tr *ngFor="let otherStat of item.otherStats">
                    <td class="heightResTd" colspan="99">{{ otherStat }}</td>
                  </tr>
                </tbody>
              </table>

              <table>
                <tr>
                  <th colspan="9">
                    Skills
                  </th>
                </tr>
                <tbody *ngFor="let skill of item.skills; let skillIndex = index"
                  app-shared-skillWithUpgrade
                  [skill]="skill"
                  [showType]="windowSize >= 800"
                  [showTypeWithName]="windowSize < 800"
                  [showName]="true"
                  [showEffects]="true"
                  [showRange]="true"
                  [showCasts]="true"
                  [showHits]="true"
                  [showCost]="true"

                  [showMobileSeparator]="skillIndex < item.skills.length - 1"
                  [mobileView]="windowSize < 800"
                  [mobileCollapseDetail]="true"
                ></tbody>
              </table>

              <table *ngIf="rowtype == 'enemy'">
                <tr>
                  <td class="sub">DROPS</td>
                </tr>
                <tr *ngIf="quest.enemies[j] && quest.enemies[j].drop && quest.dropLists && quest.dropLists[quest.enemies[j].drop]">
                  <td>
                    <div *ngFor="let item of quest.dropLists[quest.enemies[j].drop]" class="dropRateItemBlock">
                      <app-shared-item [item]="item" [customClass]="itemClassListQuest"></app-shared-item>
                      <div>
                        ({{ item.drop.num }})<br />
                        {{ item.drop.value | number : '1.2-2'}}%
                      </div>
                    </div>
                  </td>
                </tr>
              </table>
            </ng-container>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ng-template>

<ng-template #mapBlock let-quest="quest">
  <div class="gridBlock">
    <table class="gridTable" *ngIf="quest.grid[0]">
      <tr>
        <th colspan="99">MAP</th>
      </tr>
      <tr>
        <th class="sub"></th>
        <th class="sub" *ngFor="let tile of quest.grid[0]; let gridX = index">
          {{ gridX + 1 }}
        </th>
      </tr>
      <tr *ngFor="let line of quest.grid; let gridY = index">
        <th class="sub">{{ gridY + 1 }}</th>
        <td
          *ngFor="let tile of line"
          class="mapTile {{ !tile.t && tile.h < 20 ? 'tile' + tile.h : '' }}"
          [ngClass]="{
            'tileNoAccess': tile.t,
            'partyTile': tile && tile.party?.constructor.name === 'Number',
            'chestTile': tile && tile.chest?.constructor.name === 'Number',
            'allyTile': tile && tile.ally?.constructor.name === 'Number',
            'enemyTile': tile && tile.enemy?.constructor.name === 'Number' && !tile.class,
            'objectTile': tile && tile.object?.constructor.name === 'Number',
            'switchTile': tile && tile.switch?.constructor.name === 'Number',
            'tile20': !tile.t && tile.h >= 20,
            'bigEnemyTopLeft': tile && tile.class === 'bigEnemyTopLeft',
            'bigEnemyTopMiddle': tile && tile.class === 'bigEnemyTopMiddle',
            'bigEnemyTopRight': tile && tile.class === 'bigEnemyTopRight',
            'bigEnemyMiddleLeft': tile && tile.class === 'bigEnemyMiddleLeft',
            'bigEnemyMiddleMiddle': tile && tile.class === 'bigEnemyMiddleMiddle',
            'bigEnemyMiddleRight': tile && tile.class === 'bigEnemyMiddleRight',
            'bigEnemyBottomLeft': tile && tile.class === 'bigEnemyBottomLeft',
            'bigEnemyBottomMiddle': tile && tile.class === 'bigEnemyBottomMiddle',
            'bigEnemyBottomRight': tile && tile.class === 'bigEnemyBottomRight'
          }"
        >
          <div *ngIf="tile && !tile.t">{{ tile.h }}</div>
          <div *ngIf="tile && tile.party?.constructor.name === 'Number'">P{{ tile.party + 1 }}</div>
          <div *ngIf="tile && tile.chest?.constructor.name === 'Number'">C{{ tile.chest + 1 }}</div>
          <div *ngIf="tile && tile.ally?.constructor.name === 'Number'">A{{ tile.ally + 1 }}</div>
          <div *ngIf="tile && tile.enemy?.constructor.name === 'Number'">E{{ tile.enemy + 1 }}</div>
          <div *ngIf="tile && tile.object?.constructor.name === 'Number'">O{{ tile.object + 1 }}</div>
          <div *ngIf="tile && tile.switch?.constructor.name === 'Number'">S{{ tile.switch + 1 }}</div>
        </td>
      </tr>
    </table>
  </div>

  <ng-container *ngIf="quest.formattedAllies?.length > 0">
    <ng-container *ngTemplateOutlet="allyEnemyRow; context: {type: 'ally', items: quest.formattedAllies}"></ng-container>
  </ng-container>

  <ng-container *ngIf="quest.formattedEnemies?.length > 0">
    <ng-container *ngTemplateOutlet="allyEnemyRow; context: {type: 'enemy', items: quest.formattedEnemies}"></ng-container>
  </ng-container>

  <table class="chestTable" *ngIf="quest.formattedChests?.length > 0">
    <tr>
      <th class="idCol">ID</th>
      <th class="nameCol">Name</th>
    </tr>
    <tbody *ngFor="let chest of quest.formattedChests; let j = index">
      <tr (click)="isCollapsed.chest[j] = !isCollapsed.chest[j]" class="enemyLine">
        <td>
          <div class="collapseBlock">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 inline-block chevron" *ngIf="!isCollapsed.chest[j]">
              <path fill-rule="evenodd" d="M14.77 12.79a.75.75 0 01-1.06-.02L10 8.832 6.29 12.77a.75.75 0 11-1.08-1.04l4.25-4.5a.75.75 0 011.08 0l4.25 4.5a.75.75 0 01-.02 1.06z" clip-rule="evenodd" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 inline-block chevron" *ngIf="isCollapsed.chest[j]">
              <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
            </svg>
          </div>
          C{{ j + 1 }}
        </td>
        <td><img src="assets/otherUnits/{{chest.image}}_small.webp" class="enemyImg" />{{ chest.name }}</td>
      </tr>
      <tr *ngIf="!isCollapsed.chest[j]">
        <td colspan="99" class="enemyDetailCol">
          <div *ngIf="quest.chests && quest.chests[j].drop && quest.dropLists && quest.dropLists[quest.chests[j].drop]">
            <div *ngFor="let item of quest.dropLists[quest.chests[j].drop]" class="dropRateItemBlock">
              <app-shared-item [item]="item" [customClass]="itemClassListQuest"></app-shared-item>
              <div>
                ({{ item.drop.num }})<br />
                {{ item.drop.value | number : '1.2-2'}}%
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-container *ngIf="quest.formattedObjects?.length > 0">
    <ng-container *ngTemplateOutlet="allyEnemyRow; context: {type: 'object', items: quest.formattedObjects}"></ng-container>
  </ng-container>

  <table class="chestTable" *ngIf="quest.formattedSwitchs?.length > 0">
    <tr>
      <th class="idCol">ID</th>
      <th class="nameCol">Name</th>
    </tr>
    <tr *ngFor="let switch of quest.formattedSwitchs; let j = index">
      <td>S{{ j + 1 }}</td>
      <td><img src="assets/otherUnits/{{switch.image}}_small.webp" class="enemyImg" />{{ switch.name }}</td>
    </tr>
  </table>
</ng-template>

<div class="row" *ngIf="quest">
  <div class="leftBlock">
    <table class="questTable">
      <tr>
        <th colspan="3">{{ quest.name }}</th>
      </tr>
      <tr>
        <th class="sub">NRG</th>
        <th class="sub">XP</th>
        <th class="sub">JP</th>
      </tr>
      <tr>
        <td>{{ quest.nrg }}</td>
        <td>{{ quest.exp }}</td>
        <td>{{ quest.jp }}</td>
      </tr>
      <tr>
        <th class="sub">Gils</th>
        <th class="sub">Enemies</th>
        <th class="sub">Chests</th>
      </tr>
      <tr>
        <td>{{ quest.gils }}</td>
        <td>{{ quest.enemies.length }}</td>
        <td>{{ quest.chests.length }}</td>
      </tr>
      <tr>
        <th colspan="3" class="sub">Type</th>
      </tr>
      <tr>
        <td colspan="3">{{ formatType(quest.type) }}</td>
      </tr>
      <tbody *ngIf="quest.formattedWinCond">
        <tr>
          <th colspan="3" class="sub">Win conditions</th>
        </tr>
        <tr>
          <td colspan="3">{{ quest.formattedWinCond }}</td>
        </tr>
      </tbody>
      <tbody *ngIf="quest.formattedLooseCond">
        <tr>
          <th colspan="3" class="sub">Lose conditions</th>
        </tr>
        <tr>
          <td colspan="3">{{ quest.formattedLooseCond }}</td>
        </tr>
      </tbody>
      <tbody *ngIf="quest.formattedBuffs && quest.formattedBuffs.length > 0">
        <tr>
          <th colspan="3" class="sub">Effects</th>
        </tr>
        <tr *ngFor="let buff of quest.formattedBuffs">
          <td colspan="3">{{ buff }}</td>
        </tr>
      </tbody>
      <tbody *ngIf="quest.lastRelease">
        <tr>
          <th colspan="3" class="sub">Last release</th>
        </tr>
        <tr>
          <td colspan="3">{{ quest.lastRelease.start }} - {{ quest.lastRelease.end }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="rightBlock">
    <table class="questTable">
      <tr>
        <th>
          Mission
        </th>
        <th>
          Reward
        </th>
      </tr>
      <tr *ngFor="let mission of quest.formattedMissions">
        <td>
          {{ mission.mission }}
        </td>
        <td>
          <div *ngFor="let reward of mission.rewards">
            <div *ngIf="reward.type === 'item' || reward.type === 'visiores'">
              <app-shared-item [item]="reward.reward"></app-shared-item> x {{ reward.value }}
            </div>

            <div *ngIf="reward.type === 'equipment'">
              <img class="equipmentRewardImg" src="assets/equipments/{{ reward.reward.image }}_small.webp" title="{{ reward.reward.name }}" /><br />
              {{ reward.reward.name }}
            </div>
          </div>
        </td>
      </tr>
    </table>

    <ng-container *ngTemplateOutlet="mapBlock; context: {quest: quest}"></ng-container>

    <ng-container *ngIf="quest.formattedRandomMaps?.length > 0">
      <div>Maps are random on this quest :</div>
      <div *ngFor="let randomMap of quest.formattedRandomMaps; let randomMapIndex = index">
        <div (click)="isCollapsedRandomMap[randomMapIndex] = !isCollapsedRandomMap[randomMapIndex]" class="randomMapTitle">
          Number {{ randomMapIndex + 1 }}
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 inline-block chevron" *ngIf="!isCollapsedRandomMap[randomMapIndex]">
            <path fill-rule="evenodd" d="M14.77 12.79a.75.75 0 01-1.06-.02L10 8.832 6.29 12.77a.75.75 0 11-1.08-1.04l4.25-4.5a.75.75 0 011.08 0l4.25 4.5a.75.75 0 01-.02 1.06z" clip-rule="evenodd" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 inline-block chevron" *ngIf="isCollapsedRandomMap[randomMapIndex]">
            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
          </svg>
        </div>

        <div *ngIf="!isCollapsedRandomMap[randomMapIndex]">
          <ng-container *ngTemplateOutlet="mapBlock; context: {quest: randomMap}"></ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>
