.row {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.leftBlock {
  width: 350px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
  padding: 0;
}

.rightBlock {
  width: 830px;
  display: inline-block;
  vertical-align: top;
  padding: 0;
}

.questTable {
  width: 100%;
}

.unit {
  max-height: 40px;
  max-width: 40px;
  margin-right: 5px;
}

.rangeTd {
  width: 69px;
}

.skillCastTd {
  width: 61px;
}

.skillHitTd {
  width: 50px;
}

.skillCostTd {
  width: 60px;
}

.skillNameTd {
  width: 150px;
}

.reflectImg {
  height: 32px;
  margin-top: 2px;
}

.timeImg {
  height: 32px;
  cursor: pointer;
  margin-top: 2px;
}





.equipmentRewardImg {
  max-width: 40px;
  max-height: 40px;
}


/*############*/
/* GRID TABLE */
/*############*/
.gridTable {
  margin: auto;
  margin-top: 10px;
}

.mapTile {
  width: 58px;
  height: 58px;
}

.tileNoAccess {
  background-color: var(--table-border);
}

.tile0 {
  background-color: #242222;
  color: #fff;
}

.tile1 {
  background-color: #2b2929;
  color: #fff;
}

.tile2 {
  background-color: #383535;
  color: #fff;
}

.tile3 {
  background-color: #423f3f;
  color: #fff;
}

.tile4 {
  background-color: #4d4949;
  color: #fff;
}

.tile5 {
  background-color: #595454;
  color: #fff;
}

.tile6 {
  background-color: #656060;
  color: #fff;
}

.tile7 {
  background-color: #716b6b;
  color: #fff;
}

.tile8 {
  background-color: #7d7777;
  color: #fff;
}

.tile9 {
  background-color: #898282;
  color: #fff;
}

.tile10 {
  background-color: #948d8d;
  color: #fff;
}

.tile11 {
  background-color: #9f9898;
  color: #000;
}

.tile12 {
  background-color: #aaa2a2;
  color: #000;
}

.tile13 {
  background-color: #b6adad;
  color: #000;
}

.tile14 {
  background-color: #c0b7b7;
  color: #000;
}

.tile15 {
  background-color: #ccc3c3;
  color: #000;
}

.tile16 {
  background-color: #dacfcf;
  color: #000;
}

.tile17 {
  background-color: #e6dbdb;
  color: #000;
}

.tile18 {
  background-color: #f2e7e7;
  color: #000;
}

.tile19 {
  background-color: #fcf0f0;
  color: #000;
}

.tile20 {
  background-color: #fff;
  color: #000;
}

.partyTile {
  background-image: url("assets/grid/party.webp");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.chestTile {
  background-image: url("assets/grid/chest.webp");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.enemyTile {
  background-image: url("assets/grid/enemy.webp");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.objectTile {
  background-image: url("assets/grid/object.webp");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.allyTile {
  background-image: url("assets/grid/ally.webp");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.switchTile {
  background-image: url("assets/grid/switch.webp");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.bigEnemyTopLeft {
  background-image: url("assets/grid/bigEnemyTopLeft.webp");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.bigEnemyTopMiddle {
  background-image: url("assets/grid/bigEnemyTopMiddle.webp");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.bigEnemyTopRight {
  background-image: url("assets/grid/bigEnemyTopRight.webp");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.bigEnemyMiddleLeft {
  background-image: url("assets/grid/bigEnemyMiddleLeft.webp");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.bigEnemyMiddleMiddle {
  background-image: url("assets/grid/bigEnemyMiddleMiddle.webp");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.bigEnemyMiddleRight {
  background-image: url("assets/grid/bigEnemyMiddleRight.webp");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.bigEnemyBottomLeft {
  background-image: url("assets/grid/bigEnemyBottomLeft.webp");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.bigEnemyBottomMiddle {
  background-image: url("assets/grid/bigEnemyBottomMiddle.webp");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.bigEnemyBottomRight {
  background-image: url("assets/grid/bigEnemyBottomRight.webp");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}


/*#############*/
/* OTHER UNITS */
/*#############*/
.job {
  height: 40px;
  background: url("assets/jobs/base_sub.webp") 0px 0px no-repeat;
  background-size: 40px;
  padding: 5px;
  width: 40px;
  margin: auto;
}

.job img {
  max-width: 30px;
  max-height: 30px;
  vertical-align: top;
}

.enemyImg {
  max-width: 40px;
  max-height: 40px;
  margin-right: 5px;
}

.elementImg {
  max-width: 40px;
  max-height: 40px;
}


.allyTable, .enemyTable, .chestTable {
  width: 120%;
  margin-top: 10px;
  margin-left: -100px;
}

.allyTable .idCol, .enemyTable .idCol, .chestTable .idCol {
  width: 70px;
}

.enemyDetailCol {
  padding: 0;
}

.enemyDetailCol table {
  width: 100%;
}

.heightResTd {
  height: 33px;
}

.skilImg, .atkBasedImg, .damageSkillImg, .timeImg {
  width: 32px;
  height: 32px;
}

.skillTypeTd {
  width: 85px;
}

.skillEffectTd {
  text-align: left;
}

.enemyLine {
  cursor: pointer;
}

.collapseBlock {
  display: inline-block;
}

.dropRateItemBlock {
  display: inline-block;
  margin-right: 10px;
}

.randomMapTitle {
  cursor: pointer;
}

@media (max-width: 1349px) {
  .leftBlock {
    display: block;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .rightBlock {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .allyTable, .enemyTable, .chestTable {
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
  }
}

@media (max-width: 799px) {
  .mapTile {
    width: 20px;
    height: 35px;
    line-height: 16px;
  }

  .enemyTile, .bigEnemyTopLeft, .bigEnemyTopMiddle, .bigEnemyTopRight, .bigEnemyMiddleLeft, .bigEnemyMiddleMiddle, .bigEnemyMiddleRight, .bigEnemyBottomLeft, .bigEnemyBottomMiddle, .bigEnemyBottomRight {
    background-color: #ef6c6c;
    background-image: none;
  }

  .partyTile {
    background-color: #9d8c39;
    background-image: none;
  }

  .allyTile {
    background-color: green;
    background-image: none;
  }

  .chestTile {
    background-color: #2828e3;
    background-image: none;
  }

  .objectTile {
    background-color: #b133b1;
    background-image: none;
  }

  .switchTile {
    background-color: #3fb7b7;
    background-image: none;
  }

  .gridBlock {
    max-width: 100vw;
    max-width: -webkit-calc(100vw - 40px);
    max-width: -moz-calc(100vw - 40px);
    max-width: calc(100vw - 40px);
    overflow-x: visible;
    overflow-y: hidden;
  }
}