:host ::ng-deep pre span{
  white-space: normal;
}

:host ::ng-deep .string {
  color: green;
}

:host ::ng-deep .number {
  color: darkorange;
}

:host ::ng-deep .boolean {
  color: blue;
}

:host ::ng-deep .null {
  color: magenta;
}
