<div class="row unit form-group" >
  <div class="chainParameters" #myUnitsDiv>
    <div class="topBlock verticalTop littleMarginBottom">

      <div class="selectUnitZone">
        <div class="inlineBlock firstSelectLevel">
          <div *ngIf="(!selectedUnit || selectedUnit) && !activeRenameUnit">
            <label for="selectedUnit">My Units</label>
            <select class="form-control" id="chain{{i}}" [(ngModel)]="selectedUnit" (ngModelChange)="onChangeUnit()">
              <option *ngFor="let unit of units" [ngValue]="unit">{{ unit.name | capitalize }}</option>
            </select>
            <button *ngIf="selectedUnit && !activeRenameUnit" class="btn btn-secondary fullWidth littleMarginTop" type="button" (click)="renameUnit()">Rename</button>
            <button *ngIf="selectedUnit" class="btn btn-secondary fullWidth littleMarginTop" type="button" (click)="saveUnit()">Save</button>
          </div>

          <div *ngIf="activeRenameUnit">
            <label for="unit_name">Unit name</label>
            <input class="form-control" type="text" id="unit_name" [(ngModel)]="selectedUnit.name" (keyup.enter)="saveUnit()">
            <button class="btn btn-secondary fullWidth littleMarginTop" type="button" (click)="saveUnit()">Save</button>
          </div>

          <div class="selectRightZoneOneThird mobileNoMarginTop tabletNoMarginLeft" *ngIf="selectedUnit">
            <hr class="selectHr"/>
            <button class="btn btn-secondary fullWidth littleMarginTop" type="button" (click)="removeUnit()">Remove Unit</button>
          </div>

          <div>
            <hr class="selectHr"/>
            <button class="btn btn-secondary fullWidth littleMarginTop" type="button" (click)="createNewUnit()">Create New Unit</button>
          </div>
        </div>

        <div class="selectRightZone inlineBlock verticalTop" *ngIf="selectedUnit">
          <hr class="mobileSeparatorSelectRightZone"/>
          <div class="selectRightZoneBox">
            <div class="selectRightZoneOneThird">
              <label for="unit_dual">Dualcast/Dualwield</label>
              <select class="form-control" id="unit_dual" [(ngModel)]="selectedUnit.dual" (ngModelChange)="onChangeDual()">
                <option [ngValue]="true">Yes</option>
                <option [ngValue]="false">No</option>
              </select>
            </div>

            <div class="selectRightZoneOneThird">
              <label for="unit_weapon1">Element weapon 1</label>
              <select class="form-control" id="unit_weapon1" [(ngModel)]="selectedUnit.weapons[0]" (ngModelChange)="saveUnit()">
                <option *ngFor="let element of elements" [ngValue]="element">{{element}}</option>
              </select>
            </div>

            <div class="selectRightZoneOneThird tabletMarginTop" *ngIf="selectedUnit.dual">
              <label for="unit_weapon2">Element weapon 2</label>
              <select class="form-control" id="unit_weapon2" [(ngModel)]="selectedUnit.weapons[1]" (ngModelChange)="saveUnit()">
                <option *ngFor="let element of elements" [ngValue]="element">{{element}}</option>
              </select>
            </div>
          </div>

          <hr />

          <div class="selectRightZoneBox littleMarginTop">
            <div class="selectRightZoneOneThird selectAbility" *ngIf="!activeRenameAbility">
              <label for="unit_ability">Ability</label>
              <select class="form-control" id="unit_ability" [(ngModel)]="selectedAbility" (ngModelChange)="onChangeSkill()">
                <option *ngFor="let ability of selectedUnit.abilities; let j = index" [ngValue]="j">{{ ability.name | capitalize }}</option>
              </select>
            </div>

            <diV class="buttonsAbility">
              <div class="selectRightZoneOneThird selectAbility" *ngIf="activeRenameAbility">
                <label for="unit_ability">Ability name</label>
                <input class="form-control" type="text" id="unit_ability" [(ngModel)]="selectedUnit.ability.name" (keyup.enter)="saveUnit()">
              </div>

              <div class="selectRightZoneTwoThirdDividedInThird" *ngIf="!activeRenameAbility">
                <label class="emptyLabel">&nbsp;</label>
                <button class="btn btn-secondary fullWidth" type="button" (click)="renameAbility()">Rename ability</button>
              </div>

              <div class="selectRightZoneTwoThirdDividedInThird" *ngIf="activeRenameAbility">
                <label class="emptyLabel">&nbsp;</label>
                <button class="btn btn-secondary fullWidth" type="button" (click)="saveUnit()">Save ability</button>
              </div>

              <div class="selectRightZoneTwoThirdDividedInThird">
                <label class="emptyLabel">&nbsp;</label>
                <button class="btn btn-secondary fullWidth" type="button" (click)="addAbility()">Add ability</button>
              </div>

              <div class="selectRightZoneTwoThirdDividedInThird" *ngIf="selectedUnit.abilities.length > 1">
                <label class="emptyLabel">&nbsp;</label>
                <button class="btn btn-secondary fullWidth" type="button" (click)="removeAbility()">Delete ability</button>
              </div>
            </diV>
          </div>

          <div class="selectRightZoneBox littleMarginTop">
            <div class="selectRightZoneInFour">
              <span id="tooltip_base"></span>
              <label for="unit_base"
                tooltip="ex: damage 7x = 700%"
                parentSelector="#tooltip_base">
                Base % <i class="fa fa-info-circle helperIcon" aria-hidden="true"></i>
              </label>
              <div class="input-group">
                <input class="form-control" type="number" id="unit_base" min="1" [(ngModel)]="selectedUnit.ability.base" (ngModelChange)="saveUnit()">
                <span class="input-group-addon" id="unit_base_percent">%</span>
              </div>
            </div>

            <div class="selectRightZoneInFour">
              <label for="unit_ignore">Ignore (Def/Spr)</label>
              <div class="input-group">
                <input class="form-control" type="number" id="unit_ignore" min="0" [(ngModel)]="selectedUnit.ability.ignore" (ngModelChange)="saveUnit()">
                <span class="input-group-addon" id="unit_ignore_percent">%</span>
              </div>
            </div>

            <div class="selectRightZoneInFour tabletMarginTop">
              <span id="tooltip_type"></span>
              <label for="unit_type" id="label_type">Ability Type</label>
              <select class="form-control" id="unit_type" [(ngModel)]="selectedUnit.ability.type" (ngModelChange)="saveUnit()">
                <option *ngFor="let abilityType of abilityTypes" [ngValue]="abilityType">{{abilityType}}</option>
              </select>
            </div>

            <div class="selectRightZoneInFour tabletMarginTop">
              <span id="tooltip_type"></span>
              <label for="unit_type" id="label_type">Damage Type</label>
              <select class="form-control" id="unit_type" [(ngModel)]="selectedUnit.ability.damage" (ngModelChange)="saveUnit()">
                <option *ngFor="let abilityDamage of abilityDamages" [ngValue]="abilityDamage">{{abilityDamage}}</option>
              </select>
            </div>

            <div class="selectRightZoneInFour">
              <label for="chainer{{i}}_ignore">Dualable ?</label>
              <select class="form-control" id="unit_dualable" [(ngModel)]="selectedUnit.ability.dualable" (ngModelChange)="saveUnit()">
                <option [ngValue]="true">Yes</option>
                <option [ngValue]="false">No</option>
              </select>
            </div>
          </div>

          <div class="selectRightZoneBox littleMarginTop">
            <div class="selectRightZoneMediumBox verticalTop blockLinearFrames tabletMarginLeft">
              <label for="unit_frames">Linear Frames</label>
              <div>
                <input type="checkbox" id="unit_linearFrames" [(ngModel)]="selectedUnit.ability.linearFrames" (ngModelChange)="saveUnit()">
                <label for="unit_linearFrames"></label>
              </div>
            </div>

            <div class="selectRightZoneLittleBox" *ngIf="selectedUnit.ability.linearFrames">
              <label for="unit_hits">Hits</label>
              <input class="form-control" type="number" id="unit_hits" min="1" [(ngModel)]="selectedUnit.ability.hits" (ngModelChange)="saveUnit()">
            </div>

            <div class="selectRightZoneTwoThirdDividedInThird" *ngIf="selectedUnit.ability.linearFrames">
              <label for="unit_frames">Hit X Frames</label>
              <input class="form-control" type="number" id="unit_frames" min="1" [(ngModel)]="selectedUnit.ability.frames" (ngModelChange)="saveUnit()">
            </div>

            <div class="selectRightZoneFrames" *ngIf="!selectedUnit.ability.linearFrames">
              <label for="unit_framesList">Frames (0-X-X-X-X)</label>
              <input class="form-control" type="text" id="unit_framesList" [(ngModel)]="selectedUnit.ability.framesList" (ngModelChange)="saveUnit()">
            </div>

            <div class="selectRightZoneLittleBox tabletMarginTop tabletMarginLeft">
              <label for="unit_firstHit">First Hit</label>
              <input class="form-control" type="number" id="unit_firstHit" min="0" [(ngModel)]="selectedUnit.ability.firstHit" (ngModelChange)="saveUnit()">
            </div>

            <div class="selectRightZoneLittleBox">
              <label for="unit_castTime">Cast time</label>
              <input class="form-control" type="number" id="unit_castTime" min="0" [(ngModel)]="selectedUnit.ability.castTime" (ngModelChange)="saveUnit()">
            </div>

            <div class="selectRightZoneLittleBox">
              <label for="unit_offset">Offset</label>
              <input class="form-control" type="number" id="unit_offset" min="0" [(ngModel)]="selectedUnit.ability.offset" (ngModelChange)="saveUnit()">
            </div>
          </div>

          <div class="selectRightZoneBox littleMarginTop multiSelectDropdown tabletMarginLeft" *ngIf="multiElements.length > 0">
            <ss-multiselect-dropdown
              [options]="multiElements"
              [settings]="multiElementsSettings"
              [texts]="multiElementsTexts"
              [(ngModel)]="selectedUnit.ability.elements"
              (ngModelChange)="saveUnit()">
            </ss-multiselect-dropdown>
          </div>

          <div class="selectRightZoneBox littleMarginTop tabletMarginLeft">
            <hr class="mobileSeparatorSelectDebuff"/>
            <button class="btn btn-secondary btnAddDebuff" type="button" (click)="addDebuff()">Add debuff</button>
            <div *ngFor="let debuff of selectedUnit.debuffs; let j = index" class="selectRightZoneDividedTwo littleMarginTop">
              <hr class="mobileSeparatorSelectDebuff tabletNoMarginTop"/>
              <div class="selectRightZoneTwoDividedThree">
                <label for="unit{{i}}_debuff{{j}}_type">Element {{j + 1}}</label>
                <select class="form-control" id="unit{{i}}_debuff{{j}}_type" [(ngModel)]="selectedUnit.debuffs[j].type" (ngModelChange)="onChangeDebuff(j)">
                  <option *ngFor="let element of requiredElements" [ngValue]="element">{{element}}</option>
                </select>
              </div>
              <div class="selectRightZoneTwoDividedThree">
                <label for="unit{{i}}_debuff{{j}}_value">Value {{j + 1}} %</label>
                <div class="input-group">
                  <input class="form-control" type="number" id="unit{{i}}_debuff{{j}}_value" min="0" [(ngModel)]="selectedUnit.debuffs[j].value" (ngModelChange)="onChangeDebuff(j)">
                  <span class="input-group-addon" id="unit_ignore_percent">%</span>
                </div>
              </div>
              <div class="selectRightZoneTwoDividedThree">
                <button class="btn btn-secondary fullWidth" type="button" (click)="removeDebuff(i, j)">Remove</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
