.tab-content {
  width: 1200px;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 70px;
}

.nav-tabs {
  border-bottom: 0;
  background-color: #F4F5F9;
  height: 55px;
  position: fixed;
  width: 100%;
}

.nav-tabs .nav-item {
  margin-bottom: 0;
}

.nav-tabs .nav-link {
  border: 0;
  height: 100%;
  padding-top: 15px;
  color: var(--th-background);
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
  font-weight: bold;
  border-bottom: 4px solid var(--th-background);
  background-color: #F4F5F9;
}

.leftBlock {
  width: 350px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}

.rightBlock {
  width: 830px;
  display: inline-block;
  vertical-align: top;
}

.damageSkillImg {
  height: 32px;
}

.rarityImg {
  height: 32px;
}

.equipmentImg {
  max-height: 250px;
  max-width: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.equipmentTable {
  width: 100%;
  margin-right: 20px;
}

.StatTable, .skillsTable, .equippableJobsTable, .loreTable {
  width: 100%;
}

.skillsTable, .equippableJobsTable, .loreTable {
  margin-top: 10px;
}

.skillCastTd {
  width: 61px;
}

.skillHitTd {
  width: 50px;
}

.skillCostTd {
  width: 60px;
}

.skillNameTd {
  width: 150px;
}

.skillEffectTd {
  text-align: left;
}

.rangeTd {
  width: 69px;
}

.job {
  height: 50px;
  background: url("assets/jobs/base_sub.webp") 0px 0px no-repeat;
  background-size: 50px;
  padding: 5px;
  width: 50px;
  display: inline-block;
  margin-right: 5px;
}

.job img {
  max-width: 40px;
  max-height: 40px;
  vertical-align: top;
}

.mainjob {
  height: 30px;
  background: url("assets/jobs/base_main.webp") 0px 0px no-repeat;
  background-size: 30px;
  padding: 5px;
  width: 30px;
  display: inline-block;
  margin-right: 5px;
}

.mainjob img {
  max-width: 20px;
  max-height: 20px;
  vertical-align: top;
}

.unit {
  margin-right: 5px;
}

.recipe {
  height: 50px;
  width: 50px;
  background: url("assets/items/recipe.webp") 0px 0px no-repeat;
  background-size: 50px;
  padding: 5px;
  margin: auto;
}

.recipeImg {
  max-width: 40px;
  max-height: 40px;
  vertical-align: top;
}

.materialCount {
  font-weight: 600;
}

.conditionImg {
  max-width: 50px;
  max-height: 50px;
  margin-right: 5px;
}
