.row {
  width: 1200px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.leftBlock {
  width: 350px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}

.rightBlock {
  width: 830px;
  display: inline-block;
  vertical-align: top;
}

.damageSkillImg {
  height: 32px;
}

.rarityImg {
  height: 32px;
}

.equipmentImg {
  height: 250px;
  margin-top: 10px;
}

.equipmentTable {
  width: 100%;
  margin-right: 20px;
}

.StatTable, .skillsTable, .equippableJobsTable {
  width: 100%;
}

.skillsTable, .equippableJobsTable {
  margin-top: 10px;
}

.skillCastTd {
  width: 61px;
}

.skillHitTd {
  width: 50px;
}

.skillCostTd {
  width: 60px;
}

.skillNameTd {
  width: 150px;
}

.skillEffectTd {
  text-align: left;
}

.rangeTd {
  width: 69px;
}

.job {
  height: 50px;
  background: url("assets/jobs/base_sub.png") 0px 0px no-repeat;
  background-size: 50px;
  padding: 5px;
  margin-right: 5px;
}

.unit {
  height: 100px;
  margin-right: 5px;
}