.damageSkillImg {
  height: 32px;
}

.rarityImg {
  height: 32px;
}

.row {
  width: 1200px;
  margin: auto;
  margin-bottom: 20px;
}

.equipmentImg {
  height: 250px;
  margin-top: 10px;
}

.equipmentTable {
  width: 350px;
  margin-right: 20px;
}

.StatTable {
  width: 829px;
}

.skillsTable {
  width: 1200px;
}

.skillCastTd {
  width: 61px;
}

.skillHitTd {
  width: 50px;
}

.skillCostTd {
  width: 60px;
}

.skillNameTd {
  width: 150px;
}

.skillEffectTd {
  text-align: left;
}

.rangeTd {
  width: 69px;
}
