.btn {
  cursor: pointer;
}

.input_macro {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  width: 100px;
}

.result_macro {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}

.memu_macro {
  width: 350px;
  text-align: center;
}

.nox_macro {
  width: 600px;
  text-align: center;
}

.ld_macro {
  width: 600px;
  text-align: center;
}

.bluestack_macro {
  width: 600px;
  text-align: center;
}

.littleMarginTop {
  margin-top: 10px;
}

.options_macro {
  max-width: 970px;
  text-align: center;
}

.group_input_emulator {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
}

.group_input_macro {
  display: inline-block;
  text-align: center;
}

.group_button_macro {
  display: inline-block;
  text-align: center;
}

.button_macro {
  display: inline-block;
  margin-right: 10px;
  width: 100px;
}

.group_result_macro {
  text-align: left;
}

.macro_input_group {
  display: table;
}

.macro_text {
  width: 100%;
  border-bottom-left-radius: 0;
  resize: none;
  border-top-right-radius: .25rem !important;
}

.input-group-addon {
  display: table-row;
}

.copy_button {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 0;
}

@media (max-width: 1004px) {
  .group_result_macro {
    text-align: center;
  }
}

@media (max-width: 630px) {
  .nox_macro {
    width: 350px;
  }

  .ld_macro {
    width: 350px;
  }

  .memu_macro {
    width: 300px;
  }

  .bluestack_macro {
    width: 300px;
  }
}

@media (max-width: 380px) {
  .nox_macro {
    width: 250px;
  }

  .ld_macro {
    width: 250px;
  }

  .memu_macro {
    width: 250px;
  }

  .bluestack_macro {
    width: 250px;
  }
}
