<div class="macro">
  <div class="options_macro">
    <div class="group_input_macro">
      <div class="input_macro">
        <label for="macro_width">Width</label>
        <input class="form-control" type="number" id="macro_width" [(ngModel)]="width" (ngModelChange)="generateMacro()">
      </div>
      <div class="input_macro">
        <label for="macro_height">Height</label>
        <input class="form-control" type="number" id="macro_height" [(ngModel)]="height" (ngModelChange)="generateMacro()">
      </div>
    </div>
    <div class="group_button_macro">
      <div class="button_macro">
        <button class="btn btn-secondary" type="button" (click)="updateSize(1280, 720)">1280x720</button>
      </div>
      <div class="button_macro">
        <button class="btn btn-secondary" type="button" (click)="updateSize(720, 1280)">720x1280</button>
      </div>
    </div>
  </div>
  <div class="group_result_macro">
    <div class="result_macro memu_macro littleMarginTop">
      <label for="macro_memu">Memu</label>
      <textarea class="form-control" rows="13" id="macro_memu" [(ngModel)]="memu"></textarea>
    </div>
    <div class="result_macro nox_macro littleMarginTop">
      <label for="macro_nox">Nox</label>
      <textarea class="form-control" rows="13" id="macro_nox" [(ngModel)]="nox"></textarea>
    </div>
  </div>
</div>
