<div class="relative z-[100]" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center items-center p-0">
      <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full lg:max-w-4xl" (clickOutside)="closeClickOuside()">
        <div class="modal-title-background px-4 py-3 sm:px-6">
          <div class="title justify-start">
            LOAD {{ type | uppercase }}
          </div>
          <div class="closeButton justify-end">
            <button type="button" class="close" aria-label="Close" (click)="close()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>

        <div class="modal-body-background px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="newBuildBlock" *ngIf="allowNew">
            <button class="btn btn-sub" (click)="load(null)">Create new build</button>
          </div>

          <table class="tableList inverted" *ngIf="savedItems && savedItems.length > 0">
            <tr class="inverted">
              <th class="inverted">{{ type | titlecase }}</th>
              <th class="inverted">Load</th>
              <th class="inverted">Delete</th>
            </tr>
            <tr class="inverted" *ngFor="let item of savedItems">
              <td class="inverted" *ngIf="type === 'team'">{{ item ? item.name : '' }}</td>
              <td class="inverted" *ngIf="type !== 'team'">{{ item ? item.customName : '' }}</td>
              <td class="inverted">
                <a class="linkedIcons" (click)="load(item)">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 pointer inline-block">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
                  </svg>
                </a>
              </td>
              <td class="inverted">
                <a class="linkedIcons" (click)="delete(item)">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-8 h-8 pointer inline-block">
                    <path fill-rule="evenodd" d="M8.75 1A2.75 2.75 0 006 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 10.23 1.482l.149-.022.841 10.518A2.75 2.75 0 007.596 19h4.807a2.75 2.75 0 002.742-2.53l.841-10.52.149.023a.75.75 0 00.23-1.482A41.03 41.03 0 0014 4.193V3.75A2.75 2.75 0 0011.25 1h-2.5zM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4zM8.58 7.72a.75.75 0 00-1.5.06l.3 7.5a.75.75 0 101.5-.06l-.3-7.5zm4.34.06a.75.75 0 10-1.5-.06l-.3 7.5a.75.75 0 101.5.06l.3-7.5z" clip-rule="evenodd" />
                  </svg>
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
