th {
  padding-right: 0;
}

.row {
  width: 960px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}


/***************/
/* Search Item */
/***************/
.itemLine {
  padding-top: 5px;
  cursor: pointer;
}

.itemLine hr {
  margin: 0;
  width: 930px;
}

.itemSelector {
  padding: 0;
  display: block;
  height: 50px;
}

.itemNameSelector {
  display: inline-block;
  font-size: 18px;
  vertical-align: middle;
}

.headerText {
  width: 100%;
  text-align: center;
}

.items {
  width: 960px;
  margin: auto;
  margin-top: 20px;
}

/******************/
/* Selected Items */
/******************/
.selectedItems {
  width: 960px;
  margin: auto;
  margin-top: 15px;
}

.selectedItemBlock {
  display: inline-block;
  border: 1px solid var(--table-border);
  border-radius: 5px;
  height: 47px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.selectedItemName {
  height: 45px;
  padding-top: 10px;
  padding-right: 5px;
  border-right: 1px solid var(--table-border);
  display: inline-block;
}

.selectedItemRemove {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  height: 45px;
  vertical-align: top;
  padding-top: 10px;
  cursor: pointer;
}


/**********/
/* Quests */
/**********/
.quests {
  width: 960px;
  margin: auto;
  margin-top: 10px;
}

.questTable {
  width: 100%;
}

.collapseBlock {
  float: left;
  margin-right: 10px;
  height: 28px;
  padding-top: 10px;
  cursor: pointer;
}

.questName {
  font-size: 18px;
}

.questParams {
  font-size: 14px;
}

.questTd, .dropRateTd {
  max-width: 400px;
}

.dropRateItemBlock {
  display: inline-block;
  margin-right: 10px;
}

/**/
.dropBlock {
  margin-bottom: 10px;
}

.dropHeader {
  border: 1px solid var(--table-border);
  text-align: left;
  padding-left: 10px;
}

.dropContent {
  border-left: 1px solid var(--table-border);
  border-right: 1px solid var(--table-border);
  border-bottom: 1px solid var(--table-border);
}

.dropEnemyBlock {
  margin-right: 10px;
}
