<div class="row" *ngIf="guild">
  <table class="guildTable">
    <tr>
      <td colspan="5"><h1>Guild Statues</h1></td>
    </tr>
    <tr>
      <td *ngFor="let statue of statueNames">
        <img class="statueImg" src="{{ 'assets/statues/' + statue + '.webp' }}"/>
      </td>
    </tr>
    <tr>
      <td *ngFor="let statue of statueNames" class="statsTd">
        <div>
          lv. <select [(ngModel)]="guild[statue]" id="statue_{{statue}}">
            <option *ngFor="let level of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]"  id="level_{{level}}">{{ level }}</option>
          </select>
        </div>
        <div *ngIf="guild[statue] > 0">
          <div *ngFor="let stats of statues[statue][guild[statue] - 1]">
            {{ stats.value + (stats.calcType === "percent" ? "% " : " ") + stats.type }}
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="showSave">
      <td colspan="5">
        <button class="btn btn-main" id="saveGuild" (click)="saveGuild()">SAVE</button>
      </td>
    </tr>
  </table>
</div>
