.leftBlock {
  width: 350px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}

.rightBlock, .rightBlockGrid {
  width: 830px;
  display: inline-block;
  vertical-align: top;
}

.esperImg {
  margin-top: 5px;
  margin-bottom: 5px;
}

.elementImg, .rarityImg {
  height: 32px;
}

.esperTable {
  width: 100%;
  margin-right: 20px;
}

.statsTable, .skillsTable, .resTable, .loreTable {
  width: 100%;
}

.skillsTable, .resTable, .loreTable {
  margin-top: 10px;
}

.rangeTd {
  width: 69px;
}

.skillTypeTd {
  width: 60px;
}

.skillHitTd {
  width: 50px;
}

.skillNameTd {
  width: 140px;
}

.skillEffectTd {
  text-align: left;
}

.esperGridContainer {
  width: 800px;
  overflow: hidden;
}

@media (max-width: 1229px) {
  .leftBlockMediumSize {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .rightBlock {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .rightBlockGrid {
    width: auto;
    margin: auto;
  }

  .esperGridContainer {
    width: 100vw;
    width: -webkit-calc(100vw - 40px);
    width: -moz-calc(100vw - 40px);
    width: calc(100vw - 40px);
    overflow-x: visible;
    left: 10px;
    overflow-y: hidden;
  }

  .esperGridContainer > .hexGrid {
    width: 800px;
  }
}