<footer class="footer">
  <hr>
  <img src="{{ 'assets/nav/WOTVCALC_LOGO.png' }}" class="logo" *ngIf="theme === 'light'"/>
  <img src="{{ 'assets/nav/WOTVCALC_LOGO_WHITE.png' }}" class="logo" *ngIf="theme === 'dark'"/>

  <div class="links">
    <a class="discord" href="https://discord.gg/42PHBD85kN" target='_blank'>Discord</a>/<a class="twitter" href="https://twitter.com/bismarktv" target='_blank'>Twitter</a>/<a class="youtube" href="https://www.youtube.com/channel/UCvRB2kQNT7QlrGTigTVXU2w" target='_blank'>Youtube</a>/<a class="contact" [routerLink]="[getRoute('/contact')]">Contact</a>/<a class="legal" [routerLink]="[getRoute('/legal-notices')]">Legal notices</a>
  </div>

  <div class="textFooter">
    <div>
      Made with <i class="fas fa-heart red" aria-hidden="true"></i> by Bismark - <a class="reportBug" href="https://discord.gg/wPwZtZP3DG" target='_blank'>Report a bug</a>
    </div>
    <div>
      Design by Ditry, Tenaka & Mnalik - Logo by <a href="https://www.instagram.com/vermilionivalice/" target="_blank" class="vermilionivalice">Vermilion Ivalice</a>
    </div>
  </div>
</footer>
