<footer class="footer">
  <hr>
  <img src="{{ 'assets/nav/WOTVCALC_LOGO.webp' }}" class="logo" *ngIf="theme === 'light'"/>
  <img src="{{ 'assets/nav/WOTVCALC_LOGO_WHITE.webp' }}" class="logo" *ngIf="theme === 'dark'"/>

  <div class="textFooter">
    Made with <i class="fas fa-heart red" aria-hidden="true"></i> by Bismark - <a class="reportBug" href="https://discord.gg/wPwZtZP3DG" target='_blank'>Report a bug</a>
  </div>

  <div class="links">
    <a class="discord" href="https://discord.gg/42PHBD85kN" target='_blank'>Discord</a>/<a class="contact" [routerLink]="[getRoute('/contact')]">Contact</a>/<a class="legal" [routerLink]="[getRoute('/legal-notices')]">Legal notices</a>
  </div>
</footer>
