.footer {
  margin-top: 20px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

hr {
  margin-bottom: 0;
  width: 100%;
}

.logo {
  float: left;
  height: 60px;
  padding-top: 15px;
  padding-left: 15px;
}

.textFooter {
  margin: auto;
}

.red {
  color: red;
}

.links {
  display: inline-block;
  float: right;
}

.links a, .reportBug, .vermilionivalice {
  color: var(----footer-link);
  text-decoration: underline;
}

.twitter, .youtube, .contact, .legal, .discord {
  padding: 5px;
}
