<footer class="footer">
  <hr>
  <img src="{{ 'assets/footer/' + theme + '_wotv-calc.png' }}" class="logo" />
  <div class="links">
    <a class="discord" href="https://discord.gg/42PHBD85kN" target='_blank'>Discord</a>/<a class="twitter" href="https://twitter.com/bismarktv" target='_blank'>Twitter</a>/<a class="youtube" href="https://www.youtube.com/channel/UCvRB2kQNT7QlrGTigTVXU2w" target='_blank'>Youtube</a>/<a class="contact" [routerLink]="[getRoute('/contact')]">{{ 'footer.contact' | translate }}</a>/<a class="legal" [routerLink]="[getRoute('/legal-notices')]">{{ 'footer.legal' | translate }}</a>
  </div>
  <span class="textFooter">{{ 'footer.made' | translate }}<i class="fas fa-heart red" aria-hidden="true"></i>{{ 'footer.by' | translate }} - Design by Ditry, Tenaka & Mnalik - </span><a class="reportBug" href="https://discord.gg/wPwZtZP3DG" target='_blank'>Report a bug</a>
</footer>
