.row {
  width: 1200px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.leftBlock {
  width: 350px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}

.rightBlock {
  width: 830px;
  display: inline-block;
  vertical-align: top;
}

.statTable, .effectsTable, .questTable {
  width: 100%;
}

.rarityImg {
  height: 32px;
}

.questImg {
  height: 250px;
  margin-top: 10px;
}

.effectsTable {
  margin-top: 10px;
}

.subJob {
  height: 40px;
  background: url("assets/jobs/base_sub.png") 0px 0px no-repeat;
  background-size: 40px;
  padding: 5px;
  margin-right: 5px;
}

.unit {
  max-height: 40px;
  max-width: 40px;
  margin-right: 5px;
}

.elementImg {
  height: 40px;
  margin-right: 5px;
}

.separatorLine {
  height: 10px;
}

.rangeTd {
  width: 69px;
}

.skillCastTd {
  width: 61px;
}

.skillHitTd {
  width: 50px;
}

.skillCostTd {
  width: 60px;
}

.skillNameTd {
  width: 150px;
}

.timeImg {
  height: 32px;
  cursor: pointer;
  margin-top: 2px;
}





.equipmentRewardImg {
  max-width: 40px;
  max-height: 40px;
}

.mapTile {
  width: 58px;
  height: 58px;
}

.tileNoAccess {
  background-color: var(--table-border);
}

.tile0 {
  background-color: #242222;
  color: #fff;
}

.tile1 {
  background-color: #2b2929;
  color: #fff;
}

.tile2 {
  background-color: #383535;
  color: #fff;
}

.tile3 {
  background-color: #423f3f;
  color: #fff;
}

.tile4 {
  background-color: #4d4949;
  color: #fff;
}

.tile5 {
  background-color: #595454;
  color: #fff;
}

.tile6 {
  background-color: #656060;
  color: #fff;
}

.tile7 {
  background-color: #716b6b;
  color: #fff;
}

.tile8 {
  background-color: #7d7777;
  color: #fff;
}

.tile9 {
  background-color: #898282;
  color: #fff;
}

.tile10 {
  background-color: #948d8d;
  color: #fff;
}

.tile11 {
  background-color: #9f9898;
  color: #000;
}

.tile12 {
  background-color: #aaa2a2;
  color: #000;
}

.tile13 {
  background-color: #b6adad;
  color: #000;
}

.tile14 {
  background-color: #c0b7b7;
  color: #000;
}

.tile15 {
  background-color: #ccc3c3;
  color: #000;
}

.tile16 {
  background-color: #dacfcf;
  color: #000;
}

.tile17 {
  background-color: #e6dbdb;
  color: #000;
}

.tile18 {
  background-color: #f2e7e7;
  color: #000;
}

.tile19 {
  background-color: #fcf0f0;
  color: #000;
}

.tile20 {
  background-color: #fff;
  color: #000;
}

.partyTile {
  background-image: url("assets/grid/unit_placement.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}