<div class="row" *ngIf="quest">
  <div class="leftBlock">
    <table class="questTable">
      <tbody>
        <tr>
          <th colspan="3">{{ quest.name }}</th>
        </tr>
        <tr>
          <th class="sub">NRG</th>
          <th class="sub">XP</th>
          <th class="sub">JP</th>
        </tr>
        <tr>
          <td>{{ quest.nrg }}</td>
          <td>{{ quest.exp }}</td>
          <td>{{ quest.jp }}</td>
        </tr>
        <tr>
          <th class="sub">Gils</th>
          <th class="sub">Enemies</th>
          <th class="sub">Chests</th>
        </tr>
        <tr>
          <td>{{ quest.gils }}</td>
          <td>{{ quest.enemies.length }}</td>
          <td>{{ quest.chests.length }}</td>
        </tr>
        <tr>
          <th colspan="3" class="sub">Type</th>
        </tr>
        <tr>
          <td colspan="3">{{ formatType(quest.type) }}</td>
        </tr>
        <tr>
          <th colspan="3" class="sub">Effects</th>
        </tr>
        <tr *ngFor="let buff of quest.formattedBuffs">
          <td colspan="3">{{ buff }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="rightBlock">
    <table class="questTable">
      <tr>
        <th>
          Mission
        </th>
        <th>
          Reward
        </th>
      </tr>
      <tr *ngFor="let mission of quest.formattedMissions">
        <td>
          {{ mission.mission }}
        </td>
        <td>
          <div *ngFor="let reward of mission.rewards">
            <div *ngIf="reward.type === 'item' || reward.type === 'visiores'">
              <app-template-item [item]="reward.reward"></app-template-item> x {{ reward.value }}
            </div>

            <div *ngIf="reward.type === 'equipment'">
              <img class="equipmentRewardImg" src="assets/equipments/{{ reward.reward.image }}.png" title="{{ reward.reward.name }}" /><br />
              {{ reward.reward.name }}
            </div>
          </div>
        </td>
      </tr>
    </table>

    <table class="gridTable">
      <tr>
        <th colspan="99">MAP</th>
      </tr>
      <tr>
        <th class="sub"></th>
        <th class="sub" *ngFor="let tile of quest.grid[0]; let gridX = index">
          {{ gridX + 1 }}
        </th>
      </tr>
      <tr *ngFor="let line of quest.grid; let gridY = index">
        <th class="sub">{{ gridY + 1 }}</th>
        <td
          *ngFor="let tile of line"
          class="mapTile {{ !tile.t && tile.h < 20 ? 'tile' + tile.h : '' }}"
          [ngClass]="{
            'tileNoAccess': tile.t,
            'partyTile': tile && tile.party?.constructor.name === 'Number',
            'chestTile': tile && tile.chest?.constructor.name === 'Number',
            'allyTile': tile && tile.ally?.constructor.name === 'Number',
            'enemyTile': tile && tile.enemy?.constructor.name === 'Number' && !tile.class,
            'objectTile': tile && tile.object?.constructor.name === 'Number',
            'switchTile': tile && tile.switch?.constructor.name === 'Number',
            'tile20': !tile.t && tile.h >= 20,
            'bigEnemyTopLeft': tile && tile.class === 'bigEnemyTopLeft',
            'bigEnemyTopMiddle': tile && tile.class === 'bigEnemyTopMiddle',
            'bigEnemyTopRight': tile && tile.class === 'bigEnemyTopRight',
            'bigEnemyMiddleLeft': tile && tile.class === 'bigEnemyMiddleLeft',
            'bigEnemyMiddleMiddle': tile && tile.class === 'bigEnemyMiddleMiddle',
            'bigEnemyMiddleRight': tile && tile.class === 'bigEnemyMiddleRight',
            'bigEnemyBottomLeft': tile && tile.class === 'bigEnemyBottomLeft',
            'bigEnemyBottomMiddle': tile && tile.class === 'bigEnemyBottomMiddle',
            'bigEnemyBottomRight': tile && tile.class === 'bigEnemyBottomRight'
          }"
        >
          <div *ngIf="tile && !tile.t">{{ tile.h }}</div>
          <div *ngIf="tile && tile.party?.constructor.name === 'Number'">P{{ tile.party + 1 }}</div>
          <div *ngIf="tile && tile.chest?.constructor.name === 'Number'">C{{ tile.chest + 1 }}</div>
          <div *ngIf="tile && tile.ally?.constructor.name === 'Number'">A{{ tile.ally + 1 }}</div>
          <div *ngIf="tile && tile.enemy?.constructor.name === 'Number'">E{{ tile.enemy + 1 }}</div>
          <div *ngIf="tile && tile.object?.constructor.name === 'Number'">O{{ tile.object + 1 }}</div>
          <div *ngIf="tile && tile.switch?.constructor.name === 'Number'">S{{ tile.switch + 1 }}</div>
        </td>
      </tr>
    </table>

    <table class="allyTable" *ngIf="quest.formattedAllies?.length > 0">
      <tr>
        <th class="idCol">ID</th>
        <th class="nameCol">ID</th>
        <th>Element</th>
        <th>Job</th>
        <th>Level</th>
      </tr>
      <tr *ngFor="let ally of quest.formattedAllies; let j = index">
        <td>A{{ j + 1 }}</td>
        <td>
          <img src="assets/units/{{ally.image}}_m.png" class="enemyImg" />{{ ally.name }}
        </td>
        <td>
          <img src="assets/elements/{{ ally.element }}.png" class="elementImg" />
        </td>
        <td>
          <div class="job" *ngIf="ally.job" title="{{ ally.job.name }}">
            <img src="{{'assets/jobs/' + ally.job.image + '.png'}}" />
          </div>
        </td>
        <td>{{ ally.level }}</td>
      </tr>
    </table>

    <table class="enemyTable" *ngIf="quest.formattedEnemies?.length > 0">
      <tr>
        <th class="idCol">ID</th>
        <th class="nameCol">ID</th>
        <th>Element</th>
        <th>Job</th>
        <th>Level</th>
        <th>Type</th>
      </tr>
      <tbody *ngFor="let enemy of quest.formattedEnemies; let j = index">
        <tr>
          <td>E{{ j + 1 }}</td>
          <td>
            <img src="assets/units/{{enemy.image}}_m.png" class="enemyImg" />{{ enemy.name }}
          </td>
          <td>
            <img src="assets/elements/{{ enemy.element }}.png" class="elementImg" />
          </td>
          <td>
            <div class="job" *ngIf="enemy.job" title="{{ enemy.job.name }}">
              <img src="{{'assets/jobs/' + enemy.job.image + '.png'}}" />
            </div>
          </td>
          <td>{{ enemy.level }}</td>
          <td>{{ enemy.species }}</td>
        </tr>
        <!-- <tr>
          <td colspan="99">
            <table>
              <tr>
                <th class="sub">HP</th>
                <th class="sub">TP</th>
                <th class="sub">AP</th>
                <th class="sub">ATK</th>
                <th class="sub">DEF</th>
                <th class="sub">MAG</th>
                <th class="sub">SPR</th>
                <th class="sub">DEX</th>
                <th class="sub">AGI</th>
                <th class="sub">LUCK</th>
                <th class="sub">MOVE</th>
                <th class="sub">JUMP</th>
              </tr>
              <tr>
                <td>{{ enemy.stats.HP.total }}</td>
                <td>{{ enemy.stats.TP.total }}</td>
                <td>{{ enemy.stats.AP.total }}</td>
                <td>{{ enemy.stats.ATK.total }}</td>
                <td>{{ enemy.stats.DEF.total }}</td>
                <td>{{ enemy.stats.MAG.total }}</td>
                <td>{{ enemy.stats.SPR.total }}</td>
                <td>{{ enemy.stats.DEX.total }}</td>
                <td>{{ enemy.stats.AGI.total }}</td>
                <td>{{ enemy.stats.LUCK.total }}</td>
                <td>{{ enemy.stats.MOVE.total }}</td>
                <td>{{ enemy.stats.JUMP.total }}</td>
              </tr>
            </table>
            <table>
              <tr>
                <th class="sub"><img class="elementImg" title="fire resistance" src="{{'assets/elements/fire.png'}}" /></th>
                <th class="sub"><img class="elementImg" title="ice resistance" src="{{'assets/elements/ice.png'}}" /></th>
                <th class="sub"><img class="elementImg" title="wind resistance" src="{{'assets/elements/wind.png'}}" /></th>
                <th class="sub"><img class="elementImg" title="earht resistance" src="{{'assets/elements/earth.png'}}" /></th>
                <th class="sub"><img class="elementImg" title="lightning resistance" src="{{'assets/elements/lightning.png'}}" /></th>
                <th class="sub"><img class="elementImg" title="water resistance" src="{{'assets/elements/water.png'}}" /></th>
                <th class="sub"><img class="elementImg" title="light resistance" src="{{'assets/elements/light.png'}}" /></th>
                <th class="sub"><img class="elementImg" title="dark resistance" src="{{'assets/elements/dark.png'}}" /></th>
              </tr>
              <tr>
                <td class="heightResTd">
                  <span *ngIf="enemy.stats.FIRE_RES && enemy.stats.FIRE_RES.total">{{ enemy.stats.FIRE_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.ICE_RES && enemy.stats.ICE_RES.total">{{ enemy.stats.ICE_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.WIND_RES && enemy.stats.WIND_RES.total">{{ enemy.stats.WIND_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.EARTH_RES && enemy.stats.EARTH_RES.total">{{ enemy.stats.EARTH_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.LIGHTNING_RES && enemy.stats.LIGHTNING_RES.total">{{ enemy.stats.LIGHTNING_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.WATER_RES && enemy.stats.WATER_RES.total">{{ enemy.stats.WATER_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.LIGHT_RES && enemy.stats.LIGHT_RES.total">{{ enemy.stats.LIGHT_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.DARK_RES && enemy.stats.DARK_RES.total">{{ enemy.stats.DARK_RES.total }} %</span>
                </td>
              </tr>
            </table>
            <table>
              <tr>
                <th class="sub"><img class="damageImg" title="slash resistance" src="{{'assets/damage/neutral_slash.png'}}" /></th>
                <th class="sub"><img class="damageImg" title="pierce resistance" src="{{'assets/damage/neutral_pierce.png'}}" /></th>
                <th class="sub"><img class="damageImg" title="strike resistance" src="{{'assets/damage/neutral_strike.png'}}" /></th>
                <th class="sub"><img class="damageImg" title="missile resistance" src="{{'assets/damage/neutral_missile.png'}}" /></th>
                <th class="sub"><img class="damageImg" title="magic resistance" src="{{'assets/damage/neutral_magic.png'}}" /></th>
              </tr>
              <tr>
                <td class="heightResTd">
                  <span *ngIf="enemy.stats.SLASH_RES && enemy.stats.SLASH_RES.total">{{ enemy.stats.SLASH_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.PIERCE_RES && enemy.stats.PIERCE_RES.total">{{ enemy.stats.PIERCE_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.STRIKE_RES && enemy.stats.STRIKE_RES.total">{{ enemy.stats.STRIKE_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.MISSILE_RES && enemy.stats.MISSILE_RES.total">{{ enemy.stats.MISSILE_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.MAGIC_RES && enemy.stats.MAGIC_RES.total">{{ enemy.stats.MAGIC_RES.total }} %</span>
                </td>
              </tr>
            </table>
            <table>
              <tr>
                <th class="sub"><img class="statusAilmentImg" title="poison resistance" src="{{'assets/status-ailments/POISON.png'}}" /></th>
                <th class="sub"><img class="statusAilmentImg" title="blind resistance" src="{{'assets/status-ailments/BLIND.png'}}" /></th>
                <th class="sub"><img class="statusAilmentImg" title="sleep resistance" src="{{'assets/status-ailments/SLEEP.png'}}" /></th>
                <th class="sub"><img class="statusAilmentImg" title="silence resistance" src="{{'assets/status-ailments/SILENCE.png'}}" /></th>
                <th class="sub"><img class="statusAilmentImg" title="paralyze resistance" src="{{'assets/status-ailments/PARALYZE.png'}}" /></th>
                <th class="sub"><img class="statusAilmentImg" title="confusion resistance" src="{{'assets/status-ailments/CONFUSION.png'}}" /></th>
                <th class="sub"><img class="statusAilmentImg" title="petrify resistance" src="{{'assets/status-ailments/PETRIFY.png'}}" /></th>
                <th class="sub"><img class="statusAilmentImg" title="toad resistance" src="{{'assets/status-ailments/TOAD.png'}}" /></th>
              </tr>
              <tr>
                <td class="heightResTd">
                  <span *ngIf="enemy.stats.POISON_RES && enemy.stats.POISON_RES.total">{{ enemy.stats.POISON_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.BLIND_RES && enemy.stats.BLIND_RES.total">{{ enemy.stats.BLIND_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.SLEEP_RES && enemy.stats.SLEEP_RES.total">{{ enemy.stats.SLEEP_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.SILENCE_RES && enemy.stats.SILENCE_RES.total">{{ enemy.stats.SILENCE_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.PARALYZE_RES && enemy.stats.PARALYZE_RES.total">{{ enemy.stats.PARALYZE_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.CONFUSION_RES && enemy.stats.CONFUSION_RES.total">{{ enemy.stats.CONFUSION_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.PETRIFY_RES && enemy.stats.PETRIFY_RES.total">{{ enemy.stats.PETRIFY_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.TOAD_RES && enemy.stats.TOAD_RES.total">{{ enemy.stats.TOAD_RES.total }} %</span>
                </td>
              </tr>
              <tr>
                <th class="sub"><img class="statusAilmentImg" title="charm resistance" src="{{'assets/status-ailments/CHARM.png'}}" /></th>
                <th class="sub"><img class="statusAilmentImg" title="slow resistance" src="{{'assets/status-ailments/SLOW.png'}}" /></th>
                <th class="sub"><img class="statusAilmentImg" title="stop resistance" src="{{'assets/status-ailments/STOP.png'}}" /></th>
                <th class="sub"><img class="statusAilmentImg" title="immobilize resistance" src="{{'assets/status-ailments/IMMOBILIZE.png'}}" /></th>
                <th class="sub"><img class="statusAilmentImg" title="disable resistance" src="{{'assets/status-ailments/DISABLE.png'}}" /></th>
                <th class="sub"><img class="statusAilmentImg" title="berserk resistance" src="{{'assets/status-ailments/BERSERK.png'}}" /></th>
                <th class="sub"><img class="statusAilmentImg" title="doom resistance" src="{{'assets/status-ailments/DOOM.png'}}" /></th>
                <th class="sub"></th>
              </tr>
              <tr>
                <td class="heightResTd">
                  <span *ngIf="enemy.stats.CHARM_RES && enemy.stats.CHARM_RES.total">{{ enemy.stats.CHARM_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.SLOW_RES && enemy.stats.SLOW_RES.total">{{ enemy.stats.SLOW_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.STOP_RES && enemy.stats.STOP_RES.total">{{ enemy.stats.STOP_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.IMMOBILIZE_RES && enemy.stats.IMMOBILIZE_RES.total">{{ enemy.stats.IMMOBILIZE_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.DISABLE_RES && enemy.stats.DISABLE_RES.total">{{ enemy.stats.DISABLE_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.BERSERK_RES && enemy.stats.BERSERK_RES.total">{{ enemy.stats.BERSERK_RES.total }} %</span>
                </td>
                <td>
                  <span *ngIf="enemy.stats.DOOM_RES && enemy.stats.DOOM_RES.total">{{ enemy.stats.DOOM_RES.total }} %</span>
                </td>
                <td></td>
              </tr>
            </table>
          </td>
        </tr> -->
      </tbody>
    </table>

    <table class="chestTable" *ngIf="quest.formattedChests?.length > 0">
      <tr>
        <th class="idCol">ID</th>
        <th class="nameCol">ID</th>
      </tr>
      <tr *ngFor="let chest of quest.formattedChests; let j = index">
        <td>C{{ j + 1 }}</td>
        <td><img src="assets/units/{{chest.image}}_m.png" class="enemyImg" />{{ chest.name }}</td>
      </tr>
    </table>

    <table class="chestTable" *ngIf="quest.formattedObjects?.length > 0">
      <tr>
        <th class="idCol">ID</th>
        <th class="nameCol">ID</th>
      </tr>
      <tr *ngFor="let object of quest.formattedObjects; let j = index">
        <td>O{{ j + 1 }}</td>
        <td><img src="assets/units/{{object.image}}_m.png" class="enemyImg" />{{ object.name }}</td>
      </tr>
    </table>

    <table class="chestTable" *ngIf="quest.formattedSwitchs?.length > 0">
      <tr>
        <th class="idCol">ID</th>
        <th class="nameCol">ID</th>
      </tr>
      <tr *ngFor="let switch of quest.formattedSwitchs; let j = index">
        <td>S{{ j + 1 }}</td>
        <td><img src="assets/units/{{switch.image}}_m.png" class="enemyImg" />{{ switch.name }}</td>
      </tr>
    </table>
  </div>
</div>
