<div class="row" *ngIf="quest">
  <div class="leftBlock">
    <table class="questTable">
      <tbody>
        <tr>
          <th colspan="3">{{ quest.name }}</th>
        </tr>
        <tr>
          <th class="sub">NRG</th>
          <th class="sub">XP</th>
          <th class="sub">JP</th>
        </tr>
        <tr>
          <td>{{ quest.nrg }}</td>
          <td>{{ quest.exp }}</td>
          <td>{{ quest.jp }}</td>
        </tr>
        <tr>
          <th class="sub">Gils</th>
          <th class="sub">Enemies</th>
          <th class="sub">Chests</th>
        </tr>
        <tr>
          <td>{{ quest.gils }}</td>
          <td>{{ quest.enemies.length }}</td>
          <td>{{ quest.chests.length }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="rightBlock">
    <table class="questTable">
      <tr>
        <th>
          Mission
        </th>
        <th>
          Reward
        </th>
      </tr>
      <tr *ngFor="let mission of quest.formattedMissions">
        <td>
          {{ mission.mission }}
        </td>
        <td>
          <div *ngFor="let reward of mission.rewards">
            <div *ngIf="reward.type === 'item' || reward.type === 'visiores'">
              <app-template-item [item]="reward.reward"></app-template-item> x {{ reward.value }}
            </div>

            <div *ngIf="reward.type === 'equipment'">
              <img class="equipmentRewardImg" src="assets/equipments/{{ reward.reward.image }}.png" title="{{ reward.reward.name }}" /><br />
              {{ reward.reward.name }}
            </div>
          </div>
        </td>
      </tr>
    </table>

    <table class="gridTable">
      <tr>
        <th colspan="99">MAP</th>
      </tr>
      <tr>
        <th class="sub"></th>
        <th class="sub" *ngFor="let tile of quest.grid[0]; let gridX = index">
          {{ gridX + 1 }}
        </th>
      </tr>
      <tr *ngFor="let line of quest.grid; let gridY = index">
        <th class="sub">{{ gridY + 1 }}</th>
        <td
          *ngFor="let tile of line"
          class="mapTile {{ !tile.t && tile.h < 20 ? 'tile' + tile.h : '' }}"
          [ngClass]="{
            'tileNoAccess': tile.t,
            'partyTile': tile && tile.party,
            'chestTile': tile && tile.chest?.constructor.name === 'Number',
            'allyTile': tile && tile.ally?.constructor.name === 'Number',
            'enemyTile': tile && tile.enemy?.constructor.name === 'Number',
            'objectTile': tile && tile.object?.constructor.name === 'Number',
            'tile20': !tile.t && tile.h >= 20
          }"
        >
          <div *ngIf="tile && !tile.t">{{ tile.h }}</div>
          <div *ngIf="tile && tile.chest?.constructor.name === 'Number'">C{{ tile.chest + 1 }}</div>
          <div *ngIf="tile && tile.ally?.constructor.name === 'Number'">A{{ tile.ally + 1 }}</div>
          <div *ngIf="tile && tile.enemy?.constructor.name === 'Number'">E{{ tile.enemy + 1 }}</div>
          <div *ngIf="tile && tile.object?.constructor.name === 'Number'">O{{ tile.object + 1 }}</div>
        </td>
      </tr>
    </table>

    <table class="allyTable" *ngIf="quest.allies.length > 0">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Element</th>
        <th>Job ?</th>
        <th>Level</th>
        <th>Type</th>
      </tr>
      <tr *ngFor="let ally of quest.allies; let j = index">
        <td>E{{ j + 1 }}</td>
        <td>{{ ally.name }}</td>
        <td>{{ ally.elem }}</td>
        <td></td>
        <td>{{ ally.lv }}</td>
        <td></td>
      </tr>
    </table>

    <table class="enemyTable" *ngIf="quest.formattedEnemies?.length > 0">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Element</th>
        <th>Job</th>
        <th>Level</th>
        <th>Type</th>
      </tr>
      <tr *ngFor="let enemy of quest.formattedEnemies; let j = index">
        <td>E{{ j + 1 }}</td>
        <td>{{ enemy.name }}</td>
        <td><img src="assets/elements/{{ enemy.element }}.png" /></td>
        <td></td>
        <td>{{ enemy.level }}</td>
        <td></td>
      </tr>
    </table>

    <table class="chestTable" *ngIf="quest.chests.length > 0">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
      <tr *ngFor="let chest of quest.chests; let j = index">
        <td>C{{ j + 1 }}</td>
        <td>{{ chest.name }}</td>
      </tr>
    </table>

    <table class="chestTable" *ngIf="quest.objects.length > 0">
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
      <tr *ngFor="let object of quest.objects; let j = index">
        <td>C{{ j + 1 }}</td>
        <td>{{ object.name }}</td>
      </tr>
    </table>
  </div>
</div>
