<div class="row" *ngFor="let rarity of ['UR', 'MR', 'SR', 'R', 'N']">
  <div *ngIf="formattedEspers[rarity].length > 0">
    <table class="espersTable">
      <tr>
        <td colspan="4">
          <img class="rarityImg" src="{{'assets/rarity/' + rarity + '.png'}}" />
        </td>
      </tr>
      <tr *ngFor="let line of formattedEspers[rarity]; let j = index">
        <td *ngFor="let esper of formattedEspers[rarity][j]" class="espersCol">
          <div>
            <a [routerLink]="['/esper/' + esper.slug ]" [routerLinkActive]="['active']">
              <img class="esperImg" src="{{'assets/units/' + esper.image + '_s.png'}}" />
            </a>
          </div>
          <img class="elementImg" src="{{'assets/elements/' + esper.element + '.png'}}" />
          <span class="esperName"><a [routerLink]="['/esper/' + esper.slug ]" [routerLinkActive]="['active']">{{ esper.name }}</a></span>
        </td>
      </tr>
    </table>
  </div>
</div>
