<div class="row requests form-group">
  <h2 class="title fullWidth">
    My Requests
  </h2>
  <div *ngIf="loading" class="alignCenter">
    Requests are being searched
  </div>
  <div *ngIf="!loading && requests.length > 0" class="marginAuto">
    <div *ngFor="let request of requests" class="requestBlock">
      <div class="requestTitle">
        Request : {{ request.id }}
        <div *ngIf="lang != 'fr'" class="requestDate">Created the {{ request.createdAt | date:"MM-dd 'at' HH:mm"}}</div>
        <div *ngIf="lang == 'fr'" class="requestDate">Crée le {{ request.createdAt | date:"dd-MM 'à' HH:mm"}}</div>
      </div>
      <div class="requestLeft verticalTop">
        <div class="unitsLeft unitsZone">
          <div *ngFor="let i of [0, 1, 2]">
            <span *ngIf="request.units[i]">{{ request.units[i].name }} - {{ request.units[i].ability.name }}</span>
            <span *ngIf="!request.units[i]">No unit</span>
          </div>
        </div>
        <div class="unitsRight unitsZone">
          <div *ngFor="let i of [3, 4, 5]">
            <span *ngIf="request.units[i]">{{ request.units[i].name }} - {{ request.units[i].ability.name }}</span>
            <span *ngIf="!request.units[i]">No unit</span>
          </div>
        </div>
      </div>
      <div class="requestRight verticalTop">
        <div *ngIf="request.status !== 'done'">
          <h4>Position<br/>in queue</h4>
          <h4>42</h4>
        </div>
        <div *ngIf="request.status === 'done'">
          <h4>Result</h4>
          <div>Modifier : {{ request.chain.modifier.max }}%<br /><a class="pointer" (click)="showResult(request.id, 'modifier')">(click to show)</a></div>
          <div>Combo : {{ request.chain.combo.max }}<br /><a class="pointer" (click)="showResult(request.id, 'combo')">(click to show)</a></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!loading && requests.length === 0" class="alignCenter">
    It seem you didn't made request for the time being... You can either import one or create one from the simulator
  </div>
</div>
