.title {
  text-align: center;
}

.home {
  margin: 0 auto;
  max-width: 800px;
  text-align: left;
  padding: 10px;
  position: relative;
}

.updated {
  float: right;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  padding: 10px;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 10px;
}

.unitName {
  display: block;
}

.separator {
  margin-bottom: 8px;
  margin-top: 8px;
}
