<div class="header">
  <div class="headerBlock">
    <h1 class="title">{{ 'home.title' | translate }}</h1>
    <ngx-md class="markdownHome" [data]="markdown"></ngx-md>
    <div class="left_zone">
      <a href='https://discord.gg/42PHBD85kN' target='_blank'>
        <img class='discord_img' src='assets/home/discord.png' alt='Join us on discord' />
      </a>
    </div>

    <div class="right_zone">
      <a href="https://www.patreon.com/_bismark" class="patreon" target="_blank">
        <svg viewBox="0 0 569 546" xmlns="http://www.w3.org/2000/svg" class="logo_patreon">
          <g>
            <circle cx="362.589996" cy="204.589996" data-fill="1" id="Oval" r="204.589996"></circle>
            <rect data-fill="2" height="545.799988" id="Rectangle" width="100" x="0" y="0"></rect>
          </g>
        </svg>
        Become a Patron!
      </a>

      <a class="amazonLink" href='https://amzn.to/34j2dig' target='_blank' *ngIf="lang === 'fr'">
        <img src='assets/home/amazon_appstore.png' alt='amazon_appstore' />
      </a>

      <a class="amazonLink" href='https://www.amazon.com/dp/B0096E8EPY/ref=twister_B009CDKIA8?_encoding=UTF8&psc=1&_encoding=UTF8&tag=bismarktv-20&linkCode=ur2&linkId=6d5adabc497e55270b7b56ed660f0bce&camp=1789&creative=9325' target='_blank' *ngIf="lang !== 'fr'">
        <img src='assets/home/amazon_appstore.png' alt='amazon_appstore' />
      </a>
    </div>
  </div>
</div>
<div class="updates">
  <div class="lastUpdate">
    Last Updates
  </div>
  <div *ngFor="let line of updatedFormatted">
    <div class="itemsTable">
      <div class="date">
        {{ line.date }}
      </div>
      <div class="itemsCol" *ngFor="let item of line.items">
        <a [routerLink]="[getRoute('/'  + item.type + '/' + item.slug)]" [routerLinkActive]="['active']">
          <div class="cardIcons">
            <img class="rarityImg" src="{{'assets/rarity/' + item.rarity + '.png'}}" />
            <img class="elementImg" src="{{'assets/elements/' + item.element + '.png'}}" *ngIf="item.element" />
            <div *ngIf="item.jobs">
              <div
                *ngFor="let job of item.jobs; let j = index"
                [ngClass]="{
                  'mainJob': j === 0,
                  'subJob': j !== 0
                }"
              >
                <img src="{{'assets/jobs/' + job.image + '.png'}}" />
              </div>
            </div>
          </div>
          <div class="itemImgBlock">
            <img class="itemImg" src="assets/{{ item.type !== 'esper' ? item.type : 'unit' }}s/{{ item.image }}{{ item.type === 'esper' ? '_s' : '' }}{{ item.type === 'equipment' || item.type === 'esper' ? '' : '_m' }}.png" />
          </div>
          <div class="cardTitle">
            <span class="itemName">{{ item.name }}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
