<div class="home">
  <h1 class="title">{{ 'home.title' | translate }}</h1>
  <div class="right_zone">
    <a href='https://ko-fi.com/bismarktv' target='_blank'>
      <img class='buy_coffee' src='assets/home/buy_coffee_en.png' alt='Buy Me a Coffee at ko-fi.com' />
    </a>
  </div>
  <ngx-md [data]="markdown"></ngx-md>
  <div *ngFor="let update of updatedFormatted">
    <table class="itemsTable">
      <tr *ngFor="let line of update">
        <td class="itemsCol" *ngFor="let item of line">
          <div>
            <a [routerLink]="['/'  + item.type + '/' + item.dataId ]" [routerLinkActive]="['active']">
              <img class="itemImg" src="assets/{{ item.type !== 'esper' ? item.type : 'unit' }}s/{{ item.image }}{{ item.type !== 'esper' ? '_m' : '_s' }}.png" />
            </a>
          </div>
          <div>
            <img class="rarityImg" src="{{'assets/rarity/' + item.rarity + '.png'}}" />
            <img class="elementImg" src="{{'assets/elements/' + item.element + '.png'}}" *ngIf="item.element"/>
          </div>
          <a [routerLink]="['/'  + item.type + '/' + item.dataId ]" [routerLinkActive]="['active']">
            <span class="itemName">{{ item.name }}</span>
          </a>
        </td>
      </tr>
    </table>
  </div>
  <ngx-md [data]="thanks"></ngx-md>
</div>
