.home {
  margin: 0 auto;
  max-width: 850px;
  text-align: left;
  padding: 10px;
  position: relative;
}

.patreon {
  background-color: rgb(255, 66, 77);
  border-radius: 9999px;
  border: 1px solid rgb(255, 66, 77);
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.patreon:hover {
  text-decoration: none;
}

circle, rect {
  fill: rgb(255, 255, 255);
}

.logo_patreon {
  display: inline-block;
  height: 16px;
}

.header {
  padding-top: 15px;
  background-color: var(--home-title);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.headerBlock {
  max-width: 840px;
  margin: auto;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
}

.markdownHome {
  width: 840px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 0;
}

.title {
  font-size: 35px;
  color: var(--white);
}

.left_zone {
  position: absolute;
  top: 20px;
  left: 20px;
}

.discord_img {
  width: 80px;
  border-radius: 10%;
}

.right_zone {
  position: absolute;
  top: 10px;
  right: 0;
}

.updates {
  max-width: 860px;
  margin: auto;
  margin-top: 20px;
}

.lastUpdate {
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.date {
  margin-bottom: 10px;
}

.titleMobile {
  display: none;
  font-size: 35px;
  color: var(--white);
}

@media (max-width: 860px) {
  .markdownHome {
    display: none;
  }

  .titleMobile {
    display: block;
  }

  .title {
    display: none;
  }

  .left_zone {
    position: initial;
    display: inline-block;
  }

  .right_zone {
    position: initial;
    display: inline-block;
  }

  .patreon {
    margin-left: 20px;
  }

  .updates {
    text-align: center;
  }
}
