<div class="equipments">
  <div class="leftBlock">
    <h1 class="boldText">FILTERS</h1>
    <div class="filters">
      <div class="boldText" (click)="isCollapsedRarity = !isCollapsedRarity" [attr.aria-expanded]="!isCollapsedRarity">
        Rarity
        <i class="fas fa-chevron-up" *ngIf="!isCollapsedRarity" aria-hidden="true"></i>
        <i class="fas fa-chevron-down" *ngIf="isCollapsedRarity" aria-hidden="true"></i>
      </div>
      <div class="collapsedFilters" [ngbCollapse]="isCollapsedRarity">
        <div><input type="checkbox" id="rarityUR" (change)="filterList('rarity', 'UR')"/><label for="rarityUR">UR</label></div>
        <div><input type="checkbox" id="rarityMR" (change)="filterList('rarity', 'MR')"/><label for="rarityMR">MR</label></div>
        <div><input type="checkbox" id="raritySR" (change)="filterList('rarity', 'SR')"/><label for="raritySR">SR</label></div>
        <div><input type="checkbox" id="rarityR" (change)="filterList('rarity', 'R')"/><label for="rarityR">R</label></div>
        <div><input type="checkbox" id="rarityN" (change)="filterList('rarity', 'N')"/><label for="rarityN">N</label></div>
      </div>

      <hr />

      <div class="boldText" (click)="isCollapsedType = !isCollapsedType" [attr.aria-expanded]="!isCollapsedType">
        Types
        <i class="fas fa-chevron-up" *ngIf="!isCollapsedType" aria-hidden="true"></i>
        <i class="fas fa-chevron-down" *ngIf="isCollapsedType" aria-hidden="true"></i>
      </div>
      <div class="collapsedFilters" [ngbCollapse]="isCollapsedType">
        <div><input type="checkbox" id="typeAXE" (change)="filterList('type', 'AXE')"/><label for="typeAXE">Axe</label></div>
        <div><input type="checkbox" id="typeBOW" (change)="filterList('type', 'BOW')"/><label for="typeBOW">Bow</label></div>
        <div><input type="checkbox" id="typeDAGGER" (change)="filterList('type', 'DAGGER')"/><label for="typeDAGGER">Dagger</label></div>
        <div><input type="checkbox" id="typeFIST" (change)="filterList('type', 'FIST')"/><label for="typeFIST">Fist</label></div>
        <div><input type="checkbox" id="typeGREATSWORD" (change)="filterList('type', 'GREATSWORD')"/><label for="typeGREATSWORD">Great</label> Sword</div>
        <div><input type="checkbox" id="typeGUN" (change)="filterList('type', 'GUN')"/><label for="typeGUN">Gun</label></div>
        <div><input type="checkbox" id="typeKATANA" (change)="filterList('type', 'KATANA')"/><label for="typeKATANA">Katana</label></div>
        <div><input type="checkbox" id="typeMACE" (change)="filterList('type', 'MACE')"/><label for="typeMACE">Mace</label></div>
        <div><input type="checkbox" id="typeNINJABLADE" (change)="filterList('type', 'NINJABLADE')"/><label for="typeNINJABLADE">Ninja</label> Blade</div>
        <div><input type="checkbox" id="typeROD" (change)="filterList('type', 'ROD')"/><label for="typeROD">Rod</label></div>
        <div><input type="checkbox" id="typeSPEAR" (change)="filterList('type', 'SPEAR')"/><label for="typeSPEAR">Spear</label></div>
        <div><input type="checkbox" id="typeSWORD" (change)="filterList('type', 'SWORD')"/><label for="typeSWORD">Sword</label></div>

        <div><input type="checkbox" id="typeARMOR" (change)="filterList('type', 'ARMOR')"/><label for="typeARMOR">Armor</label></div>
        <div><input type="checkbox" id="typeCLOTH" (change)="filterList('type', 'CLOTH')"/><label for="typeCLOTH">Cloth</label></div>
        <div><input type="checkbox" id="typeHAT" (change)="filterList('type', 'HAT')"/><label for="typeHAT">Hat</label></div>
        <div><input type="checkbox" id="typeHELM" (change)="filterList('type', 'HELM')"/><label for="typeHELM">Helm</label></div>
        <div><input type="checkbox" id="typeSHIELD" (change)="filterList('type', 'SHIELD')"/><label for="typeSHIELD">Shield</label></div>

        <div><input type="checkbox" id="typeACC" (change)="filterList('type', 'ACC')"/><label for="typeACC">Accessory</label></div>
      </div>

      <hr />

      <div class="boldText" (click)="isCollapsedAcquisition = !isCollapsedAcquisition" [attr.aria-expanded]="!isCollapsedAcquisition">
        Acquisition
        <i class="fas fa-chevron-up" *ngIf="!isCollapsedAcquisition" aria-hidden="true"></i>
        <i class="fas fa-chevron-down" *ngIf="isCollapsedAcquisition" aria-hidden="true"></i>
      </div>
      <div class="collapsedFilters" [ngbCollapse]="isCollapsedAcquisition">
        <div *ngFor="let type of acquisitionTypes">
          <input type="checkbox" id="type{{type}}" [checked]="isAcquisitionChecked(type)" (change)="filterList('acquisition', type)"/><label for="type{{type}}">{{ type }}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="rightBlock">
    <div class="upperBlock">
      <div class="searchBlock">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="searchInput" type="text" placeholder="Search for an equipment by name" [(ngModel)]="searchText">
      </div>
      <div class="underSearchBlock">
        <div class="totalEquipments">
          A total of <span class="countEquipments">{{ getFilteredEquipments().length }}</span> equipments found
        </div>
        <div class="sortOrderBlock">
          <!-- <div>
            View by :
          </div> -->
          <div class="sortBy">
            <span>Sort by :</span>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary selectButton" ngbDropdownToggle>{{ sort | titlecase }}</button>
              <div ngbDropdownMenu class="selectList">
                <button class="selectElement" [ngClass]="{'disable': 'rarity' == sort}" ngbDropdownItem (focus)="changeSort('rarity')">Rarity</button>
                <button class="selectElement" [ngClass]="{'disable': 'name' == sort}" ngbDropdownItem (focus)="changeSort('name')">Name</button>
              </div>
            </div>
          </div>
          <div class="orderBy">
            <span>Order by :</span>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary selectButton" ngbDropdownToggle>{{ order == 'asc' ? 'Ascending' : 'Descending' }}</button>
              <div ngbDropdownMenu class="selectList">
                <button class="selectElement" [ngClass]="{'disable': 'asc' == order}" ngbDropdownItem (focus)="changeOrder('asc')">Ascending</button>
                <button class="selectElement" [ngClass]="{'disable': 'desc' == order}" ngbDropdownItem (focus)="changeOrder('desc')">Descending</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="equipmentsList">
      <div class="equipmentsCol" *ngFor="let equipment of getFilteredEquipments()">
        <a [routerLink]="[getRoute('/equipment/' + equipment.slug)]" [routerLinkActive]="['active']">
          <div class="cardIcons">
            <img class="rarityImg" src="{{'assets/rarity/' + equipment.rarity + '.png'}}" />
          </div>
          <div>
            <img class="equipmentImg" src="assets/equipments/{{ equipment.image }}.png" onerror="this.src='assets/equipments/placeholder.png';" />
          </div>
          <div class="cardTitle">
            <span class="equipmentName">{{ equipment.name }}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
