<div class="row" *ngFor="let rarity of ['UR', 'MR', 'SR', 'R', 'N']">
  <table class="equipmentsTable">
    <tr>
      <td colspan="4">
        <img class="rarityImg" src="{{'assets/rarity/' + rarity + '.png'}}" />
      </td>
    </tr>
    <tr *ngFor="let line of formattedEquipments[rarity]; let j = index">
      <td *ngFor="let equipment of formattedEquipments[rarity][j]" class="equipmentsCol">
        <div>
          <a [routerLink]="['/equipment/' + equipment.slug ]" [routerLinkActive]="['active']">
            <img class="equipmentImg" src="{{'assets/equipments/' + equipment.image + '.png'}}" />
          </a>
        </div>
        <span class="equipmentName"><a [routerLink]="['/equipment/' + equipment.slug ]" [routerLinkActive]="['active']">{{ equipment.names.en }}</a></span>
      </td>
    </tr>
  </table>
</div>
