<div class="equipments">
  <div class="leftBlock">
    <h1 class="boldText">FILTERS</h1>
    <div class="filters">
      <div class="boldText" (click)="isCollapsedRarity = !isCollapsedRarity" [attr.aria-expanded]="!isCollapsedRarity">
        Rarity
        <i class="fas fa-chevron-up" *ngIf="!isCollapsedRarity" aria-hidden="true"></i>
        <i class="fas fa-chevron-down" *ngIf="isCollapsedRarity" aria-hidden="true"></i>
      </div>
      <div class="collapsedFilters" [ngbCollapse]="isCollapsedRarity">
        <div><input type="checkbox" (change)="filterList('rarity', 'UR', $event.target.checked)"/>UR</div>
        <div><input type="checkbox" (change)="filterList('rarity', 'MR', $event.target.checked)"/>MR</div>
        <div><input type="checkbox" (change)="filterList('rarity', 'SR', $event.target.checked)"/>SR</div>
        <div><input type="checkbox" (change)="filterList('rarity', 'R', $event.target.checked)"/>R</div>
        <div><input type="checkbox" (change)="filterList('rarity', 'N', $event.target.checked)"/>N</div>
      </div>

      <hr />

      <div class="boldText" (click)="isCollapsedType = !isCollapsedType" [attr.aria-expanded]="!isCollapsedType">
        Types
        <i class="fas fa-chevron-up" *ngIf="!isCollapsedType" aria-hidden="true"></i>
        <i class="fas fa-chevron-down" *ngIf="isCollapsedType" aria-hidden="true"></i>
      </div>
      <div class="collapsedFilters" [ngbCollapse]="isCollapsedType">
        <div><input type="checkbox" (change)="filterList('type', 'AXE', $event.target.checked)"/>Axe</div>
        <div><input type="checkbox" (change)="filterList('type', 'BOW', $event.target.checked)"/>Bow</div>
        <div><input type="checkbox" (change)="filterList('type', 'DAGGER', $event.target.checked)"/>Dagger</div>
        <div><input type="checkbox" (change)="filterList('type', 'FIST', $event.target.checked)"/>Fist</div>
        <div><input type="checkbox" (change)="filterList('type', 'GREATSWORD', $event.target.checked)"/>Great Sword</div>
        <div><input type="checkbox" (change)="filterList('type', 'GUN', $event.target.checked)"/>Gun</div>
        <div><input type="checkbox" (change)="filterList('type', 'KATANA', $event.target.checked)"/>Katana</div>
        <div><input type="checkbox" (change)="filterList('type', 'MACE', $event.target.checked)"/>Mace</div>
        <div><input type="checkbox" (change)="filterList('type', 'NINJABLADE', $event.target.checked)"/>Ninja Blade</div>
        <div><input type="checkbox" (change)="filterList('type', 'ROD', $event.target.checked)"/>Rod</div>
        <div><input type="checkbox" (change)="filterList('type', 'SPEAR', $event.target.checked)"/>Spear</div>
        <div><input type="checkbox" (change)="filterList('type', 'SWORD', $event.target.checked)"/>Sword</div>

        <div><input type="checkbox" (change)="filterList('type', 'ARMOR', $event.target.checked)"/>Armor</div>
        <div><input type="checkbox" (change)="filterList('type', 'CLOTH', $event.target.checked)"/>Cloth</div>
        <div><input type="checkbox" (change)="filterList('type', 'HAT', $event.target.checked)"/>Hat</div>
        <div><input type="checkbox" (change)="filterList('type', 'HELM', $event.target.checked)"/>Helm</div>
        <div><input type="checkbox" (change)="filterList('type', 'SHIELD', $event.target.checked)"/>Shield</div>

        <div><input type="checkbox" (change)="filterList('type', 'ACC', $event.target.checked)"/>Accessory</div>
      </div>

      <hr />

      <div class="boldText" (click)="isCollapsedAcquisition = !isCollapsedAcquisition" [attr.aria-expanded]="!isCollapsedAcquisition">
        Acquisition
        <i class="fas fa-chevron-up" *ngIf="!isCollapsedAcquisition" aria-hidden="true"></i>
        <i class="fas fa-chevron-down" *ngIf="isCollapsedAcquisition" aria-hidden="true"></i>
      </div>
      <div class="collapsedFilters" [ngbCollapse]="isCollapsedAcquisition">
        <div *ngFor="let type of acquisitionTypes">
          <input type="checkbox" [checked]="isAcquisitionChecked(type)" (change)="filterList('acquisition', type, $event.target.checked)"/>{{ type }}
        </div>
      </div>
    </div>
  </div>

  <div class="rightBlock">
    <div class="upperBlock">
      <div class="searchBlock">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="searchInput" type="text" placeholder="Search for an equipment by name" [(ngModel)]="searchText">
      </div>
      <div class="underSearchBlock">
        <div class="totalEquipments">
          A total of <span class="countEquipments">{{ getFilteredEquipments().length }}</span> equipments found
        </div>
        <div class="sortOrderBlock">
          <!-- <div>
            View by :
          </div> -->
          <div class="sortBy">
            <span>Sort by :</span>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary selectButton" ngbDropdownToggle>{{ sort | titlecase }}</button>
              <div ngbDropdownMenu class="selectList">
                <button class="selectElement" [ngClass]="{'disable': 'rarity' == sort}" ngbDropdownItem (click)="changeSort('rarity')">Rarity</button>
                <button class="selectElement" [ngClass]="{'disable': 'name' == sort}" ngbDropdownItem (click)="changeSort('name')">Name</button>
              </div>
            </div>
          </div>
          <div class="orderBy">
            <span>Order by :</span>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary selectButton" ngbDropdownToggle>{{ order == 'asc' ? 'Ascending' : 'Descending' }}</button>
              <div ngbDropdownMenu class="selectList">
                <button class="selectElement" [ngClass]="{'disable': 'asc' == order}" ngbDropdownItem (click)="changeOrder('asc')">Ascending</button>
                <button class="selectElement" [ngClass]="{'disable': 'desc' == order}" ngbDropdownItem (click)="changeOrder('desc')">Descending</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="equipmentsList">
      <div class="equipmentsCol" *ngFor="let equipment of getFilteredEquipments()">
        <a [routerLink]="[getRoute('/equipment/' + equipment.slug)]" [routerLinkActive]="['active']">
          <div class="cardIcons">
            <img class="rarityImg" src="{{'assets/rarity/' + equipment.rarity + '.png'}}" />
          </div>
          <div>
            <img class="equipmentImg" src="assets/equipments/{{ equipment.image }}.png" onerror="this.src='assets/equipments/placeholder.png';" />
          </div>
          <div class="cardTitle">
            <span class="equipmentName">{{ equipment.name }}</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
