<div class="row form-group damageZone">
  <div class="unitZone">
    <div class="inlineBlock firstSelectLevel">
      <label for="unit">{{ 'chain.label.unit' | translate }}</label>
      <div>
        <select2
          [data]="observableUnits"
          [value]="unit.id"
          [position]="0"
          [options]="select2Options"
          (valueChanged)="onChangeUnit($event.value);"></select2>
      </div>
    </div>


    <div *ngIf="unit.id !== 'unselect'">
      <h2>Unit stats</h2>


      <div class="input-group mb-3">
        <ngb-rating [(rate)]="unit.rarity.value">
          <ng-template let-fill="fill" let-index="index">
            <span class="star" [class.selectedStar]="fill === 100" [class.unselectableStar]="index + 1 <= unit.rarity.min" (click)="onChangeRarity(index + 1)">&#9733;</span>
          </ng-template>
        </ngb-rating>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="base_atk">base atk</label>
        </div>
        <input type="number" class="form-control" placeholder="Base ATK" aria-label="Base ATK" aria-describedby="base_atk" [(ngModel)]="unit.stats.atk.base" disabled>
        <input type="number" class="form-control" placeholder="Pot ATK" aria-label="Pot ATK" aria-describedby="pot_atk" [(ngModel)]="unit.stats.atk.potValue">
        <div class="input-group-append">
          <button class="btn btn-secondary buttonPot" (click)="onChangePot('atk')">
            <img class="imgPot" src="assets/damage/{{ unit.stats.atk.potted }}_atk.png" />
            <span class="textPot">Pots</span>
          </button>
        </div>
      </div>


      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="base_mag">base mag</label>
        </div>
        <input type="number" class="form-control" placeholder="Base MAG" aria-label="Base MAG" aria-describedby="base_mag" [(ngModel)]="unit.stats.mag.base" disabled>
        <input type="number" class="form-control" placeholder="Pot MAG" aria-label="Pot MAG" aria-describedby="pot_mag" [(ngModel)]="unit.stats.mag.potValue">
        <div class="input-group-append">
          <button class="btn btn-secondary buttonPot" (click)="onChangePot('mag')">
            <img class="imgPot" src="assets/damage/{{ unit.stats.mag.potted }}_mag.png" />
            <span class="textPot">Pots</span>
          </button>
        </div>
      </div>


      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="total_atk">total atk</label>
        </div>
        <input type="number" class="form-control" placeholder="Total ATK" aria-label="Total ATK" aria-describedby="total_atk" [(ngModel)]="unit.stats.atk.total">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="total_mag">total mag</label>
        </div>
        <input type="number" class="form-control" placeholder="Total MAG" aria-label="Total MAG" aria-describedby="total_mag" [(ngModel)]="unit.stats.mag.total">
      </div>
    </div>

    <div *ngIf="unit.id !== 'unselect'">
      <div *ngFor="let weapon of unit.damageWeapons; let i = index">


        <h2>Weapon {{ i + 1 }}</h2>


        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="weapon{{i}}_atk">atk</label>
          </div>
          <input type="number" class="form-control" placeholder="ATK" aria-label="ATK" aria-describedby="atk" [(ngModel)]="unit.damageWeapons[i].atk">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="weapon{{i}}_type">Type</label>
          </div>
          <select class="form-control" id="weapon{{i}}_type" [(ngModel)]="unit.damageWeapons[i].type" (ngModelChange)="onChangeWeapon(i)">
            <option *ngFor="let weaponType of objectKeys(weaponTypes)" [ngValue]="weaponType">{{ weaponType }}</option>
          </select>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="weapon{{i}}_variance_min">Variance min</label>
          </div>
          <input type="number" class="form-control" placeholder="Variance Min" aria-label="Variance Min" aria-describedby="atk" [(ngModel)]="unit.damageWeapons[i].varianceMin">
          <div class="input-group-append">
            <span class="input-group-text">%</span>
          </div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="weapon{{i}}_variance_max">Variance max</label>
          </div>
          <input type="number" class="form-control" placeholder="Variance Max" aria-label="Variance Max" aria-describedby="atk" [(ngModel)]="unit.damageWeapons[i].varianceMax">
          <div class="input-group-append">
            <span class="input-group-text">%</span>
          </div>
        </div>

        <div>Elements</div>
        <div class="btn-group mr-2" role="group">
          <div class="btn btn-secondary divWeaponElement" *ngFor="let element of elements" [ngClass]="{'elementSelected': isElementOnWeapon(element.id, i)}" (click)="onChangeWeaponElement(element.id, i);">
            <img class="imgWeaponElement" src="assets/elements/{{ element.id }}.png" />
          </div>
        </div>
      </div>

      <div *ngIf="unit.id !== 'unselect'">
        <h2> Killers + Buffs (total passif + buff) </h2>

        <div class="input-group mb-3" *ngFor="let race of races">
          <div class="input-group-prepend">
            <div class="input-group-text divPassiveKiller"><img class="imagePassiveKiller" src="assets/killers/{{race}}_physic.png" /><img class="imagePassiveKiller" src="assets/killers/{{race}}_magic.png" /></div>
          </div>
          <input type="number" class="form-control" placeholder="{{race}} killer passive" value="{{getPassiveKiller(race)}}" disabled>
          <input type="number" class="form-control inputBuff" placeholder="{{race}} killer buff" [(ngModel)]="unit.killers[race].buff">
          <div class="input-group-append">
            <span class="input-group-text">%</span>
          </div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="buff_atk">Buff ATK</label>
          </div>
          <input type="number" class="form-control inputBuff" placeholder="buff_atk" aria-label="buff_atk" aria-describedby="buff_atk" [(ngModel)]="unit.buffs.atk">
          <div class="input-group-append">
            <span class="input-group-text">%</span>
          </div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="buff_atk">Buff MAG</label>
          </div>
          <input type="number" class="form-control inputBuff" placeholder="buff_mag" aria-label="buff_mag" aria-describedby="buff_mag" [(ngModel)]="unit.buffs.mag">
          <div class="input-group-append">
            <span class="input-group-text">%</span>
          </div>
        </div>
      </div>

      <div *ngIf="unit.id !== 'unselect'">
        <h2>MONSTER</h2>
        <select2
          [data]="observableMonsters"
          [value]="monster.id"
          [position]="0"
          [options]="select2Options"
          (valueChanged)="onChangeMonster($event.value);"></select2>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text">Monster DEF</label>
          </div>
          <input type="number" class="form-control" placeholder="breakable" aria-label="monster_def" aria-describedby="monster_def" [(ngModel)]="monster.stats.def.breakable">
          <input type="number" class="form-control" placeholder="unbreakable" aria-label="monster_def" aria-describedby="monster_def" [(ngModel)]="monster.stats.def.unbreakable">
          <input type="number" class="form-control inputBreak" placeholder="break_def" aria-label="break_def" aria-describedby="break_def" [(ngModel)]="unit.breaks.def">
          <div class="input-group-append">
            <span class="input-group-text">%</span>
          </div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text">Monster SPR</label>
          </div>
          <input type="number" class="form-control" placeholder="breakable" aria-label="monster_spr" aria-describedby="monster_spr"[(ngModel)]="monster.stats.spr.breakable">
          <input type="number" class="form-control" placeholder="unbreakable" aria-label="monster_spr" aria-describedby="monster_spr"[(ngModel)]="monster.stats.spr.unbreakable">
          <input type="number" class="form-control inputBreak" placeholder="break_spr" aria-label="break_spr" aria-describedby="break_spr" [(ngModel)]="unit.breaks.spr">
          <div class="input-group-append">
            <span class="input-group-text">%</span>
          </div>
        </div>

        <div>Races</div>

        <div class="btn-group mr-2" role="group" *ngFor="let i of [[0, 1, 2, 3, 4, 5], [6, 7, 8, 9, 10, 11]]">
          <div class="btn btn-secondary" *ngFor="let raceIndex of i" [ngClass]="{'elementSelected': isRaceOnMonster(races[raceIndex]), 'divMonsterRaceFirstRow': raceIndex < 6, 'divMonsterRaceSecondRow': raceIndex >= 6}" (click)="onMonsterRace(races[raceIndex]);">
            <img class="imgWeaponElement" src="assets/races/{{ races[raceIndex] }}.png" />
          </div>
        </div>

        <div>Resist Elem + Imperil</div>
        <div class="input-group mb-3" *ngFor="let element of elements">
          <div class="input-group-prepend">
            <label class="input-group-text divResistance"><img class="imageResistance" src="assets/resistances/{{ element.name }}.png" /></label>
          </div>
          <input type="number" class="form-control" placeholder="{{element.id}} resistance" [(ngModel)]="monster.resistances[element.id]">
          <input type="number" class="form-control inputBreak" placeholder="{{element.id}} imperil" [(ngModel)]="unit.imperils[element.id]">
          <div class="input-group-append">
            <span class="input-group-text">%</span>
          </div>
        </div>
      </div>
    </div>
  </div>






  <!-- Select Round + Summary -->
  <div  class="summaryZone">
    <img class="unitImg" src='assets/units/{{ unit.id }}.png' *ngIf="unit.id !== 'unselect' && !unit.selfCreated" />
    <img class="vsImg" src='assets/damage/versus.png' *ngIf="unit.id !== 'unselect'" />
    <img class="unitImg" src='assets/monsters/{{ monster.id }}.png' *ngIf="unit.id !== 'unselect'" />
    <div *ngIf="unit.id !== 'unselect'">
      <h2>Rounds</h2>
      <div *ngFor="let round of rounds; let roundIndex = index">
        <div class="selectRightZoneOneThird selectAbilityTop mobileNoMarginTop">
          <label for="unit_ability">Round {{ roundIndex + 1 }}</label>

          <div *ngFor="let abilityIndex of round.castNumber">
            <select class="form-control" id="unit_ability_{{abilityIndex}}" [(ngModel)]="round.selectedAbilities[abilityIndex]" (ngModelChange)="onChangeSkill(roundIndex, abilityIndex)">
              <option *ngFor="let unitAbility of getAvailableAbilities(roundIndex, abilityIndex)" [ngValue]="unitAbility.id">{{ unitAbility.name | capitalize }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="selectRightZoneTwoThirdDividedInThird">
        <button class="btn btn-secondary fullWidth" type="button" (click)="addRound()">Add round</button>
      </div>
    </div>

    <div *ngIf="unit.id !== 'unselect'">
      <h2>Result</h2>

      <div class="selectRightZoneTwoThirdDividedInThird">
        <button class="btn btn-secondary fullWidth" type="button" (click)="calculateTotalDamage()">Re-calculate</button>
      </div>

      <div *ngIf="result.summary" class="selectRightZoneTwoThirdDividedInThird" style="width: 100%">
        <table style="width: 100%">
          <tr>
            <td style="width: 50%">
              By ability
            </td>
            <td style="width: 50%">
              Total
            </td>
          </tr>
          <tr *ngFor="let round of result.summary; let roundIndex = index" style="border-top: 1px solid black;">
            <td>
              <div *ngFor="let ability of result.damage[roundIndex].abilities; let abilityIndex = index">
                N°{{ abilityIndex}}: {{ ability | number : '1.0-0' }}
              </div>
            </td>
            <td>
              {{ result.damage[roundIndex].total | number : '1.0-0' }}
            </td>
          </tr>
        </table>
      </div>

      <div  *ngIf="result.summary" class="selectRightZoneTwoThirdDividedInThird" style="width: 100%">
        <h5>Full summary</h5>
        <div *ngFor="let round of result.summary; let roundIndex = index" style="border-top: 1px solid black;">
          <div *ngFor="let ability of round; let abilityIndex = index">
            N°{{ abilityIndex}}
            <div *ngFor="let effect of ability">
              <div *ngIf="effect.type === 'imperil'">
                Imperil {{ effect.value.element }} : {{ effect.value.value }}%
              </div>

              <div *ngIf="effect.type === 'buff'">
                Buff {{ effect.value.stat }} : {{ effect.value.value }}%
              </div>

              <div *ngIf="effect.type === 'break'">
                Break {{ effect.value.stat }} : {{ effect.value.value }}%
              </div>

              <div *ngIf="effect.type === 'modifierBoost' && unit.abilities[unitService.findPositionOfAbilityById(unit, effect.value.abilityId)]">
                Boost {{ unit.abilities[unitService.findPositionOfAbilityById(unit, effect.value.abilityId)].names.en }} : +{{ effect.value.value }}%
              </div>

              <div *ngIf="effect.type === 'imbue'">
                Imbue {{ effect.value.element }}
              </div>

              <div *ngIf="effect.type === 'damage'">
                Damage {{ effect.value.type }} : {{ effect.value.value | number : '1.0-0' }}<br />
                Break def : {{ effect.value.bestBreaks.def }}%, spr : {{ effect.value.bestBreaks.spr }}%<br />
                Buff atk : {{ effect.value.bestBuffs.atk }}%, mag : {{ effect.value.bestBuffs.mag }}%<br />
                Damage elements :
                  <img *ngFor="let element of effect.value.damageElements" src="assets/elements/{{ element }}.png" /><br />
                Element resistances :
                  <span *ngFor="let element of objectKeys(effect.value.elementResistances)">{{ element }} : {{ effect.value.elementResistances[element] }}%, </span><br />
                Killers :
                  <span *ngFor="let race of objectKeys(effect.value.killers)">{{ race }} : {{ effect.value.killers[race] }}%, </span><br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
