<div class="row unit form-group">
  <div class="chainParameters allSelectUnit" #chainDiv>
    <div class=" verticalTop selectUnitZone marginUnit0 expandedSelecUnit autoMargin">
      <div class="inlineBlock firstSelectLevel">
        <label for="unit">{{ 'chain.label.unit' | translate }} {{ 0 }}</label>
        <div>
          <select2
            [data]="observableUnits"
            [value]="unit.id"
            [position]="i"
            [options]="select2Options"
            (valueChanged)="onChangeUnit($event.value);"></select2>
          <img class="unitImg" src='assets/units/{{ unit.id }}.png' *ngIf="unit.id !== 'unselect' && unit.id < 10000" />
        </div>

        <div class="selectRightZoneOneThird selectAbilityTop mobileNoMarginTop">
          <hr class="selectHrWithBottomMargin"/>
          <label for="unit_ability">{{ 'chain.label.ability' | translate }}</label>

          <div *ngFor="let abilityIndex of unit.castNumber">
            <select class="form-control" id="unit_ability_{{abilityIndex}}" [(ngModel)]="unit.selectedIds[abilityIndex]" (ngModelChange)="onChangeSkill(abilityIndex)">
              <option *ngFor="let unitAbility of getAvailableAbilities(abilityIndex)" [ngValue]="unitAbility.id">{{ unitAbility.name | capitalize }}</option>
            </select>
          </div>
        </div>
      </div>

      <div *ngIf="unit.id !== 'unselect'">
        <h2>Unit stats</h2>


        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="rarity">Rarity</label>
          </div>
          <select class="custom-select" id="rarity" [(ngModel)]="unit.rarity.value" (ngModelChange)="onChangeRarity()">
            <option *ngFor="let rarity of availableRarities">{{ rarity }}</option>
            <option >7</option>
          </select>
        </div>



        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="base_atk">base atk</label>
          </div>
          <input type="text" class="form-control" placeholder="Base ATK" aria-label="Base ATK" aria-describedby="base_atk" [(ngModel)]="unit.stats.atk.base">
          <input type="text" class="form-control" placeholder="Pot ATK" aria-label="Pot ATK" aria-describedby="pot_atk" [(ngModel)]="unit.stats.atk.potValue">
          <div class="input-group-append">
            <div class="input-group-text">
              Max Pot <input type="checkbox" aria-label="Checkbox for following text input" [(ngModel)]="unit.stats.atk.maxPot" (ngModelChange)="onChangePot('atk')">
            </div>
          </div>
        </div>


        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="base_mag">base mag</label>
          </div>
          <input type="text" class="form-control" placeholder="Base MAG" aria-label="Base MAG" aria-describedby="base_mag" [(ngModel)]="unit.stats.mag.base">
          <input type="text" class="form-control" placeholder="Pot MAG" aria-label="Pot MAG" aria-describedby="pot_mag" [(ngModel)]="unit.stats.mag.potValue">
          <div class="input-group-append">
            <div class="input-group-text">
              Max Pot <input type="checkbox" aria-label="Checkbox for following text input" [(ngModel)]="unit.stats.mag.maxPot" (ngModelChange)="onChangePot('mag')">
            </div>
          </div>
        </div>


        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="total_atk">total atk</label>
          </div>
          <input type="text" class="form-control" placeholder="Total ATK" aria-label="Total ATK" aria-describedby="total_atk" [(ngModel)]="unit.stats.atk.total">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="total_mag">total mag</label>
          </div>
          <input type="text" class="form-control" placeholder="Total MAG" aria-label="Total MAG" aria-describedby="total_mag" [(ngModel)]="unit.stats.mag.total">
        </div>
      </div>

      <div *ngIf="unit.id !== 'unselect'">
        <div *ngFor="let weapon of unit.damageWeapons; let i = index">


          <h2>Weapon {{ i + 1 }}</h2>


          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="weapon{{i}}_atk">atk</label>
            </div>
            <input type="text" class="form-control" placeholder="ATK" aria-label="ATK" aria-describedby="atk" [(ngModel)]="unit.damageWeapons[i].atk">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="weapon{{i}}_type">Type</label>
            </div>
            <select class="form-control" id="weapon{{i}}_type" [(ngModel)]="unit.damageWeapons[i].type" (ngModelChange)="onChangeWeapon(i)">
              <option *ngFor="let weaponType of objectKeys(weaponTypes)" [ngValue]="weaponType">{{ weaponType }}</option>
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="weapon{{i}}_variance_min">Variance min</label>
            </div>
            <input type="text" class="form-control" placeholder="Variance Min" aria-label="Variance Min" aria-describedby="atk" [(ngModel)]="unit.damageWeapons[i].varianceMin">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="weapon{{i}}_variance_max">Variance max</label>
            </div>
            <input type="text" class="form-control" placeholder="Variance Max" aria-label="Variance Max" aria-describedby="atk" [(ngModel)]="unit.damageWeapons[i].varianceMax">
          </div>

          <div>Elements</div>
          <div class="btn-group mr-2" role="group">
            <label class="btn btn-primary" *ngFor="let element of elements">
              <input type="checkbox" (click)="onChangeWeaponElement(element.id, i);">{{ element.name }}
            </label>
          </div>
      </div>

      <div *ngIf="unit.id !== 'unselect'">
        <h2> Killers + Buffs (total passif + buff) </h2>

        <div class="input-group mb-3" *ngFor="let race of races">
          <div class="input-group-prepend">
            <label class="input-group-text" for="weapon{{i}}_variance_min">{{ race }} killer</label>
          </div>
          <input type="text" class="form-control" placeholder="{{race}} killer passive" [(ngModel)]="unit.killers[race].passive">
          <input type="text" class="form-control" placeholder="{{race}} killer buff" [(ngModel)]="unit.killers[race].buff">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="buff_atk">Buff ATK</label>
          </div>
          <input type="text" class="form-control" placeholder="buff_atk" aria-label="buff_atk" aria-describedby="buff_atk" [(ngModel)]="unit.buffs.atk">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="buff_atk">Buff MAG</label>
          </div>
          <input type="text" class="form-control" placeholder="buff_mag" aria-label="buff_mag" aria-describedby="buff_mag" [(ngModel)]="unit.buffs.mag">
        </div>
      </div>

      <div *ngIf="unit.id !== 'unselect'">
        <h2>MONSTER</h2>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="buff_atk">Monster DEF</label>
          </div>
          <input type="text" class="form-control" placeholder="monster_def" aria-label="monster_def" aria-describedby="monster_def" [(ngModel)]="monster.stats.def">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="buff_atk">Monster SPR</label>
          </div>
          <input type="text" class="form-control" placeholder="monster_spr" aria-label="monster_spr" aria-describedby="monster_spr"[(ngModel)]="monster.stats.spr">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="buff_atk">Break DEF</label>
          </div>
          <input type="text" class="form-control" placeholder="break_def" aria-label="break_def" aria-describedby="break_def" [(ngModel)]="unit.breaks.def">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="buff_atk">Break SPR</label>
          </div>
          <input type="text" class="form-control" placeholder="break_spr" aria-label="break_spr" aria-describedby="break_spr" [(ngModel)]="unit.breaks.spr">
        </div>

        <div>Races</div>

        <div class="btn-group mr-2" role="group">
          <label class="btn btn-primary" *ngFor="let race of races">
            <input type="checkbox" (click)="onMonsterRace(race);">{{ race }}
          </label>
        </div>

        <div>Resist Elem + Imperil</div>
        <div class="input-group mb-3" *ngFor="let element of elements">
          <div class="input-group-prepend">
            <label class="input-group-text">{{ element.name }}</label>
          </div>
          <input type="text" class="form-control" placeholder="{{element.id}} resistance" [(ngModel)]="monster.resistances[element.id]">
          <input type="text" class="form-control" placeholder="{{element.id}} imperil" [(ngModel)]="unit.imperils[element.id]">
        </div>
      </div>
    </div>
  </div>
</div>
