.inlineBlock {
  display: inline-block;
}

.block {
  display: block;
}

.fullWidth {
  width: 100%;
}

.btn {
  cursor: pointer;
}

.helperIcon {
  color: #848b8e;
}

.selectChainZone {
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}

.linkColor {
  color: #0275d8 !important;
}

.selectSlider {
  max-width: 550px;
  text-align: center;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  padding: 10px 20px;
  position: relative;
  margin-right: 20px;
}

.firstSelectLevel {
  width: 228px;
}

.littleMarginTop {
  margin-top: 10px;
}

.littleMarginBottom {
  margin-bottom: 10px;
}

.mediumMarginRight {
  margin-right: 20px;
}

.highMarginRight {
  margin-right: 30px;
}

.unitImg {
  height: 100px;
  margin-top: 10px;
}

.vsImg {
  height: 40px;
  margin-top: 10px;
}

.selectUnit1 {
  color: #848b8e;;
  font-size: 4em;
}

.btnDelete {
  position: absolute;
  top: 0;
  right: 0;
  border-top: 0;
  border-right: 0;
  padding: 7px;
  padding-bottom: 5px;
  line-height: 1;
}

.selectDetailZone {
  width: 100%;
  text-align: left;
}

.selectRightZone {
  padding-left: 20px;
  max-width: 750px;
  text-align: left;
}

.selectDeleteZone {
  width: 30px;
}

.selectRightZoneBox {
  width: 730px;
}

.selectRightZoneDividedTwo {
  width: 365px;
  padding-right: 10px;
  display: inline-block;
}

.selectRightZoneTwoDividedTwo {
  width: 175px;
  padding-right: 10px;
  display: inline-block;
}

.selectRightZoneTwoDividedThree {
  width: 115px;
  padding-right: 10px;
  display: inline-block;
}

.selectRightZoneOneThird {
  width: 237px;
  padding-right: 10px;
  display: inline-block;
}

.selectRightZoneTwoThirdDividedInThird {
  width: 156px;
  padding-right: 10px;
  display: inline-block;
}

.selectRightZoneFrames {
  width: 266px;
  padding-right: 10px;
  display: inline-block;
}

.selectRightZoneMediumBox {
  width: 120px;
  padding-right: 10px;
  display: inline-block;
}

.selectRightZoneLittleBox {
  width: 106px;
  padding-right: 10px;
  display: inline-block;
}

.selectRightZoneTwoThird {
  width: 484px;
  display: inline-block;
}

.btnAddImperil {
  width: 710px;
}

.verticalTop {
  vertical-align: top;
}

.selectHr {
  margin-bottom: 0px;
  margin-top: 10px;
}

.selectHrWithBottomMargin {
  margin-bottom: 10px;
  margin-top: 10px;
}

.legendColor {
  width: 20px;
  height: 20px;
}

.legendClassic1 {
  background-color: #3868e8;
}

.legendClassic2 {
  background-color: #17bd00;
}

.legendDual1 {
  background-color: #42c1cc;
}

.legendDual2 {
  background-color: #b4c132;
}

.legendBreak1 {
  background-color: #ff0600;
}

.legendBreak2 {
  background-color: #e44238;
}

.legendBreak3 {
  background-color: #d85d5a;
}

.legendBreak4 {
  background-color: #ff9492;
}

.legendColorBlock {
  display: inline-block;
  margin-right: 20px;
}

.legendColorBlock > div {
  display: inline-block;
}

nouislider {
  margin: 0 10px 45px;
  width: 230px;
  display: inline-block;
}

.topBlock {
  margin: 0 auto 10px;
}

.selectFramesGap {
  display: none;
  text-align: center;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  padding: 10px;
  position: relative;
}

.inputFramesGap {
  text-align: center;
}

.mobileSeparatorSelectRightZone {
  display: none;
}

.mobileSeparatorSelectImperil {
  display: none;
}

.emptyLabel {
  display: inline-block;
}

.buttonsAbility {
  display: inline-block;
}

.buttonsChain {
  width: 250px;
}

.bestChainers {
  text-align: left;
  list-style: none;
  padding: 0;
  margin-bottom: 0px;
  margin-top: 5px;
}

.bestChainers > li {
  margin-top: 5px;
}

.bestChainers > li > a {
  cursor: pointer;
}

.bestChainerButton {
  width: 194px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.largeButtonDuplicate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bestChainerButton > span {
  font-size: .9rem;
}

.selectRightZoneInFour {
  width: 141px;
  padding-right: 10px;
  display: inline-block;
}

.buttonDuplicate {
  width: 100px;
  display: inline-block;
}

.selectDuplicate {
  width: 120px;
  display: inline-block;
}

.damageZone {
  max-width: 1030px;
  text-align: center;
  margin-top: 20px;
  margin: auto;
}

.unitZone {
  width: 500px;
  margin-right: 10px;
  text-align: center;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  padding: 10px;
  position: relative;
}

.summaryZone {
  width: 500px;
  margin: 0px;
  text-align: center;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  padding: 10px;
  position: relative;
}

.marginUnit0 {
  margin-right: 20px;
  margin-bottom: 10px;
}

.marginUnit1 {
  margin-right: 20px;
  margin-bottom: 10px;
}

.marginUnit2 {
  margin-right: 20px;
  margin-bottom: 10px;
}

.marginUnit3 {
  margin-right: 20px;
  margin-bottom: 10px;
}

.marginUnit4 {
  margin-right: 20px;
  margin-bottom: 10px;
}

.marginUnit5 {
  margin-right: 20px;
  margin-bottom: 10px;
}

.autoMargin {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  left: -10px;
}

.btnOptions {
  float: right;
  padding: 2px 5px 0px 5px;
  margin-top: -5px;
}

.btnOptions i {
  font-size: 1.5rem;
}

@media (max-width: 1049px) {
  .mobileSeparatorSelectRightZone {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
  }

  .topBlock {
    display: block;
  }

  .unitZone {
    width: 792px;
  }

  .summaryZone {
    width: 792px;
  }

  .divAddImperil {
    margin-right: 20px;
  }
}

@media (max-width: 839px) {
  nouislider {
    width: 220px;
  }

  .buttonsChain {
    width: 238px;
  }

  .topBlock {
    display: block;
  }

  .damageZone {
    width: 542px;
  }

  .selectRightZoneBox {
    width: 500px;
  }

  .unitZone {
    width: 522px !important;
  }

  .summaryZone {
    width: 522px !important;
  }

  .selectAbilityTop {
    width: 228px !important;
  }

  .selectRightZone {
    padding-left: 0;
    max-width: 500px;
  }

  .paddingRightTwoColumns {
    padding-right: 10px !important;
  }

  .selectRightZoneOneThird {
    padding-right: 0px;
    width: 248px;
  }

  .emptyLabel {
    display: none;
  }

  .selectAbility {
    display: block;
    padding-right: 10px;
  }

  .buttonsAbility {
    margin-top: 10px;
  }

  .tabletMarginLeft {
    margin-left: 10px;
  }

  .tabletNoMarginLeft {
    margin-left: 0 !important;
  }

  .tabletNoMarginTop {
    margin-top: 0;
  }

  .tabletMarginTop {
    margin-top: 10px;
  }

  .selectRightZoneDividedTwo {
    width: 100%;
    padding-right: 0;
  }

  .selectRightZoneTwoDividedThree {
    width: 164px;
  }

  .buttonDelete {
    width: 228px;
  }

  .selectRightZoneTwoThirdDividedInThird {
    width: 164px;
  }

  .selectRightZoneFrames {
    width: 274px;
  }

  .divAddImperil {
    margin: 0;
  }

  .btnAddImperil {
    width: 490px;
  }
}

@media (max-width: 600px) {
  .selectAbilityTop {
    padding: 0 !important;
  }

  .selectFramesGap {
    display: block;
    width: 250px;
  }

  .selectSlider {
    display: none;
  }

  .damageZone {
    width: 250px
  }

  .unitZone {
    width: 250px !important;
  }

  .summaryZone {
    width: 250px !important;
  }

  .framesButtons {
    margin-bottom: 10px;
  }

  .selectRightZone {
    padding: 0;
    width: 228px;
  }

  .selectRightZoneOneThird {
    margin-top: 10px;
    margin-left: 0 !important;
    width: 237px;
    padding-right: 10px;
  }

  .selectRightZoneInFour {
    margin-top: 10px;
    width: 227px;
    margin-left: 0 !important;
    padding-right: 0;
  }

  .selectRightZoneBox {
    width: 227px !important;
    margin-top: 0;
  }

  hr {
    margin-bottom: 0;
  }

  .selectRightZoneTwoThirdDividedInThird {
    width: 100%;
    padding-right: 0;
    margin-top: 10px;
  }

  .emptyLabel {
    display: none;
  }

  .selectRightZoneMediumBox {
    margin-top: 10px;
  }

  [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
    margin-left: 10px
  }

  [type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
    left: 11px;
  }

  .selectRightZoneFrames {
    width: 100%;
    margin-top: 10px;
    padding-right: 0;
  }

  .selectRightZoneLittleBox {
    width: 100%;
    margin-top: 10px;
    padding-right: 0;
  }

  .multiSelectDropdown {
    margin-top: 10px;
  }

  .dropdown-inline {
    width: 100%;
  }

  .dropdown-toogle {
    width: 100%;
    text-align: left;
  }

  .btnAddImperil {
    margin-top: 10px;
  }

  .selectRightZoneDividedTwo {
    width: 227px;
    padding-right: 0;
    margin-top: 0;
  }

  .selectRightZoneTwoDividedThree {
    width: 100% !important;
    padding-right: 0;
    margin-top: 10px;
  }

  .mobileSeparatorSelectImperil {
    margin-top: 20px;
    display: block;
    margin-bottom: 0;
  }

  .mobileSeparatorSelectRightZone {
    margin-bottom: 0 !important;
  }

  .buttonsAbility {
    margin: 0 !important;
    width: 227px;
  }

  .tabletMarginLeft {
    margin-left: 0 !important;
  }

  .tabletNoMarginLeft {
    margin-left: 0 !important;
  }

  .tabletMarginTop {
    margin-top: 10px;
  }

  .tabletNoMarginTop {
    margin-top: 10px !important;
  }

  .btn-number {
    background-color: #dcdcdc;
    color: #464a4c;
  }

  .mobileNoMarginTop {
    margin: 0 !important;
  }

  .paddingRightTwoColumns {
    padding-right: 0;
  }

  .btnAddImperil {
    width: 227px;
  }
}




/* ------- */
.elementSelected {
  background-color: #6c757d;
}

.imageResistance {
  height: 36px;
}

.divResistance {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 8px;
  padding-left: 8px;
}

.imagePassiveKiller {
  height: 36px;
}

.divPassiveKiller {
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 8px;
  padding-left: 8px;
}

.star {
  font-size: 1.5rem;
  color: #b0c4de;
}

.selectedStar {
  color: #1e90ff;
}

.unselectableStar {
  color: black;
}

.selectedStar.unselectableStar {
  color: black;
}

.imgWeaponElement {
  width: 36px;
}

.divWeaponElement {
  padding: 4px 10px 4px 10px;
}

.btn-group>.divMonsterRaceFirstRow:first-child {
  border-bottom-left-radius: 0;
}

.btn-group>.divMonsterRaceFirstRow:last-child {
  border-bottom-right-radius: 0;
}

.btn-group>.divMonsterRaceFirstRow {
  border-bottom: 0;
}

.btn-group>.divMonsterRaceSecondRow:first-child {
  border-top-left-radius: 0;
}

.btn-group>.divMonsterRaceSecondRow:last-child {
  border-top-right-radius: 0;
}

.inputBreak {
  background: url(assets/damage/arrow_down_grey.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 30px;
  background-position: 5px 8px;
}

.inputBuff {
  background: url(assets/damage/arrow_up_grey.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding-left: 30px;
  background-position: 5px 8px;
}

.imgPot {
  height: 36px;
  width: 36px;
}

.buttonPot {
  padding: 0;
}

.textPot {
  padding: 6px;
}
