.materia {
  width: 1200px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.groupBlock {
  width: 580px;
  margin-right: 20px;
  margin-top: 20px;
  display: inline-block;
  vertical-align: top;
}

.groupTitle {
  text-align: center;
}

.groupDetailBlock {
  width: 100%;
  margin-bottom: 20px;
}

.groupDetailBlock > table {
  width: 100%;
}
