th {
  padding-right: 0;
}

.row {
  width: 1300px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}




.indexWrapper {
  display:block;
  width: 100%;
  position: relative;
  clear: both;
  height: 800px;
}

.leftWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 500px;
  height: 800px;
}

.leftWrapperHeader {
  position:relative;
  top:0;
  left:0;
  overflow:hidden;
}

.leftWrapperContent {
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  height: 730px;
}

.rightWrapper {
  position: absolute;
  top: 0px;
  left: 500px;
  width: 750px;
}

.rightWrapperHeader {
  overflow: hidden;
  position: relative;
  border: 0px;
  width: 730px;
}

.rightWrapperContent {
  overflow: auto;
  width: 100%;
  height: 750px;
}

.leftTable {
  width: 100%;
}

.statsTable {
  width: 2150px;
}

.leftTable td, .leftTable th, .statsTable td, .statsTable th {
  height: 49px;
}

.colNum {

}

.colName {
  width: 455px;
}

.unitImg {
  max-width: 40px;
  max-height: 40px;
}

.spanArrow {
  width: 18px;
  display: inline-block;
}

.fa-arrow-up, .fa-arrow-down {
  display: none;
}

.arrowActivated {
  display: inline-block;
}

.divTH {
  cursor: pointer;
  white-space: nowrap;
}

.divTH:hover .fas {
  display: inline-block !important;
}

.buffImg {
  width: 40px;
}
