<div class="row" *ngIf="masterInfos.name !== ''">
  <div class="leftBlock">
    <table class="raidTable">
      <tbody>
        <tr>
          <th colspan="2">{{ masterInfos.name }}</th>
        </tr>
        <tr>
          <td colspan="2"><img class="unitImg" src="{{'assets/units/' + masterInfos.image + '_m.png'}}" /></td>
        </tr>
        <tr>
          <th colspan="2" class="sub">Species</th>
        </tr>
        <tr>
          <td>{{ masterInfos.species }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="rightBlock">
    <table class="statsTable">
      <tbody>
        <tr>
          <th colspan="13">Boss Stats</th>
        </tr>
        <tr>
          <th class="sub">Quest</th>
          <th class="sub">Element</th>
          <th class="sub">Jobs</th>
          <th class="sub">HP</th>
          <th class="sub">ATK</th>
          <th class="sub">MAG</th>
        </tr>
      </tbody>
      <tbody *ngFor="let enemy of formattedEnemies">
        <tr>
          <td>
            {{ enemy.questData.name }}
          </td>
          <td>
            <img src="assets/elements/{{ enemy.element }}.png" class="elementImg" />
          </td>
          <td>
            <div class="job" *ngIf="enemy.job" title="{{ enemy.job.name }}">
              <img src="{{'assets/jobs/' + enemy.job.image + '.png'}}" />
            </div>
          </td>
          <td>
            {{ enemy.stats.HP.total }}
          </td>
          <td>
            {{ enemy.stats.ATK.total }}
          </td>
          <td>
            {{ enemy.stats.MAG.total }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
