<div class="row">
  <table class="itemTable">
    <tr *ngFor="let item of items">
      <td class="itemTd">
        <app-template-item [item]="item" [customClass]="itemClass"></app-template-item>
        <div><a [routerLink]="[getRoute('/other/farm-calculator/' + item.dataId)]">{{ item.name }}</a></div>
      </td>
      <td>
        <div *ngFor="let equipment of item.equipments" class="equipmentBlock">
          <img src="{{'assets/equipments/' + equipment.image + '_middle.webp'}}" class="equipmentImg"/>
          <div><a [routerLink]="[getRoute('/equipment/' + equipment.slug)]">{{ equipment.name }}</a></div>
        </div>
      </td>
    </tr>
  </table>
</div>