th {
  padding-right: 0;
}

.row {
  width: 1300px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.tableDiv {
  width: 1300px;
  overflow-y: auto;
}

.tableDiv, .tableDiv .statsTable {
  transform:rotateX(180deg);
  -ms-transform:rotateX(180deg); /* IE 9 */
  -webkit-transform:rotateX(180deg); /* Safari and Chrome */
}

.statsTable {
  width: 100%;
}

.unitImg {
  max-width: 40px;
  max-height: 40px;
}

.spanArrow {
  width: 18px;
  display: inline-block;
}

.fa-arrow-up, .fa-arrow-down {
  display: none;
}

.arrowActivated {
  display: inline-block;
}

.divTH {
  cursor: pointer;
  white-space: nowrap;
}

.divTH:hover .fas {
  display: inline-block !important;
}

.unitCol {
  min-width: 440px;
  position: sticky;
  left: 0px;
}

.colName {
  background-color: var(--body-background);
}

.buffImg {
  width: 40px;
}
