.row {
  width: 1200px;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.titleTable {
  margin-bottom: 20px;
}

.player_red {
  background: url("assets/titles/player_red.png") 0px 0px no-repeat;
  height: 64px;
  padding-top: 18px;
}

.player_blue {
  background: url("assets/titles/player_blue.png") 0px 0px no-repeat;
  height: 64px;
  padding-top: 18px;
}

.player_brown {
  background: url("assets/titles/player_brown.png") 0px 0px no-repeat;
  height: 64px;
  padding-top: 18px;
}

.player_grey {
  background: url("assets/titles/player_grey.png") 0px 0px no-repeat;
  height: 64px;
  padding-top: 18px;
}

.player_pink {
  background: url("assets/titles/player_pink.png") 0px 0px no-repeat;
  height: 64px;
  padding-top: 18px;
}

.guild_red {
  background: url("assets/titles/guild_red.png") 0px 0px no-repeat;
  height: 64px;
  padding-top: 18px;
}

.guild_blue {
  background: url("assets/titles/guild_blue.png") 0px 0px no-repeat;
  height: 64px;
  padding-top: 18px;
}

.guild_brown {
  background: url("assets/titles/guild_brown.png") 0px 0px no-repeat;
  height: 64px;
  padding-top: 18px;
}

.guild_grey {
  background: url("assets/titles/guild_grey.png") 0px 0px no-repeat;
  height: 64px;
  padding-top: 18px;
}

.guild_pink {
  background: url("assets/titles/guild_pink.png") 0px 0px no-repeat;
  height: 64px;
  padding-top: 18px;
}