<div class="row">
  <div class="headerText">
    <h1>Farm Calculator</h1>
    <div>Based on the work of ??????</div>
  </div>

  <div class="items">
    <ng-select
      placeholder="Select an item"
      class="select-item-farmcalculator"
      [(ngModel)]="selectedItems"
      (ngModelChange)="selectItem()"
      [items]="items"
      [editableSearchTerm]="true"
      [multiple]="true"
      [minTermLength]="2"
      [typeahead]="itemInput"
      typeToSearchText="Please enter 2 or more characters">
      <ng-template ng-label-tmp let-item="item">
        {{item.name}}
      </ng-template>

      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
        <div class="itemLine" id="item_{{item.dataId}}">
          <div class="itemSelector" id="itemSelector_{{item.dataId}}">
            <div class="itemLogo">
              <img src="assets/item/{{ item.image }}.png" />
            </div>
            <div class="itemNameSelector" innerHTML="{{ item.name | highlight: search }}"></div>
          </div>
          <hr />
        </div>
      </ng-template>
    </ng-select>
  </div>

  <div class="quests">
    <h3>Quests list</h3>
  </div>
</div>
