<tr
  app-shared-skillRow
  [skill]="skill"
  [jobs]="jobs"
  [showJobIcon]="showJobIcon"
  [showJobLvl]="showJobLvl"
  [showStarLvl]="showStarLvl"
  [showType]="showType"
  [showName]="showName"
  [showEffects]="showEffects"
  [showRange]="showRange"
  [showCasts]="showCasts"
  [showHits]="showHits"
  [showCost]="showCost"
  [upgradeColSpan]="upgradeColSpan"
  [basicAttack]="basicAttack"
  [showRaidLevel]="showRaidLevel"
  [rawSkills]="rawSkills"
  [showTypeWithName]="showTypeWithName"
  [mobileView]="mobileView"
  [showMobileTitles]="showMobileTitles"
  [mobileCollapseDetail]="mobileCollapseDetail"
  [skillIndex]="skillIndex">
</tr>

<tr *ngIf="mobileView && showMobileSeparator" class="mobileSeparator"></tr>

<ng-container *ngFor="let upgradedSkill of skill.upgrades">
  <tr
    app-shared-skillRow
    [isUpgrade]="true"
    [skill]="upgradedSkill"
    [jobs]="jobs"
    [showType]="showType"
    [showName]="showName"
    [showEffects]="showEffects"
    [showRange]="showRange"
    [showCasts]="showCasts"
    [showHits]="showHits"
    [showCost]="showCost"
    [upgradeColSpan]="upgradeColSpan"
    [basicAttack]="basicAttack"
    [showRaidLevel]="showRaidLevel"
    [rawSkills]="rawSkills"
    [showTypeWithName]="showTypeWithName"
    [noNameOnUpgrade]="noNameOnUpgrade"
    [mobileView]="mobileView"
    [showMobileTitles]="showMobileTitles"
    [mobileCollapseDetail]="mobileCollapseDetail"
    [skillIndex]="skillIndex">
  </tr>

  <tr *ngIf="mobileView && showMobileSeparator" class="mobileSeparator"></tr>

  <ng-container *ngFor="let upgradedSkillOfUpgrade of upgradedSkill.upgrades">
    <tr
      app-shared-skillRow
      [isUpgrade]="true"
      [skill]="upgradedSkillOfUpgrade"
      [jobs]="jobs"
      [showType]="showType"
      [showName]="showName"
      [showEffects]="showEffects"
      [showRange]="showRange"
      [showCasts]="showCasts"
      [showHits]="showHits"
      [showCost]="showCost"
      [upgradeColSpan]="upgradeColSpan"
      [basicAttack]="basicAttack"
      [showRaidLevel]="showRaidLevel"
      [rawSkills]="rawSkills"
      [showTypeWithName]="showTypeWithName"
      [noNameOnUpgrade]="noNameOnUpgrade"
      [mobileView]="mobileView"
      [showMobileTitles]="showMobileTitles"
      [mobileCollapseDetail]="mobileCollapseDetail"
      [skillIndex]="skillIndex">
    </tr>

    <tr *ngIf="mobileView && showMobileSeparator" class="mobileSeparator"></tr>
  </ng-container>
</ng-container>