<div class="row">
  <h1 class="title">
    FFBE Chaining App
  </h1>
  <div class="jumbotron">
    <p>Welcome to FFBEDB.</p>
    <p>If you find any bugs, report them to /user/dbarchitect/ on reddit.com.</p>
    <h4>Change Logs:</h4>
    <ul>
      <li>07/27/17</li>
      <ul>
          <li><i>New Feature:</i> Esper Damage output has been added. Many thanks to the good people for all the hard work they put into discovering the forumla. Also added Evo Mag stat to compliment it.</li>
          <li><i>QoL Imporovement:</i> After many requests, awakened abilities have been seperated from a Unit's base. Awakened abilities will save to your builds but will not be in linked builds yet.</li>
          <li>The site's next update will be revamping the way builds work so including awakened abilities and lb buffs in linked builds will be pushed into that revamp. Linking builds will go from "ffbedb.com/tool/unit-calculator/build/garnet-5star/Garnet the slayer/bronze-mace/force-shield/chapeau/kenpogi/black-choker/chocolate-egg/auto-refresh/atk-20/bug-killer/adventurer-4/siren-2star-lvl40/3450/3475/2000/2035/3695/3775/celestial-light/barthunder/0/0/0/0/0/0" to "ffbedb.com/build/k4h3ks090". Much shorter and easier to share.</li>
          <li>Added Unit: Mercenary Ramza 6★</li>
          <li>Added Unit: Knight Delita 6★</li>
          <li>Added Unit: Meliadoul  6★</li>
          <li>Added Unit: Orran 6★</li>
          <li>Awakened Unit: Agrias 6★</li>
          <li>Awakened Unit: Gaffgarion 6★</li>
          <li>Added Item: Grand Armor(Heavy Armor)</li>
          <li>Added Item: Chain Robe(Robe)</li>
          <li>Added Item: Japa Mala(Accessory)</li>
          <li>Added Item: Zwill Crossblade 2(Dagger) - cuz 1 was taken?</li>
          <li>Added Item: Defender(Great Sword)</li>
          <li>Added Ability: Mog Wisdom(Passive Ability)</li>
          <li>Fixed an issue where body was being counted twice on HP/MP regens.</li>
          <li>Fixed an issue where the expedition list was not showing properly when in edit mode.</li>
          <li>Fixed Zargabaath's Judge Magister, was giving 20%, now gives 30%</li>
          <li>Fixed an issue with Zargabaath and Heavy Armor.</li>
          <li>Fixed an issue where Auto-Limit and Ignorance weren't showing up.</li>
          <li>Renamed LB/turn LB Crystal/turn so users have an easier understanding of what it is.</li>
      </ul>
    </ul>
    <ul>
      <li>07/24/17</li>
      <ul>
          <li>Changed the stats of all Units who had their stats upgraded to match their awakened abilities back to their base stats. Had to be done to prepare for the next update.</li>
      </ul>
    </ul>
    <ul>
      <li>07/23/17</li>
      <ul>
          <li><i>New Feature:</i> Limit Break stats. You can now view a limit break's fill rate % and LB regeneration per turn. Added a new buff Selector for limit break buffs.</li>
          <li><i>QoL Imporovement: </i>Noticed some people were copying and pasting a character's breakdown and having to manually type crit/evasions/counters so I added them to the breakdown along with LB buff.</li>
          <li>Added Evasions/Counters/Regens to builds. You'll have to hit "Edit Build" followed by "Update Build" for your build to get the new changes.</li>
          <li>Fixed an issue with a Unit's esper stats not rounding properly.</li>
          <li>Fixed an issue with Xiao missing an ability slot after the last update.</li>
          <li>Updated Units/Items/Passive abilities with +LB/turn +%LBFillRate.</li>
          <li>Added Ability: Auto-Limit(Passive Ability)</li>
          <li>Added Ability: Ignorance(Passive Ability)</li>
          <li>Added Ability: Eccentrick(LB Ability)</li>
          <li>Added Ability: Maintenance(LB Ability)</li>
          <li>Added Ability: Pre-chorus(LB Ability)</li>
          <li>Added Ability: Madness Rush(LB Ability)</li>
          <li>Added Ability: General Battlecry(LB Ability)</li>
          <li>Fixed Ability: Warrior Lore(Passive Ability) - was missing its +DEF%</li>
          <li>Fixed Item: Swordbreaker(Dagger) - fixed description</li>
          <li>Fixed Item: Dark Fina's Swimsuit(Clothes) - was missing +MP regen</li>
          <li>Still working on seperating awakened abilities.....</li>
      </ul>
    </ul>
  </div>
</div>
