<div>
  <h1 class="title">Welcome to FFBE Chain App</h1>
</div>
<div class="home">
  <markdown>
    This web app has been created so you can optimize your chaining with differents units on the game Final Fantasy Brave Exvius.

    This app focusses on the global version of FFBE, however, some units or awakened abilities are already available for future comparison (e.g. Agrias enhanced Divine Ruination, or 6* Zidane)
    For now, you will find the following features :
     - Chain with 2 units
     - Create and save your own units. (This option saves your units in your browser, if you change browser or use another computer, you will not be able to find them)

    That's all for now, but I will keep improving this app, my next steps being (not in a specific order) :
    - Find units that can chain well with your unit
    ⁃ Include finisher
    ⁃ Share units and chain setups with your friends
    ⁃ Calculate damages based on units/monsters characteristics
    ⁃ Generate macros to replicate the chain in game

    There is still a few bugs, and I'm currently working on it :
    - Chains that involve hybrid abilites are not properly implemented yet, as a result, no damage output will be given.

    If you're lost, new to the game and don't know what chaining is in FFBE, nor how it works, I suggest that you go check out the [FFBE sub-reddit], or the [english wiki] for further information

    Big thanks to the following people for all their hard work that help me to build this app :
     - [Xeleko]
     - [/u/Fatalderp]
     - [/u/Nazta]
     - [/u/Cyanjet]
     - All the sub-reddit community

    **Bismark**
    [FFBE sub-reddit]: https://www.reddit.com/r/FFBraveExvius
    [english wiki]: https://exvius.gamepedia.com/Final_Fantasy_Brave_Exvius_Wiki
    [Xeleko]: https://www.youtube.com/user/Xeleko
    [/u/Fatalderp]: https://www.reddit.com/user/Fatalderp
    [/u/Nazta]: https://www.reddit.com/user/Nazta
    [/u/Cyanjet]: https://www.reddit.com/user/Cyanjet
  </markdown>
</div>
