<div>
  <h1 class="title">Welcome to FFBE Chain App</h1>
</div>
<div class="home">
  <markdown>
    This web app is here to help you to optimized your chain in FFBE.

    I follow the global version of FFBE, even if you can find some upgrade or units before we have them in global.
    For now you will find the following features :
     - Chain with 2 units
     - Create and save your own units (they are saved in your browser)

    That's all for now, but I will keep to improve this app.
    My next steps, not necessarily in this order it's depends of my brain :
    - Include finisher
    - Share units and chain with others
    - Calculate damage based on units and monster characteristics

    If you just discover FFBE or don't know what chaining are in FFBE, you can go en [FFBE sub-reddit] or in the [english wiki]
    If you are new to Final Fantasy Brave Exvius, I recommend joining us over at the Sub-Reddit.

    Big thanks to the following people for all the work they do and share that help me to build this app :
     - Xeleko
     - Kyrrua
     - /u/Fatalderp
     - /u/Nazta
     - All the sub-reddit community

    **Bismark**
    [FFBE sub-reddit]: <https://www.reddit.com/r/FFBraveExvius/>
    [english wiki]: <https://exvius.gamepedia.com/Final_Fantasy_Brave_Exvius_Wiki>
  </markdown>
</div>
