<ng-container *ngIf="!mobileView">
  <td *ngIf="showRaidLevel">
    {{ rawSkills[skillIndex].minLevel }}
  </td>

  <td *ngIf="showRaidLevel">
    {{ rawSkills[skillIndex].maxLevel }}
  </td>

  <td *ngIf="showLevelInput">
    <select [(ngModel)]="skill.level" (ngModelChange)="changeSkillLevel()">
      <option *ngFor="let level of skill.tableLevel">{{ level }}</option>
    </select>
  </td>

  <td *ngIf="isUpgrade && !basicAttack" [attr.colspan]="upgradeColSpan">
    Upgrade
    <div *ngIf="showTypeWithName && noNameOnUpgrade">
      <app-shared-skillType [skill]="skill"></app-shared-skillType>
    </div>
  </td>

  <td *ngIf="showJobIcon">
    <div class="subJob" *ngIf="jobs[(skill.unlockJob - 1)]">
      <img src="{{'assets/jobs/' + jobs[(skill.unlockJob - 1)].image + '_30.webp'}}" />
    </div>
  </td>

  <td *ngIf="showJobLvl">{{ skill.jobLevel }}</td>

  <td *ngIf="showStarLvl">{{ skill.unlockStar }}</td>

  <td *ngIf="showType">
    <app-shared-skillType [skill]="skill"></app-shared-skillType>
  </td>

  <td *ngIf="showName && (!isUpgrade || !noNameOnUpgrade)">
    {{ isUpgrade && basicAttack ? 'Upgrade' : (basicAttack ? 'Basic Attack' : skill.name) }}
    <div *ngIf="showTypeWithName">
      <app-shared-skillType [skill]="skill"></app-shared-skillType>
    </div>
  </td>

  <td *ngIf="showEffects" class="skillEffectTd" [attr.colspan]="effectsColSpan">
    <div *ngIf="skill.upgradeHtml !== ''">
      {{ skill.upgradeHtml }}
    </div>
    <div>{{ skill.counterHtml }}</div>

    <div *ngFor="let effect of skill.effectsHtml.before" [innerHTML]="effect"></div>

    <div *ngIf="skill.damageHtml && skill.damageHtml.value">
      <popper-content #tip_damage>
        <div *ngIf="skill.based === 'physic'">
          {{ (100 + (skill.damage.formula && skill.damage.formula.type === 1 && skill.damage.formula[1] > 0 ? skill.damage.formula[1] : 0)) + '% ATK' }}
        </div>
        <div *ngIf="skill.based === 'magic'">
          {{ (100 + (skill.damage.formula && skill.damage.formula.type === 1 && skill.damage.formula[1] > 0 ? skill.damage.formula[1] : 0)) + '% MAG' }}
        </div>
        <div *ngIf="skill.based === 'hybrid'">
          {{ (100 + (skill.damage.formula && skill.damage.formula.type === 1 && skill.damage.formula[1] > 0 ? skill.damage.formula[1] : 0)) + '% ATK' }}
        </div>

        <div *ngIf="skill.damage.formula && skill.damage.formula.type === 0 && skill.damage.formula[1] > 0">
          {{ skill.damage.formula[1] }}% DEX
        </div>
        <div *ngIf="skill.damage.formula && skill.damage.formula.type === 0 && skill.damage.formula[2] > 0">
          {{ skill.damage.formula[2] }}% AGI
        </div>
        <div *ngIf="skill.damage.formula && skill.damage.formula.type === 0 && skill.damage.formula[3] > 0">
          {{ skill.damage.formula[3] }}% LUCK
        </div>
      </popper-content>
      <img *ngIf="skill.damageHtml.type.image" [popper]="tip_damage" [popperTrigger]="'hover'" [popperHideOnScroll]="true" title="{{ skill.damageHtml.type.title }}" class="damageSkillImg" src="assets/damage/{{ skill.damageHtml.type.image }}.webp" /><span *ngIf="skill.damageHtml.type.image">&nbsp;</span>{{ skill.damageHtml.effType }} {{ skill.damageHtml.pool }} {{ skill.damageHtml.value }}
      <div [innerHTML]="skill.damageHtml.others | safeHtml"></div>
    </div>

    <div *ngFor="let effect of skill.effectsHtml.after" [innerHTML]="effect"></div>
  </td>

  <td *ngIf="showRange">
    <popper-content #tip_table><div [innerHTML]="skill.skillTableHtml"></div></popper-content>
    <div [popper]="tip_table" [popperTrigger]="'click'" [popperHideOnClickOutside]="true" [popperHideOnScroll]="true">
      <div class="divSkillTableHtml" [innerHTML]="skill.skillTableHtml"></div>
    </div>
  </td>

  <td *ngIf="showCasts">
    {{ skill.count }}
  </td>

  <td *ngIf="showHits">
    <span *ngIf="skill.combo">{{ skill.combo.num }}</span>
  </td>

  <td *ngIf="showCost">
    <span *ngIf="skill.cost">{{ skill.cost.value }} {{ skill.cost.type }}</span>
  </td>
</ng-container>

<td *ngIf="mobileView" class="mobileViewTd" colspan="99">
  <table class="mobileViewTable border-collapse border-hidden w-full">
    <tr *ngIf="showMobileTitles && showName && (!isUpgrade || !noNameOnUpgrade)">
      <th colspan="5" class="sub">
        Name
      </th>
      <td *ngIf="mobileCollapseDetail && showRange" rowspan="4" class="mobileRangeTd">
        <popper-content #tip_table><div [innerHTML]="skill.skillTableHtml"></div></popper-content>
        <div [popper]="tip_table" [popperTrigger]="'click'" [popperHideOnClickOutside]="true" [popperHideOnScroll]="true">
          <div class="divSkillTableHtml" [innerHTML]="skill.skillTableHtml"></div>
        </div>
        <span *ngIf="showCost && skill.cost">{{ skill.cost.value }} {{ skill.cost.type }}</span>
      </td>
    </tr>
    <tr *ngIf="showName && (!isUpgrade || !noNameOnUpgrade)">
      <td colspan="5" (click)="showDetail()">
        <div class="inline-block">
          <div *ngIf="isUpgrade && !basicAttack">
            Upgrade
          </div>

          {{ isUpgrade && basicAttack ? 'Upgrade' : (basicAttack ? 'Basic Attack' : skill.name) }}

          <div *ngIf="showTypeWithName">
            <app-shared-skillType [skill]="skill"></app-shared-skillType>
          </div>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 inline-block chevron" *ngIf="mobileCollapseDetail && !collapsedDetail">
          <path fill-rule="evenodd" d="M14.77 12.79a.75.75 0 01-1.06-.02L10 8.832 6.29 12.77a.75.75 0 11-1.08-1.04l4.25-4.5a.75.75 0 011.08 0l4.25 4.5a.75.75 0 01-.02 1.06z" clip-rule="evenodd" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 inline-block chevron" *ngIf="mobileCollapseDetail && collapsedDetail">
          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
        </svg>
      </td>
      <td *ngIf="!showMobileTitles && mobileCollapseDetail && showRange" rowspan="2" class="mobileRangeTd">
        <popper-content #tip_table><div [innerHTML]="skill.skillTableHtml"></div></popper-content>
        <div [popper]="tip_table" [popperTrigger]="'click'" [popperHideOnClickOutside]="true" [popperHideOnScroll]="true">
          <div class="divSkillTableHtml" [innerHTML]="skill.skillTableHtml"></div>
        </div>
        <span *ngIf="showCost && skill.cost">{{ skill.cost.value }} {{ skill.cost.type }}</span>
      </td>
    </tr>

    <tr *ngIf="showMobileTitles && showEffects">
      <th colspan="5" class="sub">
        {{ namePassiveEffects ? 'Passive effects' : 'Effects' }}
      </th>
    </tr>
    <tr *ngIf="showEffects">
      <td colspan="5" class="mobileEffects">
        <div *ngIf="skill.upgradeHtml !== ''">
          {{ skill.upgradeHtml }}
        </div>
        <div>{{ skill.counterHtml }}</div>

        <div *ngFor="let effect of skill.effectsHtml.before" [innerHTML]="effect"></div>

        <div *ngIf="skill.damageHtml && skill.damageHtml.value">
          <popper-content #tip_damage>
            <div *ngIf="skill.based === 'physic'">
              {{ (100 + (skill.damage.formula && skill.damage.formula.type === 1 && skill.damage.formula[1] > 0 ? skill.damage.formula[1] : 0)) + '% ATK' }}
            </div>
            <div *ngIf="skill.based === 'magic'">
              {{ (100 + (skill.damage.formula && skill.damage.formula.type === 1 && skill.damage.formula[1] > 0 ? skill.damage.formula[1] : 0)) + '% MAG' }}
            </div>
            <div *ngIf="skill.based === 'hybrid'">
              {{ (100 + (skill.damage.formula && skill.damage.formula.type === 1 && skill.damage.formula[1] > 0 ? skill.damage.formula[1] : 0)) + '% ATK' }}
            </div>

            <div *ngIf="skill.damage.formula && skill.damage.formula.type === 0 && skill.damage.formula[1] > 0">
              {{ skill.damage.formula[1] }}% DEX
            </div>
            <div *ngIf="skill.damage.formula && skill.damage.formula.type === 0 && skill.damage.formula[2] > 0">
              {{ skill.damage.formula[2] }}% AGI
            </div>
            <div *ngIf="skill.damage.formula && skill.damage.formula.type === 0 && skill.damage.formula[3] > 0">
              {{ skill.damage.formula[3] }}% LUCK
            </div>
          </popper-content>
          <img *ngIf="skill.damageHtml.type.image" [popper]="tip_damage" [popperTrigger]="'hover'" [popperHideOnScroll]="true" title="{{ skill.damageHtml.type.title }}" class="damageSkillImg" src="assets/damage/{{ skill.damageHtml.type.image }}.webp" /><span *ngIf="skill.damageHtml.type.image">&nbsp;</span>{{ skill.damageHtml.effType }} {{ skill.damageHtml.pool }} {{ skill.damageHtml.value }}
          <div [innerHTML]="skill.damageHtml.others | safeHtml"></div>
        </div>

        <div *ngFor="let effect of skill.effectsHtml.after" [innerHTML]="effect"></div>
      </td>
    </tr>
  </table>

  <ng-container *ngIf="!mobileCollapseDetail || !collapsedDetail">
    <table class="border-collapse border-hidden w-full">
      <tr *ngIf="showRaidLevel">
        <th class="sub">
          Min Level
        </th>
        <th class="sub">
          Max Level
        </th>
      </tr>

      <tr *ngIf="showRaidLevel">
        <td>
          {{ rawSkills[skillIndex].minLevel }}
        </td>

        <td>
          {{ rawSkills[skillIndex].maxLevel }}
        </td>
      </tr>

      <tr>
        <th *ngIf="showJobIcon" class="sub">
          Job
        </th>
        <th *ngIf="showJobLvl" class="sub">
          Job lvl
        </th>
        <th *ngIf="showStarLvl" class="sub">
          Star lvl
        </th>
      </tr>

      <tr>
        <td *ngIf="showJobIcon">
          <div class="subJob" *ngIf="jobs[(skill.unlockJob - 1)]">
            <img src="{{'assets/jobs/' + jobs[(skill.unlockJob - 1)].image + '_30.webp'}}" />
          </div>
        </td>

        <td *ngIf="showJobLvl">
          {{ skill.jobLevel }}
        </td>

        <td *ngIf="showStarLvl">
          {{ skill.unlockStar }}
        </td>
      </tr>

      <tr>
        <th *ngIf="!mobileCollapseDetail && showRange" class="sub">
          Range
        </th>
        <th *ngIf="showCasts" class="sub">
          Casts
        </th>
        <th *ngIf="showHits" class="sub">
          Hits
        </th>
        <th *ngIf="!mobileCollapseDetail && showCost" class="sub">
          Cost
        </th>
      </tr>

      <tr>
        <td *ngIf="!mobileCollapseDetail && showRange">
          <popper-content #tip_table><div [innerHTML]="skill.skillTableHtml"></div></popper-content>
          <div [popper]="tip_table" [popperTrigger]="'click'" [popperHideOnClickOutside]="true" [popperHideOnScroll]="true">
            <div class="divSkillTableHtml" [innerHTML]="skill.skillTableHtml"></div>
          </div>
        </td>
        <td *ngIf="showCasts">
          {{ skill.count }}
        </td>
        <td *ngIf="showHits">
          <span *ngIf="skill.combo">{{ skill.combo.num }}</span>
        </td>
        <td *ngIf="!mobileCollapseDetail && showCost">
          <span *ngIf="skill.cost">{{ skill.cost.value }} {{ skill.cost.type }}</span>
        </td>
      </tr>

      <tr *ngIf="skill.time && skill.time.minValue">
        <th colspan="99" class="sub">
          Cast Time
        </th>
      </tr>

      <tr *ngIf="skill.time && skill.time.minValue">
        <td colspan="99">
          Min time: {{ skill.time.minValue }}<br />
          Max time: {{ skill.time.maxValue }}
        </td>
      </tr>
    </table>
  </ng-container>
</td>