<ng-template #options let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{ 'chain.label.unit' | translate }} {{ viewOptions + 1 }} : {{ chain[viewOptions].name | capitalize }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="selectRightZone inlineBlock verticalTop">
      <div class="selectRightZoneBox">
        <div class="selectRightZoneOneThird paddingRightTwoColumns">
          <label for="chainer_dual">{{ 'chain.label.dual' | translate }}</label>
          <select class="form-control" id="chainer_dual" [(ngModel)]="chain[viewOptions].dual" (ngModelChange)="onChangeDual(viewOptions)">
            <option [ngValue]="true">{{ 'chain.label.yes' | translate }}</option>
            <option [ngValue]="false">{{ 'chain.label.no' | translate }}</option>
          </select>
        </div>

        <div class="selectRightZoneOneThird">
          <label for="chainer_weapon1">{{ 'chain.label.elementWeapon' | translate }} 1</label>
          <select class="form-control" id="chainer_weapon1" [(ngModel)]="chain[viewOptions].weapons[0]" (ngModelChange)="saveUnit(viewOptions)">
            <option *ngFor="let element of elements" [ngValue]="element">{{ 'elements.' + element | translate }}</option>
          </select>
        </div>

        <div class="selectRightZoneOneThird tabletMarginTop paddingRightTwoColumns" *ngIf="chain[viewOptions].dual">
          <label for="chainer_weapon2">{{ 'chain.label.elementWeapon' | translate }} 2</label>
          <select class="form-control" id="chainer_weapon2" [(ngModel)]="chain[viewOptions].weapons[1]" (ngModelChange)="saveUnit(viewOptions)">
            <option *ngFor="let element of elements" [ngValue]="element">{{ 'elements.' + element | translate }}</option>
          </select>
        </div>
      </div>

      <div class="selectRightZoneBox littleMarginTop">
        <div class="selectRightZoneOneThird selectAbility" *ngIf="!chain[viewOptions].ability.activeRename">
          <label for="chainer_ability">{{ 'chain.label.ability' | translate }}</label>
          <select class="form-control" id="chainer_ability" [(ngModel)]="selectedAbilities[viewOptions]" (ngModelChange)="onChangeSkill(viewOptions)">
            <option *ngFor="let ability of chain[viewOptions].abilities; let j = index" [ngValue]="j">{{ ability.name | capitalize }}</option>
          </select>
        </div>

        <div class="selectRightZoneOneThird selectAbility" *ngIf="chain[viewOptions].ability.activeRename">
          <label for="unit_ability">{{ 'chain.label.abilityName' | translate }}</label>
          <input class="form-control" type="text" id="unit_ability" [(ngModel)]="chain[viewOptions].ability.name" (keyup.enter)="saveUnit(viewOptions)">
        </div>

        <diV class="buttonsAbility">
          <div class="selectRightZoneTwoThirdDividedInThird" *ngIf="chain[viewOptions].id > 10000 && !chain[viewOptions].ability.activeRename">
            <label class="emptyLabel">&nbsp;</label>
            <button class="btn btn-secondary fullWidth" type="button" (click)="renameAbility(viewOptions)">{{ 'chain.button.renameAbility' | translate }}</button>
          </div>

          <div class="selectRightZoneTwoThirdDividedInThird" *ngIf="chain[viewOptions].id > 10000 && chain[viewOptions].ability.activeRename">
            <label class="emptyLabel">&nbsp;</label>
            <button class="btn btn-secondary fullWidth" type="button" (click)="saveUnit(viewOptions)">{{ 'chain.button.saveAbility' | translate }}</button>
          </div>

          <div class="selectRightZoneTwoThirdDividedInThird">
            <label class="emptyLabel">&nbsp;</label>
            <button class="btn btn-secondary fullWidth" type="button" (click)="addAbility(viewOptions)">{{ 'chain.button.addAbility' | translate }}</button>
          </div>

          <div class="selectRightZoneTwoThirdDividedInThird" *ngIf="chain[viewOptions].abilities.length > 1">
            <label class="emptyLabel">&nbsp;</label>
            <button class="btn btn-secondary fullWidth" type="button" (click)="removeAbility(viewOptions)">{{ 'chain.button.removeAbility' | translate }}</button>
          </div>
        </diV>
      </div>

      <div class="selectRightZoneBox littleMarginTop">
        <div class="selectRightZoneInFour">
          <span id="tooltip_base"></span>
          <label for="chainer_base"
            tooltip="{{ 'chain.label.tooltip' | translate }}"
            parentSelector="#tooltip_base">
            {{ 'chain.label.base' | translate }}<i class="fa fa-info-circle helperIcon" aria-hidden="true"></i>
          </label>
          <div class="input-group">
            <input class="form-control" type="number" id="chainer_base" [(ngModel)]="chain[viewOptions].ability.base" (ngModelChange)="saveUnit(viewOptions)">
            <span class="input-group-addon" id="unit_base_percent">%</span>
          </div>
        </div>

        <div class="selectRightZoneInFour">
          <label for="chainer_ignore">{{ 'chain.label.ignore' | translate }}</label>
          <div class="input-group">
            <input class="form-control" type="number" id="chainer_ignore" [(ngModel)]="chain[viewOptions].ability.ignore" (ngModelChange)="saveUnit(viewOptions)">
            <span class="input-group-addon" id="unit_base_percent">%</span>
          </div>
        </div>

        <div class="selectRightZoneInFour">
          <label for="chainer_ability_type">{{ 'chain.label.abilityType' | translate }}</label>
          <select class="form-control" id="chainer_damage_type" [(ngModel)]="chain[viewOptions].ability.type" (ngModelChange)="saveUnit(viewOptions)">
            <option *ngFor="let abilityType of abilityTypes" [ngValue]="abilityType">{{ 'abilityType.' + abilityType | translate }}</option>
          </select>
        </div>

        <div class="selectRightZoneInFour tabletMarginTop">
          <label for="chainer_damage_type">{{ 'chain.label.damageType' | translate }}</label>
          <select class="form-control" id="chainer_damage_type" [(ngModel)]="chain[viewOptions].ability.damage" (ngModelChange)="saveUnit(viewOptions)">
            <option *ngFor="let abilityDamage of abilityDamages" [ngValue]="abilityDamage">{{ 'abilityDamage.' + abilityDamage | translate }}</option>
          </select>
        </div>

        <div class="selectRightZoneInFour">
          <label for="chainer_ignore">{{ 'chain.label.dualable' | translate }}</label>
          <select class="form-control" id="chainer_dualable" [(ngModel)]="chain[viewOptions].ability.dualable" (ngModelChange)="saveUnit(viewOptions)">
            <option [ngValue]="true">{{ 'chain.label.yes' | translate }}</option>
            <option [ngValue]="false">{{ 'chain.label.no' | translate }}</option>
          </select>
        </div>
      </div>

      <div class="selectRightZoneBox littleMarginTop">
        <div class="selectRightZoneFrames">
          <label for="chainer_framesList">{{ 'chain.label.nonLinearFrames' | translate }}</label>
          <input class="form-control" type="text" id="chainer_framesList" [(ngModel)]="chain[viewOptions].ability.framesList" (ngModelChange)="saveUnit(viewOptions)">
        </div>

        <div class="selectRightZoneLittleBox tabletMarginTop">
          <label for="chainer_firstHit">{{ 'chain.label.firstHit' | translate }}</label>
          <input class="form-control" type="number" id="chainer_firstHit" [(ngModel)]="chain[viewOptions].ability.firstHit" (ngModelChange)="saveUnit(viewOptions)">
        </div>

        <div class="selectRightZoneLittleBox">
          <label for="chainer_castTime">{{ 'chain.label.castTime' | translate }}</label>
          <input class="form-control" type="number" id="chainer_castTime" [(ngModel)]="chain[viewOptions].ability.castTime" (ngModelChange)="saveUnit(viewOptions)">
        </div>

        <div class="selectRightZoneLittleBox">
          <label for="chainer_offset">{{ 'chain.label.offset' | translate }}</label>
          <input class="form-control" type="number" id="chainer_offset" [(ngModel)]="chain[viewOptions].ability.offset" (ngModelChange)="saveUnit(viewOptions)">
        </div>
      </div>

      <div class="selectRightZoneBox littleMarginTop multiSelectDropdown" *ngIf="multiElements.length > 0">
        <ss-multiselect-dropdown
          [options]="multiElements"
          [settings]="multiElementsSettings"
          [texts]="multiElementsTexts"
          [(ngModel)]="this.chain[viewOptions].ability.elements"
          (ngModelChange)="saveUnit(viewOptions)">
        </ss-multiselect-dropdown>
      </div>

      <div class="selectRightZoneBox littleMarginTop">
        <hr class="mobileSeparatorSelectDebuff"/>
        <div class="divAddDebuff">
          <button class="btn btn-secondary btnAddDebuff" type="button" (click)="addDebuff(viewOptions)">{{ 'chain.button.addDebuff' | translate }}</button>
        </div>
        <div *ngFor="let debuff of chain[viewOptions].debuffs; let j = index" class="selectRightZoneDividedTwo littleMarginTop">
          <hr class="mobileSeparatorSelectDebuff tabletNoMarginTop"/>
          <div class="selectRightZoneTwoDividedThree">
            <label for="unit_debuff{{j}}_type">{{ 'chain.label.element' | translate }} {{j + 1}}</label>
            <select class="form-control" id="unit_debuff{{j}}_type" [(ngModel)]="chain[viewOptions].debuffs[j].type" (ngModelChange)="onChangeDebuff(viewOptions, j)">
              <option *ngFor="let element of requiredElements" [ngValue]="element">{{ 'elements.' + element | translate }}</option>
            </select>
          </div>
          <div class="selectRightZoneTwoDividedThree">
            <label for="unit_debuff{{j}}_value">{{ 'chain.label.value' | translate }} {{j + 1}}</label>
            <div class="input-group">
              <input class="form-control" type="number" id="unit_debuff{{j}}_value" [(ngModel)]="chain[viewOptions].debuffs[j].value" (ngModelChange)="onChangeDebuff(viewOptions, j)">
              <span class="input-group-addon" id="unit_base_percent">%</span>
            </div>
          </div>
          <div class="selectRightZoneTwoDividedThree">
            <button class="btn btn-secondary fullWidth" type="button" (click)="removeDebuff(viewOptions, j)">{{ 'chain.button.remove' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<div class="row unit form-group">
  <div class="chainParameters allSelectUnit" #chainDiv>
    <div class="inlineBlock verticalTop" *ngFor="let column of [0, 3]">
      <div
        class=" verticalTop selectUnitZone marginUnit{{i}}"
        [ngClass]="{'expandedSelecUnit': viewOptions[i], 'autoMargin': viewOptions[column + 0] || viewOptions[column + 1] || viewOptions[column + 2]}"
        *ngFor="let i of [column + 0, column + 1, column + 2]">
        <button *ngIf="chain[i].id !== 'unselect' || viewBestChainers === i" type="button" class="btn btn-secondary btnDelete" (click)="unselectUnit(i)">X</button>

        <div class="inlineBlock firstSelectLevel" *ngIf="chain[i].id !== 'unselect' || viewBestChainers !== i">
          <label for="chain{{i}}">{{ 'chain.label.unit' | translate }} {{ i + 1 }}</label>
          <div>
            <select2
              [data]="observableUnits"
              [value]="idSelected[i]"
              [position]="i"
              [options]="select2Options"
              (valueChanged)="onChangeUnit(i, $event.value);"></select2>
            <img class="unitImg" src='assets/units/{{ chain[i].id }}.png' *ngIf="chain[i].id !== 'unselect' && chain[i].id < 10000" />
          </div>

          <div *ngIf="(chain[i].id === 'unselect' || (chain[i].id > 10000 && !chain[i].activeRename)) && createdUnits && createdUnits.length > 0" [ngClass]="{ 'littleMarginTop': chain[i].id === 'unselect'}">
            <button *ngIf="chain[i].id !== 'unselect' && !chain[i].activeRename" class="btn btn-secondary fullWidth littleMarginTop" type="button" (click)="renameUnit(i)">
              {{ 'chain.button.rename' | translate }}
            </button>
            <button *ngIf="chain[i].id !== 'unselect'" class="btn btn-secondary fullWidth littleMarginTop" type="button" (click)="saveUnit(i)">
              {{ 'chain.button.save' | translate }}
            </button>
          </div>

          <div *ngIf="chain[i].id !== 'unselect' && chain[i].activeRename">
            <label for="chainer{{i}}_name">{{ 'chain.label.unitName' | translate }} {{ i + 1 }}</label>
            <input class="form-control" type="text" id="chainer{{i}}_name" [(ngModel)]="chain[i].name" (ngModelChange)="onChangeChain()" (keyup.enter)="saveUnit(i)">
            <button class="btn btn-secondary fullWidth littleMarginTop" type="button" (click)="saveUnit(i)">
              {{ 'chain.button.save' | translate }}
            </button>
          </div>

          <div class="selectRightZoneOneThird mobileNoMarginTop tabletNoMarginLeft buttonDelete" *ngIf="chain[i].id > 10000">
            <button class="btn btn-secondary fullWidth littleMarginTop" type="button" (click)="removeUnit(i)">
              {{ 'chain.button.removeUnit' | translate }}
            </button>
          </div>

          <div class="selectRightZoneOneThird selectAbilityTop mobileNoMarginTop" *ngIf="chain[i].id !== 'unselect' && !viewOptions[i]">
            <hr class="selectHrWithBottomMargin"/>
            <label for="chainer{{i}}_ability">{{ 'chain.label.ability' | translate }}</label>
            <button class="btn btn-secondary btnOptions" type="button" (click)="showOptions(options, i)">
              <i class="fa fa-cog pointer" aria-hidden="true"></i>
            </button>
            <select class="form-control" id="chainer{{i}}_ability" [(ngModel)]="selectedAbilities[i]" (ngModelChange)="onChangeSkill(i)">
              <option *ngFor="let ability of chain[i].abilities; let j = index" [ngValue]="j">{{ ability.name | capitalize }}</option>
            </select>
          </div>

          <div *ngIf="chain[i].id === 'unselect'">
            <hr class="selectHr"/>
            <button class="btn btn-secondary fullWidth littleMarginTop" type="button" (click)="createNewUnit(i)">
              {{ 'chain.button.createUnit' | translate }}
            </button>
          </div>

          <div *ngIf="chain[i].id !== 'unselect' && viewOptions[i]">
            <hr class="selectHr"/>
            <button class="btn btn-secondary fullWidth littleMarginTop" type="button" (click)="createNewUnitFromPredefined(i)">{{ 'chain.button.cloneUnit' | translate }}</button>
          </div>

          <div class="littleMarginTop" *ngIf="chain[i].id === 'unselect' && availableDuplicate.length > 0">
            <select class="form-control selectDuplicate" id="chainer{{i}}_ability" [(ngModel)]="duplicatePosition[i]">
              <option *ngFor="let duplicate of availableDuplicate" [ngValue]="duplicate.id">{{ duplicate.name | capitalize }}</option>
            </select>
            <button class="btn btn-secondary fullWidth buttonDuplicate" type="button" (click)="duplicateUnit(i)">{{ 'chain.button.duplicate' | translate }}</button>
          </div>

          <hr class="selectHr" *ngIf="chain[i].id === 'unselect' && availableDuplicate.length > 0 && chainers.length <= 2"/>

          <button class="btn btn-secondary fullWidth littleMarginTop" type="button" (click)="findBestChainers(i)" *ngIf="canFindBestChainers(i)">
            {{ 'chain.button.findBest' | translate }}
          </button>
        </div>

        <div class="inlineBlock firstSelectLevel" *ngIf="chain[i].id === 'unselect' && viewBestChainers === i">
          <label>{{ 'chain.label.bestUnits' | translate }}</label>
          <button
            *ngFor="let chainer of bestChainers; let j = index"
            class="btn btn-secondary fullWidth"
            [ngClass]="{'littleMarginTop': j !== 0}"
            type="button"
            (click)="selectUnit(i, chainer.unit, chainer.ability, chainer.frames)">
            <div class="bestChainerButton">
              {{ chainer.unit.name }}<br />
              <span>
                {{ chainer.ability.name }}<br />
                {{ chainer.modifier }}%
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="chainers.length + finishers.length > 1">
  <div class="selectChainZone">
    <div class="selectSlider">
      <label class="block">{{ 'chain.label.differenceFirstHit' | translate }}</label>
      <div class="inlineBlock" *ngFor="let unit of chain; let i = index">
        <div class="inlineBlock" *ngIf="unit.id !== 'unselect'">
          <label class="block">{{unit.name}}</label>
          <nouislider
            [config]="sliderConfig[i]"
            [min]="sliderConfig[i].range.min"
            [max]="sliderConfig[i].range.max"
            [(ngModel)]="unit.framesGap"
            (ngModelChange)="onChangeChain()">
          </nouislider>
        </div>
      </div>
      <div *ngIf="canFindBestChain()">
        <button class="btn btn-secondary buttonsChain" type="button" (click)="findBestFrames('modifier')">
          {{ 'chain.button.findBestModifier' | translate }}
        </button>
        <button class="btn btn-secondary buttonsChain" type="button" (click)="findBestFrames('combo')">
          {{ 'chain.button.findBestCombo' | translate }}
        </button>
      </div>
      <div *ngIf="!canFindBestChain()">
        {{ 'chain.label.sorryBestModifier' | translate }}
      </div>
    </div>
    <div class="selectFramesGap">
      <label>{{ 'chain.label.differenceFirstHit' | translate }}</label>
      <div class="input-group framesButtons" *ngFor="let unit of chain; let i = index">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-number" (click)="updateFramesGap(i, false)">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </span>
        <input class="form-control inputFramesGap" type="number" id="chain_framesGap" [(ngModel)]="unit.framesGap" (ngModelChange)="checkFramesGap(unit)">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-number" (click)="updateFramesGap(i, true)">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </span>
      </div>
      <div *ngIf="canFindBestChain()">
        <button class="btn btn-secondary fullWidth" type="button" (click)="findBestFrames('modifier')">
          {{ 'chain.button.findBestModifier' | translate }}
        </button>
        <button class="btn btn-secondary fullWidth tabletMarginTop" type="button" (click)="findBestFrames('combo')">
          {{ 'chain.button.findBestCombo' | translate }}
        </button>
      </div>
      <div *ngIf="!canFindBestChain()">
        {{ 'chain.label.sorryBestModifier' | translate }}
      </div>
    </div>
  </div>
</div>

<div class="row littleMarginTop" *ngIf="availableDuplicate.length > 0">
  <div class="selectDetailZone">
    <h2>{{ 'chain.label.result' | translate }}</h2>
    <p>
      {{ 'chain.label.totalModifier' | translate }} {{chainService.getResult().modifier}}%
    </p>
    <p *ngIf="chainers.length + finishers.length > 1">
      {{ 'chain.label.totalCombo' | translate }} {{chainService.getResult().combo}}
    </p>
    <p *ngIf="chainers.length + finishers.length > 1">
      <span *ngFor="let hit of firstHits; let j = index">
        <span *ngIf="j === 0">
          Send unit {{ this.chain[hit.position].name }} ({{ hit.position + 1 }}) first
        </span>
        <span *ngIf="j !== 0">
          Send unit {{ this.chain[hit.position].name }} ({{ hit.position + 1 }}) at
          {{ (firstHits[0].firstHit - firstHits[0].framesGap - hit.firstHit + hit.framesGap) | absolute }} frames
          ({{ (firstHits[0].firstHit - firstHits[0].framesGap - hit.firstHit + hit.framesGap) * 1 / 60 * 1000 | round | absolute }}ms)
        </span>
        <span *ngIf="j !== (firstHits.length - 1)"><br/></span>
      </span>
    </p>
  </div>
</div>

<app-chain-chart *ngIf="availableDuplicate.length > 0"></app-chain-chart>
<div *ngIf="availableDuplicate.length > 0">
  <p>{{ 'chain.label.legend' | translate }}</p>
  <div class="legendColorBlock">
    <div class="legendColor legendClassic1"></div>
    <div class="legendColor legendClassic2"></div>
    <div>{{ 'chain.label.classicHit' | translate }}</div>
  </div>
  <div class="legendColorBlock">
    <div class="legendColor legendDual1"></div>
    <div class="legendColor legendDual2"></div>
    <div>{{ 'chain.label.dualHit' | translate }}</div>
  </div>
  <div class="legendColorBlock">
    <div class="legendColor legendBreak1"></div>
    <div class="legendColor legendBreak2"></div>
    <div>{{ 'chain.label.breakHit' | translate }}</div>
  </div>
</div>

<div class="row littleMarginTop" *ngIf="availableDuplicate.length > 0">
  <div class="selectDetailZone">
    <h2>{{ 'chain.label.macro' | translate }}</h2>
    <app-macro></app-macro>
  </div>
</div>
