<div class="row unit form-group">
  <div class="chainParameters allSelectUnit" #chainDiv>
    <div class="inlineBlock verticalTop" *ngFor="let column of [0, 3]">
      <div
        class=" verticalTop selectUnitZone marginUnit{{i}}"
        [ngClass]="{'expandedSelecUnit': viewOptions[i], 'autoMargin': viewOptions[column + 0] || viewOptions[column + 1] || viewOptions[column + 2]}"
        *ngFor="let i of [column + 0, column + 1, column + 2]">
        <button *ngIf="chain[i].id !== 'unselect' || viewBestChainers === i" type="button" class="btn btn-secondary btnDelete" (click)="unselectUnit(i)">X</button>

        <div class="inlineBlock firstSelectLevel" *ngIf="chain[i].id !== 'unselect' || viewBestChainers !== i">
          <label for="chain{{i}}">{{ 'chain.label.unit' | translate }} {{ i + 1 }}</label>
          <div>
            <select2
              [data]="observableUnits"
              [value]="idSelected[i]"
              [position]="i"
              [options]="select2Options"
              (valueChanged)="onChangeUnit(i, $event.value);"></select2>
            <img class="unitImg" src='assets/units/{{ chain[i].id }}.png' *ngIf="chain[i].id !== 'unselect' && chain[i].id < 10000" />
          </div>

          <div *ngIf="(chain[i].id === 'unselect' || (chain[i].id > 10000 && !chain[i].activeRename)) && createdUnits && createdUnits.length > 0" [ngClass]="{ 'littleMarginTop': chain[i].id === 'unselect'}">
            <button *ngIf="chain[i].id !== 'unselect' && !chain[i].activeRename" class="btn btn-secondary fullWidth littleMarginTop" type="button" (click)="renameUnit(i)">
              {{ 'chain.button.rename' | translate }}
            </button>
            <button *ngIf="chain[i].id !== 'unselect'" class="btn btn-secondary fullWidth littleMarginTop" type="button" (click)="saveUnit(i)">
              {{ 'chain.button.save' | translate }}
            </button>
          </div>

          <div *ngIf="chain[i].id !== 'unselect' && chain[i].activeRename">
            <label for="chainer{{i}}_name">{{ 'chain.label.unitName' | translate }} {{ i + 1 }}</label>
            <input class="form-control" type="text" id="chainer{{i}}_name" [(ngModel)]="chain[i].name" (ngModelChange)="onChangeChain()" (keyup.enter)="saveUnit(i)">
            <button class="btn btn-secondary fullWidth littleMarginTop" type="button" (click)="saveUnit(i)">
              {{ 'chain.button.save' | translate }}
            </button>
          </div>

          <div class="selectRightZoneOneThird mobileNoMarginTop tabletNoMarginLeft buttonDelete" *ngIf="chain[i].id > 10000">
            <button class="btn btn-secondary fullWidth littleMarginTop" type="button" (click)="removeUnit(i)">
              {{ 'chain.button.removeUnit' | translate }}
            </button>
          </div>

          <div class="selectRightZoneOneThird selectAbilityTop mobileNoMarginTop" *ngIf="chain[i].id !== 'unselect' && !viewOptions[i]">
            <hr class="selectHrWithBottomMargin"/>
            <label for="chainer{{i}}_ability">{{ 'chain.label.ability' | translate }}</label>
            <button class="btn btn-secondary btnOptions" type="button" (click)="showOptions(i)">
              <i class="fa fa-cog pointer" aria-hidden="true"></i>
            </button>

            <div *ngFor="let abilityIndex of chain[i].castNumber">
              <select class="form-control" id="chainer{{i}}_ability_{{abilityIndex}}" [(ngModel)]="chain[i].selectedIds[abilityIndex]" (ngModelChange)="onChangeSkill(i, abilityIndex)">
                <option *ngFor="let unitAbility of getAvailableAbilities(i, abilityIndex)" [ngValue]="unitAbility.id">{{ unitAbility.name | capitalize }}</option>
              </select>
            </div>
          </div>

          <div *ngIf="chain[i].id === 'unselect'">
            <hr class="selectHr"/>
            <button class="btn btn-secondary fullWidth littleMarginTop" type="button" (click)="createNewUnit(i)">
              {{ 'chain.button.createUnit' | translate }}
            </button>
          </div>

          <div class="littleMarginTop" *ngIf="chain[i].id === 'unselect' && availableDuplicate.length > 0">
            <select class="form-control selectDuplicate" id="chainer{{i}}_ability" [(ngModel)]="duplicatePosition[i]">
              <option *ngFor="let duplicate of availableDuplicate" [ngValue]="duplicate.id">{{ duplicate.name | capitalize }}</option>
            </select>
            <button class="btn btn-secondary fullWidth buttonDuplicate" type="button" (click)="duplicateUnit(i)">{{ 'chain.button.duplicate' | translate }}</button>
          </div>

          <hr class="selectHr" *ngIf="chain[i].id === 'unselect' && availableDuplicate.length > 0 && chainers.length <= 2"/>

          <button class="btn btn-secondary fullWidth littleMarginTop" type="button" (click)="findBestChainers(i)" *ngIf="canFindBestChainers(i)">
            {{ 'chain.button.findBest' | translate }}
          </button>
          <button class="btn btn-secondary fullWidth littleMarginTop" type="button" (click)="findBestCombos(i)" *ngIf="canFindBestChainers(i)">
            {{ 'chain.button.findBestByCombo' | translate }}
          </button>
        </div>

        <div class="inlineBlock firstSelectLevel" *ngIf="chain[i].id === 'unselect' && viewBestChainers === i">
          <label>{{ 'chain.label.bestUnits' | translate }}</label>
          <button
            *ngFor="let chainer of bestChainers; let j = index"
            class="btn btn-secondary fullWidth"
            [ngClass]="{'littleMarginTop': j !== 0}"
            type="button"
            (click)="selectUnit(i, chainer.unit, chainer.abilities, chainer.frames)">
            <div class="bestChainerButton">
              {{ chainer.unit.name }}<br />
              <span *ngFor="let ability of chainer.abilities">
                {{ ability.name }}<br />
              </span>
              <span *ngIf="chainer.modifier">
                {{ chainer.modifier }}%
              </span>
              <span *ngIf="chainer.combo">
                max combo : {{ chainer.combo }}
              </span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="chainers.length + finishers.length > 1">
  <div class="selectChainZone">
    <div class="selectSlider">
      <label class="block">{{ 'chain.label.differenceFirstHit' | translate }}</label>
      <div class="inlineBlock" *ngFor="let unit of chain; let i = index">
        <div class="inlineBlock" *ngIf="unit.id !== 'unselect'">
          <label class="block">{{unit.name}}</label>
          <nouislider
            [config]="sliderConfig[i]"
            [min]="sliderConfig[i].range.min"
            [max]="sliderConfig[i].range.max"
            [(ngModel)]="unit.framesGap"
            (ngModelChange)="onChangeChain()">
          </nouislider>
        </div>
      </div>
      <div *ngIf="canFindBestChain()">
        <button class="btn btn-secondary buttonsChain" type="button" (click)="findBestFrames('modifier')">
          {{ 'chain.button.findBestModifier' | translate }}
        </button>
        <button class="btn btn-secondary buttonsChain" type="button" (click)="findBestFrames('combo')">
          {{ 'chain.button.findBestCombo' | translate }}
        </button>
      </div>
      <div *ngIf="!canFindBestChain() && requestPosition === -1 && !requestAlreadyDone">
        <!-- <button class="btn btn-secondary buttonsChain" type="button" (click)="saveRequest()">
          {{ 'chain.button.findInQueue' | translate }}
        </button> -->
        {{ 'chain.label.sorryBestModifier' | translate }}
      </div>
      <div *ngIf="!canFindBestChain() && requestPosition !== -1 && !requestAlreadyDone">
        Your request has been added to queue, you are positionned N°{{requestPosition}}, please check back the request page later!
      </div>
      <div *ngIf="!canFindBestChain() && requestAlreadyDone">
        Lucky you, someone already search for the same chain, you can find the result below :<br />
        - Max Modifier : {{ requestResult.modifier.max }}% <a class="pointer" (click)="showResult('modifier')">(click to show)</a><br />
        - Max Combo : {{ requestResult.combo.max }} <a class="pointer" (click)="showResult('combo')">(click to show)</a>
      </div>
    </div>
    <div class="selectFramesGap">
      <label>{{ 'chain.label.differenceFirstHit' | translate }}</label>
      <div class="input-group framesButtons" *ngFor="let unit of chain; let i = index">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-number" (click)="updateFramesGap(i, false)">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </button>
        </span>
        <input class="form-control inputFramesGap" type="number" id="chain_framesGap" [(ngModel)]="unit.framesGap" (ngModelChange)="checkFramesGap(unit)">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-number" (click)="updateFramesGap(i, true)">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        </span>
      </div>
      <div *ngIf="canFindBestChain()">
        <button class="btn btn-secondary fullWidth" type="button" (click)="findBestFrames('modifier')">
          {{ 'chain.button.findBestModifier' | translate }}
        </button>
        <button class="btn btn-secondary fullWidth tabletMarginTop" type="button" (click)="findBestFrames('combo')">
          {{ 'chain.button.findBestCombo' | translate }}
        </button>
      </div>
      <div *ngIf="!canFindBestChain()">
        {{ 'chain.label.sorryBestModifier' | translate }}
      </div>
    </div>
  </div>
</div>

<div class="row littleMarginTop" *ngIf="availableDuplicate.length > 0">
  <div class="selectDetailZone">
    <h2>{{ 'chain.label.result' | translate }}</h2>
    <p>
      {{ 'chain.label.totalModifier' | translate }} {{chainService.getResult().modifier}}%
    </p>
    <p *ngIf="chainers.length + finishers.length > 1">
      {{ 'chain.label.totalCombo' | translate }} {{chainService.getResult().combo}}
    </p>
    <p *ngIf="chainers.length + finishers.length > 1">
      {{ 'chain.label.averageChainModifier' | translate }} : {{ averageChainMultiplier | number : '1.2-2' }}
    </p>
    <p *ngIf="chainers.length + finishers.length > 1">
      <span *ngFor="let hit of firstHits; let j = index">
        <span *ngIf="j === 0">
          Send unit {{ chain[hit.position].name }} ({{ hit.position + 1 }}) first
        </span>
        <span *ngIf="j !== 0">
          Send unit {{ chain[hit.position].name }} ({{ hit.position + 1 }}) at
          {{ (firstHits[0].firstHit - firstHits[0].framesGap - hit.firstHit + hit.framesGap) | absolute }} frames
          ({{ (firstHits[0].firstHit - firstHits[0].framesGap - hit.firstHit + hit.framesGap) * 1 / 60 * 1000 | round | absolute }}ms)
        </span>
          - <a class="pointer linkColor" (click)="showChainMod(hit.position)">{{ 'chain.label.averageChainModifier' | translate }} (total {{ chain[hit.position].averageChainMultiplier | number : '1.2-2' }})</a>
          <div *ngFor="let abilityIndex of chain[hit.position].castNumber">
            <span *ngIf="chain[hit.position].showChainMod && chain[hit.position].selectedAbilities[abilityIndex]">
              {{ chain[hit.position].selectedAbilities[abilityIndex].name }} :
              {{ chain[hit.position].selectedAbilities[abilityIndex].averageChainMultiplier | number : '1.2-2' }}
            </span>
          </div>
        <span *ngIf="j !== (firstHits.length - 1)"><br/></span>
      </span>
    </p>
  </div>
</div>

<app-chain-chart *ngIf="availableDuplicate.length > 0"></app-chain-chart>
<div *ngIf="availableDuplicate.length > 0">
  <p>{{ 'chain.label.legend' | translate }}</p>
  <div class="legendColorBlock">
    <div class="legendColor legendClassic1"></div>
    <div class="legendColor legendClassic2"></div>
    <div class="legendColor legendDual1"></div>
    <div class="legendColor legendDual2"></div>
    <div>{{ 'chain.label.classicHit' | translate }}</div>
  </div>
  <div class="legendColorBlock">
    <div class="legendColor legendBreak1"></div>
    <div class="legendColor legendBreak2"></div>
    <div class="legendColor legendBreak3"></div>
    <div class="legendColor legendBreak4"></div>
    <div>{{ 'chain.label.breakHit' | translate }}</div>
  </div>
</div>

<div class="row littleMarginTop" *ngIf="availableDuplicate.length > 0">
  <div class="selectDetailZone">
    <h2>{{ 'chain.label.macro' | translate }}</h2>
    <app-macro></app-macro>
  </div>
</div>
