<div class="relative z-[100]" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center items-center p-0">
      <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full lg:max-w-4xl" (clickOutside)="closeClickOuside()">
        <div class="modal-title-background px-4 py-3 sm:px-6">
          <div class="title justify-start">
            {{ type | uppercase }} LINK
          </div>
          <div class="closeButton justify-end">
            <button type="button" class="close" aria-label="Close" (click)="close()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>

        <div class="modal-body-background px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="loadingBlock" *ngIf="saveStep === 'loading'">
            <span class="loadingText">Generating link...</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-20 h-20 mx-auto animate-spin">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
            </svg>
          </div>

          <div *ngIf="saveStep === 'link'">
            <textarea class="textLink" rows="2">{{ exportableLink }}</textarea>
            <button class="btn btn-main copyButton" (click)="copyLink()">Copy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
