.titleBlock {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: solid 1px #fff;
}

.title {
  font-size: 22px;
  margin-top: 10px;
  display: inline-block;
}

.titleLoad {
  padding-left: 30px;
}

.closeButton {
  float: right;
}

.closeButton button {
  padding: 10px;
}

.modalBody {
  text-align: center;
  margin: 10px;
}

.btn-sub {
  width: 130px;
}

.btn-google, .btn-facebook {
  margin-bottom: 10px;
}

.syncTable {
  width: 250px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-dontsync {
  margin-right: 10px;
}

.btn-sync {
  width: 130px;
}
