<div class="quests">
  <div class="leftBlock">
    <h1 class="boldText">FILTERS</h1>
    <div class="filters">
      <div class="boldText my-3" (click)="isCollapsedType = !isCollapsedType">
        Type
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 inline-block chevron" *ngIf="!isCollapsedType">
          <path fill-rule="evenodd" d="M14.77 12.79a.75.75 0 01-1.06-.02L10 8.832 6.29 12.77a.75.75 0 11-1.08-1.04l4.25-4.5a.75.75 0 011.08 0l4.25 4.5a.75.75 0 01-.02 1.06z" clip-rule="evenodd" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6 inline-block chevron" *ngIf="isCollapsedType">
          <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
        </svg>
      </div>
      <div class="collapsedFilters my-2" *ngIf="!isCollapsedType">
        <div *ngFor="let type of questTypes">
          <input type="checkbox" id="rarity{{type}}" (change)="filterList('type', type)" [checked]="isFilterChecked.type[type]" />
          <label for="rarity{{type}}">{{ formatType(type) }}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="rightBlock">
    <div class="upperBlock">
      <div class="searchBlock">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 inline-block text-black">
          <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
        </svg>
        <input class="searchInput" type="text" placeholder="Search for a quest by name" [(ngModel)]="searchText">
      </div>
      <div class="underSearchBlock">
        <div class="totalQuests">
          A total of <span class="countQuests">{{ getFilteredQuests().length }}</span> quests found
        </div>
        <div class="sortOrderBlock">
          <div class="sortBy">
            <span>Sort by :</span>
            <ng-select placeholder="Select a sort" class="select-sort select-list" [items]="['name', 'lastRelease']" [(ngModel)]="sort" (ngModelChange)="filterQuests()" [clearable]="false" [searchable]="false">
              <ng-template ng-label-tmp let-item="item">
                {{ (item === 'lastRelease' ? 'Last Release' : item) | titlecase }}
              </ng-template>

              <ng-template ng-option-tmp let-item="item">
                {{ (item === 'lastRelease' ? 'Last Release' : item) | titlecase }}
              </ng-template>
            </ng-select>
          </div>
          <div class="orderBy">
            <span>Order by :</span>
            <ng-select placeholder="Select a sort" class="select-order select-list" [items]="[{id: 'asc', label: 'Ascending'}, {id: 'desc', label: 'Descending'}]" [(ngModel)]="order" bindValue="id" (ngModelChange)="filterQuests()" [clearable]="false" [searchable]="false">
              <ng-template ng-label-tmp let-item="item">
                {{ item.id === 'asc' ? 'Ascending' : 'Descending' }}
              </ng-template>

              <ng-template ng-option-tmp let-item="item">
                {{ item.label }}
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <table class="questsList">
      <tr>
        <th class="typeTd">
          Type
        </th>
        <th>
          Name
        </th>
        <th class="nrgTd">
          NRG
        </th>
        <th class="xpTd">
          XP
        </th>
      </tr>
      <tr *ngFor="let quest of getFilteredQuests()">
        <td>
          {{ formatType(quest.type) }}
        </td>
        <td class="nameCol">
          <a [routerLink]="[getRoute('/quest/' + quest.slug)]" [routerLinkActive]="['active']">
            <span class="questName">{{ quest.name }}</span>
          </a>
        </td>
        <td>
          {{ quest.nrg }}
        </td>
        <td>
          {{ quest.exp }}
        </td>
      </tr>
    </table>
  </div>
</div>
