<div class="quests">
  <div class="leftBlock">
    <h1 class="boldText">FILTERS</h1>
    <div class="filters">
      <div class="boldText" (click)="isCollapsedType = !isCollapsedType" [attr.aria-expanded]="!isCollapsedType">
        Type
        <i class="fas fa-chevron-up" *ngIf="!isCollapsedType" aria-hidden="true"></i>
        <i class="fas fa-chevron-down" *ngIf="isCollapsedType" aria-hidden="true"></i>
      </div>
      <div class="collapsedFilters" [ngbCollapse]="isCollapsedType">
        <div *ngFor="let type of questTypes">
          <input type="checkbox" id="rarity{{type}}" (change)="filterList('type', type)" [checked]="isFilterChecked.type[type]" />
          <label for="rarity{{type}}">{{ formatType(type) }}</label>
        </div>
      </div>
    </div>
  </div>

  <div class="rightBlock">
    <div class="upperBlock">
      <div class="searchBlock">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="searchInput" type="text" placeholder="Search for a quest by name" [(ngModel)]="searchText">
      </div>
      <div class="underSearchBlock">
        <div class="totalQuests">
          A total of <span class="countQuests">{{ getFilteredQuests().length }}</span> quests found
        </div>
        <div class="sortOrderBlock">
          <div class="sortBy">
            <span>Sort by :</span>
            <ng-select placeholder="Select a sort" class="select-sort select-list" [items]="['name', 'lastRelease']" [(ngModel)]="sort" (ngModelChange)="getQuests()" [clearable]="false" [searchable]="false">
              <ng-template ng-label-tmp let-item="item">
                {{ (item === 'lastRelease' ? 'Last Release' : item) | titlecase }}
              </ng-template>

              <ng-template ng-option-tmp let-item="item">
                {{ (item === 'lastRelease' ? 'Last Release' : item) | titlecase }}
              </ng-template>
            </ng-select>
          </div>
          <div class="orderBy">
            <span>Order by :</span>
            <ng-select placeholder="Select a sort" class="select-order select-list" [items]="[{id: 'asc', label: 'Ascending'}, {id: 'desc', label: 'Descending'}]" [(ngModel)]="order" bindValue="id" (ngModelChange)="getQuests()" [clearable]="false" [searchable]="false">
              <ng-template ng-label-tmp let-item="item">
                {{ item.id === 'asc' ? 'Ascending' : 'Descending' }}
              </ng-template>

              <ng-template ng-option-tmp let-item="item">
                {{ item.label }}
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
    <table class="questsList">
      <tr>
        <th class="typeTd">
          Type
        </th>
        <th>
          Name
        </th>
        <th class="nrgTd">
          NRG
        </th>
        <th class="xpTd">
          XP
        </th>
      </tr>
      <tr *ngFor="let quest of getFilteredQuests()">
        <td>
          {{ formatType(quest.type) }}
        </td>
        <td class="nameCol">
          <a [routerLink]="[getRoute('/quest/' + quest.slug)]" [routerLinkActive]="['active']">
            <span class="questName">{{ quest.name }}</span>
          </a>
        </td>
        <td>
          {{ quest.nrg }}
        </td>
        <td>
          {{ quest.exp }}
        </td>
      </tr>
    </table>
  </div>
</div>
